Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

add inverted index
  docs/zh/table_design/indexes/inverted_index.md
Due: none

resolve comments
  docs/en/administration/management/FE_configuration.md
  docs/zh/administration/management/FE_configuration.md
Due: none

add test case
  test/sql/test_index/R/test_ngram_bloom_filter
  test/sql/test_index/T/test_ngram_bloom_filter
Due: none

[Enhancement] Remove `internal_service_async_thread_num` (#45029)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
Due: be-total

[Refactor] Add curly braces {} for switch case in edit log (#44420)
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Due: fe-total

Update function-list.md
  docs/zh/sql-reference/sql-functions/function-list.md
Due: none

Update function-list.md
  docs/en/sql-reference/sql-functions/function-list.md
Due: none

[Doc] Add 3.3 MV supports Iceberg Partition Transform Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/using_starrocks/create_partitioned_materialized_view.md
  docs/en/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
  docs/zh/using_starrocks/create_partitioned_materialized_view.md
  docs/zh/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
Due: none

[Doc] Minor fix Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/using_starrocks/create_partitioned_materialized_view.md
  docs/en/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
  docs/zh/using_starrocks/create_partitioned_materialized_view.md
  docs/zh/using_starrocks/data_lake_query_acceleration_with_materialized_views.md
Due: none

update
  be/src/exec/pipeline/fragment_executor.cpp
Due: be-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/benchmark/QueryDumpPlannerBenchTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Due: fe-total

fix ut
  test/sql/test_preparestatement/R/test_driver_prepare
  test/sql/test_preparestatement/T/test_driver_prepare
Due: none

[Enhancement] catch exception before statement execution on iceberg distributed plan
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataExecutor.java
  fe/fe-core/src/main/java/org/apache/iceberg/MetadataParser.java
  fe/fe-core/src/test/java/com/starrocks/planner/IcebergMetadataScanNodeTest.java
Due: fe-total

add en doc and update other related docs
  docs/docusaurus/sidebars.json
  docs/en/administration/management/BE_configuration.md
  docs/en/assets/flat_json.png
  docs/en/reference/System_variable.md
  docs/en/sql-reference/sql-functions/function-list.md
  docs/en/using_starrocks/Flat_json.md
  docs/zh/administration/management/BE_configuration.md
  docs/zh/assets/flat_json.png
  docs/zh/reference/System_variable.md
  docs/zh/sql-reference/sql-functions/function-list.md
  docs/zh/using_starrocks/Flat_json.md
Due: none

Update Ngram_Bloom_Filter_Index.md
  docs/en/table_design/indexes/Ngram_Bloom_Filter_Index.md
Due: none

fix
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeArrayTest.java
Due: fe-total

[BugFix] Use correct warehouseId when stream load is used to load data
  be/src/exec/tablet_sink.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/DefaultWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

[BugFix] Fix Code Review Comment
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/DefaultWarehouse.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
Due: fe-total

use Optional.empty()
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
Due: fe-total

Update fe/fe-core/src/main/java/com/starrocks/warehouse/DefaultWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/DefaultWarehouse.java
Due: fe-total

[BugFix] Use warehouse id to get the worker group id
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/PartitionInfoView.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgent2ndTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
Due: fe-total

Revert "[BugFix] Use warehouse id to get the worker group id"
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/PartitionInfoView.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgent2ndTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
Due: fe-total

[Enhancement] Enable read pindex by page by default (#44965)
  be/src/common/config.h
Due: be-total

[Enhancement] pushdown or predicate (6): support zonemap filter for OR predicate
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/predicate_tree/predicate_tree.h
  be/src/storage/predicate_tree/predicate_tree.hpp
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/column_iterator_decorator.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/default_value_column_iterator.cpp
  be/src/storage/rowset/default_value_column_iterator.h
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset_options.h
  be/src/storage/rowset/scalar_column_iterator.cpp
  be/src/storage/rowset/scalar_column_iterator.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/tablet_reader.cpp
  be/test/storage/rowset/default_value_column_iterator_test.cpp
Due: be-total

Update sidebars.json
  docs/docusaurus/sidebars.json
Due: none

fix ut
  test/lib/sr_sql_lib.py
  test/sql/test_preparestatement/R/test_driver_prepare
  test/sql/test_preparestatement/T/test_driver_prepare
Due: none

fix
  be/src/storage/rowset/bloom_filter_index_writer.cpp
Due: be-total

[BugFix]nullable column xor_checksum always calc the whole column (#45035)
  be/src/column/nullable_column.cpp
  be/test/column/nullable_column_test.cpp
Due: be-total

[Enhancement] Support datacache metrics display in compute node
  be/src/http/http_client.h
  fe/fe-core/src/main/java/com/starrocks/common/proc/ComputeNodeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheSelectMetrics.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Due: fe-total, be-total

[Enhancement] Adds config to set socket_keepalive for brpc. Needs brpc 1.8 (#45070)
  be/CMakeLists.txt
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
  build.sh
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
