Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

s
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ExecPlan.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Due: fe-total

inspection pipeline default ubuntu
  .github/workflows/inspection-pipeline.yml
Due: none

Revert "test code"
  fe/fe-core/src/main/java/com/starrocks/alter/AlterHandler.java
Due: fe-total

revert test code
  be/src/agent/agent_server.cpp
Due: be-total

[Doc] Add new feature docs Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/docusaurus/sidebars.json
  docs/en/data_source/feature-support-data-lake-analytics.md
  docs/en/deployment/shared_data/feature-support-shared-data.md
  docs/en/loading/loading_introduction/feature-support-loading-and-unloading.md
  docs/en/unloading/feature-support-loading-and-unloading.mdx
  docs/en/using_starrocks/feature-support-asynchronous-materialized-views.md
  docs/zh/data_source/feature-support-data-lake-analytics.md
  docs/zh/deployment/shared_data/feature-support-shared-data.md
  docs/zh/loading/loading_introduction/feature-support-loading-and-unloading.md
  docs/zh/unloading/feature-support-loading-and-unloading.mdx
  docs/zh/using_starrocks/feature-support-asynchronous-materialized-views.md
Due: none

[Feature] support iceberg history table (#49058)
  be/src/exec/jni_scanner.cpp
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetaSplit.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataTableType.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergHistoryTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergMetadataTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergMetadataScanOperator.java
  gensrc/thrift/Types.thrift
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergHistoryTableScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataColumnValue.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataScannerFactory.java
  test/sql/test_iceberg/R/test_metadata_table
  test/sql/test_iceberg/T/test_metadata_table
Due: fe-total, be-total

Update feature-support-asynchronous-materialized-views.md
  docs/en/using_starrocks/feature-support-asynchronous-materialized-views.md
Due: none

Update feature-support-asynchronous-materialized-views.md
  docs/zh/using_starrocks/feature-support-asynchronous-materialized-views.md
Due: none

fix ut
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectContextTest.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

fix compile eror
  be/src/service/staros_worker.cpp
Due: be-total

[BugFix] Fix oom problem in complex type prune
  fe/fe-core/src/main/java/com/starrocks/catalog/ComplexTypeAccessGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ComplexTypeAccessPath.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ComplexTypeAccessPaths.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
Due: fe-total

add comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PruneComplexTypeUtil.java
Due: fe-total

Fix compaction flag
  be/src/storage/horizontal_compaction_task.cpp
  be/src/storage/tablet_reader.cpp
  be/src/storage/tablet_reader_params.h
  be/src/storage/vertical_compaction_task.cpp
Due: be-total

[Enhancement] Show plan cost in explain verbose/costs (#49106)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ExecPlan.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Due: fe-total

[Enhancement] move the updateExecStatus out of Coordinator Lock (#49073)
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
Due: fe-total

[BugFix] Fix invalid schema id (#49093)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
Due: fe-total, be-total

[Enhancement] Associate be config s3_use_list_objects_v1 with starlet fslib_s3client_use_list_objects_v1
  be/src/http/action/update_config_action.cpp
  be/src/service/staros_worker.cpp
Due: be-total

[Enhancement] Show plan cost in explain verbose/costs (backport #49106) (#49119)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ExecPlan.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Due: fe-total

resolve comments
  be/src/storage/rowset/metadata_cache.cpp
  be/src/storage/tablet_manager.cpp
Due: be-total

[Doc] Minor fix Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/data_source/feature-support-data-lake-analytics.md
  docs/en/deployment/shared_data/feature-support-shared-data.md
  docs/en/loading/loading_introduction/feature-support-loading-and-unloading.md
  docs/en/unloading/feature-support-loading-and-unloading.mdx
  docs/en/using_starrocks/feature-support-asynchronous-materialized-views.md
  docs/zh/data_source/feature-support-data-lake-analytics.md
  docs/zh/deployment/shared_data/feature-support-shared-data.md
  docs/zh/loading/loading_introduction/feature-support-loading-and-unloading.md
  docs/zh/unloading/feature-support-loading-and-unloading.mdx
  docs/zh/using_starrocks/feature-support-asynchronous-materialized-views.md
Due: none

[Refactor] refactor iceberg metadata scanner
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetaSplit.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergHistoryTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergRefsTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/LogicalIcebergMetadataTable.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/AbstractIcebergMetadataScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergHistoryTableScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergRefsTableScanner.java
Due: fe-total

fix token in sql-test log
  .github/workflows/inspection-pipeline.yml
  test/lib/sr_sql_lib.py
Due: none

[BugFix] Fix the miss LakeTable schema change / OlapTable rollup schema change hang when FE meets runtime exception
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
Due: fe-total

fix
  .github/workflows/inspection-pipeline.yml
Due: none

Do not swallow connector exception for hive acid table
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
Due: fe-total

[BugFix] Capture query context when use its mem_tracker out of its lifetime
  be/src/runtime/runtime_filter_worker.cpp
Due: be-total

add ut
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/schema_change.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/exprs/like_test.cpp
  be/test/storage/lake/alter_tablet_meta_test.cpp
Due: be-total

update
  be/src/storage/lake/versioned_tablet.h
Due: be-total

backup commit
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/txn_log_applier.cpp
  gensrc/proto/lake_types.proto
Due: be-total

code format
  be/src/storage/lake/versioned_tablet.h
Due: be-total
