Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement](6/n) Support modify column type without data rewriting in share data mode (#43545)
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/cast_column_iterator.cpp
  be/src/storage/rowset/cast_column_iterator.h
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/test/CMakeLists.txt
  be/test/storage/rowset/cast_column_iterator_test.cpp
  be/test/storage/rowset/segment_test.cpp
  be/test/storage/rowset/series_column_iterator_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterHelper.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerWithMVTest.java
Due: fe-total, be-total

[BugFix] Fix load profile not finished
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadLoadingTaskTest.java
Due: fe-total

Fix
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  test/sql/test_inverted_index/R/test_inverted_index
Due: fe-total

Fix the double free bug of str_to_map
  be/src/exprs/str_to_map.cpp
Due: be-total

[Enhancement] introduce starrocks iceberg table scan (#44313)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
  fe/fe-core/src/main/java/org/apache/iceberg/StarRocksIcebergTableScan.java
Due: fe-total

[Refactor] Extract some common code logic in TabletSchema (#44193)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.h
  be/src/exec/tablet_scanner.cpp
  be/src/exec/tablet_scanner.h
  be/src/storage/compaction.cpp
  be/src/storage/push_handler.cpp
  be/src/storage/rowset/rowset_meta.h
  be/src/storage/tablet_reader.cpp
  be/src/storage/tablet_reader.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
Due: be-total

[Feature] Support clickhouse jdbc datasource(#40894) (#42930)
  be/src/exec/jdbc_scanner.cpp
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/ClickhouseSchemaResolver.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/ClickhouseSchemaResolverTest.java
  fe/pom.xml
  java-extensions/jdbc-bridge/pom.xml
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/JDBCScanner.java
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFHelper.java
Due: fe-total, be-total

[Feature] Add mv meta function to inspect mv plan cache (#43661) (#44305)
  fe/fe-core/src/main/java/com/starrocks/sql/common/DebugOperatorTracer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/function/MetaFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
  test/sql/test_materialized_view/R/test_mv_meta_functions
  test/sql/test_materialized_view/T/test_mv_meta_functions
Due: fe-total

[BugFix][FlatJson] json flattern crash when conatins null data
  be/src/exprs/json_functions.cpp
  be/src/util/json_flattener.cpp
Due: be-total

Update Stream_Load_transaction_interface.md
  docs/en/loading/Stream_Load_transaction_interface.md
Due: none

[Enhancement] Stricter limits on batch size for batch delete (#44316)
  be/src/common/config.h
  be/src/fs/fs.h
  be/src/fs/fs_s3.cpp
  be/src/fs/fs_starlet.cpp
  be/src/storage/lake/vacuum.cpp
  docs/en/administration/management/BE_configuration.md
  docs/zh/administration/management/BE_configuration.md
Due: be-total

orc_scanner: create chunk after schema initialization
  be/src/exec/orc_scanner.cpp
  be/src/exec/orc_scanner.h
Due: be-total

[Enhancement] optional prebuild download maven jar dependencies to a different locations (#44157)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  docker/dockerfiles/dev-env/mvn/README.md
  docker/dockerfiles/dev-env/mvn/maven.config
  docker/dockerfiles/dev-env/mvn/settings.xml
Due: none

fix
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
  test/sql/test_temporary_table/R/temporary_table
  test/sql/test_temporary_table/T/temporary_table
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Due: fe-total

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#44329)
  .github/CODEOWNERS
Due: none

trigger ci
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsTableTest.java
Due: fe-total

make tunnel quota required
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsProperties.java
Due: fe-total

make tunnel quota required
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
Due: fe-total

make tunnel quota required
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
Due: fe-total

feature: optimize get partition
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTests.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
Due: fe-total

feature: optimize get partition
  fe/fe-core/src/main/java/com/starrocks/connector/odps/EntityConvertUtils.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsPartitionName.java
Due: fe-total

trigger ci
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
Due: fe-total

[Refactor] Fix unstable sql test (#44284)
  test/sql/test_fast_schema_evolution/R/test_fast_schema_evolution
  test/sql/test_fast_schema_evolution/T/test_fast_schema_evolution
Due: none

[BugFix] Fix incorrect result of show alter table column
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/SchemaChangeProcDir.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJobTest.java
Due: fe-total

[UT] Fix unstable ut
  fe/fe-core/src/test/java/com/starrocks/alter/OptimizeJobV2Test.java
Due: fe-total

[Doc] Update Stream_Load_transaction_interface.md (#44323)
  docs/en/loading/Stream_Load_transaction_interface.md
Due: none

[BugFix] Lake manual compaction needs to support random partitions (#41721)
  fe/fe-core/src/main/java/com/starrocks/alter/CompactionHandler.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/alter/CompactionHandlerTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
