Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

fix
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableRollupBuilder.java
  fe/fe-core/src/main/java/com/starrocks/alter/OlapTableRollupJobBuilder.java
Due: fe-total

fix
  be/src/storage/lake/transactions.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeRollupJob.java
Due: fe-total, be-total

[Enhancement] Rebase warehouse proc framework (#52468)
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/GrantsTo.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/ProcService.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/WarehouseInfosBuilder.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/metric/WarehouseMetricMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/warehouse/DefaultWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/LoadJobWithWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/WarehouseInfo.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/WarehouseLoadInfoBuilder.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/WarehouseLoadStatusInfo.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/WarehouseProcDir.java
Due: fe-total

[Enhancement] Support Query cache in shared_data (#42982)
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/query_cache/cache_operator.cpp
  be/src/exec/query_cache/cache_operator.h
  be/src/exec/query_cache/cache_param.h
  be/src/storage/base_tablet.h
  be/src/storage/lake/rowset.h
  be/src/storage/lake/tablet.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
  be/src/storage/lake/versioned_tablet.cpp
  be/src/storage/lake/versioned_tablet.h
  be/src/storage/rowset/base_rowset.h
  be/src/storage/rowset/rowset.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_manager.h
  be/src/storage/tablet_updates.cpp
  be/test/storage/lake/tablet_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  gensrc/thrift/Planner.thrift
  test/sql/test_query_cache/R/test_query_cache
  test/sql/test_query_cache/R/test_query_cache_shard_data
  test/sql/test_query_cache/T/test_query_cache
  test/sql/test_query_cache/T/test_query_cache_shard_data
Due: fe-total, be-total

fix
  .github/workflows/inspection-reusable-pipeline.yml
Due: none

[Doc] Update iceberg.md (#52509)
  docs/en/quick_start/iceberg.md
  docs/en/sql-reference/sql-statements/Catalog/CREATE_EXTERNAL_CATALOG.md
  docs/zh/quick_start/iceberg.md
Due: none

[Enhancement] support base manual compaction for cloud table
  be/src/storage/lake/compaction_policy.cpp
  be/src/storage/lake/compaction_policy.h
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_task_context.h
  be/src/storage/lake/primary_key_compaction_policy.h
  be/src/storage/lake/tablet_manager.cpp
  be/test/storage/lake/compaction_policy_test.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  be/test/storage/lake/compaction_task_context_test.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/lake_primary_key_consistency_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/PartitionStatisticsSnapshot.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/PartitionStatisticsSnapshotTest.java
  gensrc/proto/lake_service.proto
Due: fe-total, be-total

Avoid logging errors too frequently when publish fails
  fe/fe-core/src/main/java/com/starrocks/transaction/PublishVersionDaemon.java
Due: fe-total

[Enhancement] pushdown runtime filter when cbo_agg_push is enabled and join type is broadcast and rf builded from colocate group
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDSPushAggTest.java
Due: fe-total

Fix AggStateUnionCombinator's result type with agg state desc
  fe/fe-core/src/main/java/com/starrocks/catalog/combinator/AggStateUnionCombinator.java
  fe/fe-core/src/main/java/com/starrocks/catalog/combinator/AggStateUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Due: fe-total

[BugFix] Fix NullPointerException in CatalogMgr.java (#52501)
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
Due: fe-total

[BugFix] fix error scan operator's column order in the IcebergEqualityDeleteRewriteRule. (#52510)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/IcebergEqualityDeleteRewriteRule.java
Due: fe-total

update
  be/src/storage/lake/transactions.cpp
Due: be-total

format
  be/src/storage/lake/transactions.cpp
Due: be-total

fix
  .github/workflows/inspection-fe-coverage.yml
  .github/workflows/inspection-reusable-pipeline.yml
Due: none

[BugFix] Fix client couldn't cancel forward query(sync #52185)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ProxyContextManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/qe/ForwardTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

[BugFix] Fix AggStateUnionCombinator's result type with agg state desc (#52536)
  fe/fe-core/src/main/java/com/starrocks/catalog/combinator/AggStateUnionCombinator.java
  fe/fe-core/src/main/java/com/starrocks/catalog/combinator/AggStateUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Due: fe-total

[Enhancement] Enhance text base mv rewrite (#52498)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/TextMatchBasedRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTextBasedRewriteTest.java
Due: fe-total

[Enhancement] Meta scan support count null/special partitions (#52383)
  be/src/storage/meta_reader.cpp
  be/src/storage/meta_reader.h
  be/src/storage/olap_meta_reader.cpp
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/parsed_page.cpp
  be/src/storage/rowset/parsed_page.h
  be/src/storage/rowset/scalar_column_iterator.cpp
  be/src/storage/rowset/scalar_column_iterator.h
  be/test/storage/meta_reader_test.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/MetaScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalMetaScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalMetaScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownAggToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownFlatJsonMetaToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteSimpleAggToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
  test/sql/test_meta_scan/R/test_meta_scan
  test/sql/test_meta_scan/T/test_meta_scan
Due: fe-total, be-total

[BugFix] Fix local file rename in broker
  fs_brokers/apache_hdfs_broker/src/broker-core/src/main/java/com/starrocks/broker/hdfs/FileSystemManager.java
Due: none

[Feature] (batch write part1) Implement the basic workflow on FE side (#29604)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/StatusOr.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/LoadAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseResult.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/BatchWriteId.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/BatchWriteMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/CoordinatorBackendAssigner.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/CoordinatorBackendAssignerImpl.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/IsomorphicBatchWrite.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/LoadExecuteCallback.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/LoadExecutor.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/RequestCoordinatorBackendResult.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/RequestLoadResult.java
  fe/fe-core/src/main/java/com/starrocks/load/batchwrite/TableId.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadHttpHeader.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadKvParams.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/LoadPlanner.java
  fe/fe-core/src/test/java/com/starrocks/http/LoadActionTest.java
  fe/fe-core/src/test/java/com/starrocks/load/batchwrite/BatchWriteMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/load/batchwrite/BatchWriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/load/batchwrite/IsomorphicBatchWriteTest.java
  fe/fe-core/src/test/java/com/starrocks/load/batchwrite/LoadExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadKvParamsTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/StreamLoadPlannerTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PlanNodes.thrift
Due: fe-total

[Refactor] Refactor result writer
  be/src/exec/pipeline/result_sink_operator.cpp
  be/src/exec/pipeline/result_sink_operator.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/src/runtime/buffer_control_result_writer.cpp
  be/src/runtime/buffer_control_result_writer.h
  be/src/runtime/customized_result_writer.cpp
  be/src/runtime/customized_result_writer.h
  be/src/runtime/file_result_writer.h
  be/src/runtime/http_result_writer.cpp
  be/src/runtime/http_result_writer.h
  be/src/runtime/metadata_result_writer.cpp
  be/src/runtime/metadata_result_writer.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_result_writer.h
  be/src/runtime/result_writer.h
  be/src/runtime/statistic_result_writer.cpp
  be/src/runtime/statistic_result_writer.h
  be/src/runtime/variable_result_writer.cpp
  be/src/runtime/variable_result_writer.h
Due: be-total

avoid to extract constant expr as common expr in array_map
  be/src/exprs/lambda_function.cpp
  test/sql/test_array_fn/R/test_array_map_2
  test/sql/test_array_fn/T/test_array_map_2
Due: be-total

[Enhancement] pushdown runtime filter when cbo_agg_push is enabled and join type is broadcast and rf builded from colocate group (#52506)
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDSPushAggTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
Due: fe-total

fix
  .github/workflows/inspection-fe-coverage.yml
  .github/workflows/inspection-pipeline.yml
Due: none

rename
  .github/workflows/inspection-fe-coverage.yml
  .github/workflows/inspection-pipeline.yml
Due: none
