Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Doc] Add doc for enable_materialized_view_rewrite_for_insert (#38254)
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Due: none

Update System_variable.md
  docs/en/reference/System_variable.md
Due: none

Update System_variable.md
  docs/zh/reference/System_variable.md
Due: none

fix conflict
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Due: fe-total

[Feature] compile the third-party packages using pic mode (#38169)
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/bzip2-1.0.8.patch
Due: none

[UT] Fix unstable UT by using RBAC Meta Mock (#37984)
  fe/fe-core/src/main/java/com/starrocks/privilege/MaterializedViewPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ViewPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/IdGenerator.java
  fe/fe-core/src/test/java/com/starrocks/privilege/InvalidateObjectTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/RBACMockedMetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowTableMockMeta.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowTablesTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExternalDbTablePrivTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[BugFix] correct the behavior of base table dropped for MV (#38008)
  fe/fe-core/src/main/java/com/starrocks/alter/Alter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/BaseTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  test/sql/test_materialized_view/R/test_mv_iceberg_rewrite
  test/sql/test_materialized_view/T/test_mv_iceberg_rewrite
Due: fe-total

[BugFix] correct the behavior of base table dropped for MV (#38008)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/BaseTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  test/sql/test_materialized_view/R/test_mv_iceberg_rewrite
  test/sql/test_materialized_view/T/test_mv_iceberg_rewrite
Due: fe-total

[Feature] Adding metadata caching capabilities to the jdbc catalog (#35600)
  docs/en/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetaCache.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCTableIdCache.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCCacheTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCConfigSetTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCMetaCacheTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MysqlSchemaResolverTest.java
Due: fe-total

[BugFix] Array<String> low-cardinality check Array<Char> (#38245)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityArrayTest.java
Due: fe-total

[BugFix] Fix user show tables has result when no permission of external table bug (#38216)
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowTableMockMeta.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowTablesTest.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
Due: fe-total

[Enhancement] Convert bitmap_union(to_bitmap(int type) to bitmap_agg (#23656)
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/mvpattern/MVColumnBitmapAggPattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/BitmapRewriteEquivalent.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  test/sql/test_agg_function/R/test_bitmap_agg
  test/sql/test_agg_function/T/test_bitmap_agg
  test/sql/test_materialized_view/R/test_show_materialized_view
  test/sql/test_materialized_view/T/test_show_materialized_view
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

Update BE_configuration.md mem_limit unit
  docs/zh/administration/BE_configuration.md
Due: none

[BugFix] correct the behavior of base table dropped for MV (#38008)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  test/sql/test_materialized_view/R/test_mv_iceberg_rewrite
  test/sql/test_materialized_view/T/test_mv_iceberg_rewrite
Due: fe-total

Update BE_configuration.md
  docs/en/administration/BE_configuration.md
Due: none

add 3.0.9 rn
  docs/en/release_notes/release-3.0.md
Due: none

Update release-3.0.md
  docs/zh/release_notes/release-3.0.md
Due: none

[BugFix] Fix mv refresh with mysql external table bug (#37909)
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/MysqlSchemaResolver.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MysqlSchemaResolverTest.java
Due: fe-total

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
Due: fe-total

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
Due: fe-total

[Doc] Update gcs.md
  docs/en/loading/gcs.md
Due: none

resolve conflict
  be/src/storage/lake/update_manager.cpp
Due: be-total

[Enhancement] Routine load task schduling (#37638)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaTaskInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadTaskScheduler.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/KafkaTaskInfoTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
