Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Feature] Unify cache instance between DLA and cloud native datacache. (#52793)
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/cache_options.h
  be/src/block_cache/datacache_utils.cpp
  be/src/block_cache/datacache_utils.h
  be/src/block_cache/disk_space_monitor.cpp
  be/src/block_cache/kv_cache.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/http/action/update_config_action.cpp
  be/src/io/cache_input_stream.cpp
  be/src/io/cache_input_stream.h
  be/src/io/cache_select_input_stream.hpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/service/staros_worker.cpp
  be/src/service/staros_worker.h
  be/test/CMakeLists.txt
  be/test/block_cache/block_cache_test.cpp
  be/test/block_cache/datacache_utils_test.cpp
  be/test/block_cache/disk_space_monitor_test.cpp
  be/test/http/action/update_config_action_test.cpp
  be/test/io/cache_input_stream_test.cpp
Due: be-total

fix for comment
  trivy.yaml
Due: none

fix for comment
  java-extensions/pom.xml
  trivy.yaml
Due: none

[Enhancement] adjust drop_tablet_worker_count to half of the core number
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
Due: be-total

fix
  be/src/agent/agent_server.cpp
Due: be-total

[BugFix] Fix disable base compaction with minute granularity & fe/be recover
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_manager.h
  be/src/storage/compaction_task.cpp
  be/src/storage/tablet_meta.h
  be/test/storage/compaction_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionControlScheduler.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  test/sql/test_compaction_cron/R/test_compaction_cron
  test/sql/test_compaction_cron/T/test_compaction_cron
Due: fe-total, be-total

[BugFix] fix partition id integer overflow
  fe/spark-dpp/src/main/java/com/starrocks/load/loadv2/dpp/SparkDpp.java
Due: fe-total

[BugFix] fix array_map with join (#52911)
  be/src/column/chunk.cpp
  be/src/column/chunk.h
  be/src/exprs/array_map_expr.cpp
  be/src/exprs/lambda_function.cpp
  test/sql/test_array/R/test_array_map
  test/sql/test_array/T/test_array_map
Due: be-total

[Enhancement]Rewrite unnest(bitmap_to_array) to unnest_bitmap (backport #51036) (#52941)
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunction.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteUnnestBitmapRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TableFunctionTest.java
Due: fe-total

[Enhancement]Rewrite unnest(bitmap_to_array) to unnest_bitmap (backport #51036) (#52937)
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunction.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteUnnestBitmapRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TableFunctionTest.java
Due: fe-total

[Enhancement] fix for cve warning by upgrading to 4.1.115 (#52964)
  fe/fe-core/pom.xml
  trivy.yaml
Due: fe-total

[Enhancement] enable incremental scan range delivery by default (#29985)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionDAG.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
  fe/fe-core/src/test/resources/sql/scheduler/external/hive/tpch/q1.sql
  test/sql/test_deltalake/R/test_deltalake_trace
  test/sql/test_deltalake/T/test_deltalake_trace
  test/sql/test_iceberg/R/test_iceberg_distributed_plan
  test/sql/test_iceberg/R/test_iceberg_identifier_metrics_cache
  test/sql/test_iceberg/T/test_iceberg_distributed_plan
  test/sql/test_iceberg/T/test_iceberg_identifier_metrics_cache
Due: fe-total

[BugFix] Fix Physical Partition cause spark load fail bug (#52914)
  fe/fe-core/src/main/java/com/starrocks/backup/BackupJobInfo.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadPendingTask.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/SparkLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/SparkLoadPendingTaskTest.java
  fe/spark-dpp/src/main/java/com/starrocks/load/loadv2/dpp/SparkDpp.java
  fe/spark-dpp/src/main/java/com/starrocks/load/loadv2/etl/EtlJobConfig.java
Due: fe-total

[Doc] Add 3.3.6 Release notes (#52963)
  docs/en/release_notes/release-3.3.md
  docs/zh/release_notes/release-3.3.md
Due: none

[BugFix] Fix incorrect directory replacement in datacache for old persistent cache data.
  be/src/block_cache/datacache_utils.cpp
Due: be-total

support page index
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/statistics_helper.cpp
  be/src/formats/parquet/statistics_helper.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
Due: be-total

[BugFix] disable bucket agg when enable spill (#52922)
  be/src/exec/aggregate/aggregate_blocking_node.cpp
Due: be-total

[BugFix] fix MetdataCache concurrency issue
  be/src/storage/rowset/metadata_cache.cpp
  be/src/storage/rowset/metadata_cache.h
  be/src/storage/rowset/rowset.cpp
  be/test/storage/rowset/metadata_cache_test.cpp
Due: be-total

[BugFix] Fix incorrect directory replacement in datacache for old persistent cache data. (#52969)
  be/src/block_cache/datacache_utils.cpp
Due: be-total

Optimize NodeSelector#seqChooseBackendOrComputeId()
  fe/fe-core/src/main/java/com/starrocks/system/NodeSelector.java
Due: fe-total

[Enhancement] enable auto agg pushdown by default
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeProjectWithChildRule.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/TablePruningTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/SchedulerTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/OptimizerTaskTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Due: fe-total

Refresh MV's ref base table infos to get the newest snapshots
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvBaseTableUpdateInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/IntervalLiteral.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UnitIdentifier.java
Due: fe-total

Fix show keys from support external catalog
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Due: fe-total

[Tool] check releasenote links (#52956)
  .github/workflows/releasenotes404.yaml
Due: none

[BugFix] Ignore to refresh if base table has dropped one partition (#52740)
  fe/fe-core/src/main/java/com/starrocks/connector/partitiontraits/DefaultTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/partitiontraits/OlapPartitionTraits.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorHiveTest.java
Due: fe-total

Add UT.
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
