Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

fix paimon
  fe/fe-core/pom.xml
Due: fe-total

modify sql tester
  test/sql/test_materialized_view/T/test_materialized_view_incremental_refresh_on_hive
Due: none

add sql tester
  test/sql/test_materialized_view/R/test_materialized_view_incremental_refresh_on_hive
Due: none

fix clang-tidy
  be/src/exec/short_circuit_hybrid.h
Due: be-total

[BugFix] Add warehouse related code (#46357)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/LoadStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRoutineLoadStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRoutineLoadTaskStmt.java
Due: fe-total

[BugFix] Limit bytes returned by left_bytes_string (#27631)
  be/src/exec/json_parser.cpp
  be/test/exec/json_parser_test.cpp
Due: be-total

Make load and select use table granularity lock enable as default
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PlannerMetaLocker.java
Due: fe-total

[Enhancement] Support more mode for window_funnel aggregation. Signed-off-by: jaingmengmeng <1804226997@qq.com>
  be/src/exprs/agg/window_funnel.h
  docs/en/sql-reference/sql-functions/aggregate-functions/window_funnel.md
  docs/zh/sql-reference/sql-functions/aggregate-functions/window_funnel.md
Due: be-total

forbiden explain analyze for short-circuit point query
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

support create column iterator with TabletColumn
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/tablet_schema.h
Due: be-total

support add/drop field analyze
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAlterTableExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
Due: fe-total

support add/drop field
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/tablet_schema.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ArrayType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/StructType.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total, be-total

remove useless code
  be/src/storage/tablet_schema.h
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
Due: fe-total, be-total

add uid for sub column to avoid duplicate column name
  be/src/storage/metadata_util.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/test/storage/rowset/struct_column_rw_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/StructField.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
  gensrc/thrift/Types.thrift
Due: fe-total, be-total

[UT] Fix CTAS sql-test in branch-3.1 (#46399)
  test/sql/test_automatic_partition/R/test_automatic_partition_ctas
Due: none

[Doc] Minor fix Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/administration/Meta_recovery.md
Due: none

add test case
  test/sql/test_short_circuit/R/test_short_circuit
  test/sql/test_short_circuit/T/test_short_circuit
Due: none

fix sql tester
  test/sql/test_materialized_view/R/test_materialized_view_incremental_refresh_on_hive
  test/sql/test_materialized_view/T/test_materialized_view_incremental_refresh_on_hive
Due: none

format
  be/src/exec/short_circuit_hybrid.h
Due: be-total

allow be start without configuring spill_local_storage_dir
  be/src/exec/spill/dir_manager.cpp
  be/src/exec/spill/dir_manager.h
  be/src/exec/spill/query_spill_manager.cpp
Due: be-total

[Enhancement] add more profile and metrics to measure runtime bloom filter size (#46360)
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exprs/runtime_filter.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
  be/src/util/system_metrics.cpp
  be/src/util/system_metrics.h
Due: be-total

refine code
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Due: fe-total

update partition desc in alter table
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
Due: none

Fix test
  be/test/runtime/local_tablets_channel_test.cpp
  test/sql/test_profile/R/test_load_channel_profile
  test/sql/test_profile/T/test_load_channel_profile
Due: be-total

update
  be/src/common/config.h
  be/src/connector/CMakeLists.txt
  be/src/connector/sink_memory_manager.cpp
  be/src/connector/sink_memory_manager.h
Due: be-total

add sql test
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  test/sql/test_add_drop_field_for_struct/R/test_add_drop_field
  test/sql/test_add_drop_field_for_struct/T/test_add_drop_field
Due: fe-total

fix
  fe/fe-core/src/test/java/com/starrocks/journal/bdbje/BDBEnvironmentTest.java
Due: fe-total

compress index page
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  gensrc/proto/persistent_index.proto
Due: be-total

[Feature] Support encryption in fs
  be/src/common/daemon.cpp
  be/src/fs/CMakeLists.txt
  be/src/fs/encrypt_file.cpp
  be/src/fs/encrypt_file.h
  be/src/fs/encryption.h
  be/src/fs/fs.cpp
  be/src/fs/fs.h
  be/src/fs/fs_broker.cpp
  be/src/fs/fs_memory.cpp
  be/src/fs/fs_posix.cpp
  be/src/fs/fs_s3.cpp
  be/src/fs/fs_starlet.cpp
  be/src/fs/hdfs/fs_hdfs.cpp
  be/src/gen_cpp/CMakeLists.txt
  be/test/fs/fs_hdfs_test.cpp
  be/test/fs/fs_posix_test.cpp
  gensrc/proto/encryption.proto
Due: be-total

[BugFix] Fix broker cos ranger compatibility
  fs_brokers/apache_hdfs_broker/pom.xml
  fs_brokers/apache_hdfs_broker/src/main/java/com/starrocks/broker/hdfs/FileSystemManager.java
Due: none

[Doc] Add Metadata Recovery (#46383)
  docs/docusaurus/sidebars.json
  docs/en/administration/Meta_recovery.md
  docs/zh/administration/Meta_recovery.md
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
