Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

fix compatibility between 2.5 FE and 3.0 BE
  be/src/exec/pipeline/scan/chunk_source.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.h
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner.h
  be/src/exec/schema_scanner/schema_materialized_views_scanner.cpp
  be/src/exec/schema_scanner/schema_materialized_views_scanner.h
  be/src/util/thrift_rpc_helper.cpp
  be/src/util/thrift_rpc_helper.h
  gensrc/thrift/FrontendService.thrift
Due: be-total

[Doc] update syntax of grant and revoke
  docs/en/administration/User_privilege.md
  docs/en/sql-reference/sql-statements/account-management/GRANT.md
  docs/en/sql-reference/sql-statements/account-management/REVOKE.md
  docs/en/using_starrocks/Cost_based_optimizer.md
  docs/zh/administration/User_privilege.md
  docs/zh/sql-reference/sql-statements/account-management/GRANT.md
  docs/zh/sql-reference/sql-statements/account-management/REVOKE.md
Due: none

[BugFix] fix not add CN node in candidate
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Due: fe-total

[BugFix] Fix show Database executor miss global database lock (#38025)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
Due: fe-total

[BugFix] Fix unknown error of explain analyze insert into statement (#38046)
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  test/sql/test_profile/R/test_profile
  test/sql/test_profile/T/test_profile
  test/sql/test_profile/T/test_profile_analysis.sh
  test/sql/test_profile/T/test_profile_non_default_variables.sh
Due: fe-total

Fix Digit Identifier parse error to decimal lex bug #15822
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
Due: fe-total

Fix comments
  be/src/exec/pipeline/query_context.h
  be/src/util/atomic_token.h
Due: be-total

[BugFix] fix not add CN node in candidate (#38058)
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
Due: fe-total

[BugFix] disable bottom outer join projection contains not always null function (#37931)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/JoinReorderHelper.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/JoinLeftAsscomRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OuterJoinReorderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
Due: fe-total

[BugFix] fix wrong order by scope for distinct query (backport #37910)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/FieldReference.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/ParserTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
Due: fe-total

solve conflict
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Due: fe-total

[Doc] Update Colocate_join example (#38024)
  docs/en/using_starrocks/Colocate_join.md
  docs/zh/using_starrocks/Colocate_join.md
Due: none

[Feature] add support of warehouse for pipe & task (#37441)
  be/src/exec/schema_scanner/schema_pipes.cpp
  be/src/exec/schema_scanner/schema_tasks_scanner.cpp
  be/src/exec/schema_scanner/schema_tasks_scanner.h
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/PipesSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/TasksSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/FilePipeSource.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeTaskDesc.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/Task.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/TaskAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

[BugFix] Fix clear_expired_replcation_snapshots_thread not joined during storage engine exit (#37880)
  be/src/storage/storage_engine.cpp
Due: be-total

[UT] fix persistent index unstable ut (#37938)
  be/test/storage/persistent_index_test.cpp
Due: be-total

[BugFix] Fix race condition between preloading partial update state and publish (#37624)
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/lake_primary_index.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[Enhancement] Reduce IOPS in HDFS Text Reader when enable datacache (#37754)
  be/src/common/config.h
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/orc/orc_input_stream.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/io/cache_input_stream.cpp
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
Due: be-total

[BugFix] Fix automatic create partition stuck when exhausted FE thrift server thread (#36996)
  be/src/exec/tablet_sink.cpp
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total, be-total

[Enhancement] Use the number of hardware threads as default sink dop (#37883)
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/fragment_executor.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstance.java
Due: fe-total, be-total

[Enhancement] Add debug msg for pk index (#37700)
  be/src/storage/lake/update_manager.cpp
  be/src/storage/persistent_index.cpp
Due: be-total

[Enhancement] Exposed some starlet configurations (#37799)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/service/staros_worker.cpp
Due: be-total

[BugFix] Refactor exception messages for not compatible reasons (#37970)
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Due: fe-total

[Feature] Support dynamic modification of compact_threads (#37135)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
Due: be-total

fix fe ut
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionSchedulerTest.java
Due: fe-total

fix for comment and yield not sleep when alloc failed
  be/src/connector/connector.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

Update non-partition table version map in the last refresh task run
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
