Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Broadcast Join should not generate nondetermistic GRF
  be/src/exec/aggregate/aggregate_base_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/project_node.cpp
  be/src/exprs/runtime_filter_bank.cpp
  be/src/exprs/runtime_filter_bank.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/analysis/JoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterPushDownContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_runtime_filter_push_down_on_left_join/R/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_left_join/T/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
Due: fe-total, be-total

[BugFix] Do not reuse input null and offset column for array_map (backport #44226) (#44296)
  be/src/exprs/vectorized/array_map_expr.cpp
  test/sql/test_array/R/test_array_map
  test/sql/test_array/T/test_array_map
Due: be-total

[BugFix] fix expire time when replaying taskrun (#43867)
  be/src/exec/schema_scanner/schema_tasks_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
Due: fe-total, be-total

[Feature] pushdown or predicate (1): introduce PredicateTree (#43866)
  be/src/column/datum.h
  be/src/common/overloaded.h
  be/src/connector/lake_connector.cpp
  be/src/connector/lake_connector.h
  be/src/exec/olap_scan_prepare.cpp
  be/src/exec/olap_scan_prepare.h
  be/src/exec/pipeline/fragment_context.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.h
  be/src/exec/tablet_scanner.cpp
  be/src/exec/tablet_scanner.h
  be/src/storage/CMakeLists.txt
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/local_tablet_reader.cpp
  be/src/storage/predicate_parser.cpp
  be/src/storage/predicate_parser.h
  be/src/storage/predicate_tree/predicate_tree.cpp
  be/src/storage/predicate_tree/predicate_tree.h
  be/src/storage/predicate_tree/predicate_tree.hpp
  be/src/storage/predicate_tree/predicate_tree_fwd.h
  be/src/storage/predicate_tree_params.h
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset_options.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/tablet_reader.cpp
  be/src/storage/tablet_reader.h
  be/src/storage/tablet_reader_params.h
  be/test/storage/get_use_pk_index_test.cpp
  be/test/storage/rowset/segment_iterator_test.cpp
Due: be-total

[BugFix] Fix canceling insert load exception
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/InsertLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadMgrTest.java
Due: fe-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (#44234)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/bucket_process_operator.cpp
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

[Feature] Add mv meta function to inspect mv plan cache (#43661)
  fe/fe-core/src/main/java/com/starrocks/sql/common/DebugOperatorTracer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/function/MetaFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
  test/sql/test_materialized_view/R/test_mv_meta_functions
  test/sql/test_materialized_view/T/test_mv_meta_functions
Due: fe-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (#44234)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CleanTemporaryTableStmt.java
Due: fe-total

fix comments
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

support automatic deletion of temporary tables
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/SessionCleaner.java
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CleanTemporaryTableStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

handle Status
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

Update get_json_bool.md
  docs/zh/sql-reference/sql-functions/json-functions/json-query-and-processing-functions/get_json_bool.md
Due: none

[Refactor] pushdown or predicate (2): refact column predicate rewriter (#43888)
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/column_predicate_rewriter.cpp
  be/src/storage/column_predicate_rewriter.h
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

[Enhancement] pushdown or predicate (3): predicate rewriter supports or
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/storage/column_predicate_rewriter.cpp
  be/src/storage/column_predicate_rewriter.h
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/tablet_reader.cpp
Due: be-total

[Refactor] reduce info log count in pk table (#44241)
  be/src/storage/persistent_index.cpp
  be/src/storage/tablet_updates.cpp
Due: be-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (#44234)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

update
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

[BugFix] Fix NL join chunk stream NPE
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.cpp
  be/src/exec/pipeline/nljoin/spillable_nljoin_probe_operator.cpp
Due: be-total

updte
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

[Enhancement] introduce starrocks iceberg table scan
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
  fe/fe-core/src/main/java/org/apache/iceberg/StarRocksIcebergTableScan.java
Due: fe-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (backport #44234) (#44308)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (backport #44234) (#44307)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (backport #44234) (#44306)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/bucket_process_operator.cpp
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

update
  be/src/storage/column_predicate_rewriter.cpp
Due: be-total

[Enhancement] Stricter limits on batch size for batch delete
  be/src/common/config.h
  be/src/fs/fs.h
  be/src/fs/fs_s3.cpp
  be/src/fs/fs_starlet.cpp
  be/src/storage/lake/vacuum.cpp
  docs/en/administration/management/BE_configuration.md
  docs/zh/administration/management/BE_configuration.md
Due: be-total

[BugFix] Fix Spill Limited AGG Distinct cause use-after-free (backport #44234) (#44303)
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_sink_operator.h
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.h
  be/src/exec/pipeline/bucket_process_operator.cpp
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_sink_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/set/except_build_sink_operator.h
  be/src/exec/pipeline/set/intersect_probe_sink_operator.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  be/src/exec/pipeline/sort/partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/partition_sort_sink_operator.h
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.cpp
  be/src/exec/pipeline/sort/spillable_partition_sort_sink_operator.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/spiller.hpp
  be/src/util/race_detect.h
Due: be-total

resolve conflict
  be/src/storage/persistent_index.cpp
Due: be-total

[BugFix] fix struct use unused-subfield iterater (#44294)
  be/src/storage/rowset/struct_column_iterator.cpp
Due: be-total

[BugFix] fix expire time when replaying taskrun (#43867)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
Due: fe-total

[BugFix] disbale this feature by default because of some unknown bugs
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

fix
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total
