Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Enhancement] push down aggregate on grouping-set (#46007)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAggregationOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalRepeatOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownAggregateGroupingSetsRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupingSetsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDS1TTest.java
Due: fe-total

[BugFix] Fix ut TableReaderRemoteTest.test_multi_get_4_tablet
  be/test/storage/table_reader_remote_test.cpp
Due: be-total

[BugFix] disable lowcardinality optimize on join predicates
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest2.java
Due: fe-total

fix format
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
Due: fe-total

[UT] fix unstable be ut vertical_compaction_with_rows_mapper (#47150)
  be/test/storage/tablet_updates_test.cpp
Due: be-total

upgrade paimon version, and support DV
  be/src/connector/hive_connector.cpp
  be/src/exec/CMakeLists.txt
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_orc.h
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/paimon/paimon_delete_file_builder.cpp
  be/src/exec/paimon/paimon_delete_file_builder.h
  be/test/CMakeLists.txt
  be/test/exec/paimon/paimon_delete_file_builder_test.cpp
  be/test/exec/test_data/paimon_data/index-41b983cd-b835-450a-ad38-6ffee8ddbebd-0
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/PaimonScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

fix license
  be/test/exec/iceberg/iceberg_delete_builder_test.cpp
  be/test/exec/paimon/paimon_delete_file_builder_test.cpp
Due: be-total

upgrade to 0.8.1
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
Due: fe-total

[UT] Fix ut TableReaderRemoteTest.test_multi_get_4_tablet (#47143)
  be/test/storage/table_reader_remote_test.cpp
Due: be-total

fix query profile issue of SUBMIT TASK
  fe/fe-core/src/main/java/com/starrocks/http/HttpConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectProcessorTest.java
Due: fe-total

[BugFix] fix schedule persistent index compact potential crash (#47116)
  be/src/storage/persistent_index_compaction_manager.cpp
Due: be-total

update
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Due: fe-total

resolve
  be/test/storage/tablet_updates_test.cpp
Due: be-total

update
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

fix
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectProcessorTest.java
Due: fe-total

[BugFix] Respect meta_dir conf in fe_entrypoint.sh
  docker/dockerfiles/fe/fe_entrypoint.sh
Due: none

[Enhancement] Use timezone in select into outfile (#47152)
  be/src/exec/parquet_builder.cpp
  be/src/exec/parquet_builder.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/file_writer.h
  be/src/runtime/file_result_writer.cpp
  be/test/formats/parquet/file_writer_test.cpp
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/clone/ColocateTableBalancer.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/test/java/com/starrocks/clone/ColocateTableBalancerTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

[Enhancement] support lake compaction force commit
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/transactions.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/txn_log_applier.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/lake/TxnInfoHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTxnCommitAttachment.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/PartitionStatistics.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/Quantiles.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/ScoreSelector.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TxnCommitAttachment.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionTxnCommitAttachmentTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/PartitionStatisticsTest.java
  gensrc/proto/lake_service.proto
  gensrc/proto/lake_types.proto
Due: fe-total, be-total

[Enhancement] Optimize the logic of adding partitions to List Partition (#47044)
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

Disable mv rewrite for only group by keys rollup
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  test/sql/test_materialized_view/R/test_sync_materialized_view_rewrite_with_case_when
  test/sql/test_materialized_view/T/test_sync_materialized_view_rewrite_with_case_when
Due: fe-total

[Enhancement] Move some add/drop partition analysis logic to AlterTableClauseAnalyzer (#47106)
  fe/fe-core/src/main/java/com/starrocks/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterMVClauseAnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableStatementAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionDescAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropPartitionClause.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AlterTableClauseVisitorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeAlterTableStatementTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_list
  test/sql/test_partition_by_expr/R/test_add_partition_to_auto_partition_table
Due: fe-total

[Enhancement] improve memory cost in column mode partial update
  be/src/storage/lake/column_mode_partial_update_handler.cpp
  be/src/storage/lake/column_mode_partial_update_handler.h
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
  be/test/storage/rowset_column_update_state_test.cpp
Due: be-total

[BugFix] Fix brpc continuously fail after backend host restart
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/sink_buffer.h
  be/src/exec/tablet_sink_index_channel.h
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/schema_table_sink.cpp
  be/src/storage/segment_replicate_executor.h
  be/src/storage/table_reader.cpp
  be/src/storage/table_reader.h
  be/src/util/CMakeLists.txt
  be/src/util/brpc_stub_cache.h
  be/src/util/internal_service_recoverable_stub.cpp
  be/src/util/internal_service_recoverable_stub.h
  be/test/CMakeLists.txt
  be/test/util/brpc_stub_cache_test.cpp
  be/test/util/internal_service_recoverable_stub_test.cpp
Due: be-total
