Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] fix cloud native pk concurrent partial update issue (#42355)
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/test/storage/lake/partial_update_test.cpp
Due: be-total

[BugFix] Fix FE miss cluster id when handle Heartbeat from be (#42146)
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/system/HeartbeatMgr.java
  fe/fe-core/src/test/java/com/starrocks/system/HeartbeatMgrTest.java
Due: fe-total

[BugFix] eliminate constant in group by key (#42353)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSetType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateGroupByConstantRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitMultiPhaseAggRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg/T/test_distinct_agg
Due: fe-total

fix conflict
  be/src/storage/tablet_updates.cpp
Due: be-total

optimize
  docs/en/sql-reference/sql-functions/Window_function.md
  docs/zh/reference/System_variable.md
  docs/zh/sql-reference/sql-functions/Window_function.md
Due: none

Update System_variable.md
  docs/zh/reference/System_variable.md
Due: none

[UT] Fix UT
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
Due: fe-total

[Enhancement] Imporve JoinReroder performance (#42322)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/JoinOrder.java
Due: fe-total

[Enhancement]aggregation runtime limit
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.h
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

fix alter foreign key constraint bug in fe follower
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
Due: fe-total

fix conflict
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Due: be-total

[Feature] Support for FE division of execution groups
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/DecodeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExecGroup.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExecGroupId.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExecGroupSets.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/NestLoopJoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterPushDownContext.java
  fe/fe-core/src/main/java/com/starrocks/planner/SetOperationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/assignment/LocalFragmentAssignmentStrategy.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ExecPlan.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ColocateJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupExecutionPlanTest.java
  gensrc/thrift/Planner.thrift
  gensrc/thrift/RuntimeFilter.thrift
Due: fe-total

resolve conflict
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/test/storage/lake/partial_update_test.cpp
Due: be-total

fix conflict
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/storage/tablet_updates_test.cpp
Due: be-total

add comparison of abilities of various tables
  docs/en/table_design/table_types/Comparison_of_abilities_of_various_tables.md
  docs/zh/table_design/table_types/Comparison_of_abilities_of_various_tables.md
Due: none

[Enhancement] support clang 16 compile(#42550)
  be/CMakeLists.txt
  be/src/geo/CMakeLists.txt
Due: be-total

[BugFix] Fix union isnullable error (#32426)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/EmptyValueTest.java
Due: fe-total

[BugFix] Fix union isnullable error (#32426)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Due: fe-total

optimize search for system variable and description of follower FE
  docs/en/deployment/plan_cluster.md
  docs/en/introduction/Architecture.md
  docs/zh/deployment/plan_cluster.md
  docs/zh/introduction/Architecture.md
  docs/zh/reference/System_variable.md
Due: none

[Enhancement] Using ORC column id in SearchArgument
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/orc/apache-orc/c++/include/orc/Type.hh
  be/src/formats/orc/apache-orc/c++/include/orc/sargs/SearchArgument.hh
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.cc
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.hh
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.h
  be/src/formats/orc/utils.h
  be/test/formats/orc/orc_chunk_reader_test.cpp
Due: be-total

use UnixMillis instead of Monotimes (#42591)
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/service/internal_service.cpp
Due: be-total

[UT] Fixed the flaky test LakePublishBatchTest.testPublishTableDropped
  fe/fe-core/src/test/java/com/starrocks/transaction/LakePublishBatchTest.java
Due: fe-total

fix comments
  be/src/exprs/function_call_expr.cpp
Due: be-total

improve
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

init commit
  be/src/common/config.h
  be/src/exec/schema_scanner/schema_partitions_meta_scanner.cpp
  be/src/fs/fs.h
  be/src/fs/fs_starlet.cpp
  be/src/service/service_be/lake_service.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/lake/staros_cache_stats_collector.cpp
  be/src/storage/lake/staros_cache_stats_collector.h
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndex.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Tablet.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/PartitionsMetaSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/LakeTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTablet.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TabletStatMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/LakeTabletsProcNodeTest.java
  gensrc/proto/lake_service.proto
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

updates
  docs/en/deployment/plan_cluster.md
  docs/zh/deployment/plan_cluster.md
Due: none

update
  be/src/storage/tablet_updates.cpp
Due: be-total

updates
  docs/en/table_design/table_types/Comparison_of_abilities_of_various_tables.md
  docs/zh/table_design/table_types/Comparison_of_abilities_of_various_tables.md
Due: none

code format
  be/src/storage/tablet_updates.h
Due: be-total

[UT] Fixed the flaky test LakePublishBatchTest.testPublishTableDropped (#42615)
  fe/fe-core/src/test/java/com/starrocks/transaction/LakePublishBatchTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
