Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Enhancement] enhance mv rewrite by considering sort key during selecting best mv (#41956)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/BestMvSelector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Due: fe-total

[Doc] Fix Feedback issue on EXPLAIN Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/administration/Query_planning.md
  docs/en/sql-reference/sql-statements/Administration/EXPLAIN.md
  docs/zh/administration/Query_planning.md
  docs/zh/sql-reference/sql-statements/Administration/EXPLAIN.md
Due: none

[Tool] Add two useful tools for debugging starrocks BE (#42521)
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Due: none

[Doc] Hide Enterprise-related content Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/faq/Deploy_faq.md
Due: none

[BugFix] fix incorrect argument type check (#42454)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/TypeChecker.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg/T/test_distinct_agg
Due: fe-total

[Tool] Add two useful tools for debugging starrocks BE (#42521) (#42535)
  docker/dockerfiles/be/be-ubuntu.Dockerfile
Due: none

[Enhancement] optimize query dump replay to support replication_num and shared_data run mode (backport #42497) (#42507)
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpForSharedDataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite.json
  fe/fe-core/src/test/resources/sql/query_dump/shared_data_query_test.json
Due: fe-total

resolve conflict
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
Due: fe-total

[Feature] upgrade iceberg latest version to 1.5.0 released on March 11,2024 (#42518)
  fe/fe-core/pom.xml
Due: fe-total

Fix FE compilation
  fe/fe-core/src/main/java/com/starrocks/common/ThriftServer.java
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/NMysqlServer.java
Due: fe-total

test
  .github/workflows/ci-pipeline.yml
  .mergify.yml
  fe/fe-core/pom.xml
Due: fe-total

[Enhancement] adaptively enable jit (#41958)
  be/src/exec/pipeline/fragment_context.cpp
  be/src/exec/pipeline/fragment_context.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/arithmetic_operation.h
  be/src/exprs/binary_predicate.cpp
  be/src/exprs/case_expr.cpp
  be/src/exprs/cast_expr.cpp
  be/src/exprs/compound_predicate.cpp
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/expr_context.cpp
  be/src/exprs/jit/ir_helper.h
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_engine.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
  be/src/exprs/literal.cpp
  be/src/exprs/literal.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/test/exprs/binary_predicate_test.cpp
  be/test/exprs/case_expr_test.cpp
  be/test/exprs/exprs_test_helper.h
  be/test/exprs/jit_func_cache_test.cpp
  docs/zh/administration/Memory_management.md
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_jit/R/test_arithmetic
  test/sql/test_jit/R/test_fpe
  test/sql/test_jit/R/test_jit_cast
  test/sql/test_jit/R/test_jit_dict
  test/sql/test_jit/R/test_jit_expr
  test/sql/test_jit/T/test_arithmetic
  test/sql/test_jit/T/test_fpe
  test/sql/test_jit/T/test_jit_cast
  test/sql/test_jit/T/test_jit_dict
  test/sql/test_jit/T/test_jit_expr
Due: fe-total, be-total

test
  .github/workflows/ci-pipeline.yml
  fe/fe-core/pom.xml
Due: fe-total

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/JoinOrder.java
Due: fe-total

[BugFix] Clear dcg cache for non primary key table when drop_tablet/tablet init(#42203) (#42205)
  be/src/storage/tablet.cpp
  be/src/storage/tablet.h
  be/src/storage/tablet_manager.cpp
Due: be-total

[BugFix] eliminate all constant group by col
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateGroupByConstantRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Due: fe-total

[BugFix] eliminate all constant group by col
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Due: fe-total

[BugFix] eliminate all constant group by col
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSetType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateGroupByConstantRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitMultiPhaseAggRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Due: fe-total

add ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistinctAggTest.java
  test/sql/test_agg/R/test_distinct_agg
  test/sql/test_agg/T/test_distinct_agg
Due: fe-total

remove code
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitMultiPhaseAggRule.java
Due: fe-total

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateGroupByConstantRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistinctAggTest.java
Due: fe-total

test
  fe/fe-core/pom.xml
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MockTpchStatisticStorage.java
Due: fe-total

refine
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
Due: be-total

update
  be/src/connector_sink/file_chunk_sink.cpp
  be/src/connector_sink/hive_chunk_sink.cpp
  be/src/connector_sink/hive_chunk_sink.h
  be/src/exec/data_sink.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/csv/csv_file_writer.cpp
  be/src/formats/csv/csv_file_writer.h
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/orc/orc_file_writer.h
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.h
  be/src/formats/utils.h
  fe/fe-core/src/main/java/com/starrocks/catalog/FileTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RemoteFileInputFormat.java
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/catalog/FileTableTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/TableFunctionTableSinkTest.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/Descriptors.thrift
Due: fe-total, be-total

refine
  be/src/exec/join_hash_map.tpp
Due: be-total

[Enhancement] Make some operation type ignorable when replaying journal fails (#39091)
  docs/en/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalException.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalInconsistentException.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBEnvironment.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBJournalCursor.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/IgnorableOnReplayFailed.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/test/java/com/starrocks/journal/bdbje/BDBJournalCursorTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/OperationTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/server/GlobalStateMgrTest.java
Due: fe-total
