Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Update data_migration_tool.md
  docs/zh/administration/data_migration_tool.md
Due: none

[BugFix] Fix CTE lowcardinality array couldn't found DictExpr (#51148)
  fe/fe-core/src/main/java/com/starrocks/planner/MultiCastPlanFragment.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityArrayTest.java
Due: fe-total

Add files via upload
  docs/en/_assets/data_migration_tool-2.png
Due: none

[BugFix] fix tablet writer add chunk when larger than 2GB (#51152)
  be/src/exec/tablet_sink_index_channel.cpp
  be/src/exec/tablet_sink_index_channel.h
  be/src/service/service_be/internal_service.cpp
  be/src/util/brpc_stub_cache.h
  be/src/util/internal_service_recoverable_stub.cpp
  be/src/util/internal_service_recoverable_stub.h
Due: be-total

[BugFix] Verify key conf on FE start and optimize vault error msg (#27669)
  be/src/exec/schema_scanner/schema_tasks_scanner.cpp
  be/src/fs/key_cache.cpp
  fe/fe-core/src/main/java/com/starrocks/encryption/KeyMgr.java
Due: fe-total, be-total

[Enhancement] staros version upgrade to v3.2.4 (#51138)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Due: fe-total

[BugFix] fix DataDir invalid access, refactor DataDir management (#51063)
  be/src/storage/olap_server.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Due: be-total

[BugFix] Fix bad POCO include path
  be/CMakeLists.txt
Due: be-total

Update data_migration_tool.md
  docs/en/administration/data_migration_tool.md
Due: none

Fix stream load with no-2pc mistake write prepare edit log bug
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Due: fe-total

[BugFix] fix thread pool size adjustment exception (#51191)
  fe/fe-core/src/main/java/com/starrocks/common/ThreadPoolManager.java
  fe/fe-core/src/main/java/com/starrocks/common/ThriftServer.java
  fe/fe-core/src/main/java/com/starrocks/task/LeaderTaskExecutor.java
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
  fe/fe-core/src/main/java/com/starrocks/transaction/PublishVersionDaemon.java
  fe/fe-core/src/test/java/com/starrocks/common/ThreadPoolManagerTest.java
Due: fe-total

fix conflict
  fe/fe-core/src/main/java/com/starrocks/task/PriorityLeaderTaskExecutor.java
Due: fe-total

[BugFix] Cached fragment misuses exogenous runtime filter(backport #51150)
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/query_cache_misuse_exogenous_runtime_filter.json
Due: fe-total

[Enhancement] change default_replication_num of MV (#50931)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Due: fe-total

[Enhancement][FlatJson] Improve flat json performace and extract strategy (#50696)
  be/src/column/column_access_path.cpp
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/common/config.h
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_prepare.cpp
  be/src/exprs/json_functions.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  be/src/storage/meta_reader.cpp
  be/src/storage/olap_meta_reader.cpp
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/bloom_filter.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/json_column_writer.h
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
  be/src/types/logical_type.h
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
  be/test/exprs/flat_json_functions_test.cpp
  be/test/storage/rowset/flat_json_column_compact_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  be/test/util/json_flattener_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  gensrc/proto/segment.proto
Due: fe-total, be-total

[Enhancement] Add config to turn on balancing tablets between workers in shared-data mode (#50843)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/staros/StarMgrServer.java
Due: fe-total

[UT] make SQLTest test_spill_nl_join more stable
  test/sql/test_spill/R/test_spill_nl_join
  test/sql/test_spill/T/test_spill_nl_join
Due: none

[Doc] Cloud-native PK index persistence supports object storage Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/table_design/table_types/primary_key_table.md
  docs/zh/table_design/table_types/primary_key_table.md
Due: none

Increase timeout-minutes of clang-tidy
  .github/workflows/ci-pipeline.yml
Due: none

[Enhancement][FlatJson] Improve flat json performace and extract strategy (#50696)
  be/src/column/column_access_path.cpp
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/common/config.h
  be/src/connector/lake_connector.cpp
  be/src/exprs/json_functions.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  be/src/storage/meta_reader.cpp
  be/src/storage/olap_meta_reader.cpp
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/bloom_filter.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/json_column_writer.h
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
  be/src/types/logical_type.h
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
  be/test/exprs/flat_json_functions_test.cpp
  be/test/storage/rowset/flat_json_column_compact_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  be/test/util/json_flattener_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  gensrc/proto/segment.proto
Due: fe-total, be-total

[BugFix] Cached fragment misuses exogenous runtime filter(backport #51150) (#51210)
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/query_cache_misuse_exogenous_runtime_filter.json
Due: fe-total

[BugFix] fix character set issues of string literal in jdbc (#51177)
  fe/fe-core/src/main/java/com/starrocks/analysis/StringLiteral.java
Due: fe-total

[Doc] Add JIT and Table Prune Doc Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/docusaurus/sidebars.json
  docs/en/administration/management/BE_configuration.md
  docs/en/sql-reference/System_variable.md
  docs/en/using_starrocks/accelerate-cardinality-preserving-joins.md
  docs/en/using_starrocks/jit.md
  docs/zh/administration/management/BE_configuration.md
  docs/zh/sql-reference/System_variable.md
  docs/zh/using_starrocks/accelerate-cardinality-preserving-joins.md
  docs/zh/using_starrocks/jit.md
Due: none

[Doc] Update data_migration_tool.md (#51161)
  docs/en/_assets/data_migration_tool-2.png
  docs/en/administration/data_migration_tool.md
  docs/zh/_assets/data_migration_tool-2.png
  docs/zh/administration/data_migration_tool.md
Due: none
