Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Doc] Remove extra --daemon (#45142)
  docs/en/administration/enable_fqdn.md
  docs/zh/administration/enable_fqdn.md
Due: none

[Doc] Remove extra --daemon (#45142)
  docs/en/administration/management/enable_fqdn.md
  docs/zh/administration/management/enable_fqdn.md
Due: none

[BugFix] Broadcast Join should not generate nondetermistic GRF (#44111)
  be/src/exec/aggregate/aggregate_base_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/project_node.cpp
  be/src/exprs/runtime_filter_bank.cpp
  be/src/exprs/runtime_filter_bank.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/analysis/JoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterPushDownContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_runtime_filter_push_down_on_left_join/R/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_left_join/T/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
Due: fe-total, be-total

[BugFix] Fix Topn Runtime Filter order by short key wrong result (#45037)
  be/src/storage/lake/rowset.cpp
  be/src/storage/tablet_reader.cpp
  test/sql/test_sort/R/test_topn
  test/sql/test_sort/T/test_topn
Due: be-total

[BugFix] Broadcast Join should not generate nondetermistic GRF (#44111)
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/vectorized/aggregate/aggregate_base_node.cpp
  be/src/exec/vectorized/hash_join_node.cpp
  be/src/exec/vectorized/hash_join_node.h
  be/src/exec/vectorized/project_node.cpp
  be/src/exprs/vectorized/runtime_filter_bank.cpp
  be/src/exprs/vectorized/runtime_filter_bank.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/analysis/JoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterPushDownContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_runtime_filter_push_down_on_left_join/R/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_left_join/T/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
Due: fe-total, be-total

add
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/FairReentrantLock.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/FairReentrantReadWriteLock.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/QueryableReentrantReadWriteLock.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheMgr.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/TransactionLoadAction.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/PipeScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/StorageVolumeMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/TemporaryTableMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorTblMetaInfoMgr.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
Due: fe-total

[BugFix] Fix show routine load when warehouse not exist
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadJobTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Due: fe-total

[Refactor] move CloudConfigurationConstants to shared package (#45134)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergGlueCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/hadoop/IcebergHadoopCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/hive/IcebergHiveCatalog.java
  fe/fe-core/src/main/java/com/starrocks/credential/CloudConfigurationFactory.java
  fe/fe-core/src/main/java/com/starrocks/credential/CredentialUtil.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/aws/AWSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/azure/AzureCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/gcp/GCPCloudConfigurationProvoder.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/StrictHDFSCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfiguration.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudConfigurationProvider.java
  fe/fe-core/src/main/java/com/starrocks/credential/tencent/TencentCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/server/SharedDataStorageVolumeMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/StorageVolumeMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateStorageVolumeStmt.java
  fe/fe-core/src/main/java/com/starrocks/storagevolume/StorageVolume.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergAwsClientFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/credential/CredentialUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/server/SharedDataStorageVolumeMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/server/SharedNothingStorageVolumeMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/storagevolume/StorageVolumeTest.java
  java-extensions/hadoop-ext/pom.xml
  java-extensions/hadoop-ext/src/main/java/com/starrocks/connector/share/credential/CloudConfigurationConstants.java
  java-extensions/hadoop-ext/src/main/java/com/starrocks/connector/share/iceberg/IcebergAwsClientFactory.java
Due: fe-total

[BugFix] make iceberg db/table name to lower case for hive/glue catalog (#45061)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
Due: fe-total

[Enhancement] frontend RPC error message (#44153)
  be/src/runtime/client_cache.h
  be/src/util/thrift_rpc_helper.cpp
  be/src/util/thrift_rpc_helper.h
  be/test/CMakeLists.txt
  be/test/util/thrift_rpc_helper_test.cpp
Due: be-total

[Enhancement] Remove `internal_service_async_thread_num` (#45029)
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
Due: be-total

Update sidebars.json
  docs/docusaurus/sidebars.json
Due: none

[Enhancement] Support datacache metrics display in compute node (#45099)
  fe/fe-core/src/main/java/com/starrocks/common/proc/ComputeNodeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheSelectMetrics.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/test/java/com/starrocks/datacache/DataCacheSelectMetricsTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

fix uncorrectly building hash table in null safe join condition
  be/src/exec/join_hash_map.cpp
Due: be-total

Fix comments
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadJobTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/server/StorageVolumeMgr.java
Due: fe-total

[BugFix] Fix spark load failure due to not setting tablet version
  be/src/storage/task/engine_batch_load_task.cpp
Due: be-total

[Enhancement] support disable lake compaction(sync #44616) (#19309)
  docs/en/administration/management/FE_configuration.md
  docs/zh/administration/management/FE_configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/ScoreSelector.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/Selector.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/SimpleSelector.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/ScoreSelectorTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/SimpleSelectorTest.java
Due: fe-total

[Enhancement] Add host start time info on BE start (#45107)
  bin/start_backend.sh
  bin/start_fe.sh
Due: none

[BugFix] Use correct warehouseId when stream load is used to load data(sync #44695) (#19321)
  be/src/exec/tablet_sink.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/epack/warehouse/LocalWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/DefaultWarehouse.java
  fe/fe-core/src/main/java/com/starrocks/warehouse/Warehouse.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

cherry-pick: 8f30c5e
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
Due: be-total

[BugFix] Broadcast Join should not generate nondetermistic GRF (#44111)
  be/src/exec/aggregate/aggregate_base_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/project_node.cpp
  be/src/exprs/runtime_filter_bank.cpp
  be/src/exprs/runtime_filter_bank.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/analysis/JoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterPushDownContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RuntimeFilterTest.java
  test/sql/test_runtime_filter_push_down_on_left_join/R/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_left_join/T/test_runtime_filter_push_down_on_left_join
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf
Due: fe-total, be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
