Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] add more profile and metrics to measure runtime bloom filter size (backport #46360) (#46430)
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exprs/runtime_filter.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
  be/src/util/system_metrics.cpp
  be/src/util/system_metrics.h
Due: be-total

[Enhancement] remove partition version check in plan validation (#46733)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/OptimisticVersion.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnLogApplier.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeTableTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryPlanLockFreeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/OptimisticVersionTest.java
Due: fe-total

fix conflict
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
Due: fe-total

[BugFix] Add broker dependency hadoop-aliyun/hadoop-ks3 (#46162)
  fs_brokers/apache_hdfs_broker/pom.xml
Due: none

1
  fe/fe-core/src/main/java/com/starrocks/catalog/PaimonPartitionKey.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonPartitionKeyTest.java
Due: fe-total

[BugFix] Add broker dependency hadoop-aliyun/hadoop-ks3 (backport #46162) (#46782)
  fs_brokers/apache_hdfs_broker/pom.xml
Due: none

Avoid analyze table to collect table statistics
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
Due: fe-total

[Enhancement] skip dead be when short circuit read (backport #46256) (#46776)
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitHybridExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/DefaultWorkerProvider.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ShortCircuitTest.java
Due: fe-total

[BugFix] Fix JniScanner crash due to struct null indicator (#46492)
  java-extensions/hive-reader/src/test/java/com/starrocks/hive/reader/TestHiveScanner.java
  java-extensions/hive-reader/src/test/resources/test_complex_type/struct_test.avro
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapColumnVector.java
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapTable.java
Due: none

[BugFix] fix compiling errors from clang15 (#46757)
  be/CMakeLists.txt
  be/src/geo/CMakeLists.txt
  be/src/storage/lake/compaction_scheduler.cpp
  be/test/storage/persistent_index_test.cpp
Due: be-total

[BugFix] support show create external olap table
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/MetaUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowCreateExternalOlapTableStmtTest.java
Due: fe-total

[BugFix] The hdfs directory is not synchronized when the spark resource is deleted
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/SparkResource.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkRepository.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropResourceStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/ResourceMgrTest.java
Due: fe-total

update
  be/test/storage/lake/partial_update_test.cpp
Due: be-total

[BugFix] CN crashed after enable parallel scan in some cases
  be/src/connector/lake_connector.cpp
Due: be-total

Fixed missing break statement while handling Disk migration task
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
Due: fe-total

[Enhancement] Optimize fast schema evolution performance for cloud native table
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/storage/lake/schema_change.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/SchemaChangeProcDir.java
Due: fe-total, be-total

[Tool] Add arthus to FE docker image
  docker/dockerfiles/artifacts/artifact.Dockerfile
Due: none

[BugFix] Fixed missing break statement while handling Disk migration task in TabletScheduler (#46793)
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
Due: fe-total

[UT] fix error in cherry-pick
  test/lib/sr_sql_lib.py
Due: none

[BugFix] In order to pass warehouse information, use context to pass it (#46500)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/Util.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/AlterTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
Due: fe-total

resolve conflict
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryPlanLockFreeTest.java
Due: fe-total

update config
  be/src/common/config.h
Due: be-total

[BugFix] Fix no break in the handleTabletByTypeAndStatus switch case(backport #46793) (#46804)
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
