Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] Support log query profile to file (#45028)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
Due: fe-total

Put del vec filter after all other index filter
  be/src/common/config.h
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

[BugFix] Fix remove optimize job
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
Due: fe-total

update sessionVariable.java code style
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

[UT] Fix unstable mv related tests (#45554)
  test/sql/test_materialized_view/R/test_materialized_view_union
  test/sql/test_materialized_view/T/test_materialized_view_union
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_union
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_union
Due: none

[Refactor] Refactor cross-cluster replication limits (#45473)
  be/src/agent/agent_server.cpp
  docs/en/administration/data_migration_tool.md
  docs/zh/administration/data_migration_tool.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
Due: fe-total, be-total

[Enhancement] support cache select metrics for cloud table (#45528)
  be/src/connector/lake_connector.cpp
  be/src/fs/fs_starlet.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/storage/lake/compaction_task_context.cpp
  be/src/storage/olap_common.h
  be/src/storage/rowset/segment_iterator.cpp
  be/test/storage/lake/compaction_task_context_test.cpp
Due: be-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
Due: fe-total

[BugFix] Fix schemachange failed caused by storage migration (#45517)
  be/src/storage/task/engine_storage_migration_task.cpp
  be/test/storage/task/engine_storage_migration_task_test.cpp
Due: be-total

[BugFix] Fix schemachange failed caused by storage migration (#45517)
  be/src/storage/task/engine_storage_migration_task.cpp
Due: be-total

wip
  build.sh
Due: none

fix test
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

test case
  test/sql/test_materialized_view/R/test_auto_refresh
  test/sql/test_materialized_view/T/test_auto_refresh
Due: none

[UT] add test case for multi-column mv loose rewrite (#45152)
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

[BugFix] add option for with-brpc-keepalive to build.sh (#45566)
  build.sh
Due: none

[BugFix] fix empty require fields in jni scanner
  java-extensions/hive-reader/src/main/java/com/starrocks/hive/reader/HiveScanner.java
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiSliceScanner.java
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/ScannerHelper.java
  java-extensions/jni-connector/src/test/java/TestScannerHelper.java
  java-extensions/kudu-reader/src/main/java/com/starrocks/kudu/reader/KuduSplitScanner.java
  java-extensions/odps-reader/src/main/java/com/starrocks/odps/reader/OdpsSplitScanner.java
  java-extensions/paimon-reader/src/main/java/com/starrocks/paimon/reader/PaimonSplitScanner.java
Due: none

[Enhancement] get identifier field ids from equality delete file for adaptation
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
Due: fe-total

[Refactor] Refactor create table analyzer process (#45498)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/analysis/BloomFilterIndexUtil.java
  fe/fe-core/src/main/java/com/starrocks/analysis/KeysDesc.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Index.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/elasticsearch/EsUtil.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/IndexView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/IMTCreator.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CTASAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateDbAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DropStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateIndexClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStatement.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateTableStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateTemporaryTableStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/IndexDef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/KeysDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/OptimizeClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/MetaUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsMetaManager.java
  fe/fe-core/src/test/java/com/starrocks/analysis/GINIndexTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/IndexDefTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ColumnTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetastoreOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/http/rest/v2/TablePartitionActionTest.java
  fe/fe-core/src/test/java/com/starrocks/http/rest/v2/TableSchemaActionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CTASAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CreateTableAnalyzerTest.java
  test/sql/test_auto_increment/R/test_auto_increment
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Due: fe-total

[Refactor] Add cur_probe_index to join hashtable (#45514)
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
Due: be-total

fixup
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Analyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateFunctionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/InfoSchemaDbTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/RBACExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CreateFunctionStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/CreateFunctionStmtTest.java
Due: fe-total

[Enhancement] Support use table_name to filter scan in information_schema.tables(sync #45351)(#19761)
  be/src/exec/schema_scanner/schema_tables_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

[Enhancement] Add background warehouse and use the correct warehouse(sync #44456) (#19775)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/BackendsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/ComputeNodeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/epack/lake/StarOSAgentEpack.java
  fe/fe-core/src/main/java/com/starrocks/epack/qe/ShowExecutorVisitorEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/server/WarehouseManagerEPack.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/RecycleLakeListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/lake/RecycleLakeRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  fe/fe-core/src/main/java/com/starrocks/server/WarehouseManager.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinLakeTableTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarMgrMetaSyncerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgent2ndTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/filelist/FileListRepoTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
