Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

refactor some code to make interface more readable
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/scalar_column_iterator.cpp
  be/src/storage/rowset/scalar_column_iterator.h
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

update
  be/src/connector_sink/utils.cpp
  be/src/connector_sink/utils.h
Due: be-total

[Refactor] resolve comments
  be/src/storage/metadata_util.cpp
Due: be-total

[BugFix] Unify and standardize the default implementation of AstVisitor (#17387)
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/HelpStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowAuthorStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCollationStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowEventsStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowFailPointStatement.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowPrivilegesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowProcedureStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowRepositoriesStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowStatusStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowTriggersStmt.java
Due: fe-total

[BugFix] Fix wrong cast from double to decimal when using "create table as select" statement to create hive table (#42350)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CTASAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CTASAnalyzerTest.java
  test/sql/test_catalog/R/test_iceberg_hadoop_catalog
  test/sql/test_catalog/T/test_iceberg_hadoop_catalog
Due: fe-total

add uts
  fe/fe-core/src/main/java/com/starrocks/sql/common/DebugOperatorTracer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/function/MetaFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConstantExpressionTest.java
Due: fe-total

update
  be/src/connector_sink/file_chunk_sink.cpp
  be/src/connector_sink/hive_chunk_sink.cpp
  be/src/connector_sink/iceberg_chunk_sink.cpp
Due: be-total

[UT] add test for LakePrimaryKeyCompactionTest.test_compaction_policy_min_input
  be/test/storage/lake/primary_key_compaction_task_test.cpp
Due: be-total

[UT] Fix UT
  be/src/storage/metadata_util.cpp
Due: be-total

[Enhancement] Improve replication job scheduling to support heterogeneous replica number and improve fault tolerance (#42772)
  be/src/agent/agent_task.cpp
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/test/agent/agent_task_test.cpp
  be/test/storage/lake/replication_txn_manager_test.cpp
  be/test/storage/replication_txn_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Types.thrift
Due: fe-total, be-total

const reference
  be/src/connector_sink/utils.cpp
  be/src/connector_sink/utils.h
Due: be-total

[Feature] Add a second version implementation of get table schema and partition API.
  fe/fe-core/src/main/java/com/starrocks/catalog/DistributionInfo.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseResult.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/RestBaseResultV2.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/TableBaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/TablePartitionAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/TableSchemaAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/ColumnView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/DistributionInfoView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/IndexView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/MaterializedIndexMetaView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/PartitionInfoView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/TablePartitionView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/TableSchemaView.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/v2/vo/TabletView.java
  fe/fe-core/src/main/java/com/starrocks/load/PartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadPendingTask.java
  fe/fe-core/src/test/java/com/starrocks/http/BadHttpRequestTest.java
  fe/fe-core/src/test/java/com/starrocks/http/ExecuteSqlActionTest.java
  fe/fe-core/src/test/java/com/starrocks/http/RestBaseResultTest.java
  fe/fe-core/src/test/java/com/starrocks/http/StarRocksHttpTestCase.java
  fe/fe-core/src/test/java/com/starrocks/http/TableQueryPlanActionTest.java
  fe/fe-core/src/test/java/com/starrocks/http/rest/v2/TablePartitionActionTest.java
  fe/fe-core/src/test/java/com/starrocks/http/rest/v2/TableSchemaActionTest.java
  fe/fe-core/src/test/java/com/starrocks/load/PartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/SparkLoadPendingTaskTest.java
Due: fe-total

fix comments
  be/src/http/action/datacache_action.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTablet.java
Due: fe-total, be-total

[Refactor] extract serialize to output data stream
  be/src/exec/CMakeLists.txt
  be/src/exec/spill/block_manager.h
  be/src/exec/spill/data_stream.cpp
  be/src/exec/spill/data_stream.h
  be/src/exec/spill/dir_manager.h
  be/src/exec/spill/executor.h
  be/src/exec/spill/file_block_manager.cpp
  be/src/exec/spill/file_block_manager.h
  be/src/exec/spill/input_stream.cpp
  be/src/exec/spill/input_stream.h
  be/src/exec/spill/log_block_manager.cpp
  be/src/exec/spill/log_block_manager.h
  be/src/exec/spill/mem_table.cpp
  be/src/exec/spill/mem_table.h
  be/src/exec/spill/serde.cpp
  be/src/exec/spill/serde.h
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spill_components.h
  be/src/exec/spill/spiller.h
  be/src/exec/spill/spiller.hpp
  be/src/serde/encode_context.cpp
  be/src/serde/encode_context.h
  be/src/serde/protobuf_serde.cpp
  be/test/io/spill_test.cpp
Due: be-total

add ut
  be/test/runtime/user_function_cache_test.cpp
Due: be-total

[Refactor] make udf error message clearer
  be/src/runtime/user_function_cache.cpp
  be/src/runtime/user_function_cache.h
Due: be-total

[BugFix] fix sql test bad result
  test/sql/test_catalog/R/test_iceberg_hadoop_catalog
Due: none

fix ut
  be/test/runtime/user_function_cache_test.cpp
Due: be-total

fix test
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/RangePartitionDiff.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
Due: fe-total

fix test
  fe/fe-core/src/main/java/com/starrocks/sql/common/RangePartitionDiff.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewMultiJoinTest.java
Due: fe-total

add more trace for mv preprocess
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
Due: fe-total

[BugFix] Fix incorrect filtering of complex expression predicates by GIN (#43153)
  be/src/storage/column_expr_predicate.cpp
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
Due: be-total

[UT] fix sql test bad result (#43360)
  test/sql/test_catalog/R/test_iceberg_hadoop_catalog
Due: none

[BugFix] Implement tableExists methods in HiveMetaStoreClient
  fe/fe-core/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
Due: fe-total

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[Refactor] make udf error message clearer (#43275)
  be/src/runtime/user_function_cache.cpp
  be/src/runtime/user_function_cache.h
  be/test/runtime/user_function_cache_test.cpp
Due: be-total

Update PULL_REQUEST_TEMPLATE.md (#43364)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[Feature] Support LoadChannel profile (#41664)
  be/src/exec/pipeline/exec_state_reporter.cpp
  be/src/exec/pipeline/exec_state_reporter.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/exec/tablet_sink_index_channel.cpp
  be/src/runtime/lake_tablets_channel.cpp
  be/src/runtime/lake_tablets_channel.h
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/local_tablets_channel.cpp
  be/src/runtime/local_tablets_channel.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/service_be/backend_service.cpp
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
  be/src/util/uid_util.cpp
  be/src/util/uid_util.h
  be/test/CMakeLists.txt
  be/test/runtime/lake_tablets_channel_test.cpp
  be/test/runtime/load_channel_test.cpp
  be/test/runtime/local_tablets_channel_test.cpp
  be/test/util/runtime_profile_test.cpp
  be/test/util/uid_util_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/Counter.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryRuntimeProfileTest.java
  gensrc/proto/internal_service.proto
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/RuntimeProfile.thrift
  test/sql/test_profile/R/test_load_channel_profile
  test/sql/test_profile/T/test_load_channel_profile
Due: fe-total, be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
