Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Tool] update toolchain to 20240724
  docker/dockerfiles/dev-env/dev-env.Dockerfile
Due: none

fix: round-robin assign cpuids
  be/src/util/threadpool.cpp
Due: be-total

fix: assign_cpuids_to_workgroup reserve one core for common executors
  be/src/exec/workgroup/pipeline_executors_manager.cpp
Due: be-total

add test_change_pipeline_connector_scan_thread_num_per_cpu
  test/sql/test_resource_group/R/test_change_pipeline_connector_scan_thread_num_per_cpu
  test/sql/test_resource_group/T/test_change_pipeline_connector_scan_thread_num_per_cpu
Due: none

add --comments to shell test
  test/sql/test_resource_group/R/test_resource_group_dedicated_cpu_cores_borrowing_cpu
  test/sql/test_resource_group/R/test_resource_group_dedicated_cpu_cores_not_borrowing_cpu
  test/sql/test_resource_group/T/test_resource_group_dedicated_cpu_cores_borrowing_cpu
  test/sql/test_resource_group/T/test_resource_group_dedicated_cpu_cores_not_borrowing_cpu
Due: none

fix: MemLimitedChunkQueueTest
  be/test/exec/pipeline/mem_limited_chunk_queue_test.cpp
Due: be-total

make reclaim_cpuids_from_worgroup reenter
  be/src/exec/workgroup/pipeline_executors_manager.cpp
Due: be-total

opt: use min_num_cores instead of avg_num_cores
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/system/BackendResourceStat.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/system/BackendResourceStatTest.java
Due: fe-total

opt: notify_one instead of notify_all when borrowed thread cannot execute
  be/src/exec/pipeline/pipeline_driver_queue.cpp
  be/src/exec/workgroup/scan_task_queue.cpp
Due: be-total

rename
  be/src/exec/workgroup/pipeline_executor_set_manager.cpp
  be/src/exec/workgroup/pipeline_executor_set_manager.h
  be/src/exec/workgroup/work_group.h
  be/src/http/action/pipeline_blocking_drivers_action.cpp
Due: be-total

rename
  be/src/exec/workgroup/pipeline_executors_manager.cpp
  be/src/exec/workgroup/work_group.h
Due: be-total

rename executors to executor_set
  be/src/exec/CMakeLists.txt
  be/src/exec/workgroup/pipeline_executor_set.cpp
  be/src/exec/workgroup/pipeline_executor_set.h
  be/src/exec/workgroup/pipeline_executor_set_manager.cpp
  be/src/exec/workgroup/pipeline_executor_set_manager.h
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/src/exec/workgroup/work_group_fwd.h
  be/src/runtime/exec_env.cpp
Due: be-total

rename dedicated/common to exclusive/shared
  be/src/exec/pipeline/fragment_context.cpp
  be/src/exec/workgroup/pipeline_executors_manager.cpp
  be/src/exec/workgroup/pipeline_executors_manager.h
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/src/runtime/exec_env.cpp
  be/test/exec/pipeline/mem_limited_chunk_queue_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateResourceGroupStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  gensrc/thrift/WorkGroup.thrift
  test/sql/test_resource_group/R/test_resource_group_be_threads_and_cpu
  test/sql/test_resource_group/R/test_resource_group_dedicated_cpu_cores_borrowing_cpu
  test/sql/test_resource_group/R/test_resource_group_dedicated_cpu_cores_not_borrowing_cpu
  test/sql/test_resource_group/T/test_resource_group_be_threads_and_cpu
  test/sql/test_resource_group/T/test_resource_group_dedicated_cpu_cores_borrowing_cpu
  test/sql/test_resource_group/T/test_resource_group_dedicated_cpu_cores_not_borrowing_cpu
Due: fe-total, be-total

opt: wg_entity = nullptr
  be/src/exec/pipeline/pipeline_driver_queue.cpp
  be/src/exec/workgroup/scan_task_queue.cpp
Due: be-total

rename _take_next_wg to _pick_next_wg and add comments
  be/src/exec/pipeline/pipeline_driver_queue.cpp
  be/src/exec/pipeline/pipeline_driver_queue.h
  be/src/exec/workgroup/scan_task_queue.cpp
  be/src/exec/workgroup/scan_task_queue.h
Due: be-total

chore: fix cmake format
  be/src/exec/CMakeLists.txt
Due: be-total

opt: assign to shared executors if cpuids is empty
  be/src/exec/workgroup/pipeline_executors_manager.cpp
Due: be-total

[BugFix] Clear probe RF whose probe expr contains dict mapping expr (#50690)
  be/src/exprs/runtime_filter_bank.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Due: fe-total, be-total

fix alloc-dealloc-mismatch in raw container
  be/src/column/binary_column.h
  be/src/util/raw_container.h
  be/test/CMakeLists.txt
  be/test/util/raw_container_test.cpp
Due: be-total

[BugFix] Clear probe RF whose probe expr contains dict mapping expr (#50690)
  be/src/exprs/vectorized/runtime_filter_bank.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Due: fe-total, be-total

[Enhancement] Store default resource group in FE (#50673)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Analyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/JobSpecTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
Due: fe-total, be-total

fix
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Due: fe-total

[Doc] Update System_limit.md (#50542)
  docs/en/sql-reference/System_limit.md
  docs/zh/sql-reference/System_limit.md
Due: none

[Doc] Update System_limit.md (#50542)
  docs/en/reference/System_limit.md
  docs/zh/reference/System_limit.md
Due: none

[Tool] update toolchain to 20240724 (#50674)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
Due: none
