Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Feature] (MV For TimeSeries Scene: Part 3) Add AggregateTimeSeriesRule rule to support time series split in mv rewrite (#51713)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ReplaceShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregateFunctionRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewPushDownRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedTimeSeriesRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AndRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnRangePredicate.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/PredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/common/AggregateFunctionRollupUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/common/AggregatePushDownUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/CountRewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/DateTruncEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/RewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/AggregateTimeSeriesRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pdagg/AggregatePushDownContext.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewAggPushDownRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTimeSeriesRewriteWithHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTimeSeriesRewriteWithOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/PredicateSplitTest.java
  test/sql/test_materialized_view_rewrite/R/test_mv_rewrite_with_time_series
  test/sql/test_materialized_view_rewrite/T/test_mv_rewrite_with_time_series
Due: fe-total

[BugFix] Fix running fragment count during exec env exit (#52048)
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/internal_service.cpp
  be/src/testutil/init_test_env.h
Due: be-total

calculate predicate selectivity
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/BinaryPredicateStatisticCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/Bucket.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/Histogram.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/HistogramEstimator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/HistogramEstimatorTest.java
Due: fe-total

[BugFix] Fix spill cost too much memory when enable group execution (#51935)
  be/src/exec/spill/mem_table.cpp
Due: be-total

use binary search to find overlapped buckets
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/Histogram.java
Due: fe-total

handle corner case of bucket
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/HistogramEstimator.java
Due: fe-total

[UT] fix flaky test test_mv_swap (#52076)
  test/sql/test_materialized_view/R/test_mv_swap
  test/sql/test_materialized_view/T/test_mv_swap
Due: none

[Enhancement] Support aggregate function map_agg.
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_avg.cpp
  be/src/exprs/agg/map_agg.h
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PolymorphicFunctionAnalyzer.java
  test/sql/test_agg_function/R/test_map_agg
  test/sql/test_agg_function/T/test_map_agg
Due: fe-total, be-total

init
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/ha/LeaderInfo.java
  fe/fe-core/src/main/java/com/starrocks/http/meta/MetaService.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/BootstrapFinishAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseResult.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ShowMetaInfoAction.java
  fe/fe-core/src/main/java/com/starrocks/journal/CheckpointException.java
  fe/fe-core/src/main/java/com/starrocks/journal/CheckpointWorker.java
  fe/fe-core/src/main/java/com/starrocks/journal/GlobalStateCheckpointWorker.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/journal/StarMgrCheckpointWorker.java
  fe/fe-core/src/main/java/com/starrocks/leader/CheckpointController.java
  fe/fe-core/src/main/java/com/starrocks/leader/MetaHelper.java
  fe/fe-core/src/main/java/com/starrocks/monitor/jvm/JvmStats.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/staros/StarMgrServer.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/main/java/com/starrocks/system/FrontendHbResponse.java
  fe/fe-core/src/main/java/com/starrocks/system/HeartbeatMgr.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/staros/StarMgrServerTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

fix
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/distinct.h
Due: be-total

Fix unstable test_mv_refresh_with_event_trigger_and_nested_mvs test case
  test/lib/sr_sql_lib.py
Due: none

[UT] Fix unstable test_mv_refresh_with_event_trigger_and_nested_mvs test case (#52105)
  test/lib/sr_sql_lib.py
Due: none

Support multi version of group_concat
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/group_concat.h
  be/src/exprs/function_context.h
  be/test/exprs/agg/aggregate_test.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionParams.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateAggRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MultiDistinctByCTERewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitAggregateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitTwoPhaseAggRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistinctAggTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistributedEnvPlanWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MetricTypeTest.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_agg_function/R/test_group_concat
Due: fe-total, be-total

Fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
Due: fe-total

[BugFix] Unable to set storage_cooldown_time to maximum when creating MaterializedView. (#52079)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
Due: fe-total

refactor
  fe/fe-core/src/main/java/com/starrocks/http/rest/BootstrapFinishAction.java
  fe/fe-core/src/main/java/com/starrocks/journal/CheckpointWorker.java
  fe/fe-core/src/main/java/com/starrocks/journal/GlobalStateCheckpointWorker.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/journal/StarMgrCheckpointWorker.java
  fe/fe-core/src/main/java/com/starrocks/leader/CheckpointController.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/staros/StarMgrServer.java
Due: fe-total

[BugFix] Consider CN number in HashJoinCostModel.
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/cost/HashJoinCostModel.java
Due: fe-total

[Enhancement] Enhance thread pool configs of backup restore
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  docs/en/administration/management/BE_configuration.md
  docs/en/administration/management/Backup_and_restore.md
  docs/zh/administration/management/BE_configuration.md
  docs/zh/administration/management/Backup_and_restore.md
Due: be-total

add unit test #45536
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownConfig.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelector.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownSchedule.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedCooldownProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMaintenanceJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CancelExternalCooldownStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateExternalCooldownStmt.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CancelExternalCooldownStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateExternalCooldownStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownConfigTest.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelectorTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/ExternalCooldownConfigTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/ExternalCooldownMaintenanceJobTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMaintenanceJobTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/CreateExternalCooldownStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/CancelExternalCooldownStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/CreateExternalCooldownStmtTest.java
Due: fe-total

[Enhancement] add default hash function and dump query resource usage (#52080)
  be/src/column/column_hash.h
  be/src/exec/join_hash_map.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.h
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exprs/ngram.cpp
  be/src/runtime/data_stream_mgr.h
  be/src/runtime/local_pass_through_buffer.h
  be/src/runtime/sender_queue.h
  be/src/util/hash.h
Due: be-total

improve compare in BestMvSelector
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/BestMvSelector.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/main/java/com/starrocks/system/HeartbeatMgr.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
