Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] Fix wrong plan in Colocate Group Execution (#48565)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupExecutionPlanTest.java
  test/sql/test_group_execution/R/test_group_execution_join
  test/sql/test_group_execution/T/test_group_execution_join
Due: fe-total

remove exception error message in test
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Due: fe-total

[UT] Fix daily case for broadcast join
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
Due: none

[Enhancement] make report audit statistics in sink operator asynchronous (#48162)
  be/src/exec/pipeline/olap_table_sink_operator.cpp
  be/src/exec/pipeline/olap_table_sink_operator.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_executor.h
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.h
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.cpp
  be/src/exec/pipeline/sink/memory_scratch_sink_operator.h
Due: be-total

[UT] Fix daily case for broadcast join (backport #48496) (#48581)
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
Due: none

[Feature] Provide the ability to support system functions
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SystemFunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Function.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/catalog/SystemFunction.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/function/CboStatsShowExclusion.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/function/GenericFunction.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstTraverser.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/CallOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/SystemOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FoldConstantsRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryPlannerTest.java
  test/sql/test_system_function/R/test_system_function
  test/sql/test_system_function/T/test_system_function
Due: fe-total

fix code style
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total

fix risky bug
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/catalog/SystemFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
Due: fe-total

fix code style
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FoldConstantsRule.java
Due: fe-total

Fixed a bug where Compact and Schema Change could not be executed together
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOpType.java
Due: fe-total

[Feature] support lookup_string function (#48429)
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SemanticException.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/MetaFunctionsTest.java
Due: fe-total

[Enhancement] Set python3 as the default python version when compiling
  env.sh
Due: none

fix bug
  be/src/exec/pipeline/exchange/split_local_exchange.cpp
Due: be-total

[BugFix] Fix the problem that Stream/Routine Load memory statistics are not accurate.
  be/src/exec/json_scanner.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/routine_load/kafka_consumer_pipe.h
  be/src/runtime/stream_load/stream_load_pipe.cpp
  be/src/util/byte_buffer.h
Due: be-total

update translation
  docs/zh/quick_start/helm.md
Due: none

switch sidebar
  docs/zh/quick_start/helm.md
Due: none

[Feature] Add build arch info when showing FE/BE version (#48572)
  be/src/util/debug_util.cpp
  build-support/gen_build_version.py
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Due: fe-total, be-total

fix Quality Gate
  fe/fe-core/src/main/java/com/starrocks/catalog/SystemFunction.java
Due: fe-total

[Enhancement] Set python3 as the default python version when compiling (#48586)
  env.sh
Due: none

[Enhancement] Support getting physical partition by name (#47270)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/backup/CatalogMocker.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PhysicalPartitionImplTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Due: fe-total

[Doc] Add release notes 3.3.1
  docs/en/release_notes/release-3.3.md
Due: none

fix
  fe/fe-core/src/main/java/com/starrocks/persist/metablock/SRMetaBlockReader.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/persist/metablock/SRMetaBlockReader.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[BugFix] Fixed a bug where Compact and Schema Change could not be executed together (#48585)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOpType.java
Due: fe-total

Update release-3.3.md
  docs/zh/release_notes/release-3.3.md
Due: none

lock
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/DeadlockException.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Lock.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockException.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockInterruptException.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockTimeoutException.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/MultiUserLock.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/NotSupportLockException.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/load/OlapDeleteJob.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshListPartitioner.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPartitioner.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/LockManagerAllLockModesRandomTest.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/LockRandomTest.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/LockTestUtils.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/LockThread.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/SysLockTest.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/TestLockInterface.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/TestLockUpAndDownUpgrade.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/GlobalTransactionMgrTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
