Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Doc] Support SET_VAR for INSERT, DELETE, and UPDATE (#46760)
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Due: none

[Enhancement] use hashset instead of list to fix the performance bottleneck
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptOlapPartitionPruner.java
Due: fe-total

[BugFix] Fix inconsistent dictionary in replace partition (#46832)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  test/sql/test_global_dict/R/temporary_partition
  test/sql/test_global_dict/T/temporary_partition
Due: fe-total

[BugFix] record cte expressionMapping all the time (#42080)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/CTETransformerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/nested_view_with_cte.json
Due: fe-total

fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
Due: fe-total

[BugFix] Fix case when rewrite bug for synchronized materialized view (#46822)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  test/sql/test_materialized_view/R/test_sync_materialized_view_rewrite_with_case_when
  test/sql/test_materialized_view/T/test_sync_materialized_view_rewrite_with_case_when
Due: fe-total

resolve conflict
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
Due: fe-total

update ut
  be/test/storage/tablet_updates_test.cpp
Due: be-total

[BugFix] Fix case when rewrite bug for synchronized materialized view (#46822)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  test/sql/test_materialized_view/R/test_sync_materialized_view_rewrite_with_case_when
  test/sql/test_materialized_view/T/test_sync_materialized_view_rewrite_with_case_when
Due: fe-total

RemoveAggregationFromAggTable should not remove aggregation for random distribution
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RemoveAggregationFromAggTable.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  test/sql/test_materialized_view/R/test_sync_materialized_view3
  test/sql/test_materialized_view/T/test_sync_materialized_view3
Due: fe-total

bugfix in rand()
  docs/en/sql-reference/sql-functions/math-functions/rand.md
  docs/zh/sql-reference/sql-functions/math-functions/rand.md
Due: none

[BugFix] Fixed the issue with the path gc thread constantly sleeping (#46735)
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/olap_server.cpp
Due: be-total

bugfix in rand()
  docs/zh/sql-reference/sql-functions/math-functions/rand.md
Due: none

address comments
  be/src/exprs/in_const_predicate.hpp
  be/src/formats/parquet/file_reader.cpp
  be/src/runtime/descriptors.h
Due: be-total

[BugFix] Fix query a view with MATCH got exception
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/LowCardinalityRewriteRule.java
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
Due: fe-total

Fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
Due: fe-total

update
  be/src/connector/async_flush_stream_poller.cpp
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.cpp
  be/test/formats/orc/orc_file_writer_test.cpp
  be/test/formats/parquet/parquet_file_writer_test.cpp
  test/sql/test_sink/R/test_orc_file_sink
  test/sql/test_sink/T/test_orc_file_sink
Due: be-total

bugfix in rand()
  docs/zh/using_starrocks/query_acceleration_with_auto_increment.md
Due: none

[BugFix] fix none data throw no alive be nodes
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitHybridExecutor.java
Due: fe-total

updates
  docs/zh/using_starrocks/query_acceleration_with_auto_increment.md
Due: none

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RemoveAggregationFromAggTable.java
Due: fe-total

[Doc] license for mssql-jdbc
  licenses-binary/LICENSE-mssql-jdbc.txt
Due: none

[Feature] jdbc sql server draft (#46444)
  be/src/exec/jdbc_scanner.cpp
  docs/en/data_source/catalog/jdbc_catalog.md
  docs/zh/data_source/catalog/jdbc_catalog.md
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/SqlServerSchemaResolver.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/SqlServerSchemaResolverTest.java
  fe/pom.xml
Due: fe-total, be-total

[BugFix] Fix the issue that external olap table does not support cn
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Due: fe-total

[BugFix] Fix text reader crashed in compressed file (#46830)
  be/src/exec/hdfs_scanner_text.cpp
  be/test/exec/hdfs_scanner_test.cpp
Due: be-total

[BugFix] multiple sys_log_to_console=true entry in fe.conf every time fe is started with --logconsole option
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

fix compile
  be/test/exec/hdfs_scanner_test.cpp
Due: be-total

update
  be/src/formats/csv/csv_file_writer.cpp
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.cpp
Due: be-total

Disable union rewrite for synchronized materialized view
  fe/fe-core/src/main/java/com/starrocks/sql/common/DebugOperatorTracer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
Due: fe-total

[BugFix] Fix query a view with MATCH got exception (#46484)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/LowCardinalityRewriteRule.java
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
