Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
Due: fe-total

Update SELECT.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SELECT.md
Due: none

[Enhancement] Use delta kernel to replace delta-standalone (#44767)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/DeltaLakeTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/ColumnTypeConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaDataType.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaUtils.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/ExpressionConverter.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeApiConverterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  test/sql/test_deltalake/R/test_deltalake_catalog
  test/sql/test_deltalake/T/test_deltalake_catalog
Due: fe-total

[BugFix] fix struct prune fields on uncopy schema (#45218)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
Due: be-total

enable report_task_worker
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
Due: be-total

add log
  be/src/agent/agent_task.cpp
Due: be-total

fix agent_task not finished when node as cn
  be/src/agent/agent_task.cpp
Due: be-total

fix
  be/src/agent/agent_server.cpp
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Due: fe-total

try status code
  be/src/agent/agent_task.cpp
Due: be-total

stop report task pool
  be/src/agent/agent_server.cpp
Due: be-total

Update System_limit.md
  docs/en/reference/System_limit.md
Due: none

Update System_limit.md
  docs/zh/reference/System_limit.md
Due: none

fix conflicts
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/connector/delta/ExpressionConverter.java
Due: fe-total

Revert "[BugFix] Revert "[BugFix] Add TaskRunScheduler to support task runs' FIFO scheduler (backport #43843) (#43980) (#44187)"
  docs/en/administration/management/FE_configuration.md
  docs/en/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
  docs/zh/administration/management/FE_configuration.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskRunSchedulerTest.java
Due: fe-total

[BugFix] Pause routine load job when warehouse does not exist
  fe/fe-core/src/main/java/com/starrocks/common/util/KafkaUtil.java
  fe/fe-core/src/test/java/com/starrocks/common/util/KafkaUtilTest.java
Due: fe-total

[BugFix] unified catalog adapt to 'getMetaSpec' interface (#45226)
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/unified/UnifiedMetadataTest.java
Due: fe-total

Optimize PartitionBasedMvRefreshProcessor db locks
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsRegistry.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteMetricsTest.java
Due: fe-total

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeApiConverterTest.java
Due: fe-total

Add PendingTaskRunFIFOQueue to optimize task scheduler
  fe/fe-core/src/main/java/com/starrocks/scheduler/PendingTaskRunFIFOQueue.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PendingTaskRunFIFOQueueTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskRunSchedulerTest.java
Due: fe-total

fix test
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
Due: fe-total

test
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Due: fe-total

fix ut
  fe/fe-core/src/main/java/com/starrocks/connector/delta/ExpressionConverter.java
Due: fe-total

[BugFix] fix parse timstamp type partition value when iceberg exists partition evolution
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  test/lib/sr_sql_lib.py
  test/sql/test_iceberg/R/test_iceberg_catalog
  test/sql/test_iceberg/T/test_iceberg_catalog
Due: fe-total

[BugFix] Fix Log print error in ReportHandler (#43837)
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
Due: fe-total
