Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

Remove schema_hash from consistency check (#29845)
  be/src/agent/agent_task.cpp
  be/src/http/action/checksum_action.cpp
  be/src/http/action/checksum_action.h
  be/src/service/service_be/http_service.cpp
  be/src/storage/task/engine_checksum_task.cpp
  be/src/storage/task/engine_checksum_task.h
Due: be-total

[Enhancement] fix task worker pool stop (#31391)
  be/src/agent/task_worker_pool.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Due: be-total

[BugFix] Fixed incorrect config value obtained by /varz (#41394)
  be/src/common/configbase.cpp
  be/src/common/configbase.h
  be/src/http/default_path_handlers.cpp
  be/src/service/starrocks_main.cpp
  be/src/testutil/init_config.h
  be/src/testutil/init_test_env.h
  be/src/tools/meta_tool.cpp
  be/test/common/config_test.cpp
  be/test/storage/task/engine_storage_migration_task_test.cpp
Due: be-total

[BugFix] fix current thread exit crash (#31439)
  be/src/runtime/current_thread.cpp
Due: be-total

auto_active switch
  docs/en/using_starrocks/data_modeling_with_materialized_views.md
  docs/zh/using_starrocks/data_modeling_with_materialized_views.md
Due: none

[Enhancement] default resource group can display and disable create default wg
  be/src/exec/workgroup/work_group.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
Due: fe-total, be-total

[BugFix] Fix partition predicates compensate bug with multi partition tables (#41385)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ScanOperatorPredicates.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

ut for connector sink operator
  be/src/connector_sink/CMakeLists.txt
  be/src/exec/pipeline/sink/connector_sink_operator.cpp
  be/src/exec/pipeline/sink/connector_sink_operator.h
  be/src/formats/CMakeLists.txt
  be/src/util/blocking_priority_queue.hpp
  be/test/CMakeLists.txt
  be/test/exec/sink/connector_sink_operator_test.cpp
  be/test/formats/orc/orc_chunk_writer_test.cpp
  be/test/formats/parquet/parquet_writer_test.cpp
Due: be-total

[BugFix] Resolve conflicts
  be/src/testutil/init_config.h
  be/src/testutil/init_test_env.h
  be/test/storage/lake/compaction_task_test.cpp
  be/test/test_main.cpp
Due: be-total

[Enhancement] Improve data cleanup performance for dropped tables in shared data mode(sync #39883) (#15540)
  be/src/fs/fs_posix.cpp
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/InfoSchemaDb.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysDb.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeMaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/persist/DisableTableRecoveryInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinLakeTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
  fe/fe-core/src/test/java/com/starrocks/clone/TabletSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeTableCleanerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeTableTest.java
  gensrc/proto/lake_service.proto
  test/sql/test_drop_table/R/test_drop_table
  test/sql/test_drop_table/T/test_drop_table
Due: fe-total, be-total

upp
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Due: none

[BugFix] Resolve conflicts
  be/src/testutil/init_test_env.h
  be/src/tools/meta_tool.cpp
  be/test/storage/lake/compaction_task_test.cpp
  be/test/test_main.cpp
Due: be-total

[Doc] Update messaging about SR's integration with file system and metastore in catalog docs (#41440)
  docs/en/data_source/catalog/deltalake_catalog.md
  docs/en/data_source/catalog/hive_catalog.md
  docs/en/data_source/catalog/hudi_catalog.md
  docs/en/data_source/catalog/iceberg_catalog.md
  docs/en/data_source/catalog/paimon_catalog.md
  docs/en/data_source/catalog/unified_catalog.md
  docs/zh/data_source/catalog/deltalake_catalog.md
  docs/zh/data_source/catalog/hive_catalog.md
  docs/zh/data_source/catalog/hudi_catalog.md
  docs/zh/data_source/catalog/iceberg_catalog.md
  docs/zh/data_source/catalog/paimon_catalog.md
  docs/zh/data_source/catalog/unified_catalog.md
Due: none

[Enhancement] Make catalog a session variable (#41329)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetStmtTest.java
Due: fe-total

[Doc] Update messaging about SR's integration with file system and metastore in catalog docs (#41440)
  docs/en/data_source/catalog/deltalake_catalog.md
  docs/en/data_source/catalog/hudi_catalog.md
  docs/en/data_source/catalog/iceberg_catalog.md
  docs/en/data_source/catalog/paimon_catalog.md
  docs/en/data_source/catalog/unified_catalog.md
  docs/zh/data_source/catalog/deltalake_catalog.md
  docs/zh/data_source/catalog/hudi_catalog.md
  docs/zh/data_source/catalog/iceberg_catalog.md
  docs/zh/data_source/catalog/paimon_catalog.md
  docs/zh/data_source/catalog/unified_catalog.md
Due: none

[Doc] Update messaging about SR's integration with file system and metastore in catalog docs (#41440)
  docs/en/data_source/catalog/deltalake_catalog.md
  docs/en/data_source/catalog/hudi_catalog.md
  docs/en/data_source/catalog/iceberg_catalog.md
  docs/en/data_source/catalog/paimon_catalog.md
  docs/en/data_source/catalog/unified_catalog.md
  docs/zh/data_source/catalog/deltalake_catalog.md
  docs/zh/data_source/catalog/hudi_catalog.md
  docs/zh/data_source/catalog/paimon_catalog.md
  docs/zh/data_source/catalog/unified_catalog.md
Due: none

[BugFix] Resolve conflicts
  be/src/testutil/init_test_env.h
  be/src/tools/meta_tool.cpp
  be/test/storage/task/engine_storage_migration_task_test.cpp
Due: be-total

[BugFix] fix PassThroughChunkBuffer reference leak (#35591)
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/local_pass_through_buffer.cpp
  be/test/CMakeLists.txt
  be/test/runtime/data_stream_mgr_test.cpp
Due: be-total

[BugFix] Fix thrift server exit race condition (#37776)
  be/src/util/thrift_server.cpp
Due: be-total

Update fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
Due: fe-total

[BugFix] Fix compile error and format
  be/src/common/configbase.h
  be/test/exec/vectorized/parquet_scanner_test.cpp
  be/test/storage/convert_helper_test.cpp
  be/test/storage/publish_version_manager_test.cpp
  be/test/storage/segment_flush_executor_test.cpp
  be/test/storage/tablet_updates_test.cpp
Due: be-total

Delete docs/en/data_source/catalog/unified_catalog.md
  docs/en/data_source/catalog/unified_catalog.md
Due: none

Delete docs/en/data_source/catalog/paimon_catalog.md
  docs/en/data_source/catalog/paimon_catalog.md
Due: none

[BugFix] Fix compile error and format
  be/src/common/configbase.h
  be/test/exprs/array_functions_test.cpp
Due: be-total

[BugFix] Fix compile error
  be/src/common/configbase.h
Due: be-total

fix comments
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
Due: fe-total

Delete docs/zh/data_source/catalog/unified_catalog.md
  docs/zh/data_source/catalog/unified_catalog.md
Due: none

[BugFix] Support Iceberg partition compensation for mv rewrite (#41145)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePreprocessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
Due: fe-total

[BugFix] Fix the problem of be exit being stuck due to BRPC. (#39329)
  be/src/exec/workgroup/scan_executor.cpp
  be/src/exec/workgroup/scan_executor.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/profile_report_worker.cpp
  be/src/runtime/profile_report_worker.h
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/result_buffer_mgr.h
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
  be/src/service/service_be/starrocks_be.cpp
Due: be-total

Delete docs/zh/data_source/catalog/paimon_catalog.md
  docs/zh/data_source/catalog/paimon_catalog.md
Due: none

[Feature] Support Create Table Like DDL for Hive (#37685)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreOperations.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateTableLikeStmt.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetastoreOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/server/MetadataMgrTest.java
  test/sql/test_ddl/R/create_table_like
  test/sql/test_ddl/T/create_table_like
Due: fe-total

fix FE-leader in architecture
  docs/en/assets/architecture_shared_data.png
  docs/zh/assets/architecture_shared_data.png
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
