Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fixed the bug that clusterid cannot be parsed when using --helper during upgrade (#24144)
  fe/fe-core/src/main/java/com/starrocks/http/meta/MetaService.java
  fe/fe-core/src/main/java/com/starrocks/persist/StorageInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
Due: fe-total

[Enhancement] Add memory check during pk apply (#47889)
  be/src/common/config.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/primary_index.cpp
  be/src/storage/primary_key_compaction_conflict_resolver.cpp
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_update_state.cpp
  be/src/storage/tablet_updates.cpp
  be/src/storage/update_compaction_state.cpp
  be/src/storage/update_manager.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[Enhancement] Add mv repair handler interface (#48365)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/MVRepairHandler.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAsyncFastSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/server/MVRepairHandlerTest.java
Due: fe-total

fix conflict
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

fix conflict (#48482)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

resolve conflict
  be/src/common/config.h
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

resolve conflict
  be/src/common/config.h
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_update_state.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

resolve conflict
  be/src/common/config.h
Due: be-total

[Enhancement] create star mgr dir on startup in shared-data cluster (#48382)
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
Due: fe-total

update
  be/src/storage/lake/delta_writer.cpp
Due: be-total

test: do not copy scheam in query
  be/src/exec/tablet_scanner.cpp
  be/src/storage/tablet_schema_map.cpp
  be/src/storage/tablet_schema_map.h
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

fix sh
  build.sh
Due: none

update
  be/src/exec/tablet_scanner.cpp
  be/src/storage/tablet_schema_map.cpp
Due: be-total

fix pom
  java-extensions/pom.xml
Due: none

[Feature] (AutoMV) Add AcceleratedQueries in recommendation output (#24227)
  fe/fe-core/src/main/java/com/starrocks/sql/automv/ast/AlterTunespaceClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/ast/ShowRecommendationsStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/generator/AggregateMVGenerator.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/generator/DistributionPolicy.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/generator/PropertiesPolicy.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/generator/QueryGenerateResult.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/lattice/Lattice.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/lattice/LatticeNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/lattice/MVRecommendation.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/pattern/PlanPiecePattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/pieces/PieceCommonState.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/pieces/PlanPieceBuildContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/pieces/PlanPieceBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/policies/TimeGranuleExtractPolicy.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/policies/TimeGranulePartitionPolicy.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/qe/RboOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/qe/TunespaceExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/tunespace/PieceTraits.java
  fe/fe-core/src/main/java/com/starrocks/sql/automv/tunespace/PlanPieceInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/automv/generator/GeneratorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/lattice/AutoMVSSBTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/lattice/AutoMVTPCDSTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/pieces/PlanPieceTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/util/AutoMVUtil.java
  test/lib/sr_sql_lib.py
  test/sql/test_automv_merge_recommend/R/test_automv_merge_recommend
  test/sql/test_automv_merge_recommend/T/test_automv_merge_recommend
Due: fe-total

BE remove unused zookeeper for CVEs
  build.sh
Due: none

[Enhancement] Improve kafka authentication error message (#47649)
  be/src/runtime/routine_load/data_consumer.cpp
  be/src/runtime/routine_load/data_consumer.h
  be/src/runtime/routine_load/routine_load_task_executor.cpp
Due: be-total

refactor
  be/src/exec/data_sink.cpp
  be/src/exec/pipeline/exchange/multi_cast_local_exchange.h
  be/src/exec/pipeline/exchange/multi_cast_local_exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/multi_cast_local_exchange_sink_operator.h
  be/src/exec/pipeline/exchange/split_local_exchange.cpp
  be/src/exec/pipeline/exchange/split_local_exchange.h
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/SkewShuffleJoinEliminationRule.java
Due: fe-total, be-total

Fix bug roll num does not work
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

[Enhancement] Reorder Service Initialization and Startup Sequence
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Due: fe-total

[BugFix]fix jni problem (#48455)
  build.sh
  java-extensions/common-runtime/pom.xml
  java-extensions/pom.xml
Due: none

count memory of array_agg
  be/src/exprs/agg/array_agg.h
Due: be-total

s
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exprs/runtime_filter_bank.cpp
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
Due: fe-total, be-total

Fix conflict
  be/src/runtime/routine_load/data_consumer.cpp
Due: be-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
Due: fe-total

fix
  be/src/exprs/agg/array_agg.h
Due: be-total

add test
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/function/MetaFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/MetaFunctionsTest.java
Due: fe-total

fix warning
  be/src/exec/pipeline/exchange/multi_cast_local_exchange.h
  be/src/exec/pipeline/exchange/split_local_exchange.cpp
  be/src/exec/pipeline/exchange/split_local_exchange.h
  be/src/exprs/runtime_filter_bank.cpp
  be/src/runtime/runtime_filter_worker.cpp
  be/src/runtime/runtime_filter_worker.h
Due: be-total

add FE UT
  fe/fe-core/src/test/java/com/starrocks/sql/plan/RuntimeFilterTest.java
Due: fe-total

update
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/R/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
  test/sql/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf/T/test_runtime_filter_push_down_on_local_right_offsprings_of_broadcast_join_with_grf_for_colocate
Due: none
