Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Reset thread local ConnectContext for each materialized view's refresh (#37584)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

remove duplicated type check
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
Due: fe-total

Revert "test"
  be/test/agent/agent_task_test.cpp
  fe/fe-core/src/test/java/com/starrocks/alter/AlterJobV2Test.java
Due: fe-total, be-total

[Enhancement] Support display datacache metircs by http service. (#40220)
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/cachelib_wrapper.cpp
  be/src/block_cache/cachelib_wrapper.h
  be/src/block_cache/kv_cache.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/common/config.h
  be/src/http/CMakeLists.txt
  be/src/http/action/datacache_action.cpp
  be/src/http/action/datacache_action.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/service_be/http_service.cpp
  be/test/block_cache/block_cache_test.cpp
  build.sh
  run-be-ut.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-ubuntu22-x86_64.sh
  thirdparty/vars-x86_64.sh
Due: be-total

[Enhancement] change the task execution user to current_user when creating (#40670)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoBackend.java
  fe/fe-core/src/test/java/com/starrocks/system/SystemInfoServiceTest.java
Due: fe-total

[BugFix] Fix or preddicates use different short key indexes bug (#40693)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitScanORToUnionRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalcUtils.java
  test/lib/sr_sql_lib.py
  test/sql/test_materialized_view/R/test_sync_materialized_view_rewrite
  test/sql/test_materialized_view/T/test_sync_materialized_view_rewrite
Due: fe-total

[Tool] Skip unnecessary jobs in CI for test code (#39478)
  .github/workflows/ci-doc-checker.yml
  .github/workflows/ci-merged.yml
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-proto-checker.yml
  .github/workflows/ci-report.yml
  .github/workflows/sonarcloud-be-build.yml
Due: none

[Doc] Update locate function doc in zh
  docs/zh/sql-reference/sql-functions/string-functions/locate.md
Due: none

[Tool] Skip unnecessary jobs in CI for test code (sync #39478) (#14648)
  .github/workflows/ci-doc-checker.yml
  .github/workflows/ci-merged.yml
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-proto-checker.yml
  .github/workflows/ci-report.yml
Due: none

[BugFix] fix cancel refresh mv command cannot stop task (backport #40649) (#40684)
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

[BugFix] fix cancel refresh mv command cannot stop task (backport #40649) (#40685)
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

Revert "[BugFix] Print create tablet log (#40142)"
  be/src/agent/task_worker_pool.cpp
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Due: fe-total, be-total

[Enhancement] Add digest into QueryDetail (#40039)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
Due: fe-total

[BugFix] Fix the bug of SinkIOBuffer user-after-free (#40674)
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/exec/pipeline/sink/mysql_table_sink_operator.cpp
  be/src/exec/pipeline/sink/sink_io_buffer.h
  be/test/exec/sink/sink_io_buffer_test.cpp
Due: be-total

[BugFix] mysql-connector must be excluded in release package (#40012) (#40027)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCMetaCacheTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/JDBCMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MysqlSchemaResolverTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoClusterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExternalTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
  fe/pom.xml
Due: fe-total

[BugFix] Fix view based mv rewrite (#39826)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEProduceOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteOnTpcdsTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteOnTpchTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDSPlanTestBase.java
  fe/fe-core/src/test/resources/sql/tpcds/query39-1-2.sql
  fe/fe-core/src/test/resources/sql/tpcds/query39-2-2.sql
  fe/fe-core/src/test/resources/sql/tpcds/query64-2.sql
Due: fe-total

[BugFix] Fix wrong slot id check when querying on be_tablets (#40348)
  be/src/exec/schema_scanner/schema_be_tablets_scanner.cpp
  test/sql/test_rbac/R/test_be_tablets_access_control
  test/sql/test_rbac/T/test_be_tablets_access_control
Due: be-total

[BugFix] Fix sync mv aggregate column's name not equal to base column (#40374)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/BestIndexRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PreAggregateTurnOnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/FilterUnusedColumnTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/mv_rewrite_with_dict_opt1.json
  test/sql/test_materialized_view/R/test_sync_materialized_view_rewrite
  test/sql/test_materialized_view/T/test_sync_materialized_view_rewrite
Due: fe-total

[Enhancement] Add io time stat for memtable/segment flush (#40173)
  be/src/fs/fs_posix.cpp
  be/src/io/fd_input_stream.cpp
  be/src/io/fd_output_stream.cpp
  be/src/io/io_profiler.cpp
  be/src/io/io_profiler.h
  be/src/storage/delta_writer.cpp
  be/src/storage/memtable.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/segment_flush_executor.cpp
  be/src/util/starrocks_metrics.h
Due: be-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadLoadingTaskTest.java
Due: fe-total

fix
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/exec/pipeline/sink/mysql_table_sink_operator.cpp
Due: be-total

[UT] use parameterized test to split ut (#40567)
  fe/fe-core/src/test/java/com/starrocks/sql/plan/MockQueryDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
Due: fe-total

[BugFix]Use mariadb connector/j to support mysql and mariadb (#40573)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/pom.xml
Due: fe-total

fix bugs
  test/lib/sr_sql_lib.py
Due: none

[BugFix] Fix nested mv rewrite bugs (#40508)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/pattern/Pattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/Binder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/ApplyRuleTask.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewSSBTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteTest.java
Due: fe-total

[Refactor] Remove useless config (#40357)
  be/src/common/config.h
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/lake_local_persistent_index.cpp
Due: be-total
