Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

fix array_map crash
  be/src/column/column_access_path.cpp
  be/src/exec/pipeline/set/union_const_source_operator.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  test/sql/test_array/R/test_array_map
  test/sql/test_array/T/test_array_map
Due: be-total

[Enhancement]aws sdk get/put object support zero copy (#49709)
  be/src/io/s3_input_stream.cpp
  be/src/io/s3_output_stream.cpp
  be/src/io/s3_zero_copy_iostream.h
Due: be-total

add shuffle comment
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
Due: fe-total

[Refactor] add hive/hudi connector scan range source
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RemoteFileInputFormat.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
Due: fe-total

remove remote scan range locations
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnectorScanRangeSource.java
Due: fe-total

fix ut
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitExecutor.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteScanRangeLocationsTest.java
Due: fe-total

replace with scan range source
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteScanRangeLocationsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DataCachePlanTest.java
Due: fe-total

fix for comment
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnectorScanRangeSource.java
Due: fe-total

lazily to create remote file info source
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnectorScanRangeSource.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteScanRangeLocationsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DataCachePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
Due: fe-total

fix unused import
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteScanRangeLocationsTest.java
Due: fe-total

fix clang-tidy
  be/src/column/column_access_path.cpp
  be/src/exec/pipeline/set/union_const_source_operator.cpp
Due: be-total

[Refactor] add hive/hudi connector scan range source (#49451)
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/RemoteFileInputFormat.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiConnectorScanRangeSource.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitExecutor.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteScanRangeLocationsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DataCachePlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
Due: fe-total

[Doc] Minor Upgrade note
  docs/en/deployment/upgrade.md
Due: none

Update downgrade.md
  docs/en/deployment/downgrade.md
Due: none

Update downgrade.md
  docs/zh/deployment/downgrade.md
Due: none

Update upgrade.md
  docs/zh/deployment/upgrade.md
Due: none

[BugFix] Fix error create table sql (#49769)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  test/sql/test_fast_schema_evolution/R/test_fast_schema_evolution
  test/sql/test_fast_schema_evolution/T/test_fast_schema_evolution
Due: fe-total

[Feature] support iceberg expire_snapshots/fast_forward/cherrypick_snapshot table operations
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOpType.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergAlterTableExecutor.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergTableOperation.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterTableOperationClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  test/sql/test_iceberg/R/test_table_operation
  test/sql/test_iceberg/T/test_table_operation
Due: fe-total

[Enhancement] Physical partitions in the same logical partition use the same shard_group_id to make the shard distribution more even (#49195)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarMgrMetaSyncerTest.java
Due: fe-total

[Enhancement] desc iceberg table with transform type (#49094)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  test/sql/test_iceberg/R/test_iceberg_show_stmt
  test/sql/test_iceberg/T/test_iceberg_show_stmt
Due: fe-total

[Enhancement] Support mv refresh to use materialized view rewrite by enable_mv_refresh_query_rewrite config (#45338)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/MVRefreshTestBase.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PCTRefreshListPartitionOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorIcebergTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorJdbcTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapPart2Test.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorPaimonTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_event_trigger
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_multi_union3
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_mv_reuse
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_event_trigger
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_multi_union3
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_mv_reuse
  test/test_sql_cases.py
Due: fe-total

[Enhancement] configure S3 client rename_file operation timeout (#48860)
  be/src/common/config.h
  be/src/fs/fs_s3.cpp
  be/test/fs/fs_s3_test.cpp
Due: be-total

[Enhancement] Optimize performance of get physical partition from olap table (#47198)
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[BugFix] fix iceberg partition prune on v2 table (#49569)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  test/sql/test_iceberg/R/test_iceberg_transformed_partition
  test/sql/test_iceberg/T/test_iceberg_transformed_partition
Due: fe-total

[Enhancement] Ignore apache-hdfs-broker cve in trivy
  trivy.yaml
Due: none

[Enhancement] Ignore apache-hdfs-broker cve in trivy (#49824)
  trivy.yaml
Due: none

[Enhancement] Implement global query command (#48819)
  fe/fe-core/src/main/java/com/starrocks/common/proc/CurrentGlobalQueryStatisticsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/ProcService.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryStatisticsInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/CurrentGlobalQueryStatisticsProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/CurrentQueryStatisticsProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryStatisticsInfoTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

[UT] Fix slow mv tests(sync #49711) (#26177)
  test/lib/sr_sql_lib.py
  test/sql/test_random_distribution/R/test_random_distribution_tablet_prune
  test/sql/test_random_distribution/T/test_random_distribution_tablet_prune
  test/sql/test_transparent_mv/R/test_transparent_mv_olap_part1
  test/sql/test_transparent_mv/R/test_transparent_mv_olap_part2
  test/sql/test_transparent_mv/T/test_transparent_mv_olap_part1
  test/sql/test_transparent_mv/T/test_transparent_mv_olap_part2
Due: none

[BugFix] Fix synchronized mv crash if defined query's columns are unordered (#49528)
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SelectAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/mv/MVUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateSyncMaterializedViewTest.java
  test/sql/test_materialized_view/R/test_sync_materialized_view_unorder
  test/sql/test_materialized_view/T/test_sync_materialized_view_unorder
Due: fe-total

[Bugfix] Compaction task limit should consider warehouse in Lake compaction scheduler
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionSchedulerTest.java
Due: fe-total

[Feature] Support setting session vars in user property (#48477)
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/UserProperty.java
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterUserInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SetExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowUserPropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/BaseCreateAlterUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowUserPropertyStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/authentication/AuthenticationManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/authentication/UserPropertyTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Due: fe-total

[BugFix] fix wrong binary format when enable short circuit read
  be/src/exec/short_circuit.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  test/lib/sr_sql_lib.py
  test/sql/test_preparestatement/T/test_driver_prepare
Due: fe-total, be-total

[Enhancement][FlatJson] opitmize flat json compaction performance (#49411)
  be/src/column/column_access_path.cpp
  be/src/column/column_access_path.h
  be/src/column/json_column.cpp
  be/src/common/config.h
  be/src/storage/compaction.cpp
  be/src/storage/compaction.h
  be/src/storage/compaction_task.h
  be/src/storage/horizontal_compaction_task.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_compactor.h
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_iterator.h
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/tablet_reader.cpp
  be/src/storage/tablet_reader.h
  be/src/storage/vertical_compaction_task.cpp
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
  be/test/storage/rowset/flat_json_column_compact_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
Due: be-total
