Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Doc]Update SHOW_AUTHENTICATION.md (#42960)
  docs/en/sql-reference/sql-statements/account-management/SHOW_AUTHENTICATION.md
Due: none

[Tool] test label action
  .github/workflows/label-action.yml
Due: none

[Feature] test
  README.md
Due: none

fix profile cause gray upgrade fail's problem
  be/src/connector/file_connector.cpp
  be/src/connector/hive_connector.cpp
  be/src/connector/lake_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/spill/spiller.cpp
Due: be-total

*: support insert properties
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Due: fe-total

[Doc] update delta lake faq Signed-off-by: amber-create <yangyanping@starrocks.com>
  docs/en/data_source/datalake_faq.md
  docs/zh/data_source/datalake_faq.md
Due: none

update
  be/src/formats/orc/apache-orc/c++/include/orc/Common.hh
  be/src/formats/orc/apache-orc/c++/src/Int128.cc
  be/src/formats/orc/apache-orc/c++/src/Statistics.hh
Due: be-total

[Doc] update delta lake faq (#43143)
  docs/en/data_source/datalake_faq.md
  docs/zh/data_source/datalake_faq.md
Due: none

[Tool] Use cli to request review
  .github/workflows/label-action.yml
Due: none

[BugFix] fix profile cause gray upgrade fail's problem (#43142)
  be/src/connector/file_connector.cpp
  be/src/connector/hive_connector.cpp
  be/src/connector/lake_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/spill/spiller.cpp
Due: be-total

fix
  be/src/testutil/sync_point.cc
  be/src/testutil/sync_point.h
  be/src/testutil/sync_point_impl.cc
  be/src/testutil/sync_point_impl.h
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

[Tool] Replace restful api with client to request PR reviewer (#43150)
  .github/workflows/label-action.yml
Due: none

fix fe ut
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeTestUtil.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Due: fe-total

[Feature] test feature pr
  README.md
Due: none

fix
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

Support transparent partition union rewrite
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerTraceUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/Operator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVColumnPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVCompensation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVTransparentState.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVUnionRewriteMode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/PredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/DateTruncEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewSSBTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTextBasedRewriteTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshAndRewriteIcebergTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentUnionRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentUnionRewriteOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  test/sql/test_materialized_view/R/test_mv_partition_compensate_hive
  test/sql/test_materialized_view/R/test_mv_partition_compensate_iceberg
  test/sql/test_materialized_view/R/test_mv_partition_compensate_iceberg2
  test/sql/test_materialized_view/R/test_mv_partition_compensate_mysql
  test/sql/test_materialized_view/R/test_mv_partition_compensate_olap
  test/sql/test_materialized_view/T/test_mv_partition_compensate_hive
  test/sql/test_materialized_view/T/test_mv_partition_compensate_iceberg2
  test/sql/test_materialized_view/T/test_mv_partition_compensate_mysql
  test/sql/test_materialized_view/T/test_mv_partition_compensate_olap
Due: fe-total

[BugFix] Use unordered_map::at instead of operator[]
  be/src/exec/workgroup/work_group.cpp
Due: be-total

[BugFix] Fix forgot to unlock database lock in LakeTableAlterMetaJobBase
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
Due: fe-total

[Enhancement] show tables should succeed even if partial iceberg tables's metadata files are lost
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
Due: fe-total

[BugFix] Remove workgroup_id and version pair from workgroup_versions if the workgroup is removed
  be/src/exec/workgroup/work_group.cpp
Due: be-total

[BugFix] SyncPoint only takes effect in unit test (#43124)
  be/src/testutil/sync_point.cc
  be/src/testutil/sync_point.h
  be/src/testutil/sync_point_impl.cc
  be/src/testutil/sync_point_impl.h
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

[Doc] test adding behavior change
  docs/en/release_notes/release-3.2.md
Due: none

[BugFix] to compatible array_distinct id
  be/src/exprs/function_call_expr.cpp
Due: be-total

update comment
  be/src/exprs/function_call_expr.cpp
Due: be-total

[Tool] Replace restful api with client to request PR reviewer(sync #43150) (#17245)
  .github/workflows/label-action.yml
Due: none

fix1
  be/src/exec/workgroup/work_group.cpp
Due: be-total
