Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] fair share scan memory between scan nodes in a query (#36526)
  be/src/common/logging.h
  be/src/connector/connector.cpp
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/connector_scan_node.cpp
  be/src/exec/connector_scan_node.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/pipeline/scan/chunk_buffer_limiter.cpp
  be/src/exec/pipeline/scan/chunk_buffer_limiter.h
  be/src/exec/pipeline/scan/chunk_source.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/stream/scan/stream_scan_operator.cpp
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/src/formats/csv/csv_reader.cpp
  be/src/formats/csv/csv_reader.h
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/script/script.cpp
Due: be-total

fix conflict
  be/src/connector/connector.h
Due: be-total

[Feature] MaxCompute(ODPS) Catalog Planner and Optimizer part (#36766)
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileDesc.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsProperties.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsSplitsInfo.java
  fe/fe-core/src/main/java/com/starrocks/credential/aliyun/AliyunCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/planner/OdpsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/HDFSBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/assignment/BackendSelectorFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/EngineType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpressionVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/OperatorType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/OperatorVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOdpsScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalOdpsScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/OdpsScanImplementationRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ExternalScanPartitionPruneRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MergeLimitDirectRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneEmptyScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateToExternalTableScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/common/util/ProfilingExecPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsScanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRuleTest.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total

[Enhancement] Print hint message for waiting globalStateMgr to be ready (#37550)
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[BugFix] The tablet schema in rowset meta is incomplete in partial update (#37688)
  be/src/storage/delta_writer.cpp
Due: be-total

[BugFix] Reorder table may lost sort key column (#38129)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Due: fe-total

[UT] Retry 3 times when creating table in ut (#37973)
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/binlog/BinlogManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/AdminStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ColocateTableIndexTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ColocateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableLikeTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/DropPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/DynamicPartitionTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/StorageCoolDownTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/StorageMediumInferTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/ShowStreamLoadTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/mv/MaterializedViewPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/TestWithFeService.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[BugFix] Fix refresh bugs for non-partition auto refresh with partition_fresh_number is one (#37876)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerWithMVTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
Due: fe-total

[BugFix] OdpsTable method gets columns without including the partition column (#37971)
  fe/fe-core/src/main/java/com/starrocks/catalog/OdpsTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/EntityConvertUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTest.java
Due: fe-total

[Enhancement] Support topn runtime filter for pruned partition filter (backport #38211) (#38246)
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/OrderByTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
Due: fe-total

[BugFix] Fix clear_expired_replcation_snapshots_thread not joined during storage engine exit (#37880)
  be/src/agent/agent_task.cpp
  be/src/http/download_action.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/transactions.cpp
  be/src/storage/lake/transactions.h
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/storage_engine.cpp
  be/test/storage/lake/replication_txn_manager_test.cpp
  be/test/storage/replication_txn_manager_test.cpp
Due: be-total

trigger ci
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
Due: fe-total

docs: add odps catalog docs
  docs/en/data_source/catalog/maxcompute_catalog.md
  docs/zh/data_source/catalog/maxcompute_catalog.md
Due: none

doc: add odps-catalog doc
  docs/en/data_source/catalog/maxcompute_catalog.md
  docs/zh/data_source/catalog/maxcompute_catalog.md
Due: none

[Feature] compile the third-party packages using pic mode (#38169)
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/bzip2-1.0.8.patch
Due: none

[Bugfix]: fix short circuit read not work for compute node (#37896)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ShortCircuitTest.java
Due: fe-total

get basic info for external catalog tables without network interaction
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalCatalogTableBasicInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
Due: fe-total

[BugFix] Update non-partition table version map in the last refresh task run (#38070)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

[BugFix] fix potential TableName.catalog = null (#38141)
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Due: fe-total

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshAndRewriteIcebergTest.java
Due: fe-total

[Tool] Ignore backport result in COMMENT PIPELINE (#11456)
  .github/workflows/ci-comment-tools.yml
Due: none

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
Due: fe-total

support ngram_search's ascii version
  be/src/exprs/CMakeLists.txt
  be/src/exprs/ngram.cpp
  be/src/exprs/string_functions.h
  docs/en/sql-reference/sql-functions/string-functions/ngram_search.md
  gensrc/script/functions.py
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Due: be-total

[BugFix] fix compatibility between 2.5 FE and 3.0 BE (#38054)
  be/src/exec/pipeline/scan/chunk_source.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.h
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner.h
  be/src/exec/schema_scanner/schema_materialized_views_scanner.cpp
  be/src/exec/schema_scanner/schema_materialized_views_scanner.h
  be/src/util/thrift_rpc_helper.cpp
  be/src/util/thrift_rpc_helper.h
  gensrc/thrift/FrontendService.thrift
Due: be-total

trigger ci
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsTableTest.java
Due: fe-total

feature: optimize get partition
  fe/fe-core/src/main/java/com/starrocks/connector/odps/EntityConvertUtils.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsPartitionName.java
Due: fe-total

feature: optimize get partition
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/EntityConvertUtilsTests.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
Due: fe-total

[BugFix] fix view with window function ignore null (backport #37925) (#37966)
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateViewTest.java
Due: fe-total

[BugFix] correct the behavior of base table dropped for MV (#38008)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/BaseTableInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  test/sql/test_materialized_view/R/test_mv_iceberg_rewrite
  test/sql/test_materialized_view/T/test_mv_iceberg_rewrite
Due: fe-total

[UT] Fix unstable fe unit tests(sync #37916) (#11446)
  fe/fe-core/src/test/java/com/starrocks/backup/BackupJobMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/system/sys/SysObjectDependenciesTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/MVRefreshTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshAndRewriteIcebergTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshAndRewriteJDBCTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteJDBCTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteNestedMVTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteSingleTableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SkewJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

[Enhancement] Support bitmap_hash for count(distinct x) rewrite (backport #33538) (#38219)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregateFunctionRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/PredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/BitmapRewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/CountRewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/DateTruncEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/EquivalentShuttleContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/IAggregateRewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/IPredicateRewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/IRewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/RewriteEquivalent.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/TimeSliceRewriteEquivalent.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshAndRewriteIcebergTest.java
Due: fe-total

add test case for issue 38020
  test/sql/test_sink/R/test_issue_38020
  test/sql/test_sink/T/test_issue_38020
Due: none

[Doc] Add doc for enable_materialized_view_rewrite_for_insert (#38254)
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Due: none

[Doc] update grant/revoke in Branch 2.5 (#38092)
  docs/en/administration/User_privilege.md
  docs/en/sql-reference/sql-statements/account-management/GRANT.md
  docs/en/sql-reference/sql-statements/account-management/REVOKE.md
  docs/en/using_starrocks/Cost_based_optimizer.md
  docs/zh/administration/User_privilege.md
  docs/zh/sql-reference/sql-statements/account-management/GRANT.md
  docs/zh/sql-reference/sql-statements/account-management/REVOKE.md
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
