Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] Fix the issue where FE restart fails when creating a table containing too many tablets (#53062)
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/journal/SerializeException.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
  fe/fe-core/src/test/java/com/starrocks/server/SerializeFailedTable.java
Due: fe-total

fix test bugs
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
Due: fe-total

[Refactor] Remove AuthorizationInfo in LoadJob (#53261)
  fe/fe-core/src/main/java/com/starrocks/catalog/AuthorizationInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/InsertLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadMgrTest.java
Due: fe-total

[Feature] table sample (#52600)
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_common.h
  be/src/storage/range.h
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/data_sample.cpp
  be/src/storage/rowset/data_sample.h
  be/src/storage/rowset/ordinal_page_index.cpp
  be/src/storage/rowset/ordinal_page_index.h
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset_options.h
  be/src/storage/rowset/scalar_column_iterator.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/tablet_reader.cpp
  be/src/storage/tablet_reader_params.h
  be/src/storage/zone_map_detail.h
  be/test/CMakeLists.txt
  be/test/storage/rowset/data_sample_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/ParseUtil.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableRelation.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableSampleClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/TableSampleClauseTest.java
  gensrc/thrift/PlanNodes.thrift
  test/sql/test_scan/R/test_table_sample
  test/sql/test_scan/T/test_table_sample
  tools/benchmark/table_sample.sh
Due: fe-total, be-total

[BugFix] With a high streamload frequency and too many tablets involved, TabletCommitInfos will take up too much memory.
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
Due: fe-total

Optimization Logic
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Due: fe-total

fix bug
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Due: fe-total

[BugFix] Fix get compaction status crash
  be/src/storage/tablet.cpp
Due: be-total

[BugFix] Fix ConcurrentModificationException when query during drop partition
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
Due: fe-total

[feature] add feature to send session variables to jdbc external table
  be/src/connector/jdbc_connector.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCResource.java
  fe/fe-core/src/main/java/com/starrocks/catalog/JDBCTable.java
  fe/fe-core/src/main/java/com/starrocks/planner/JDBCScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/planner/JDBCScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorJdbcTest.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

Add ut
  be/test/storage/compaction_manager_test.cpp
Due: be-total

[BugFix] Fix asan build error
  be/src/util/system_metrics.cpp
Due: be-total

Update environment_configurations.md
  docs/zh/deployment/environment_configurations.md
Due: none

change the list to mutable
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

Update environment_configurations.md
  docs/en/deployment/environment_configurations.md
Due: none

[Enhancement] improve sql digest for massive compound predicates (#53207)
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/planner/LoadScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SqlDigestBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SqlDigestBuilderTest.java
Due: fe-total

interrupt sleep if necenssary
  be/src/exprs/utility_functions.cpp
Due: be-total

[BugFix] change partition list to mutable to allow for modification (#53361)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[BugFix] Fix asan build error (#53359)
  be/src/util/system_metrics.cpp
Due: be-total

[Refactor] (Part 2) Refactor DynamicPartitionScheduler to support list partition ttl scheduler later (#53139)
  fe/fe-core/src/main/java/com/starrocks/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/clone/PartitionTTLScheduler.java
  fe/fe-core/src/main/java/com/starrocks/clone/SchedulerRuntimeInfoCollector.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DynamicPartitionUtil.java
Due: fe-total

[Enhancement] Add pendingTime/netTime/netComputeTime to queryDetail
  fe/fe-core/src/main/java/com/starrocks/common/profile/TimeWatcher.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/Tracer.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/TracerImpl.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/Tracers.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Due: fe-total

[BugFix] Fix get compaction status crash (#53355)
  be/src/storage/tablet.cpp
  be/test/storage/compaction_manager_test.cpp
Due: be-total

[BugFix] With a high streamload frequency and too many tablets involved, TabletCommitInfos will take up too much memory. (#53329)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
