Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

fix
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
Due: fe-total

[Doc] fix links in flink-connector-starrocks (#43226)
  docs/en/loading/Flink-connector-starrocks.md
  docs/zh/loading/Flink-connector-starrocks.md
Due: none

[Enhancement] Add force rule based mv rewrite (#40664)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/pattern/Pattern.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSetType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/BestMvSelector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/AggregateScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/OnlyScanRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite.json
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite_month.json
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite_year.json
Due: fe-total

Fix clang-tidy
  be/src/storage/column_expr_predicate.cpp
Due: be-total

Update Flink-connector-starrocks.md
  docs/zh/loading/Flink-connector-starrocks.md
Due: none

Update Flink-connector-starrocks.md
  docs/en/loading/Flink-connector-starrocks.md
Due: none

fix comments
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Due: fe-total

[UT] Fix UT
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableCleaner.java
Due: fe-total

[BugFix] Fix parquet writer being closed when there is still unfinished task (#43121)
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.h
  be/test/formats/parquet/parquet_file_writer_test.cpp
Due: be-total

[BugFix][Cherry-Pick][Branch-3.2] Fixed external catalog's PartitionKey being deduplicated(backport #42893)
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/HivePartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

[Feature] impl left join on true for multi-unnest
  be/src/exprs/table_function/multi_unnest.h
  be/src/exprs/table_function/unnest.h
  test/sql/test_unnest/R/test_unnest_left_join
  test/sql/test_unnest/T/test_unnest_left_join
Due: be-total

add sql-test cases
  test/sql/test_temporary_table/R/temporary_table
  test/sql/test_temporary_table/T/temporary_table
Due: none

add log for audit log
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Due: fe-total, be-total

[Feature] left join on true for multi_unnest
  be/src/exprs/table_function/multi_unnest.h
  be/src/exprs/table_function/unnest.h
  test/sql/test_unnest/R/test_unnest_left_join
  test/sql/test_unnest/T/test_unnest_left_join
Due: be-total

[Doc] Update loading intro link in Flink-connector-starrocks.md
  docs/zh/loading/Flink-connector-starrocks.md
Due: none

[Doc] Update loading intro link in Flink-connector-starrocks.md (#43238)
  docs/zh/loading/Flink-connector-starrocks.md
Due: none

old version use flag
  be/src/exprs/table_function/multi_unnest.h
Due: be-total

[BugFix] Revert "[Enhancement] Remove partition directory with retry in shared data clusters (backport #41675) (#42482)" (#43224)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecycleListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecyclePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecyclePartitionInfoV1.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecyclePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecycleRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/RecycleLakeListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/lake/RecycleLakeRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/persist/DisablePartitionRecoveryInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinLakeTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/DropPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TabletStatMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TempPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/clone/TabletSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/DropPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeTableCleanerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/RecyclePartitionInfoTest.java
  fe/fe-core/src/test/java/com/starrocks/transaction/LakePublishBatchTest.java
  test/sql/test_drop_partition/R/test_drop_partition
  test/sql/test_drop_partition/T/test_drop_partition
Due: fe-total

[BugFix] Revert "[Enhancement] Remove partition directory with retry in shared data clusters (backport #41675) (#42483)" (#43221)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecycleListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecyclePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecyclePartitionInfoV1.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecyclePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/RecycleRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableCleaner.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/RecycleLakeListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/lake/RecycleLakeRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/persist/DisablePartitionRecoveryInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinLakeTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/DropPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TabletStatMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TempPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/clone/TabletSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/LakeTableCleanerTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/UtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/RecyclePartitionInfoTest.java
  test/sql/test_drop_partition/R/test_drop_partition
  test/sql/test_drop_partition/T/test_drop_partition
Due: fe-total

format
  be/src/exprs/table_function/multi_unnest.h
Due: be-total

[UT] Remove BeRestartNewPublishTest
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/BeRestartNewPublishTest.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
Due: fe-total

[Feature] left join on true for multi_unnest (#43241)
  be/src/exprs/table_function/multi_unnest.h
  be/src/exprs/table_function/unnest.h
  test/sql/test_unnest/R/test_unnest_left_join
  test/sql/test_unnest/T/test_unnest_left_join
Due: be-total

[BugFix] Fix forgot to unlock database lock in LakeTableAlterMetaJobBase (#43155)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableAlterMetaJobTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
