Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Enhancement] Optimize routine load task schedule strategy, the distribution of nodes is as even as possible in scenarios with large differences in task scale.
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadTaskScheduler.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadManagerTest.java
Due: fe-total

[Enhancement] add maxStringLength for JsonTemplateLayout (#49609)
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

[Doc] update datacache populate doc (#49510)
  docs/en/data_source/data_cache.md
  docs/en/data_source/data_cache_observe.md
  docs/en/reference/System_variable.md
  docs/zh/data_source/data_cache.md
  docs/zh/data_source/data_cache_observe.md
  docs/zh/reference/System_variable.md
Due: none

[Refactor] refactor getRemoteFiles into a async way (#49352)
  fe/fe-core/src/main/java/com/starrocks/connector/AsyncTaskQueue.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/GetRemoteFilesParams.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileInfoDefaultSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileInfoSource.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileOperations.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileScanContext.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveCacheUpdateProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveStatisticsProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiRemoteFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/AsyncTaskQueueTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
Due: fe-total

[Enhancement] Use the new interface of glog to reduce core file size (#49129)
  be/src/common/config.h
  be/src/common/logconfig.cpp
  be/src/gutil/sysinfo.cc
  be/src/gutil/sysinfo.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
Due: be-total

fix
  be/src/common/config.h
Due: be-total

[Feature] support query iceberg partitions table
  be/src/runtime/descriptors.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataTableType.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergMetadataTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergPartitionsTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalIcebergMetadataScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/IcebergPartitionsTableRewriteRule.java
  gensrc/thrift/Types.thrift
  java-extensions/hadoop-ext/src/main/java/com/starrocks/connector/share/iceberg/IcebergPartitionUtils.java
  java-extensions/iceberg-metadata-reader/pom.xml
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergFilesTableScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergManifestsTableScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataColumnValue.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataScannerFactory.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergPartitionsTableScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergRefsTableScanner.java
  java-extensions/pom.xml
  test/sql/test_iceberg/R/test_metadata_table
  test/sql/test_iceberg/T/test_metadata_table
Due: fe-total, be-total

[BugFix] Fix http server direct buffer leak for request body (#49395)
  fe/fe-core/src/main/java/com/starrocks/http/HttpServerHandler.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ExecuteSqlAction.java
Due: fe-total

resolve conflict
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

adjust
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/DefaultWorkerProvider.java
Due: fe-total

[BugFix]collect chunk io when pageindex didn't filter any page (backport #49348) (#49372)
  be/src/formats/parquet/column_reader.cpp
  be/test/formats/parquet/page_index_test.cpp
Due: be-total

resolve
  fe/fe-core/src/main/java/com/starrocks/http/rest/ExecuteSqlAction.java
Due: fe-total

[UT] Add csv split scan ut
  be/test/exec/csv_scanner_test.cpp
Due: be-total

[Refactor] Add auto_partition_max_creation_number_per_load/max_partition_number_per_table limitation (#48865)
  docs/en/administration/management/FE_configuration.md
  docs/en/table_design/expression_partitioning.md
  docs/zh/administration/management/FE_configuration.md
  docs/zh/table_design/expression_partitioning.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_fail
Due: fe-total

[Feature] Support setting session vars in user property (#48477)
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/UserProperty.java
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterUserInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SetExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowUserPropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/BaseCreateAlterUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowUserPropertyStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/authentication/AuthenticationManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/authentication/UserPropertyTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Due: fe-total

add test
  test/sql/test_resource_group/R/test_resource_group_big_query
  test/sql/test_resource_group/T/test_resource_group_big_query
Due: none

add log
  be/src/exec/pipeline/pipeline_driver.cpp
Due: be-total

[Doc] Add new FE BE param for 3.3.2 (#49338)
  docs/en/administration/management/BE_configuration.md
  docs/en/administration/management/FE_configuration.md
  docs/zh/administration/management/BE_configuration.md
  docs/zh/administration/management/FE_configuration.md
Due: none

[BugFix] fix iceberg resource table empty snapshot
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
Due: fe-total

[Enhancement] Enable dynamic partition pruning for non-slot-ref probe expr (#49430)
  be/src/exprs/runtime_filter_bank.cpp
  be/src/exprs/subfield_expr.cpp
  test/sql/test_dpp/R/test_dpp
  test/sql/test_dpp/T/test_dpp
Due: be-total

[Refactor] refactor delta lake metastore interface (#49324)
  fe/fe-core/src/main/java/com/starrocks/connector/delta/CachingDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/IDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/IHiveMetastore.java
Due: fe-total

[BugFix][FlatJson] Fix json write error when schema change (#49610)
  be/src/column/json_column.cpp
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_compactor.h
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/json_column_writer.h
  be/src/util/json_flattener.cpp
Due: be-total

add log
  be/src/exec/pipeline/operator.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/query_context.h
Due: be-total

fix
  be/src/storage/tablet_updates.cpp
  be/test/storage/tablet_updates_test.cpp
Due: be-total

fix common expression reuse issue in MapOperator
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/ScalarOperatorsReuse.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Due: fe-total
