Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

refactor
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total

Update Bitmap_index.md
  docs/zh/using_starrocks/Bitmap_index.md
Due: none

[Tool] Update requirements.txt (#46537)
  test/requirements.txt
Due: none

fixup
  be/src/udf/python/env.cpp
  be/src/udf/python/env.h
Due: be-total

docs(位图索引): 创建索引示例中添加表名
  docs/zh/table_design/indexes/Bitmap_index.md
Due: none

fix broken links
  docs/zh/using_starrocks/Bitmap_index.md
Due: none

[BugFix] Revert "[Feature] Broker support COS posix bucket (backport #42638) (#46089)" (#46536)
  fs_brokers/apache_hdfs_broker/pom.xml
  fs_brokers/apache_hdfs_broker/src/main/java/com/starrocks/broker/hdfs/FileSystemManager.java
Due: none

[Feature] Support replacing UDF in-place with `CREATE OR REPLACE FUNCTION` (#46122)
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/catalog/GlobalFunctionMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateFunctionStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/DatabaseTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalFunctionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/CreateFunctionStmtTest.java
Due: fe-total

set execute permission
  build.sh
Due: none

[Enhancement] Upgrade gin for speeding up index write
  thirdparty/vars.sh
Due: none

change error code and add UT
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CatalogStmtTest.java
Due: fe-total

[BugFix] Use correct warehouse in information_schema.task when mv is created
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskBuilderTest.java
Due: fe-total

Fix CI
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskBuilderTest.java
Due: fe-total

add ols
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_resolver.hpp
  be/src/exprs/agg/factory/aggregate_resolver_regression.cpp
  be/src/exprs/agg/helpers/serialize_helpers.hpp
  be/src/exprs/agg/ols.h
  docs/en/sql-reference/sql-functions/aggregate-functions/ols.md
  docs/zh/sql-reference/sql-functions/aggregate-functions/ols.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
Due: fe-total, be-total

add ttest
  be/src/exprs/CMakeLists.txt
  be/src/exprs/agg/delta_method.h
  be/src/exprs/agg/factory/aggregate_factory.cpp
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver.hpp
  be/src/exprs/agg/factory/aggregate_resolver_hypothesis_testing.cpp
  be/src/exprs/agg/hypothesis_testing_common.h
  be/src/exprs/agg/ttest_1samp.h
  be/src/exprs/agg/ttest_2samp.h
  be/src/exprs/function_helper.h
  be/src/exprs/helpers/expr_tree.hpp
  be/src/exprs/helpers/math_helpers.hpp
  be/src/exprs/helpers/serialize_helpers.hpp
  docs/en/sql-reference/sql-functions/aggregate-functions/ttest_1samp.md
  docs/zh/sql-reference/sql-functions/aggregate-functions/ttest_1samp.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
Due: fe-total, be-total

[Enhancement] refine profile for short-cricuit point query (#46382)
  be/src/exec/short_circuit.cpp
  be/src/exec/short_circuit_hybrid.cpp
  be/src/exec/short_circuit_hybrid.h
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitHybridExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/FeExecuteCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryRuntimeProfileTest.java
  test/sql/test_short_circuit/R/test_short_circuit
  test/sql/test_short_circuit/T/test_short_circuit
Due: fe-total, be-total

[Enhancement] Enable shared scan for cloud native data source (#45595)
  be/src/connector/connector.cpp
  be/src/connector/connector.h
  be/src/connector/lake_connector.cpp
  be/src/connector/lake_connector.h
  be/src/exec/pipeline/scan/morsel.h
  be/test/CMakeLists.txt
  be/test/exec/connector_scan_node_test.cpp
  be/test/storage/lake/lake_data_source_test.cpp
Due: be-total

[Enhancement] Remove CVE jars (#46327)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/lake/backup/LakeRestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/HDFSBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowUnionRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnEnforcer.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  fe/fe-core/src/test/java/com/starrocks/analysis/DataCacheStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/datacache/DataCacheMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/PaimonScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/hive-udf/pom.xml
  fe/pom.xml
  java-extensions/kudu-reader/pom.xml
  java-extensions/odps-reader/pom.xml
  java-extensions/paimon-reader/pom.xml
Due: fe-total

resolve conflict
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/rowset/segment_rewriter.cpp
  be/src/storage/rowset/segment_rewriter.h
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[BugFix] Use correct warehouse in information_schema.task when mv is created (#46377)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskBuilderTest.java
Due: fe-total

refactor catalog error message
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
Due: fe-total

[BugFix] Add cast type for mv union rewrite to avoid type not match (#46494)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/MaterializedViewTransparentRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteStrategy.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OptExpressionDuplicator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteStrategyTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentRewriteWithOlapTableTest.java
  test/sql/test_materialized_view/R/test_materialized_view_union_rewrite
  test/sql/test_materialized_view/R/test_mv_reasoning
  test/sql/test_materialized_view/T/test_materialized_view_union_rewrite
Due: fe-total

[BugFix] Added the partition type check for basetable when creating an MV.
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
Due: fe-total

[BugFix] Add UT for Added the partition type check for basetable when creating an MV.
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Due: fe-total

[Enhancement] support inline properties for CreateFunction
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/sql/ast/CreateFunctionStmtTest.java
Due: fe-total

resolve conflict
  be/src/storage/lake/update_manager.cpp
Due: be-total

translation
  docs/en/loading/Load_to_Primary_Key_tables.md
  docs/en/loading/Spark-connector-starrocks.md
  docs/en/sql-reference/sql-statements/data-manipulation/STREAM_LOAD.md
  docs/zh/loading/Flink-connector-starrocks.md
  docs/zh/loading/Kafka-connector-starrocks.md
  docs/zh/loading/Load_to_Primary_Key_tables.md
Due: none

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteStrategy.java
Due: fe-total

translation
  docs/en/loading/Flink-connector-starrocks.md
  docs/en/loading/Kafka-connector-starrocks.md
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Due: none
