Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Doc] add load tools (#38816)
  docs/docusaurus/sidebars.json
  docs/en/assets/load_tools.png
  docs/en/faq/loading/DataX_faq.md
  docs/en/integrations/loading_tools/CloudCanal.md
  docs/en/integrations/loading_tools/DataX-starrocks-writer.md
  docs/en/integrations/loading_tools/SMT.md
  docs/en/integrations/loading_tools/loading_tools_integration.mdx
  docs/en/loading/loading_tools.md
  docs/zh/assets/load_tools.png
  docs/zh/integrations/loading_tools/CloudCanal.md
  docs/zh/integrations/loading_tools/DataX-starrocks-writer.md
  docs/zh/integrations/loading_tools/SMT.md
  docs/zh/integrations/loading_tools/loading_tools_integration.mdx
  docs/zh/loading/Loading_intro.md
  docs/zh/loading/loading_tools.md
Due: none

[Enhancement] Memory pool for orc reader to detect bad alloc (#25396)
  be/src/exec/vectorized/hdfs_scanner_orc.cpp
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_memory_pool.cpp
  be/src/formats/orc/orc_memory_pool.h
Due: be-total

[Feature] Support pk table replication from another cluster for olap table and cloud-native table
  be/src/fs/fs_memory.cpp
  be/src/fs/fs_memory.h
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/del_vector.cpp
  be/src/storage/del_vector.h
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/rowset/rowset_meta.h
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  gensrc/proto/lake_types.proto
Due: fe-total, be-total

[Feature] Support rewriting footer of segment replicated from another cluster
  be/src/agent/publish_version.cpp
  be/src/http/http_client.cpp
  be/src/http/http_client.h
  be/src/storage/CMakeLists.txt
  be/src/storage/file_stream_converter.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/segment_stream_converter.cpp
  be/src/storage/segment_stream_converter.h
  be/src/storage/tablet_meta.cpp
  be/src/storage/tablet_meta.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/CMakeLists.txt
  be/test/http/http_client_test.cpp
  be/test/storage/segment_stream_converter_test.cpp
  gensrc/proto/lake_types.proto
  gensrc/proto/olap_file.proto
Due: be-total

[Refactor] Refactor some code of replication
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationMgr.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
Due: fe-total

[BugFix] Remove old delvecs in full replication
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
Due: be-total

[BugFix] Fix agent task no retry
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  be/src/fs/fs_memory.cpp
  be/src/http/action/update_config_action.cpp
  be/src/storage/replication_txn_manager.cpp
  be/test/agent/agent_task_test.cpp
  be/test/storage/lake/replication_txn_manager_test.cpp
  be/test/storage/replication_txn_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
Due: fe-total, be-total

[BugFix] Fix segment id for pk table replication
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/txn_log_applier.cpp
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
Due: fe-total, be-total

[Log] add log
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/task/RemoteSnapshotTask.java
  fe/fe-core/src/main/java/com/starrocks/task/ReplicateSnapshotTask.java
Due: fe-total

minor upadates
  docs/zh/table_design/hybrid_table.md
Due: none

update
  be/src/exec/vectorized/hdfs_scanner_orc.cpp
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_memory_pool.cpp
  be/src/formats/orc/orc_memory_pool.h
Due: be-total

[Enhancement] update staros to v3.2-rc6 (#38893)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Due: fe-total

minor upadates
  docs/en/table_design/hybrid_table.md
Due: none

[Doc] add enable_strict_order_by document
  docs/zh/reference/System_variable.md
Due: none

fix unstable BufferControlBlockTest.add_then_cancel
  be/test/runtime/buffer_control_block_test.cpp
Due: be-total

fix
  be/src/exec/aggregator.cpp
Due: be-total

[Doc] Update loading_tools.md
  docs/en/loading/loading_tools.md
Due: none

Support set order by for dbt
  contrib/dbt-connector/README.md
  contrib/dbt-connector/dbt/adapters/starrocks/__version__.py
  contrib/dbt-connector/dbt/include/starrocks/macros/adapters/relation_helpers.sql
  contrib/dbt-connector/setup.py
Due: none

Split transaction processing logic into two phases to reuse code
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/OlapTableTxnStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionStateListener.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TxnStateChangeCallback.java
Due: fe-total

[Enhancement][Cherry-Pick] Memory pool for orc reader to detect bad alloc (backport #25396) (#38933)
  be/src/exec/vectorized/hdfs_scanner_orc.cpp
  be/src/formats/CMakeLists.txt
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_memory_pool.cpp
  be/src/formats/orc/orc_memory_pool.h
Due: be-total

fix format
  be/src/exec/spill/spill_components.cpp
  be/src/exec/spill/spill_components.h
Due: be-total

add sidebar info
  docs/en/integrations/loading_tools/SMT.md
  docs/en/loading/loading_tools.md
  docs/zh/integrations/loading_tools/SMT.md
Due: none

update
  fe/fe-core/src/main/java/com/starrocks/analysis/OutFileClause.java
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergTableSink.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/test/java/com/starrocks/planner/HiveTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeInsertTest.java
Due: fe-total

[Doc] Update loading_tools.md (#38940)
  docs/en/integrations/loading_tools/SMT.md
  docs/en/loading/loading_tools.md
  docs/zh/integrations/loading_tools/SMT.md
Due: none

[Enhancement] Optimize the error message of delimiter error
  fe/fe-core/src/main/java/com/starrocks/analysis/Delimiter.java
Due: fe-total

update
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
Due: be-total

[Feature] Support pk table replication from another cluster for olap table and cloud-native table (#38330)
  be/src/agent/publish_version.cpp
  be/src/fs/fs_memory.cpp
  be/src/fs/fs_memory.h
  be/src/storage/del_vector.cpp
  be/src/storage/del_vector.h
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/replication_txn_manager.cpp
  be/src/storage/replication_txn_manager.h
  be/src/storage/replication_utils.cpp
  be/src/storage/replication_utils.h
  be/src/storage/rowset/rowset_meta.h
  be/test/agent/agent_task_test.cpp
  be/test/storage/lake/replication_txn_manager_test.cpp
  be/test/storage/replication_txn_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationJobTest.java
  fe/fe-core/src/test/java/com/starrocks/replication/ReplicationMgrTest.java
  gensrc/proto/lake_types.proto
Due: fe-total, be-total

Bugfix
  be/src/exprs/jit/jit_wrapper.cpp
Due: be-total

Empty-Commit
  be/src/exprs/jit/jit_wrapper.cpp
Due: be-total

[Feature] Implement simple arithmetic jit
  be/src/common/status.h
  be/src/exprs/jit/jit_wrapper.cpp
  be/src/exprs/jit/jit_wrapper.h
Due: be-total

[Bugfix] Fix cast error
  be/test/exprs/cast_expr_test.cpp
Due: be-total

Bugfix: fix pr comment
  be/src/exprs/expr.cpp
Due: be-total
