Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

add
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ColumnId.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/planner/DictionaryCacheSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

add ut
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ColumnIdTest.java
Due: fe-total

fix conflicts
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeMetadataTest.java
Due: fe-total

[BugFix] Fix cn crash when no disk
  be/src/storage/memtable_flush_executor.cpp
Due: be-total

[Enhancement] Improve routine load too many error rows message
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
Due: fe-total

[Enhancement] pass connect context to the prepareMetadata and distributed_plan interface (#45404)
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/DataFileWrapper.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/DeleteFileWrapper.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/StarRocksIcebergTableScanContext.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/PrepareCollectMetaTask.java
  fe/fe-core/src/main/java/org/apache/iceberg/ManifestReader.java
  fe/fe-core/src/main/java/org/apache/iceberg/StarRocksIcebergTableScan.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/unified/UnifiedMetadataTest.java
  test/sql/test_iceberg/R/test_iceberg_parallel_prepare_metadata
  test/sql/test_iceberg/T/test_iceberg_parallel_prepare_metadata
Due: fe-total

[UT] Fix ut for colocate balancer test (#45477)
  fe/fe-core/src/test/java/com/starrocks/clone/ColocateTableBalancerTest.java
Due: fe-total

[BugFix] Add TaskRunScheduler to support task runs' FIFO scheduler (backport #43843) (#45471)
  docs/en/administration/management/FE_configuration.md
  docs/en/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
  docs/zh/administration/management/FE_configuration.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunHistory.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskRunSchedulerTest.java
Due: fe-total

[Refactor] [BugFix] Refactor all pending/running scheduler operations into TaskRunScheduler class (#44515)
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/leader/TaskRunStateSynchronizer.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
  fe/fe-core/src/test/java/com/starrocks/benchmark/TaskSchedulerBench.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskRunSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
Due: fe-total

[Enhancement] Refine the error message when connection limit reached (#45405)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/action/SessionAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ExecuteSqlAction.java
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowProcesslistStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowDbStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowDeleteTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectionLimitTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

[Doc] update function/sql template and add config template
  docs/README.md
  docs/en/sql-reference/sql-functions/How_to_Write_Functions_Documentation.md
  docs/en/sql-reference/sql-statements/SQL_command_template.md
  docs/en/sql-reference/sql-statements/template_for_config.md
  docs/zh/feedback-and-contribute.md
  docs/zh/sql-reference/How_to_write_SQL_command_doc.md
  docs/zh/sql-reference/sql-functions/How_to_Write_Functions_Documentation.md
Due: none

[Enhancement] adapt iceberg cache memory usage to memery_tracker
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/Connector.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergConnector.java
  fe/fe-core/src/main/java/com/starrocks/memory/MemoryTrackable.java
  fe/fe-core/src/main/java/com/starrocks/memory/MemoryUsageTracker.java
Due: fe-total

Update template_for_config.md
  docs/en/sql-reference/sql-statements/template_for_config.md
Due: none

[Ehhancement] optimize column mode partial update when memory is limited
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
Due: be-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Due: fe-total

[BugFix] close the CloseableIterator for delta lake scan files (#45295)
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaMetastoreOperations.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
Due: fe-total

add zh doc
  docs/README.md
  docs/en/sql-reference/How_to_Write_Functions_Documentation.md
  docs/en/sql-reference/SQL_command_template.md
  docs/en/sql-reference/template_for_config.md
  docs/zh/feedback-and-contribute.md
  docs/zh/sql-reference/How_to_Write_Functions_Documentation.md
  docs/zh/sql-reference/template_for_config.md
Due: none

[BugFix] [UT] Distinguish TaskRun by using unique taskRunId (#44748)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskRunSchedulerTest.java
  test/lib/sr_sql_lib.py
Due: fe-total

fix compile
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[Enhancement] avoid load image failed when create connector with exception
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/test/java/com/starrocks/server/CatalogMgrTest.java
Due: fe-total

[Doc] update function/sql template and add config template (#45488)
  docs/README.md
  docs/en/sql-reference/How_to_Write_Functions_Documentation.md
  docs/en/sql-reference/SQL_command_template.md
  docs/en/sql-reference/template_for_config.md
  docs/zh/feedback-and-contribute.md
  docs/zh/sql-reference/How_to_Write_Functions_Documentation.md
  docs/zh/sql-reference/How_to_write_SQL_command_doc.md
  docs/zh/sql-reference/template_for_config.md
Due: none

Update README.md
  docs/README.md
Due: none

add mem tracker
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
Due: be-total

Update GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[BugFix] [UT] Distinguish TaskRun by using unique taskRunId (backport #44748) (#45492)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunScheduler.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskRunSchedulerTest.java
  test/lib/sr_sql_lib.py
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
