Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

test
  .github/workflows/ci-pipeline.yml
Due: none

[Enhancement]support array_sortby sort by multiple cols (#47070)
  be/src/exec/sorting/sort_column.cpp
  be/src/exec/sorting/sort_permute.h
  be/src/exec/sorting/sorting.h
  be/src/exprs/array_functions.cpp
  be/src/exprs/array_functions.h
  be/src/exprs/array_functions.tpp
  docs/en/sql-reference/sql-functions/array-functions/array_sortby.md
  docs/zh/sql-reference/sql-functions/array-functions/array_sortby.md
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PolymorphicFunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/ImplicitCastRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  gensrc/script/functions.py
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Due: fe-total, be-total

[Enhancement] Optimize the logic of adding partitions to List Partition (#47044)
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[Refactor] reduce some info logs in pk table (#45759)
  be/src/storage/tablet_updates.cpp
Due: be-total

[Doc] Add preview and experimental labels Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/administration/management/resource_management/spill_to_disk.md
  docs/en/data_source/catalog/kudu_catalog.md
  docs/en/data_source/catalog/maxcompute_catalog.md
  docs/en/sql-reference/sql-statements/Administration/CREATE_STORAGE_VOLUME.md
  docs/en/sql-reference/sql-statements/data-definition/CREATE_MATERIALIZED_VIEW.md
  docs/en/table_design/indexes/Ngram_Bloom_Filter_Index.md
  docs/en/table_design/indexes/inverted_index.md
  docs/en/using_starrocks/Flat_json.md
  docs/zh/administration/management/resource_management/spill_to_disk.md
  docs/zh/data_source/catalog/kudu_catalog.md
  docs/zh/data_source/catalog/maxcompute_catalog.md
  docs/zh/sql-reference/sql-statements/Administration/CREATE_STORAGE_VOLUME.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_MATERIALIZED_VIEW.md
  docs/zh/table_design/indexes/Ngram_Bloom_Filter_Index.md
  docs/zh/table_design/indexes/inverted_index.md
  docs/zh/using_starrocks/Flat_json.md
Due: none

revert test line
  fe/fe-core/src/main/java/com/starrocks/alter/AlterCancelException.java
Due: fe-total

[BugFix] Add missing logic for warehouse(sync #46738) (#22042)
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/test/java/com/starrocks/plugin/AuditEventTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
Due: fe-total

[Enhancement] Replace expr with operator for delta lake (#47128)
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/ExpressionConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/ExpressionConvertTest.java
  test/sql/test_deltalake/R/test_deltalake_catalog
  test/sql/test_deltalake/T/test_deltalake_catalog
Due: fe-total

revert test line
  .trivy.yaml
Due: none

[Feature] Cache select support ttl + priority (#47151) (#47149)
  be/src/block_cache/cache_options.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/io/cache_input_stream.cpp
  be/src/io/cache_input_stream.h
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheSelectExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DataCacheStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DataCacheSelectStatement.java
  fe/fe-core/src/test/java/com/starrocks/analysis/DataCacheStmtAnalyzerTest.java
  gensrc/thrift/InternalService.thrift
Due: fe-total, be-total

revert test line
  .github/workflows/ci-pipeline.yml
Due: none

modify condition
  .github/workflows/ci-pipeline.yml
Due: none

fix bugs
  fe/fe-core/src/test/java/com/starrocks/backup/BackupJobMaterializedViewTest.java
Due: fe-total

update version
  .github/workflows/ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
Due: none

update version
  .github/workflows/ci-pipeline.yml
Due: none

update
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/DefaultSlotSelectionStrategy.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/slot/DefaultSlotSelectionStrategyTest.java
Due: fe-total

print result
  .github/workflows/ci-pipeline.yml
Due: none

fix starcache wrapper compilation issue -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/json_scanner.cpp
  test/sql/test_broker_load/R/test_broker_load_4k
  test/sql/test_broker_load/T/test_broker_load_4k
  test/sql/test_broker_load/data/row-4k-id.json
Due: be-total

[Tool] CI Trivy Pipeline (#45976)
  .github/workflows/ci-merged-sonarcloud-fe.yml
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
Due: none

[Enhancement] lazy initialization external catalg
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorContext.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/LazyConnector.java
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/unified/UnifiedConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/server/CatalogMgrTest.java
Due: fe-total

[BugFix] fix query profile issue of SUBMIT TASK (#47159)
  fe/fe-core/src/main/java/com/starrocks/http/HttpConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectProcessorTest.java
Due: fe-total

[BugFix] Optimize mv refresh locks by intensive locks (#47381)
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockParams.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/MultiUserLock.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PlannerMetaLocker.java
  fe/fe-core/src/test/java/com/starrocks/benchmark/MvRefreshConcurrencyTest.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/TestLockInterface.java
  fe/fe-core/src/test/java/com/starrocks/schema/MTable.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
Due: fe-total

[BugFix] Fix testCreateTMasterOpRequest UT (#47373)
  fe/fe-core/src/test/java/com/starrocks/qe/LeaderOpExecutorTest.java
Due: fe-total

add mo test cases -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  test/sql/test_broker_load/R/test_broker_load_4k
  test/sql/test_broker_load/T/test_broker_load_4k
  test/sql/test_broker_load/data/row-4k-id.csv
  test/sql/test_broker_load/data/row-4k-id.orc
  test/sql/test_broker_load/data/row-4k-id.parquet
Due: none

[Enhancement] Refactor BackendCoreStat and persist BE.memLimitBytes by heartbeats
  be/src/agent/heartbeat_server.cpp
  fe/fe-core/src/main/java/com/starrocks/common/proc/BackendsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/ComputeNodeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/qe/GlobalVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/PipelineDriverAllocator.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
  fe/fe-core/src/main/java/com/starrocks/system/BackendCoreStat.java
  fe/fe-core/src/main/java/com/starrocks/system/BackendHbResponse.java
  fe/fe-core/src/main/java/com/starrocks/system/BackendResourceStat.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/HeartbeatMgr.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/catalog/BackendTest.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/QueryQueueManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/slot/PipelineDriverAllocatorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PipelineParallelismTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTestBase.java
  fe/fe-core/src/test/java/com/starrocks/system/BackendHbResponseTest.java
  fe/fe-core/src/test/java/com/starrocks/system/BackendResourceStatTest.java
  fe/fe-core/src/test/java/com/starrocks/system/BackendTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  gensrc/thrift/HeartbeatService.thrift
Due: fe-total, be-total

fix title
  be/test/exec/iceberg/iceberg_delete_builder_test.cpp
Due: be-total

[Enhancement] adjust max compaction segments configs to 500
  be/src/common/config.h
Due: be-total

[Enhancement] Add compaction score column to information_schema.be_tablets
  be/src/exec/schema_scanner/schema_be_tablets_scanner.cpp
  be/src/exec/schema_scanner/schema_be_tablets_scanner.h
  be/src/storage/tablet.cpp
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/BeTabletsSystemTable.java
  fe/fe-core/src/test/resources/sql/scheduler/schema_scan.sql
Due: fe-total, be-total

disable apply during apply scheduler time
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Due: be-total

[Refactor] Extract SlotTracker and SlotSelectionStrategy for query queue (#47444)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/AllocatedSlots.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/DefaultSlotSelectionStrategy.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotSelectionStrategy.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/slot/SlotTracker.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/slot/DefaultSlotSelectionStrategyTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/slot/SlotTrackerTest.java
Due: fe-total

[Doc] Doc for shared-data tablet parallel Scan
  docs/zh/reference/System_variable.md
Due: none

[BugFix] Fix BE graceful exit use-after-free (#47439)
  be/src/exec/pipeline/pipeline_driver.cpp
Due: be-total
