Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] Fix broker load sync statistic collect (#50058)
  fe/fe-core/src/main/java/com/starrocks/listener/LoadJobStatsListener.java
Due: fe-total

[Enhancement] test event poller
  be/src/common/config.h
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_source_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_blocking_source_operator.h
  be/src/exec/pipeline/aggregate/aggregate_streaming_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_streaming_source_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_streaming_source_operator.h
  be/src/exec/pipeline/context_with_dependency.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.h
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/exec/pipeline/exchange/sink_buffer.h
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/pipeline.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_poller.cpp
  be/src/exec/pipeline/pipeline_driver_poller.h
  be/src/exec/pipeline/scan/olap_scan_context.cpp
  be/src/exec/pipeline/scan/olap_scan_context.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_prepare_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/runtime/data_stream_recvr.cpp
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/sender_queue.h
  be/src/util/starrocks_metrics.h
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadsHistorySyncer.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total, be-total

[Refactor] Remove noisy logs in LoadJobMVListener class (#49714)
  fe/fe-core/src/main/java/com/starrocks/listener/LoadJobMVListener.java
Due: fe-total

fix crash in aggregate key table
  be/src/exprs/function_context.h
  be/src/storage/column_aggregate_func.cpp
Due: be-total

[Doc] Add 3.2.10 release notes
  docs/zh/release_notes/release-3.2.md
Due: none

Update release-3.2.md
  docs/en/release_notes/release-3.2.md
Due: none

[Enhancement] Implement trino function from_unixtime with time zone (#49908)
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/Trino2SRFunctionCallTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
Due: fe-total

[Enhancement] support strict segment count restriction in lake compaction (backport #48423) (#50067)
  be/src/common/config.h
  be/src/storage/lake/compaction_policy.cpp
  be/src/storage/lake/compaction_task.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/primary_key_compaction_policy.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/rowset.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/meta_file_test.cpp
  be/test/storage/lake/rowset_test.cpp
  be/test/storage/lake/tablet_manager_test.cpp
  be/test/storage/lake/tablet_reader_test.cpp
  gensrc/proto/lake_types.proto
Due: be-total

[Refactor] remove duplicate dependency
  fe/pom.xml
Due: fe-total

fix
  be/src/storage/segment_replicate_executor.cpp
  be/src/storage/segment_replicate_executor.h
Due: be-total

Fix mv sqltester bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
  test/lib/sr_sql_lib.py
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_event_trigger
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_event_trigger_and_nested_mvs
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_multi_union3
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_event_trigger
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_event_trigger_and_nested_mvs
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_multi_union3
  test/sql/test_random_distribution/R/test_random_distribution_tablet_prune
  test/sql/test_random_distribution/T/test_random_distribution_tablet_prune
  test/sql/test_transparent_mv/R/test_transparent_mv_olap_part3
  test/sql/test_transparent_mv/T/test_transparent_mv_olap_part2
  test/sql/test_transparent_mv/T/test_transparent_mv_olap_part3
  test/test_sql_cases.py
Due: fe-total

[Enhancement] support strict segment count restriction in lake compaction (backport #48423)
  be/src/common/config.h
  be/src/storage/lake/compaction_policy.cpp
  be/src/storage/lake/compaction_task.cpp
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/primary_key_compaction_policy.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/rowset.h
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/meta_file_test.cpp
  be/test/storage/lake/rowset_test.cpp
  gensrc/proto/lake_types.proto
Due: be-total

[Refactor] refactor hash join builder/prober (#49929)
  be/src/exec/hash_join_components.cpp
  be/src/exec/hash_join_components.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
  be/src/exec/mor_processor.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_joiner_fwd.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.cpp
  be/src/exec/pipeline/runtime_filter_types.h
  be/src/exprs/runtime_filter_bank.cpp
  be/src/exprs/runtime_filter_bank.h
Due: be-total

[Enhancement] support invalidate lake compaction with in queue time considered
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task_context.h
  be/src/storage/lake/rowset.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
Due: be-total

hack the cast as str2datej
  fe/fe-core/src/main/java/com/starrocks/mv/analyzer/MVPartitionExpr.java
  fe/fe-core/src/main/java/com/starrocks/mv/analyzer/MVPartitionExprResolver.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionFunctionChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
Due: fe-total

[Enhancement] Move ReportHandler from Db Lock to Table Level Lock (#49838)
  fe/fe-core/src/main/java/com/starrocks/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/consistency/CheckConsistencyJob.java
  fe/fe-core/src/main/java/com/starrocks/consistency/ConsistencyChecker.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RowCountAction.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/ExportJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExportStmt.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateTableAutoTabletTest.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobTest.java
Due: fe-total

revert test code
  .github/workflows/ci-pipeline.yml
  be/src/agent/agent_common.h
  fe/fe-core/src/main/java/com/starrocks/alter/AlterCancelException.java
Due: fe-total, be-total

[BugFix] Fix StarMgrMetaSyncer sync (#49578)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[Enhancement] Support for setting transaction thread pool properties.
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/storage/update_manager.cpp
Due: be-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/credential/CloudConfigurationFactoryTest.java
Due: fe-total

[Doc] Update benchmark docs (#50068)
  docs/en/benchmarking/SSB_Benchmarking.md
  docs/en/benchmarking/TPC-H_Benchmarking.md
  docs/en/benchmarking/TPC_DS_Benchmark.md
  docs/zh/benchmarking/SSB_Benchmarking.md
  docs/zh/benchmarking/TPC-H_Benchmarking.md
  docs/zh/benchmarking/TPC_DS_Benchmark.md
Due: none

fix bugs
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePreprocessorTest.java
Due: fe-total

fix clang format
  be/src/storage/update_manager.cpp
Due: be-total

[BugFix] Fix the mem statistics bug of SegmentReplicateExecutor (#49761)
  be/src/storage/segment_replicate_executor.cpp
  be/src/storage/segment_replicate_executor.h
Due: be-total

fix conflict
  be/src/storage/segment_replicate_executor.h
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
