Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

tmp: loop support
  test/conf/sr.conf
  test/lib/__init__.py
  test/lib/choose_cases.py
  test/lib/mysql_lib.py
  test/lib/sr_sql_lib.py
  test/run.py
  test/sql/test_auto_increment/R/test_auto_increment
  test/sql/test_auto_increment/T/test_auto_increment
  test/sql/test_profile/R/test_load_channel_profile
  test/sql/test_profile/T/test_load_channel_profile
  test/test_sql_cases.py
Due: none

[Doc] Add notes to information schema views not applicable (#49339)
  docs/en/reference/information_schema/column_privileges.md
  docs/en/reference/information_schema/engines.md
  docs/en/reference/information_schema/events.md
  docs/en/reference/information_schema/key_column_usage.md
  docs/en/reference/information_schema/partitions.md
  docs/en/reference/information_schema/referential_constraints.md
  docs/en/reference/information_schema/routines.md
  docs/en/reference/information_schema/schema_privileges.md
  docs/en/reference/information_schema/statistics.md
  docs/en/reference/information_schema/table_constraints.md
  docs/en/reference/information_schema/table_privileges.md
  docs/en/reference/information_schema/triggers.md
  docs/en/reference/information_schema/user_privileges.md
  docs/zh/reference/information_schema/column_privileges.md
  docs/zh/reference/information_schema/engines.md
  docs/zh/reference/information_schema/events.md
  docs/zh/reference/information_schema/key_column_usage.md
  docs/zh/reference/information_schema/partitions.md
  docs/zh/reference/information_schema/referential_constraints.md
  docs/zh/reference/information_schema/routines.md
  docs/zh/reference/information_schema/schema_privileges.md
  docs/zh/reference/information_schema/statistics.md
  docs/zh/reference/information_schema/table_constraints.md
  docs/zh/reference/information_schema/table_privileges.md
  docs/zh/reference/information_schema/triggers.md
  docs/zh/reference/information_schema/user_privileges.md
Due: none

[BugFix] add thrift max_message_size configuration
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/TableQueryPlanAction.java
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitHybridExecutor.java
  fe/fe-core/src/main/java/com/starrocks/rpc/AttachmentRequest.java
  fe/fe-core/src/main/java/com/starrocks/rpc/ConfigurableSerDesFactory.java
  fe/fe-core/src/main/java/com/starrocks/rpc/ConfigurableTProtocolFactory.java
  fe/fe-core/src/main/java/org/apache/iceberg/MetadataParser.java
  fe/fe-core/src/test/java/com/starrocks/http/TableQueryPlanActionTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/GetNextTest.java
  fe/fe-core/src/test/java/com/starrocks/rpc/AttachmentRequestTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Due: fe-total

[BugFix] add thrift max_message_size configuration
  be/src/common/config.h
  be/src/util/thrift_util.cpp
  be/src/util/thrift_util.h
Due: be-total

add test
  test/sql/test_conf/R/test_configure
  test/sql/test_conf/T/test_configure
Due: none

fix style
  fe/fe-core/src/main/java/com/starrocks/rpc/ConfigurableTProtocolFactory.java
  fe/fe-core/src/main/java/org/apache/iceberg/MetadataParser.java
  fe/fe-core/src/test/java/com/starrocks/http/TableQueryPlanActionTest.java
  fe/fe-core/src/test/java/com/starrocks/rpc/AttachmentRequestTest.java
Due: fe-total

fix
  be/src/util/thrift_util.h
Due: be-total

[Enhancement]choose column order based on first column selectivity (#49387)
  be/src/formats/parquet/column_read_order_ctx.cpp
  be/src/formats/parquet/column_read_order_ctx.h
  be/src/formats/parquet/group_reader.cpp
Due: be-total

resolve
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

Update README.md (#25677)
  README.md
Due: none

[Enhancement] Do not swallow connector exception for hive acid table (#49126)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/server/MetadataMgrTest.java
Due: fe-total

[Enhancement] Support Iceberg rest catalog with vended credential disabled (#49141)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/pom.xml
Due: fe-total

≈[Feature] Unify load profile through analyze profile & support session/table profile collect granularity
  docs/en/administration/management/FE_configuration.md
  docs/zh/administration/management/FE_configuration.md
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfileParser.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadTaskTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/OperationTypeTest.java
  gensrc/thrift/AgentService.thrift
Due: fe-total

fix conflict
  fe/fe-core/src/main/java/com/starrocks/lake/Utils.java
  fe/fe-core/src/main/java/com/starrocks/load/OlapDeleteJob.java
  test/sql/test_automatic_bucket/R/test_automatic_partition
Due: fe-total

fix comment
  be/src/common/config.h
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/rpc/ConfigurableSerDesFactory.java
  fe/fe-core/src/main/java/com/starrocks/rpc/ConfigurableTProtocolFactory.java
Due: fe-total, be-total

fix
  be/src/common/config.h
Due: be-total

[Refactor] build with tenann by default and use --without-tenann to disable it
  build.sh
Due: none

Update README.md (#25684)
  README.md
Due: none

[BugFix] check submit finish publish task success or not (backport #31463) (#49530)
  be/src/storage/publish_version_manager.cpp
Due: be-total

fix be ut
  be/test/fs/fs_s3_test.cpp
Due: be-total

[Enhancement] Make `warehouse` variable session accessable only
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetStmtTest.java
Due: fe-total

fix comment
  test/sql/test_conf/R/test_configure
  test/sql/test_conf/T/test_configure
Due: none

Update README.md (#25687)
  README.md
Due: none

[Refactor] reduce interfaces to `getRemoteFiles`(sync #49230) (#25602)
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/GetRemoteFilesParams.java
  fe/fe-core/src/main/java/com/starrocks/connector/ObjectBasedUpdateArbitrator.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/kudu/KuduMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/KuduScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OdpsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/ObjectBasedUpdateArbitratorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/ReplayMetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/kudu/KuduMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/MockedBase.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/unified/UnifiedMetadataTest.java
Due: fe-total

[Refactor] refactor delta lake metastore interface(sync #49324) (#25516)
  fe/fe-core/src/main/java/com/starrocks/connector/delta/CachingDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/IDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/IHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/epack/connector/delta/DatabricksUnityMetastore.java
  fe/fe-core/src/main/java/com/starrocks/epack/connector/delta/DeltaLakeInternalMgrEpack.java
Due: fe-total

[Enhancement] Support show create view for connector view (#49393)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCreateTableStmt.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveViewTest.java
  test/sql/test_hive/R/test_hive_view
  test/sql/test_hive/T/test_hive_view
Due: fe-total

Fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
Due: fe-total

Fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

[BugFix] use real iceberg file content id
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataScanner.java
Due: none

[Enhancement] Physical partitions in the same logical partition use the same shard_group_id to make the shard distribution more even (#49195)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarMgrMetaSyncerTest.java
Due: fe-total

fix
  be/test/storage/tablet_updates_test.cpp
  be/test/storage/tablet_updates_test.h
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
