Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Update competence_boundary-shared-data.md
  docs/zh/deployment/shared_data/competence_boundary-shared-data.md
Due: none

update UT
  be/test/storage/utils_test.cpp
Due: be-total

[Doc] Update release notes 3.3.0
  docs/en/release_notes/release-3.3.md
Due: none

Update release-3.3.md
  docs/zh/release_notes/release-3.3.md
Due: none

[BugFix] fix bloom filter bug (#48632)
  be/src/storage/rowset/scalar_column_iterator.cpp
  test/sql/test_index/R/test_ngram_bloom_filter
  test/sql/test_index/T/test_ngram_bloom_filter
Due: be-total

Update competence_boundary-shared-data.md
  docs/en/deployment/shared_data/competence_boundary-shared-data.md
Due: none

[Enhancement] enable persistent index by default when create table
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

[Doc] Helm translate (#48588)
  docs/zh/quick_start/helm.md
Due: none

[BugFix] fix the race condition of addPartition operation (#48492)
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
Due: fe-total

update
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Due: fe-total

[Doc] Update release notes 3.3.0 (#48635)
  docs/en/release_notes/release-3.3.md
  docs/zh/release_notes/release-3.3.md
Due: none

[Refactor] remove unused `numInstances` field (#48608)
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/BinlogScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/EsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/JDBCScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/KuduScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/MysqlScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OdpsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RepeatNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SchemaScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SelectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SetOperationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/planner/StreamLoadScanNodeTest.java
Due: fe-total

[BugFix] Fix Java UDAF OOM when spill
  be/src/exec/aggregator.cpp
  be/src/exprs/agg/java_udaf_function.cpp
  be/src/exprs/agg/java_udaf_function.h
  be/src/exprs/agg/java_window_function.cpp
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/udf/java/java_udf.cpp
  be/src/udf/java/java_udf.h
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/FunctionStates.java
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFHelper.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/FunctionStatesTest.java
  test/sql/test_udf/R/test_jvm_udf
  test/sql/test_udf/T/test_jvm_udf
Due: be-total

fix include
  thirdparty/build-thirdparty.sh
Due: none

[Enhancement] enable persistent index by default when create table (backport #29850) (#48638)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/test/java/com/starrocks/common/PropertyAnalyzerTest.java
Due: fe-total

[Enhancement] avoid BE OOM when handle large number of tablet writes (#48495)
  be/src/common/config.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/utils.cpp
  be/src/storage/utils.h
  be/test/storage/lake/delta_writer_test.cpp
  be/test/storage/utils_test.cpp
Due: be-total

[UT] Fix lake compaction UT
  be/test/storage/lake/compaction_task_test.cpp
  be/test/storage/lake/compaction_test_utils.h
Due: be-total

fix ut
  be/test/storage/lake/delta_writer_test.cpp
Due: be-total

add UT
  fe/fe-core/src/main/java/com/starrocks/catalog/system/function/CboStatsShowExclusion.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/function/GenericFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/SystemOperatorEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FoldConstantsRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/SystemOperatorEvaluatorTest.java
Due: fe-total

add UT
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExpressionAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslatorTest.java
Due: fe-total

[BugFix] Fix 'PartitionKey' field of cloud native table if different with shared nothing table when run 'show partitions' command
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/PartitionsProcDirTest.java
Due: fe-total

add UT
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslatorTest.java
Due: fe-total

fix cast error
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/SkewShuffleJoinEliminationRule.java
Due: fe-total

add UT
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstTraverser.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExpressionAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/SystemOperatorEvaluatorTest.java
Due: fe-total

add test case
  fe/fe-core/src/main/java/com/starrocks/planner/HashJoinNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SkewJoinTest.java
  test/sql/test_join/R/test_skew_join
  test/sql/test_join/R/test_v2_skew_join
  test/sql/test_join/T/test_v2_skew_join
Due: fe-total

add test case
  test/sql/test_join/R/test_v2_skew_join
  test/sql/test_join/T/test_v2_skew_join
Due: none
