Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

update
  be/src/storage/lake/delta_writer.cpp
Due: be-total

[BugFix] Fix ExecuteOption may change task's taskRunProperties bug (#53660)
  fe/fe-core/src/main/java/com/starrocks/scheduler/ExecuteOption.java
Due: fe-total

[Enhancement] Change toolchains to main-20241206 (#53662)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
Due: none

[Feature] Support inet_aton function (#51883)
  be/src/common/format_ip.h
  be/src/exprs/CMakeLists.txt
  be/src/exprs/inet_aton.cpp
  be/src/exprs/string_functions.h
  be/test/exprs/string_fn_test.cpp
  docs/en/sql-reference/sql-functions/string-functions/inet_aton.md
  docs/zh/sql-reference/sql-functions/string-functions/inet_aton.md
  gensrc/script/functions.py
Due: be-total

[Enhancement] short circuit optimization on `select limit` case (on FE side) (#53661)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/FeExecuteCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/AllAtOnceExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/PhasedExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/StartSchedulingTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ShortCircuitTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

fix conflict
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/AllAtOnceExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/PhasedExecutionSchedule.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/StartSchedulingTest.java
Due: fe-total

[Enhancement]Lock account for timeout duration after failed login attempts
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCatalogRecycleBinStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
Due: fe-total

[Enhancement] support show catalog recycle bin
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner/schema_helper.cpp
  be/src/exec/schema_scanner/schema_helper.h
  be/src/exec/schema_scanner/schema_recyclebin_catalogs.cpp
  be/src/exec/schema_scanner/schema_recyclebin_catalogs.h
  fe/fe-core/src/main/java/com/starrocks/catalog/system/SystemId.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/InfoSchemaDb.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/RecycleBinCatalogsTable.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

[Enhancement] support show catalog recycle bin
  be/src/exec/CMakeLists.txt
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner/schema_recyclebin_catalogs.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/RecycleBinCatalogsTable.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

[Enhancement] support show catalog recycle bin
  be/src/exec/schema_scanner/schema_helper.h
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Due: fe-total, be-total

[Enhancement] support show catalog recycle bin
  be/src/exec/schema_scanner/schema_helper.cpp
  be/src/exec/schema_scanner/schema_helper.h
  be/src/exec/schema_scanner/schema_recyclebin_catalogs.cpp
Due: be-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CatalogRecycleBinTest.java
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowCatalogRecycleBinStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
Due: fe-total

[Enhancement] support https in BE
  be/src/common/config.h
  be/src/service/service_be/starrocks_be.cpp
Due: be-total

BE will cancel the create tablet task if it timeouts
  be/src/agent/agent_task.cpp
  fe/fe-core/src/main/java/com/starrocks/task/CreateReplicaTask.java
  fe/fe-core/src/main/java/com/starrocks/task/TabletTaskExecutor.java
  gensrc/thrift/AgentService.thrift
Due: fe-total, be-total

[BugFix] Incorrect isQuery field in auditlog
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

[Doc] update show dynamic partition tables startof filed
  docs/en/sql-reference/sql-statements/table_bucket_part_index/SHOW_DYNAMIC_PARTITION_TABLES.md
Due: none

Add test
  be/src/agent/agent_task.cpp
  be/src/agent/finish_task.cpp
  be/test/agent/agent_task_test.cpp
Due: be-total

Fix Clang format failling
  be/src/types/CMakeLists.txt
  be/test/exprs/agg/aggregate_test.cpp
Due: be-total

Fix Clang format failling
  be/test/exprs/agg/aggregate_test.cpp
Due: be-total

Fix Clang format failling
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SyntaxSugars.java
Due: fe-total

[Enhancement] support show catalog recycle bin
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

[Enhancement] add warehouse parameter to audit log table
  docs/en/administration/management/audit_loader.md
  docs/zh/administration/management/audit_loader.md
Due: none

fix conflicts
  fe/fe-core/src/main/java/com/starrocks/scheduler/ExecuteOption.java
Due: fe-total

[BugFix] fix partial update failure due to column name case (#53656)
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UpdateStmt.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/UpdatePlanTest.java
  test/sql/test_partial_update_column_mode/R/test_upper_case_partial_update
  test/sql/test_partial_update_column_mode/T/test_upper_case_partial_update
Due: fe-total

[Enhancement] add add_shard_listener in StarOSWorker
  be/src/service/staros_worker.cpp
  be/src/service/staros_worker.h
  be/test/CMakeLists.txt
  be/test/service/staros_worker_test.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
