Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] One-staged aggrregation's having predicates should not applied to pre-cache aggregate operator (#43803)
  be/src/exec/aggregator.h
  be/src/exec/pipeline/aggregate/aggregate_blocking_source_operator.cpp
  test/sql/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr/R/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr
  test/sql/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr/T/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr
Due: be-total

[BugFix] One-staged aggrregation's having predicates should not applied to pre-cache aggregate operator (#43803)
  be/src/exec/pipeline/aggregate/aggregate_blocking_source_operator.cpp
  be/src/exec/vectorized/aggregator.h
  test/sql/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr/R/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr
  test/sql/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr/T/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr
Due: be-total

[BugFix] add DefaultSharedDataWorkerProvider for shared-data mode (#43489)
  fe/fe-core/src/main/java/com/starrocks/lake/qe/scheduler/DefaultSharedDataWorkerProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/ColocatedBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/NormalBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/DefaultWorkerProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/WorkerProvider.java
  fe/fe-core/src/test/java/com/starrocks/lake/qe/scheduler/DefaultSharedDataWorkerProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/DefaultWorkerProviderTest.java
Due: fe-total

flush parquet file
  be/src/common/config.h
  be/src/formats/parquet/parquet_file_writer.cpp
Due: be-total

fix ut
  be/test/formats/parquet/parquet_file_writer_test.cpp
Due: be-total

refactor
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
Due: be-total

[Enhancement] derive child predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/Operator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAggregationOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAssertOneRowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEAnchorOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEConsumeOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEProduceOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalFilterOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalJoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalLimitOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalProjectOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalSetOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTableFunctionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/RangeExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ValueProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ValuePropertyDeriver.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarRangePredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/JoinOnPredicatePropagateRule.java
Due: fe-total

[Enhancement] derive predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAggregationOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
Due: fe-total

[Enhancement] Improve referenced column and column mapping expr invalid error message when getting load plan (#43650)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/test/java/com/starrocks/load/LoadTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

[Enhancement] derive predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
Due: fe-total

fix style
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ValueProperty.java
Due: fe-total

add test
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ReplaceShuttle.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ValueProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/OnPredicateMoveAroundRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/TablePruningTest.java
Due: fe-total

[Enhancement] derive predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ValueProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/RewriteDownTopTask.java
Due: fe-total

fix style
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/Operator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEConsumeOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEProduceOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalJoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalLimitOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalSetOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTableFunctionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
Due: fe-total

fix style
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/Operator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAggregationOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalAssertOneRowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEAnchorOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEConsumeOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalCTEProduceOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalJoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalLimitOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalProjectOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalScanOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalSetOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTableFunctionOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/RangeExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
Due: fe-total

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/property/ValueProperty.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/OnPredicateMoveAroundRuleTest.java
Due: fe-total

[Enhancement] derive predicate based on join on predicate
  test/conf/sr.conf
Due: none

[Enhancement] derive predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
Due: fe-total

add test
  fe/fe-core/src/test/java/com/starrocks/planner/OnPredicateMoveAroundRuleTest.java
  test/sql/test_join/R/test_predicate_move_around
  test/sql/test_join/T/test_predicate_move_around
Due: fe-total

fix ut
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/OnPredicateMoveAroundRuleTest.java
Due: fe-total

[Enhancement] derive predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RuntimeFilterTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/TablePruningCTETest.java
  fe/fe-core/src/test/java/com/starrocks/planner/TablePruningTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
Due: fe-total

[Enhancement] derive predicate based on join on predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalOlapScanOperator.java
  test/conf/sr.conf
Due: fe-total

[Enhancement] Improve no source file error message(sync #43594) (#17809)
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileScanNode.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/FileScanNodeTest.java
Due: fe-total

[BugFix] One-staged aggrregation's having predicates should not applied to pre-cache aggregate operator (backport #43803) (#43823)
  be/src/exec/pipeline/aggregate/aggregate_blocking_source_operator.cpp
  be/src/exec/vectorized/aggregator.h
  test/sql/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr/R/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr
  test/sql/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr/T/test_one_stage_aggr_having_preds_should_apply_to_pre_cache_aggr
Due: be-total

[Doc]clarify desc for loading overhead caused by generated cols (#43791)
  docs/en/sql-reference/sql-statements/generated_columns.md
  docs/zh/sql-reference/sql-statements/generated_columns.md
Due: none

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/OnPredicateMoveAroundRule.java
Due: fe-total
