Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Doc] Revert Batch Drop Partitions (backport #49056) (#53532)
  docs/en/sql-reference/sql-statements/table_bucket_part_index/ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/table_bucket_part_index/ALTER_TABLE.md
Due: none

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
Due: fe-total

[Doc] Add SQL Digest Doc (#53519)
  docs/en/administration/sql_digest.md
  docs/zh/administration/sql_digest.md
Due: none

[Enhancement] add `DeployRound` in FE profile
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/AllAtOnceExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/PhasedExecutionSchedule.java
Due: fe-total

[Refactor] Remove lock_manager_enable_using_fine_granularity_lock Config (#30529)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/common/lock/TestLockInterface.java
Due: fe-total

[Enhancement] Record builded tuning guide to query profile (#53537)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/OperatorTuningGuides.java
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/PlanTuningAdvisor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
Due: fe-total

resolve
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Due: fe-total

[Feature] Add session variable to toggle ANSI color in explain output
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ExplainAnalyzer.java
Due: fe-total

[Doc] Add Desc of max_automatic_partition_number Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/administration/management/FE_configuration.md
  docs/zh/administration/management/FE_configuration.md
Due: none

Update local_pk_index_manager_test.cpp
  be/test/storage/lake/local_pk_index_manager_test.cpp
Due: be-total

[Enhancement] external table adaptation feedback (#53555)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/skeleton/ScanNode.java
  test/sql/test_feedback/R/test_external_table_join_feedback
  test/sql/test_feedback/T/test_external_table_join_feedback
Due: fe-total

[BugFix] fix feedback when checking if a tuning guide needs to be generated (#53513)
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/analyzer/StreamingAggTuningAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/qe/feedback/analyzer/PlanTuningAnalyzerTest.java
  test/sql/test_feedback/R/test_agg_feedback
  test/sql/test_feedback/R/test_join_feedback
  test/sql/test_feedback/T/test_agg_feedback
  test/sql/test_feedback/T/test_join_feedback
Due: fe-total

[Enhancement] check tuple id is in Descriptor table (#53457)
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
Due: be-total

[BugFix] Revert [Enhancement] make connector scan operator profile less skew (#53465)
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/stream/scan/stream_scan_operator.cpp
  be/src/exec/tablet_scanner.cpp
Due: be-total

[Enhancement] Use dynamic batch size for simdjson to parse multiple json document (#53056)
  be/src/common/config.h
  be/src/exec/json_parser.cpp
  be/src/exec/json_parser.h
  be/test/exec/json_parser_test.cpp
Due: be-total

Fix comments
  be/src/http/action/transaction_stream_load.cpp
Due: be-total

[Doc] Add docker version description (#53546)
  docs/en/developers/build-starrocks/Build_in_docker.md
  docs/zh/developers/build-starrocks/Build_in_docker.md
Due: none

[Enhancement] Use dynamic batch size for simdjson to parse multiple json document (backport #53056) (#53056) (#53586)
  be/src/common/config.h
  be/src/exec/json_parser.cpp
  be/src/exec/json_parser.h
  be/test/exec/json_parser_test.cpp
Due: be-total

Revert "[Enhancement] make connector scan operator profile less "skewed" (backport #52676) (#52708)"
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/stream/scan/stream_scan_operator.cpp
  be/src/exec/tablet_scanner.cpp
Due: be-total
