Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Delete docs/zh/quick_start/shared-data.md
  docs/zh/quick_start/shared-data.md
Due: none

Update Data_distribution.md
  docs/zh/table_design/Data_distribution.md
Due: none

Delete docs/zh/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
Due: none

Delete docs/zh/administration/BE_configuration.md
  docs/zh/administration/BE_configuration.md
Due: none

fix
  be/src/storage/storage_engine.cpp
  be/src/storage/update_compaction_state.cpp
  be/src/storage/update_manager.cpp
Due: be-total

Update Configuration.md
  docs/zh/administration/Configuration.md
Due: none

[BugFix] Ignore data property in shared_data mode (#41365)
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
Due: fe-total

fix
  be/src/runtime/fragment_mgr.cpp
Due: be-total

update
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/exec/tablet_sink_index_channel.cpp
  be/src/exec/tablet_sink_index_channel.h
  be/src/exec/tablet_sink_sender.cpp
  be/src/runtime/tablets_channel.h
  test/sql/test_automatic_partition/R/test_automatic_partition
Due: be-total

[Enhancement] Make catalog a session variable (#41329)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetStmtTest.java
Due: fe-total

update
  be/src/exec/tablet_sink.cpp
Due: be-total

[Enhancement] Print pulsar log to a separated file (#34728)
  be/src/common/config.h
  be/src/runtime/routine_load/data_consumer.cpp
Due: be-total

[Tool] Reconstruct inspection policy
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/inspection-pipeline.yml
Due: none

[BugFix] Shutdown update manager & tracer during BE and UT exit (#30829)
  be/src/common/tracer.cpp
  be/src/common/tracer.h
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/update_manager.cpp
  be/src/storage/update_manager.h
  be/src/testutil/init_test_env.h
Due: be-total

fix convert left outer join to inner join bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/RewriteTreeTask.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
Due: fe-total

fix
  be/src/service/service_be/starrocks_be.cpp
Due: be-total

fix
  be/src/storage/update_manager.cpp
Due: be-total

fix
  be/src/testutil/init_test_env.h
Due: be-total

fix intentionality issues which reported by Sonar
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateRoutineLoadStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateRoutineLoadStmtTest.java
Due: fe-total

merge mem & table
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/history/MergedTaskRunHistory.java
Due: fe-total

[Tool] Reconstruct inspection policy
  .github/workflows/ci-pipeline.yml
Due: none

Fix comment
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  test/sql/test_dict_mapping_function/R/test_dict_mapping_function
Due: fe-total

Fix partition predicates compensate bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ScanOperatorPredicates.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

Fix
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
Due: fe-total

Fix
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
Due: fe-total
