Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] Provide clear error message if skip_headers is set in select from files option (#49503)
  be/src/exec/csv_scanner.cpp
  be/test/exec/csv_scanner_test.cpp
Due: be-total

[Enhancement] Add broker address in broker rpc error message (#46085)
  be/src/fs/fs_broker.cpp
  be/test/fs/fs_broker_test.cpp
Due: be-total

fix compile
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
Due: fe-total

[Enhancement] count roaring bitmap memory usage in aggregator (#49206)
  be/src/column/hash_set.h
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/aggregate_state_allocator.h
  be/src/exprs/agg/distinct.h
  be/src/runtime/memory/counting_allocator.h
  be/src/runtime/memory/roaring_hook.h
  be/src/service/mem_hook.cpp
  be/test/exprs/agg/aggregate_test.cpp
  be/test/runtime/memory/counting_allocator_test.cpp
Due: be-total

add maxStringLength for JsonTemplateLayout
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

[BugFix] Fix mv partition prune failed when partition column predicate with function (#46786)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptOlapPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
Due: fe-total

[BugFix] fix jni-reader for struct type when writing nulls to off heap (#42285)
  java-extensions/hive-reader/src/test/java/com/starrocks/hive/reader/TestHiveScanner.java
  java-extensions/hive-reader/src/test/resources/test_primitive_type/row_1.avro
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapColumnVector.java
Due: none

[Enhancement] Fix cve problems in java-extensions module (#49425)
  build.sh
  java-extensions/common-runtime/pom.xml
  java-extensions/hadoop-ext/pom.xml
  java-extensions/hive-reader/pom.xml
  java-extensions/hive-reader/src/test/java/com/starrocks/hive/reader/TestHiveScanner.java
  java-extensions/hudi-reader/pom.xml
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiColumnValue.java
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiScannerUtils.java
  java-extensions/hudi-reader/src/test/java/com/starrocks/hudi/reader/TestHudiSliceScanner.java
  java-extensions/iceberg-metadata-reader/pom.xml
  java-extensions/java-utils/pom.xml
  java-extensions/java-utils/src/main/java/com/starrocks/utils/Platform.java
  java-extensions/jdbc-bridge/pom.xml
  java-extensions/jni-connector/pom.xml
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapColumnVector.java
  java-extensions/jni-connector/src/test/java/TestColumnType.java
  java-extensions/jni-connector/src/test/java/TestScannerHelper.java
  java-extensions/jni-connector/src/test/java/TestSelectedFields.java
  java-extensions/kudu-reader/pom.xml
  java-extensions/kudu-reader/src/test/java/com/starrocks/kudu/reader/TestKuduSplitScanner.java
  java-extensions/odps-reader/pom.xml
  java-extensions/paimon-reader/pom.xml
  java-extensions/paimon-reader/src/test/java/com/starrocks/paimon/reader/TestPaimonSplitScanner.java
  java-extensions/pom.xml
  java-extensions/udf-examples/pom.xml
  java-extensions/udf-extensions/pom.xml
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFSecurityManager.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/CallStubGeneratorTest.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/FunctionStatesTest.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/SecurityTest.java
  run-java-exts-ut.sh
Due: none

[BugFix][FlatJson] Fix json write error when schema change
  be/src/column/json_column.cpp
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_compactor.h
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/json_column_writer.h
  be/src/util/json_flattener.cpp
Due: be-total

add
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/memory/ProcProfileCollector.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[Feature] Add compaction grafana metric (#30446)
  be/src/http/action/compaction_action.cpp
  be/src/storage/base_compaction.cpp
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_task.cpp
  be/src/storage/cumulative_compaction.cpp
  be/src/storage/rowset_merger.cpp
  be/src/storage/storage_engine.cpp
  be/src/util/starrocks_metrics.cpp
  be/src/util/starrocks_metrics.h
Due: be-total

[Enhancement] Improve cache select performance
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/kv_cache.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/CMakeLists.txt
  be/src/exec/cache_select_scanner.cpp
  be/src/exec/cache_select_scanner.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_orc.h
  be/src/formats/CMakeLists.txt
  be/src/formats/disk_range.hpp
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_input_stream.h
  be/src/formats/orc/utils.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/io/CMakeLists.txt
  be/src/io/cache_input_stream.h
  be/src/io/cache_select_input_stream.hpp
  be/test/CMakeLists.txt
  be/test/formats/disk_range_test.cpp
  be/test/formats/orc/utils_test.cpp
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheSelectExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Due: fe-total, be-total

s
  be/src/common/status.cpp
  be/src/common/status.h
  be/src/exec/workgroup/work_group.cpp
  fe/fe-core/src/main/java/com/starrocks/http/HttpConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectContextTest.java
  gensrc/thrift/StatusCode.thrift
Due: fe-total, be-total

[branch-3.2][Feature] Add compaction grafana metric (backport #30446) -e Signed-off-by: 周沛辰 <45144903+choubenson@users.noreply.github.com>
  be/src/http/action/compaction_action.cpp
  be/src/storage/base_compaction.cpp
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_task.cpp
  be/src/storage/cumulative_compaction.cpp
  be/src/storage/rowset_merger.cpp
  be/src/storage/storage_engine.cpp
  be/src/util/starrocks_metrics.cpp
  be/src/util/starrocks_metrics.h
Due: be-total

[Enhancement] Optimize performance of get physical partition from olap table (#47198)
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[Enhancement] Fix cve problems in java-extensions module(sync #49425) (#25762)
  build.sh
  java-extensions/common-runtime/pom.xml
  java-extensions/hadoop-ext/pom.xml
  java-extensions/hive-reader/pom.xml
  java-extensions/hive-reader/src/test/java/com/starrocks/hive/reader/TestHiveScanner.java
  java-extensions/hudi-reader/pom.xml
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiColumnValue.java
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiScannerUtils.java
  java-extensions/hudi-reader/src/test/java/com/starrocks/hudi/reader/TestHudiSliceScanner.java
  java-extensions/iceberg-metadata-reader/pom.xml
  java-extensions/java-utils/pom.xml
  java-extensions/java-utils/src/main/java/com/starrocks/utils/Platform.java
  java-extensions/jdbc-bridge/pom.xml
  java-extensions/jni-connector/pom.xml
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapColumnVector.java
  java-extensions/jni-connector/src/test/java/TestColumnType.java
  java-extensions/jni-connector/src/test/java/TestScannerHelper.java
  java-extensions/jni-connector/src/test/java/TestSelectedFields.java
  java-extensions/kudu-reader/pom.xml
  java-extensions/kudu-reader/src/test/java/com/starrocks/kudu/reader/TestKuduSplitScanner.java
  java-extensions/odps-reader/pom.xml
  java-extensions/paimon-reader/pom.xml
  java-extensions/paimon-reader/src/test/java/com/starrocks/paimon/reader/TestPaimonSplitScanner.java
  java-extensions/pom.xml
  java-extensions/udf-examples/pom.xml
  java-extensions/udf-extensions/pom.xml
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFSecurityManager.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/CallStubGeneratorTest.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/FunctionStatesTest.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/SecurityTest.java
  run-java-exts-ut.sh
Due: none

java-extension ut & cov
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-report.yml
  java-extensions/hadoop-ext/src/main/java/com/starrocks/connector/hadoop/GenericExceptionAction.java
Due: none

[Enhancement][Cherry-Pick][Branch-3.3] Fix cve problems in java-extensions module (backport #49425) (#49607)
  build.sh
  java-extensions/common-runtime/pom.xml
  java-extensions/hadoop-ext/pom.xml
  java-extensions/hive-reader/pom.xml
  java-extensions/hive-reader/src/test/java/com/starrocks/hive/reader/TestHiveScanner.java
  java-extensions/hive-reader/src/test/resources/test_primitive_type/row_1.avro
  java-extensions/hudi-reader/pom.xml
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiColumnValue.java
  java-extensions/hudi-reader/src/main/java/com/starrocks/hudi/reader/HudiScannerUtils.java
  java-extensions/hudi-reader/src/test/java/com/starrocks/hudi/reader/TestHudiSliceScanner.java
  java-extensions/iceberg-metadata-reader/pom.xml
  java-extensions/java-utils/pom.xml
  java-extensions/java-utils/src/main/java/com/starrocks/utils/Platform.java
  java-extensions/jdbc-bridge/pom.xml
  java-extensions/jni-connector/pom.xml
  java-extensions/jni-connector/src/main/java/com/starrocks/jni/connector/OffHeapColumnVector.java
  java-extensions/jni-connector/src/test/java/TestColumnType.java
  java-extensions/jni-connector/src/test/java/TestScannerHelper.java
  java-extensions/jni-connector/src/test/java/TestSelectedFields.java
  java-extensions/kudu-reader/pom.xml
  java-extensions/kudu-reader/src/test/java/com/starrocks/kudu/reader/TestKuduSplitScanner.java
  java-extensions/odps-reader/pom.xml
  java-extensions/paimon-reader/pom.xml
  java-extensions/paimon-reader/src/test/java/com/starrocks/paimon/reader/TestPaimonSplitScanner.java
  java-extensions/pom.xml
  java-extensions/udf-examples/pom.xml
  java-extensions/udf-extensions/pom.xml
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFSecurityManager.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/CallStubGeneratorTest.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/FunctionStatesTest.java
  java-extensions/udf-extensions/src/test/java/com/starrocks/udf/SecurityTest.java
  run-java-exts-ut.sh
Due: none

[Enhancement][FlatJson] flat json support share-data table
  be/src/connector/lake_connector.cpp
  be/src/connector/lake_connector.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/tablet_reader.cpp
Due: be-total

[BugFix] fix iceberg partition prune on v2 table (#49569)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  test/sql/test_iceberg/R/test_iceberg_transformed_partition
  test/sql/test_iceberg/T/test_iceberg_transformed_partition
Due: fe-total

fix
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/exec/pipeline/limit_operator.cpp
  be/src/exec/pipeline/nljoin/nljoin_probe_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
Due: be-total

add
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/memory/ProcProfileCollector.java
Due: fe-total

[Enhancement] Add compaction grafana metric (backport #30446) (#49612)
  be/src/http/action/compaction_action.cpp
  be/src/storage/base_compaction.cpp
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_task.cpp
  be/src/storage/cumulative_compaction.cpp
  be/src/storage/rowset_merger.cpp
  be/src/storage/storage_engine.cpp
  be/src/util/starrocks_metrics.cpp
  be/src/util/starrocks_metrics.h
Due: be-total

[Feature] support iceberg partition table
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergPartitionsTable.java
Due: fe-total

[Enhancement] Add tracer for delta log reader
  fe/fe-core/src/main/java/com/starrocks/common/profile/TimeWatcher.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeEngine.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeJsonHandler.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeParquetHandler.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/TraceDefaultJsonHandler.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/TraceDefaultParquetHandler.java
Due: fe-total

add ut
  test/sql/test_deltalake/R/test_deltalake_trace
  test/sql/test_deltalake/T/test_deltalake_trace
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
