Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Doc] Update CREATE DATABASE with new property (#46932)
  docs/en/sql-reference/sql-statements/data-definition/CREATE_DATABASE.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_DATABASE.md
Due: none

[Doc] Update information_schema.materialized_views (#46908)
  docs/en/reference/information_schema/materialized_views.md
  docs/zh/reference/information_schema/materialized_views.md
Due: none

add debug log
  be/src/storage/rowset/segment.cpp
Due: be-total

Update CREATE_DATABASE.md
  docs/en/sql-reference/sql-statements/data-definition/CREATE_DATABASE.md
Due: none

Update CREATE_DATABASE.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_DATABASE.md
Due: none

Update information_schema.md
  docs/en/sql-reference/information_schema.md
Due: none

Update information_schema.md
  docs/zh/sql-reference/information_schema.md
Due: none

Delete docs/en/reference/information_schema/materialized_views.md
  docs/en/reference/information_schema/materialized_views.md
Due: none

Delete docs/zh/reference/information_schema/materialized_views.md
  docs/zh/reference/information_schema/materialized_views.md
Due: none

[UT] remove hint in test sql
  test/sql/test_hint/T/test_hint
Due: none

[BugFix] fix list partition pruning for NE expression (#46922)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  test/lib/sr_sql_lib.py
  test/sql/test_list_partition/R/test_list_partition_prune
  test/sql/test_list_partition/T/test_list_partition_prune
Due: fe-total

updates
  docs/zh/using_starrocks/query_acceleration_with_auto_increment.md
Due: none

[UT] fix be crash when iceberg v2 read empty chuck after probe (#46833)
  be/src/connector/binlog_connector.cpp
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/connector/jdbc_connector.cpp
  be/src/connector/mysql_connector.cpp
  be/src/exec/mor_processor.cpp
  test/sql/test_iceberg/R/test_iceberg_v2_filter_all_rows
  test/sql/test_iceberg/T/test_iceberg_v2_filter_all_rows
Due: be-total

[UT] remove hint in test sql (#46942)
  test/sql/test_hint/T/test_hint
Due: none

[BugFix] fix ngram_search related issue (#46910)
  be/src/exprs/ngram.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  test/sql/test_string_functions/R/test_string_functions
  test/sql/test_string_functions/T/test_string_functions
Due: fe-total, be-total

[BugFix] Disable union rewrite for synchronized materialized view (#46875)
  fe/fe-core/src/main/java/com/starrocks/sql/common/DebugOperatorTracer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
Due: fe-total

[Doc] Routine load to shared-data quickstart (#46921)
  docs/docusaurus/sidebars.json
  docs/en/quick_start/routine-load.md
  docs/zh/quick_start/routine-load.md
Due: none

[UT] fix be crash when iceberg v2 read empty chuck after probe (backport #46833) (#46946)
  be/src/connector/binlog_connector.cpp
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/connector/jdbc_connector.cpp
  be/src/connector/mysql_connector.cpp
  be/src/exec/mor_processor.cpp
  test/sql/test_iceberg/R/test_iceberg_v2_filter_all_rows
  test/sql/test_iceberg/T/test_iceberg_v2_filter_all_rows
Due: be-total

update
  be/src/types/timestamp_value.h
Due: be-total

[BugFix] Update the starcache library to fix the incorrect cache usage after adjusting datacache quota online. (#46896)
  be/CMakeLists.txt
  be/src/service/service_be/starrocks_be.cpp
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-ubuntu22-x86_64.sh
  thirdparty/vars-x86_64.sh
Due: be-total

[Enhancement] support the CREATE EXTERNAL CATALOG xx（IF NOT EXISTS) syntax (#46508)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/CatalogStmtTest.java
Due: fe-total

[Enhancement] modify string with the IF NOT EXISTS clause moved to a better position (#46731)
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateCatalogStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/CatalogStmtTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
