Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

Refactor sparse range for later optimization for apply del vector
  be/src/storage/range.h
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

[BugFix] Should use AggRewriteInfo.NOT_REWRITE other than throw exception when mv rewrite (#49168)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewPushDownRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
Due: fe-total

[Enhancement] Failover group support replicating physical partition (#25069)
  fe/fe-core/src/main/java/com/starrocks/epack/failover/job/CheckReplicatedTableJob.java
  fe/fe-core/src/main/java/com/starrocks/epack/failover/job/CreateReplicatedPhysicalPartitionJob.java
Due: fe-total

fix
  be/test/storage/range_test.cpp
Due: be-total

[Enhancement] Add memory limit for ByteBuffer allocation in data ingestion
  be/src/exec/json_scanner.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/runtime/routine_load/kafka_consumer_pipe.h
  be/src/runtime/stream_load/stream_load_pipe.cpp
  be/src/util/byte_buffer.h
  be/test/runtime/stream_load_pipe_test.cpp
  be/test/util/byte_buffer_test2.cpp
Due: be-total

fix
  be/src/util/byte_buffer.h
Due: be-total

fix comments
  be/src/runtime/memory/allocator.h
  be/src/runtime/memory/roaring_allocator.h
  be/src/runtime/memory/roaring_hook.cpp
  be/src/runtime/memory/roaring_hook.h
Due: be-total

[Feature] adapt limit for sqlserver (#48214) (#48248)
  be/src/connector/jdbc_connector.cpp
Due: be-total

[BugFix]deal with pageindex before collect_io_range of data page (#49066)
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
  be/test/formats/parquet/page_index_test.cpp
Due: be-total

fix ut
  be/test/runtime/stream_load_pipe_test.cpp
  be/test/util/byte_buffer_test2.cpp
Due: be-total

[BugFix] Fix star count return null rather zero bug for mv rewrite (#49288)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/materialized-view/count_star_rewrite.json
  test/sql/test_materialized_view_rewrite/R/test_mv_rewrite_with_count_star
  test/sql/test_materialized_view_rewrite/T/test_mv_rewrite_with_count_star
Due: fe-total

[BugFix] Support column rename for row/column policy (#25298)
  fe/fe-core/src/main/java/com/starrocks/epack/authorization/MaskingPolicyContext.java
  fe/fe-core/src/main/java/com/starrocks/epack/authorization/NativeAccessControllerEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/authorization/PolicyAppliedContext.java
  fe/fe-core/src/main/java/com/starrocks/epack/authorization/RowAccessPolicyContext.java
  fe/fe-core/src/main/java/com/starrocks/epack/authorization/SecurityPolicyMgr.java
  fe/fe-core/src/main/java/com/starrocks/epack/catalog/system/starrocks/PolicyReferences.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/ApplyOrRevokeMaskingPolicyLog.java
  fe/fe-core/src/main/java/com/starrocks/epack/persist/CreateTableInfoEPack.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ViewAnalyzer.java
Due: fe-total

[BugFix] Fix View ColumnId bug when creating view with comments (#49293)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ViewAnalyzer.java
Due: fe-total

[Feature] Support setting session vars in user property (#48477)
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/UserProperty.java
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/AcceptListener.java
  fe/fe-core/src/main/java/com/starrocks/persist/AlterUserInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ExecuteAsExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SetExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/VariableMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ShowUserPropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/BaseCreateAlterUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateUserStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowUserPropertyStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/authentication/AuthenticationManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/authentication/UserPropertyTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/ExecuteAsStmtTest.java
Due: fe-total

[BugFix] Skip duplicated json keys in json scanner (#49307)
  be/src/exec/json_scanner.cpp
  be/test/exec/json_scanner_test.cpp
  be/test/exec/test_data/json_scanner/test_duplicate_key.json
Due: be-total

Fix conflict
  be/test/exec/json_scanner_test.cpp
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalOlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/LocalTablet.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/SchemaTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Due: fe-total

[Refactor] refactor delta lake metastore interface
  fe/fe-core/src/main/java/com/starrocks/connector/delta/CachingDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/IDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/IHiveMetastore.java
Due: fe-total

[BugFix] cherry-pick RleEncoderV2 related code from ORC's github (#47806)
  be/src/formats/orc/apache-orc/c++/src/RLE.cc
  be/src/formats/orc/apache-orc/c++/src/RLE.hh
  be/src/formats/orc/apache-orc/c++/src/RLEv2.hh
  be/src/formats/orc/apache-orc/c++/src/RleEncoderV2.cc
  be/src/formats/orc/apache-orc/c++/src/io/OutputStream.cc
  be/src/formats/orc/apache-orc/c++/src/io/OutputStream.hh
  be/test/formats/orc/orc_file_writer_test.cpp
Due: be-total

[Refactor] Refactor sparse range for later optimization of apply del vector (#49311)
  be/src/storage/range.h
  be/src/storage/rowset/segment_iterator.cpp
  be/test/storage/range_test.cpp
Due: be-total

[Doc] Add/Drop fields in STRUCT Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
Due: none

release the TaskRun.lock when archiving history
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/history/TaskRunHistory.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/scheduler/history/TaskRunHistory.java
Due: fe-total

disable the load_profile in RepoExecutor
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
Due: fe-total

fix compaction bugs
  be/src/common/config.h
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/lake/tablet_reader.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/tablet_reader.cpp
  be/src/storage/tablet_reader.h
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
Due: be-total

[BugFix] Fix optimize job fail when use multi warehouse (#25311)
  fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
Due: fe-total

[Enhancement] introduce allocator (#49131)
  be/src/runtime/memory/allocator.h
  be/src/runtime/memory/mem_hook_allocator.h
  be/src/runtime/memory/roaring_hook.cpp
  be/src/runtime/memory/roaring_hook.h
Due: be-total

[BugFix] Fix decimal type for pushing down aggregate on grouping-set
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownAggregateGroupingSetsRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupingSetsTest.java
Due: fe-total

fix checkstyle
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupingSetsTest.java
Due: fe-total

update test
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupingSetsTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
