Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] support meta statistics
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HyperStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnClassifier.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ComplexTypeColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/DistributionColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PrimitiveTypeColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/SubFieldColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/FullQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/HyperQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/MetaQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
  fe/fe-core/src/main/java/com/starrocks/statistic/sample/SampleInfo.java
Due: fe-total

--amend
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PrimitiveTypeColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PrimitiveTypeColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/MetaQueryJob.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/MetaQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/SampleQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
Due: fe-total

update name
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/FullQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/HyperStatisticSQLs.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/MetaQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/SampleQueryJob.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnClassifier.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/statistic/hyper/HyperJobTest.java
Due: fe-total

fixxxx
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PrimitiveTypeColumnStats.java
Due: fe-total

iiiii
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HyperStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/statistic/HyperStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
Due: fe-total

add comment
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnClassifier.java
Due: fe-total

udpate
  fe/fe-core/src/test/java/com/starrocks/statistic/hyper/HyperJobTest.java
Due: fe-total

fixxxx
  fe/fe-core/src/main/java/com/starrocks/statistic/base/SubFieldColumnStats.java
  fe/fe-core/src/test/java/com/starrocks/statistic/hyper/HyperJobTest.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/statistic/BasicStatsMetaTest.java
Due: fe-total

fixxxxx
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PartitionSampler.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/SubFieldColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/ConstQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/HyperQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/HyperStatisticSQLs.java
  fe/fe-core/src/main/java/com/starrocks/statistic/sample/SampleInfo.java
  fe/fe-core/src/test/java/com/starrocks/statistic/base/SampleInfoTest.java
Due: fe-total

fixcomment
  fe/fe-core/src/main/java/com/starrocks/statistic/base/SubFieldColumnStats.java
Due: fe-total

add ut
  fe/fe-core/src/test/java/com/starrocks/statistic/hyper/HyperJobTest.java
Due: fe-total

update sample statistic
  fe/fe-core/src/main/java/com/starrocks/statistic/HyperStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnClassifier.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ComplexTypeColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/DistributionColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PartitionSampler.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PrimitiveTypeColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/SubFieldColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/TabletSampler.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/HyperQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/MetaQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/SampleQueryJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
  fe/fe-core/src/main/java/com/starrocks/statistic/sample/SampleInfo.java
  fe/fe-core/src/main/java/com/starrocks/statistic/sample/TabletStats.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
Due: fe-total

fix ut
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HyperStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/StatisticSQLs.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

fix comment
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnClassifier.java
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnStats.java
Due: fe-total

uppp
  fe/fe-core/src/main/java/com/starrocks/statistic/base/PartitionSampler.java
Due: fe-total

updateddd
  fe/fe-core/src/main/java/com/starrocks/statistic/base/ColumnClassifier.java
  fe/fe-core/src/main/java/com/starrocks/statistic/hyper/HyperQueryJob.java
Due: fe-total

update
  be/src/util/compression/compression_context_pool.h
Due: be-total

Update audit_loader.md
  docs/zh/administration/management/audit_loader.md
Due: none

Update audit_loader.md
  docs/en/administration/management/audit_loader.md
Due: none

[Enhancement] add pipeline time guard (#53077)
  be/src/common/config.h
  be/src/exec/pipeline/pipeline_driver_poller.cpp
  be/src/util/time_guard.h
Due: be-total

[Enhancement] adjust drop_tablet_worker_count to half of the core number by default (#52246)
  be/src/agent/agent_server.cpp
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
Due: be-total

[BugFix] Fix compiler report warning in uninitialized (#53119)
  be/src/util/time_guard.h
Due: be-total

fix for comment
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
Due: fe-total

use background executor to refresh partitons
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
Due: fe-total

[Doc] Fix Back Slash in create storage volume Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/sql-reference/sql-statements/cluster-management/storage_volume/CREATE_STORAGE_VOLUME.md
  docs/zh/sql-reference/sql-statements/cluster-management/storage_volume/CREATE_STORAGE_VOLUME.md
Due: none

fix fucking format
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
Due: fe-total

support alter table add roll up in shard data
  fe/fe-core/src/main/java/com/starrocks/alter/MaterializedViewHandler.java
  test/sql/test_lake_rollup/R/test_lake_rollup
  test/sql/test_lake_rollup/T/test_lake_rollup
  test/sql/test_lake_sync_mv/R/test_lake_sync_mv
Due: fe-total

add query of rollup
  test/sql/test_lake_rollup/R/test_lake_rollup
  test/sql/test_lake_rollup/T/test_lake_rollup
Due: none

fix ut
  fe/fe-core/src/main/java/com/starrocks/common/proc/HMSTablePartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/ReplayMetadataMgr.java
Due: fe-total

Update Kafka-connector-starrocks.md
  docs/en/loading/Kafka-connector-starrocks.md
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
