Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

add ut
  test/sql/test_preparestatement/R/test_driver_prepare
  test/sql/test_preparestatement/T/test_driver_prepare
Due: none

fix
  be/src/runtime/mysql_result_writer.cpp
Due: be-total

[Enhancement] Faster PK table compaction transaction apply strategy (Part-2 local table) (#44622)
  be/src/storage/CMakeLists.txt
  be/src/storage/local_primary_key_compaction_conflict_resolver.cpp
  be/src/storage/local_primary_key_compaction_conflict_resolver.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/rows_mapper.cpp
  be/src/storage/rows_mapper.h
  be/src/storage/rowset/rowset_writer.cpp
  be/src/storage/rowset/rowset_writer.h
  be/src/storage/rowset/rowset_writer_context.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset_merger.cpp
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/primary_index_test.cpp
  be/test/storage/rowset/rowset_test.cpp
  be/test/storage/rowset_merger_test.cpp
  be/test/storage/tablet_updates_test.cpp
  be/test/storage/tablet_updates_test.h
Due: be-total

resolve conflict
  be/src/storage/rowset/rowset_writer_context.h
Due: be-total

move register metric to ExecEnv
  be/src/exec/pipeline/driver_limiter.cpp
  be/src/exec/pipeline/driver_limiter.h
  be/src/runtime/exec_env.cpp
Due: be-total

fix compile
  be/src/runtime/exec_env.cpp
Due: be-total

fix compile
  fe/fe-core/src/main/java/com/starrocks/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[BugFix] support har file by broker
  fs_brokers/apache_hdfs_broker/src/main/java/com/starrocks/broker/hdfs/FileSystemManager.java
  fs_brokers/apache_hdfs_broker/src/test/java/com/starrocks/broker/hdfs/TestFileSystemManager.java
Due: none

[BugFix] fix compiling error
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/rowset/cast_column_iterator.h
  be/src/storage/rowset/column_iterator_decorator.h
Due: be-total

[BugFix] Release driver token ASAP #45314
  be/src/exec/pipeline/driver_limiter.cpp
  be/src/exec/pipeline/fragment_context.cpp
  be/src/runtime/exec_env.cpp
  be/src/util/starrocks_metrics.h
  test/sql/test_pipeline/R/test_exceed_driver_limit
  test/sql/test_pipeline/T/test_exceed_driver_limit
Due: be-total

[Enhancement] Optimize automatic partition concurrent create partition
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_concurrent
  test/sql/test_automatic_partition/T/test_automatic_partition_concurrent
Due: fe-total

tmp for test
  be/src/common/config.h
  be/src/exec/pipeline/pipeline_driver_poller.cpp
  be/src/exec/pipeline/query_context.h
  be/src/util/bthreads/executor.cpp
  be/src/util/threadpool.cpp
Due: be-total

fix
  be/src/exec/pipeline/driver_limiter.h
Due: be-total

[Doc] some fixes in functions
  docs/en/release_notes/release-3.1.md
  docs/en/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/en/sql-reference/sql-functions/array-functions/element_at.md
  docs/en/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/en/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  docs/en/sql-reference/sql-functions/map-functions/element_at.md
  docs/en/sql-reference/sql-functions/map-functions/map_concat.md
  docs/zh/release_notes/release-3.1.md
  docs/zh/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/zh/sql-reference/sql-functions/array-functions/element_at.md
  docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  docs/zh/sql-reference/sql-functions/map-functions/element_at.md
  docs/zh/sql-reference/sql-functions/map-functions/map_concat.md
  docs/zh/sql-reference/sql-functions/string-functions/substring_index.md
Due: none

fix next_day/previous_day wrong result if value is invalid
  be/src/exprs/time_functions.cpp
  test/sql/test_time_fn/R/test_time_fn
  test/sql/test_time_fn/T/test_time_fn
Due: be-total

[Doc] some fixes in functions (#45345)
  docs/en/release_notes/release-3.1.md
  docs/en/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/en/sql-reference/sql-functions/array-functions/element_at.md
  docs/en/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/en/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  docs/en/sql-reference/sql-functions/map-functions/element_at.md
  docs/en/sql-reference/sql-functions/map-functions/map_concat.md
  docs/zh/release_notes/release-3.1.md
  docs/zh/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/zh/sql-reference/sql-functions/array-functions/element_at.md
  docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  docs/zh/sql-reference/sql-functions/map-functions/element_at.md
  docs/zh/sql-reference/sql-functions/map-functions/map_concat.md
  docs/zh/sql-reference/sql-functions/string-functions/substring_index.md
Due: none

Delete docs/en/release_notes/release-3.1.md
  docs/en/release_notes/release-3.1.md
Due: none

Delete docs/zh/release_notes/release-3.1.md
  docs/zh/release_notes/release-3.1.md
Due: none

move _driver_token.reset to `FragmentContext::set_final_status`
  be/src/exec/pipeline/fragment_context.cpp
Due: be-total

Support use table_name to filter scan in information_schema.tables
  be/src/exec/schema_scanner/schema_tables_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

Delete docs/en/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/en/sql-reference/sql-functions/array-functions/array_unique_agg.md
Due: none

Delete docs/zh/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/zh/sql-reference/sql-functions/array-functions/array_unique_agg.md
Due: none

Delete docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_date.md
Due: none

Delete docs/zh/sql-reference/sql-functions/string-functions/substring_index.md
  docs/zh/sql-reference/sql-functions/string-functions/substring_index.md
Due: none

Delete docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  docs/zh/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
Due: none

Delete docs/en/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
  docs/en/sql-reference/sql-functions/date-time-functions/to_tera_timestamp.md
Due: none

Delete docs/en/sql-reference/sql-functions/date-time-functions/to_tera_date.md
  docs/en/sql-reference/sql-functions/date-time-functions/to_tera_date.md
Due: none

update func list
  docs/en/sql-reference/sql-functions/function-list.md
  docs/zh/sql-reference/sql-functions/function-list.md
Due: none

[BugFix] query tracking_url via leader FE (#40127)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
