Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

Update Data_distribution.md
  docs/en/table_design/Data_distribution.md
Due: none

remove test code
  be/src/exprs/ngram.cpp
Due: be-total

Update Data_distribution.md
  docs/zh/table_design/Data_distribution.md
Due: none

[Doc] update description about reserved keywords
  docs/en/administration/query_profile.md
  docs/en/faq/Deploy_faq.md
  docs/en/sql-reference/sql-statements/keywords.md
  docs/zh/administration/Query_planning.md
  docs/zh/administration/deploy_with_manager.md
  docs/zh/administration/query_profile.md
  docs/zh/faq/Deploy_faq.md
  docs/zh/faq/loading/DataX_faq.md
  docs/zh/introduction/Features.md
  docs/zh/loading/BrokerLoad.md
  docs/zh/loading/StreamLoad.md
  docs/zh/quick_start/Import_and_query.md
  docs/zh/sql-reference/sql-statements/data-manipulation/BROKER_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/STREAM_LOAD.md
  docs/zh/sql-reference/sql-statements/keywords.md
Due: none

Update Configuration.md
  docs/zh/administration/Configuration.md
Due: none

update 2
  be/src/exec/pipeline/pipeline_driver_executor.cpp
Due: be-total

[Doc] Update query_mem_limit (#37893)
  docs/en/administration/Memory_management.md
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
Due: none

Delete docs/zh/administration/FE_configuration.md
  docs/zh/administration/FE_configuration.md
Due: none

Update SHOW_ROUTINE_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/SHOW_ROUTINE_LOAD.md
Due: none

fix test
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzerTest.java
Due: fe-total

Update SHOW_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SHOW_ROUTINE_LOAD.md
Due: none

Update System_variable.md
  docs/en/reference/System_variable.md
Due: none

Update CREATE_ROUTINE_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Due: none

Update Memory_management.md
  docs/en/administration/Memory_management.md
Due: none

Update ALTER_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_ROUTINE_LOAD.md
Due: none

Update SHOW_ROUTINE_LOAD_TASK.md
  docs/en/sql-reference/sql-statements/data-manipulation/SHOW_ROUTINE_LOAD_TASK.md
Due: none

Update SHOW_ROUTINE_LOAD_TASK.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SHOW_ROUTINE_LOAD_TASK.md
Due: none

Update ALTER_ROUTINE_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/ALTER_ROUTINE_LOAD.md
Due: none

fe
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstance.java
Due: fe-total

Update CREATE_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
Due: none

Update Deploy_faq.md
  docs/zh/faq/Deploy_faq.md
Due: none

cap 64
  be/src/runtime/exec_env.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
