Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fix MVPCTRefreshPlanBuilder generate plan bug if output contains complex expressions (#53212)
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_union
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_union
Due: fe-total

[BugFix] Disable date_trunc equivalent replace if binary type is LE (#53229)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/DateTruncEquivalent.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
Due: fe-total

[BugFix] Fix mv non rollup rewrite result contains aggregate functions (#53218)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
Due: fe-total

[BugFix] Fix some fragment not recv runtime filter
  be/src/exec/pipeline/fragment_context.cpp
  be/src/exec/pipeline/fragment_context.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/operator.cpp
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/pipeline.h
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver.h
  be/src/exec/pipeline/runtime_filter_types.h
Due: be-total

[Enhancement] update staros version to v3.2.5
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-ubuntu22-x86_64.sh
  thirdparty/vars-x86_64.sh
Due: fe-total

extract page H1
  docs/docusaurus/PDF/getH1.js
Due: none

[Refactor] Add compaction finish log avoid being unable to obtain information
  be/src/storage/compaction_task.cpp
Due: be-total

[Enhancement] avoid sync `listPartitionNames` when query iceberg & mv (#53168)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/HMSTablePartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadatRequestContext.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/glue/IcebergGlueCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/hadoop/IcebergHadoopCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/hive/IcebergHiveCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/partitiontraits/DefaultTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/partitiontraits/IcebergPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/server/IcebergTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/catalog/IcebergTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/PartitionUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/ReplayMetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/CachingIcebergCatalogTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MVViewRewriteWithManyJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManyJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
  test/sql/test_materialized_view_refresh/R/test_mv_skip_partition_cache_iceberg
  test/sql/test_materialized_view_refresh/T/test_mv_skip_partition_cache_iceberg
Due: fe-total

rewrite script
  docs/docusaurus/PDF/getH1.js
  docs/docusaurus/package.json
  docs/docusaurus/yarn.lock
Due: none

[Enhancement] eliminate constant cte
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateConstantCTERule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/CTEPlanTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  fe/fe-core/src/test/resources/sql/query_dump/eliminate_nestloop_join.json
Due: fe-total

[Refactor] Add compaction finish log avoid being unable to obtain information (#53287)
  be/src/storage/compaction_task.cpp
Due: be-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/planner/MVViewRewriteWithManyJoinTest.java
Due: fe-total

[BugFix] Fix random table broker load fails when table has schema change (#53041)
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_info.h
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  gensrc/proto/descriptors.proto
  gensrc/thrift/Descriptors.thrift
Due: fe-total, be-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManyJoinTest.java
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/planner/MVViewRewriteWithManyJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManyJoinTest.java
Due: fe-total

[BugFix] fix fe cast problem (#53267)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/scalar/FoldConstantsRuleTest.java
Due: fe-total
