Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Add ut
  fe/fe-core/src/test/java/com/starrocks/analysis/ColumnSeparatorTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RowDelimiterTest.java
Due: fe-total

[BugFix] Use RandomAccessFile::get_size to get cloud native file size rather than StarletFS::get_file_size which is not implemented now (#47019)
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

[Feature] Support evicting old cache items with a given probability option to avoid frequent cache replacement. (backport #44810) (#47015)
  be/src/block_cache/cache_options.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/common/status.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/parquet/file_reader.cpp
  be/src/io/cache_input_stream.cpp
  be/src/io/cache_input_stream.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/StatusCode.thrift
Due: fe-total, be-total

reset ptable_schema_param after init
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
Due: be-total

[Enhancement] Optimize multiple like predicates (backport #46914)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperatorUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/ConsolidateLikesRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/SimplifyCaseWhenPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/SelectStmtWithMultiLikeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_consolidate_multi_likes/R/test_consolidate_multi_likes
  test/sql/test_consolidate_multi_likes/T/test_consolidate_multi_likes
Due: fe-total

[BugFix] Fix missing setttings for warehouse in MetadataCollectJob and DictionaryMgr (#47030)
  fe/fe-core/src/main/java/com/starrocks/catalog/DictionaryMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataCollectJob.java
Due: fe-total

update
  be/test/util/arrow/starrocks_column_to_arrow_test.cpp
Due: be-total

update
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
Due: fe-total

[Enhancement] refine profile for short-cricuit point query (backport #46382) (#46807)
  be/src/exec/short_circuit.cpp
  be/src/exec/short_circuit_hybrid.cpp
  be/src/exec/short_circuit_hybrid.h
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitHybridExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
  test/sql/test_short_circuit/R/test_short_circuit
  test/sql/test_short_circuit/T/test_short_circuit
Due: fe-total, be-total

[BugFix] Disable header validation in netty (#47057)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
Due: fe-total

[Enhancement] Parquet writer support writing datetime with timezone and microseconds precision (#46897)
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/level_builder.cpp
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/types/timestamp_value.h
  be/test/formats/parquet/file_writer_test.cpp
  be/test/formats/parquet/parquet_file_writer_test.cpp
Due: be-total

[Enhancement] Optimize multiple like predicates (backport #46914) (#47074)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperatorUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/ConsolidateLikesRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/SimplifyCaseWhenPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/SelectStmtWithMultiLikeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
  test/sql/test_consolidate_multi_likes/R/test_consolidate_multi_likes
  test/sql/test_consolidate_multi_likes/T/test_consolidate_multi_likes
Due: fe-total

fix compile error
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
Due: be-total

[Enhancement] Support to recognize skip.header.line.count in hive's textfile (#47001)
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/test/exec/hdfs_scanner_test.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/TextFileFormatDesc.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/TextFileFormatDescTest.java
  gensrc/thrift/Descriptors.thrift
Due: fe-total, be-total

[BugFix] Fix usage of LOG.warn and LOG.error to ensure stack trace is printed when an error occurs
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
  fe/fe-core/src/main/java/com/starrocks/analysis/CastExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/com/starrocks/catalog/DomainResolver.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/CurrentQueryInfoProvider.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PulsarUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockManager.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/io/IcebergCachingFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/fe-core/src/main/java/com/starrocks/http/action/LogAction.java
  fe/fe-core/src/main/java/com/starrocks/http/action/WebBaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/meta/MetaService.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/QueryDumpAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ShowMetaInfoAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ShowProcAction.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/lake/backup/LakeBackupJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/backup/LakeRestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadScheduler.java
  fe/fe-core/src/main/java/com/starrocks/planner/PartitionColumnFilter.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterRoutineLoadAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateRoutineLoadAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpDeserializer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/dump/QueryDumpSerializer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CsvFileStatisticsStorage.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsMetaManager.java
  fe/fe-core/src/main/java/com/starrocks/transaction/LakeTableTxnStateListener.java
  fe/fe-core/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  fe/fe-core/src/main/java/org/apache/iceberg/MetadataParser.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoCluster.java
  fe/spark-dpp/src/main/java/com/starrocks/load/loadv2/dpp/SparkRDDAggregator.java
Due: fe-total

update doc for DROP_CATALOG
  docs/en/sql-reference/sql-statements/data-definition/DROP_CATALOG.md
  docs/zh/sql-reference/sql-statements/data-definition/DROP_CATALOG.md
Due: none

improve
  be/src/exec/csv_scanner.cpp
  be/src/exec/csv_scanner.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/csv/csv_reader.cpp
  be/src/formats/csv/csv_reader.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/csv_scanner/line_delimiter_end_with_n.csv
  be/test/exec/test_data/csv_scanner/line_delimiter_end_with_r.csv
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/TextFileFormatDesc.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetaClientTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/TextFileFormatDescTest.java
  gensrc/thrift/Descriptors.thrift
Due: fe-total, be-total

[Enhancement] Reduce the memory usage during data ingestion (#47047)
  be/src/runtime/local_tablets_channel.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
Due: be-total

fix error
  be/src/storage/delta_writer.h
  be/src/storage/rowset/rowset_meta.h
Due: be-total

[Enhancement] Support passing through Hive table columns' comment for Show Create Table and etc. (backport #37686) (#47014)
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreApiConverter.java
Due: fe-total

[Doc] Add Doc for MV Agg Pushdown (#47017)
  docs/en/reference/System_variable.md
  docs/en/using_starrocks/query_rewrite_with_materialized_views.md
  docs/zh/reference/System_variable.md
  docs/zh/using_starrocks/query_rewrite_with_materialized_views.md
Due: none

[Feature] Support add/drop field for struct column(part1) (#46451)
  be/src/storage/metadata_util.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/tablet_schema.h
  be/test/storage/rowset/column_reader_writer_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  be/test/storage/rowset/map_column_rw_test.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/StructField.java
  gensrc/thrift/Types.thrift
Due: fe-total, be-total
