Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

update a solution in loading faq
  docs/en/faq/loading/Loading_faq.md
Due: none

[BugFix] Fix compilation error using clang in asan (#41897)
  be/src/http/action/pprof_actions.cpp
Due: be-total

[Doc]Update a solution in loading faq (#41862)
  docs/en/faq/loading/Loading_faq.md
  docs/zh/faq/loading/Loading_faq.md
Due: none

Modify some para descs in flink
  docs/en/loading/Flink-connector-starrocks.md
Due: none

[BugFix] Fix count_if error result type (#41858)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteCountIfFunction.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Due: fe-total

[BugFix] check jit is supported in is_jit_enabled()
  be/src/exprs/expr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
Due: be-total

[Doc]Modify some para descs in flink (#41857)
  docs/en/loading/Flink-connector-starrocks.md
Due: none

refactor file writer for connector sink
  be/src/formats/CMakeLists.txt
  be/src/formats/column_evaluator.h
  be/src/formats/file_writer.h
  be/src/formats/orc/orc_chunk_writer.cpp
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/orc/orc_file_writer.h
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.h
  be/src/formats/utils.h
  be/test/formats/orc/orc_chunk_writer_test.cpp
  be/test/formats/parquet/parquet_file_writer.cpp
  be/test/formats/parquet/parquet_test_util/util.h
Due: be-total

skip execution for periodical task
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
Due: fe-total

test
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskSchedule.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/TaskAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

introduce syntax for scheduled task
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubmitTaskStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
Due: fe-total

add sql test
  test/sql/test_task/R/test_periodical_task
  test/sql/test_task/T/test_periodical_task
Due: none

fix start if missed
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/TaskAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

skip expire for periodical task
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
Due: fe-total

support multiple task clause
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SubmitTaskStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

use system timezone instead of utc
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total

add SCHEDULE to non-reserved word
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Due: fe-total

fix test
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskSchedule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowTaskTest.java
Due: fe-total

fix timezone testcase
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

fix style
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.h
  be/src/formats/utils.h
Due: be-total

[Enhancement] Do not print warning log if guard can not be fetched in preloading
  be/src/storage/lake/rowset_update_state.cpp
Due: be-total

[BugFix] tolerant trailing slash after bucket name in storage volume location
  fe/fe-core/src/main/java/com/starrocks/storagevolume/StorageVolume.java
  fe/fe-core/src/test/java/com/starrocks/storagevolume/StorageVolumeTest.java
Due: fe-total

Update s3.md
  docs/en/loading/s3.md
Due: none

Update s3.md
  docs/zh/loading/s3.md
Due: none

fix style
  be/src/formats/parquet/parquet_file_writer.cpp
  be/test/formats/parquet/parquet_file_writer.cpp
Due: be-total

[BugFix] Format the datacache path configurations before checking it instead of returning error directly.
  be/src/block_cache/block_cache.cpp
  be/src/storage/options.cpp
  be/test/block_cache/block_cache_test.cpp
Due: be-total

[Doc] update loading from S3 docs (#41896)
  docs/en/loading/s3.md
  docs/zh/assets/quick-start/MinIO-create copy.png
  docs/zh/loading/s3.md
Due: none

refactor some log
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_expr.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
