Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

Decoupling Ranger’s SIMPLE authentication and Kerberos authentication methods (#14933)
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/ranger/RangerKerberosAuth.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/ranger/hive/RangerHiveAccessControllerEPack.java
  fe/fe-core/src/main/java/com/starrocks/epack/privilege/ranger/starrocks/RangerStarRocksAccessControllerEPack.java
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/RangerAccessController.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

[Enhancement] Optimize the lock contention of consistency checker(sync #40710) (#14955)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/consistency/CheckConsistencyJob.java
  fe/fe-core/src/main/java/com/starrocks/consistency/ConsistencyChecker.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalTask.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/journal/JournalWriterTest.java
Due: fe-total

[Refactor] Delete ranger kerberos auth (#40895)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerInterfaceTest.java
Due: fe-total

recover
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/system/SystemInfoServiceTest.java
Due: fe-total

[UT] Fix timeout fe ut
  fe/fe-core/src/test/java/com/starrocks/alter/BatchRollupJobTest.java
Due: fe-total

recover
  fe/fe-core/src/test/java/com/starrocks/system/SystemInfoServiceTest.java
Due: fe-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
Due: fe-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/BrokerLoadJobTest.java
Due: fe-total

test: update test_get_schema
  be/src/exec/csv_scanner.cpp
  be/test/exec/csv_scanner_test.cpp
  be/test/exec/test_data/csv_scanner/csv_file23
Due: be-total

[UT] Fix timeout fe ut (#40909)
  fe/fe-core/src/test/java/com/starrocks/alter/BatchRollupJobTest.java
Due: fe-total

Remove unused import
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/BrokerLoadJobTest.java
Due: fe-total

[BugFix] remove invalid `quantile="avg"` prometheus metric output (#40885)
  be/src/http/action/metrics_action.cpp
Due: be-total

[Enhancement] Improve hive split
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
Due: fe-total

[BugFix] Fix possible NPE when mv rewrite (#40908)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCDSTest.java
Due: fe-total

*: format
  be/test/exec/csv_scanner_test.cpp
Due: be-total

[Enhancement] change the task execution user to current_user when creating (#40670)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

refactor include files
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/arithmetic_operation.h
  be/src/exprs/binary_predicate.cpp
  be/src/exprs/cast_expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/jit/ir_helper.cpp
  be/src/exprs/jit/ir_helper.h
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_engine.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
Due: be-total

Add import.
  be/src/storage/olap_define.h
Due: be-total

Finish be side changes.
  be/src/common/config.h
  be/src/exprs/string_functions.cpp
  be/src/storage/olap_define.h
  be/src/storage/tablet_schema.cpp
  be/src/storage/types.cpp
  be/test/exprs/string_fn_concat_test.cpp
  be/test/exprs/string_fn_pad_test.cpp
  be/test/exprs/string_fn_repeat_test.cpp
  be/test/exprs/string_fn_space_test.cpp
  be/test/storage/tablet_meta_test.cpp
Due: be-total

Backend done.
  fe/fe-core/src/main/java/com/starrocks/analysis/TypeDef.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/PostgresSchemaResolver.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateFunctionStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ColumnDefTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/ColumnTypeConverterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzerUtilsTest.java
Due: fe-total

Make a function inline.
  be/src/storage/olap_define.h
Due: be-total

Address comments.
  be/src/storage/CMakeLists.txt
  be/src/storage/olap_define.cpp
  be/src/storage/olap_define.h
Due: be-total

lint.
  be/src/storage/olap_define.cpp
Due: be-total

Update Stream_Load_transaction_interface.md
  docs/en/loading/Stream_Load_transaction_interface.md
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
