Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Update AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
Due: fe-total

Fix text reader can't recognize last empty element
  be/src/formats/csv/array_reader.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/csv_scanner/array_last_element_is_empty.csv
Due: be-total

[Enhancement] Support partition by minute granularity time_slice
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Due: fe-total

fix
  be/src/agent/heartbeat_server.cpp
  be/src/common/config.h
  be/src/service/service_be/arrow_flight_sql_service.cpp
  be/src/service/service_be/arrow_flight_sql_service.h
  be/src/service/service_be/starrocks_be.cpp
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/service/arrow/flight/sql/ArrowFlightSqlService.java
  fe/fe-core/src/main/java/com/starrocks/service/arrow/flight/sql/ArrowFlightSqlServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/system/BackendHbResponse.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/main/java/com/starrocks/system/HeartbeatMgr.java
  gensrc/thrift/HeartbeatService.thrift
Due: fe-total, be-total

[Feature] Support new syntax for Backup/Restore (#52729)
  fe/fe-core/src/main/java/com/starrocks/backup/BackupHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/BackupRestoreAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AbstractBackupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/BackupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RestoreStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/backup/BackupHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeBackupRestoreTest.java
Due: fe-total

[BugFix] Ignore to refresh if base table has dropped one partition (#52740)
  fe/fe-core/src/main/java/com/starrocks/connector/partitiontraits/DefaultTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/partitiontraits/OlapPartitionTraits.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorHiveTest.java
Due: fe-total

[BugFix] Refresh MV's ref base table infos to get the newest snapshots (#52975)
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvBaseTableUpdateInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/IntervalLiteral.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UnitIdentifier.java
Due: fe-total

[BugFix] fix shaded partition when manually added (#52894)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleItemListPartitionDesc.java
  test/sql/test_list_partition/R/test_add_list_partition
  test/sql/test_list_partition/T/test_add_list_partition
Due: fe-total

[BugFix] fix shaded partition when manually added (#52894)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleItemListPartitionDesc.java
  test/sql/test_list_partition/R/test_add_list_partition
  test/sql/test_list_partition/T/test_add_list_partition
Due: fe-total

fix
  be/src/service/service_be/arrow_flight_sql_service.cpp
Due: be-total

[BugFix] Fix disable base compaction with minute granularity & fe/be recover (#52923)
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_manager.h
  be/src/storage/compaction_task.cpp
  be/src/storage/tablet_meta.h
  be/test/storage/compaction_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionControlScheduler.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  test/sql/test_compaction_cron/R/test_compaction_cron
  test/sql/test_compaction_cron/T/test_compaction_cron
Due: fe-total, be-total

fix
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
Due: fe-total

[Enhancement] Ignore union type tag when converting avro to json
  be/src/common/config.h
  be/src/formats/avro/binary_column.cpp
  be/test/exec/avro_scanner_test.cpp
  be/test/exec/test_data/avro_scanner/avro_basic_schema.json
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

Fix partition restore job use error version bug
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
Due: fe-total

[BugFix] olap view should not participate in MV processing logic (#52989)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ViewPlanTest.java
Due: fe-total

[BugFix] Fix hive text reader can't recognize last empty element (#52990)
  be/src/formats/csv/array_reader.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/exec/test_data/csv_scanner/array_last_element_is_empty.csv
Due: be-total

[BugFix] Fix hive text reader can't recognize last empty element (#52990)
  be/src/formats/csv/array_reader.cpp
  be/test/exec/test_data/csv_scanner/array_last_element_is_empty.csv
  be/test/exec/vectorized/hdfs_scanner_test.cpp
Due: be-total

[Enhancement]support connection pool for poco client (#52719)
  be/src/fs/s3/poco_common.cpp
  be/src/fs/s3/poco_common.h
  be/src/fs/s3/poco_http_client.cpp
  be/src/fs/s3/pool_base.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/service/service_be/starrocks_be.cpp
Due: be-total

[BugFix] fix shaded partition when manually added (#52894)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleItemListPartitionDesc.java
  test/sql/test_list_partition/R/test_add_list_partition
  test/sql/test_list_partition/T/test_add_list_partition
Due: fe-total

[BugFix] fix shaded partition when manually added (#30032)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AddPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SingleItemListPartitionDesc.java
  test/sql/test_list_partition/R/test_add_list_partition
  test/sql/test_list_partition/T/test_add_list_partition
Due: fe-total

Remove duplicated test_mv_partition_union_rewrite_mode_iceberg test
  test/sql/test_materialized_view/R/test_mv_partition_union_rewrite_mode_iceberg
  test/sql/test_materialized_view/T/test_mv_partition_union_rewrite_mode_iceberg
Due: none

[BugFix] fix 100-continue compatibility issue for HTTP/1.0
  fe/fe-core/src/main/java/com/starrocks/http/rest/LoadAction.java
  fe/fe-core/src/test/java/com/starrocks/http/LoadActionTest.java
Due: fe-total

[UT] Remove duplicated test_mv_partition_union_rewrite_mode_iceberg test (#53009)
  test/sql/test_materialized_view/R/test_mv_partition_union_rewrite_mode_iceberg
  test/sql/test_materialized_view/T/test_mv_partition_union_rewrite_mode_iceberg
Due: none

[BugFix] enable http/1.1 when proxying http request for FE
  docker/dockerfiles/allin1/services/feproxy/feproxy.conf.template
Due: none

[BugFix] Fix missing iceberg tableFullMORParams in the PruneHDFSScanColumnRule
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PruneHDFSScanColumnRule.java
Due: fe-total

support create or alter table with external cooldown config properties #45536
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCoolDownConfig.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableLikeAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateTableStmt.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
  gensrc/thrift/AgentService.thrift
Due: fe-total

add external cooldown job manager to run cooldown task at fix rate #45536
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownConfig.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelector.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownSchedule.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/metablock/SRMetaBlockID.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMaintenanceJob.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Analyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CancelExternalCooldownAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExternalCooldownAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableWithExternalCooldownTest.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/PartitionsProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownConfigTest.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelectorTest.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownScheduleTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/ModifyExternalCooldownConfigTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/OperationTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ExternalCooldownExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Due: fe-total

partition property support for external cool down #45536
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/persist/ModifyPartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
Due: fe-total

adapt to PhysicalPartition
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelector.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedCooldownProcessor.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PartitionInfoTest.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/PartitionsProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelectorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedCooldownProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMaintenanceJobTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/externalcooldown/ExternalCooldownMgrTest.java
Due: fe-total

cooldown task unit test #45536
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedCooldownProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTableTest.java
  fe/fe-core/src/test/java/com/starrocks/externalcooldown/ExternalCooldownPartitionSelectorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedCooldownProcessorTest.java
Due: fe-total
