Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Doc] The txn_commit_rpc_timeout_ms parameter is deprecated since v3.2.0. (#52710)
  docs/en/administration/management/BE_configuration.md
  docs/zh/administration/management/BE_configuration.md
Due: none

[Enhancement] Do not do filter pushdown for project that contains lambda function (#52655)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateProjectRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/CTEPlanTest.java
Due: fe-total

[BugFix]better bit upacking batch size (#52701)
  be/src/util/bit_packing_adapter.h
  be/src/util/bit_packing_simd.h
Due: be-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/EquationRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/RewriteContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/EquivalentShuttleContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/equivalent/IRewriteEquivalent.java
Due: fe-total

[Feature] Support kill query by query_id (#47632)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/KillStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/KillStmtTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

[BugFix] add lock to avoid publish and update schema run concurrency for pk table (#52687)
  be/src/storage/tablet.cpp
  be/src/storage/tablet_meta_manager.cpp
  be/src/storage/tablet_meta_manager.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
  be/test/storage/tablet_updates_test.cpp
Due: be-total

[Enhancement] Support kill query by custom_query_id (#48114)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/CurrentQueryStatisticsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryStatisticsInfo.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryStatisticsItem.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryStatisticsInfoTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryStatisticsItemTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

add empty constructor
  fe/fe-core/src/main/java/com/starrocks/alter/LakeRollupJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
Due: fe-total

add comment
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
Due: fe-total

add more test
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetail.java
  fe/fe-core/src/test/java/com/starrocks/http/QueryDetailProfileActionTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/QueryDetailQueueTest.java
Due: fe-total

add license
  fe/fe-core/src/test/java/com/starrocks/http/QueryDetailProfileActionTest.java
Due: fe-total

support using in scan thread
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/exprs/math_functions.cpp
  be/src/runtime/current_thread.cpp
  be/src/runtime/current_thread.h
Due: be-total

[Refactor] Refactor parquet reader create logic (#52667)
  be/src/formats/CMakeLists.txt
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/column_reader_factory.cpp
  be/src/formats/parquet/column_reader_factory.h
  be/src/formats/parquet/complex_column_reader.cpp
  be/src/formats/parquet/complex_column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/file_writer.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/level_builder.cpp
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/src/formats/parquet/metadata.cpp
  be/src/formats/parquet/metadata.h
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/utils.cpp
  be/src/formats/parquet/utils.h
  be/test/formats/parquet/group_reader_test.cpp
Due: be-total

doc
  docs/en/sql-reference/sql-functions/utility-functions/bar.md
  docs/en/sql-reference/sql-functions/utility-functions/equiwidth_bucket.md
  docs/zh/sql-reference/sql-functions/utility-functions/bar.md
  docs/zh/sql-reference/sql-functions/utility-functions/equiwidth_bucket.md
Due: none

[Enhancement] split Metric "query_error" into there part (#52646)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorReport.java
  fe/fe-core/src/main/java/com/starrocks/common/Status.java
  fe/fe-core/src/main/java/com/starrocks/common/UserException.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricCalculator.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryState.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

performance
  be/src/exprs/agg/histogram.h
  tmp.sh
Due: be-total

optimize update_batch
  be/src/column/column_helper.h
  be/src/column/column_viewer.cpp
  be/src/column/column_viewer.h
  be/src/exprs/agg/histogram.h
Due: be-total

fix string column
  be/src/column/column_viewer.cpp
  be/src/exprs/agg/aggregate_traits.h
  be/src/exprs/agg/histogram.h
Due: be-total

fix test
  be/src/exprs/agg/histogram.h
  be/test/exprs/agg/aggregate_test.cpp
Due: be-total

add sql test
  be/src/exprs/agg/histogram.h
  test/sql/test_analyze_statistics/R/test_histogram_function
  test/sql/test_analyze_statistics/T/test_histogram_function
  tmp.sh
Due: be-total

fix test result
  test/sql/test_analyze_statistics/R/test_histogram_function
Due: none

sql test
  test/sql/test_analyze_statistics/R/test_histogram_function
  test/sql/test_analyze_statistics/T/test_histogram_function
Due: none

optimize to_string
  be/src/exprs/agg/histogram.h
Due: be-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
Due: fe-total

[Enhancement] Enhance Lock Manager Memory and CPU resource consumption (#52705)
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
  fe/fe-core/src/main/java/com/starrocks/common/util/LogUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/LockManager.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/MultiUserLock.java
Due: fe-total

fix UT
  be/test/io/io_profiler_test.cpp
Due: be-total

[BugFix] Fix client couldn't cancel forward query (#52185)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ProxyContextManager.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/CurrentQueryStatisticsProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ForwardTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total
