Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fixed a bug where Compact and Schema Change could not be executed together (#48585)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOpType.java
Due: fe-total

[Enhancement] Support getting physical partition by name(sync #47270) (#24328)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
  fe/fe-core/src/main/java/com/starrocks/replication/ReplicationJob.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/backup/CatalogMocker.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PhysicalPartitionImplTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/server/LocalMetaStoreTest.java
Due: fe-total

[BugFix] Fix issue where range partition expr parameters were not checked (#48522)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Due: fe-total

[Enhancement] BE remove unused zookeeper for CVEs (backport #48488) (#48544)
  build.sh
Due: none

Update helm.md
  docs/zh/quick_start/helm.md
Due: none

[Doc] Add release notes 3.3.1 (#48597)
  docs/en/release_notes/release-3.3.md
  docs/zh/release_notes/release-3.3.md
Due: none

[Enhancement] test clang tidy
  be/src/util/debug_util.cpp
Due: be-total

Update debug_util.cpp
  be/src/util/debug_util.cpp
Due: be-total

[BugFix] Fix clang tidy compilation error
  be/src/common/version.h
Due: be-total

[Enhancement] avoid use dict_mapping function in lookup_string (#48543)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/MetaFunctionsTest.java
Due: fe-total

[Enhancement] avoid use dict_mapping function in lookup_string (#48543)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/function/MetaFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/MetaFunctionsTest.java
Due: fe-total

[Feature] Use conditional compilation for including tenann
  be/CMakeLists.txt
  build.sh
  thirdparty/build-thirdparty.sh
Due: be-total

remove netty & jackson-mapper-asl for CVE
  fs_brokers/apache_hdfs_broker/src/broker-core/pom.xml
Due: none

[BugFix] there is no need to set the delegation token when HMS has not enabled SASL
  fe/fe-core/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
Due: fe-total

[Enhancement] Add exception stacktrace in orc reader to track exception (#48503)
  be/src/formats/orc/orc_chunk_reader.cpp
Due: be-total

[BugFix] Fix clang tidy compilation error (#48605)
  be/src/common/version.h
Due: be-total

fix ut
  be/test/block_cache/block_cache_test.cpp
Due: be-total

fix compile
  be/test/block_cache/block_cache_test.cpp
Due: be-total

update
  be/src/block_cache/CMakeLists.txt
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/block_cache_hit_rate_counter.hpp
  be/src/http/action/datacache_action.cpp
  be/test/block_cache/block_cache_hit_rate_counter_test.cpp
  be/test/block_cache/block_cache_test.cpp
Due: be-total

[Enhancement] Support display datacache's hit rate in app level
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/exec/hdfs_scanner.cpp
  be/src/http/action/datacache_action.cpp
  be/src/http/action/datacache_action.h
  be/test/block_cache/block_cache_test.cpp
Due: be-total

update
  be/src/block_cache/block_cache_hit_rate_counter.hpp
  be/src/exec/hdfs_scanner.cpp
  be/test/CMakeLists.txt
  be/test/block_cache/block_cache_hit_rate_counter_test.cpp
  be/test/http/datacache_action_test.cpp
Due: be-total

add ut
  be/test/block_cache/block_cache_test.cpp
  be/test/http/datacache_action_test.cpp
Due: be-total

[Refactor] remove unused `numInstances` field
  fe/fe-core/src/main/java/com/starrocks/planner/AggregationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/BinlogScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/EsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/FileTableScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/JDBCScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/KuduScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/MysqlScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OdpsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/RepeatNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SchemaScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SelectNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SetOperationNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/planner/StreamLoadScanNodeTest.java
Due: fe-total

[BugFix] Avoid hdfs fs manager interrupting the thread on exception
  fe/fe-core/src/main/java/com/starrocks/fs/hdfs/HdfsFsManager.java
Due: fe-total

[Enhancement] avoid BE OOM when handle large number of tablet writes
  be/src/common/config.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/utils.cpp
  be/src/storage/utils.h
  be/test/storage/utils_test.cpp
Due: be-total

[Enhancement] remove netty & jackson-mapper-asl for CVE (#48606)
  fs_brokers/apache_hdfs_broker/src/broker-core/pom.xml
Due: none

Update competence_boundary-shared-data.md
  docs/zh/deployment/shared_data/competence_boundary-shared-data.md
Due: none

update
  fe/fe-core/src/test/java/com/starrocks/connector/hive/GlueToHiveConverterTest.java
Due: fe-total

xx
  be/src/service/mem_hook.cpp
  be/src/service/roaring_mem_hook.cpp
  thirdparty/build-thirdparty.sh
Due: be-total

[Feature] Add build arch info when showing FE/BE version (#48572)
  be/src/util/debug_util.cpp
  build-support/gen_build_version.py
  fe/fe-core/src/main/java/com/starrocks/StarRocksFE.java
Due: fe-total, be-total
