Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

translation
  docs/en/loading/Flink-connector-starrocks.md
Due: none

[Enhancement] improve cloud native pk table memory cost when handle large ingestion (backport #45685) (#46548)
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/lake/types_fwd.h
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/rowset/segment_rewriter.cpp
  be/src/storage/rowset/segment_rewriter.h
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

translation
  docs/en/loading/Flink-connector-starrocks.md
  docs/en/loading/Kafka-connector-starrocks.md
  docs/en/loading/Load_to_Primary_Key_tables.md
  docs/en/loading/Spark-connector-starrocks.md
  docs/en/sql-reference/sql-statements/data-manipulation/BROKER_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/STREAM_LOAD.md
Due: none

translation
  docs/en/loading/Flink-connector-starrocks.md
  docs/en/loading/Kafka-connector-starrocks.md
Due: none

[Enhancement][Cherry-Pick][Branch-3.3] Remove CVE jars (backport #46327) (#46557)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/credential/hdfs/HDFSCloudCredential.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/lake/backup/LakeRestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/HDFSBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/MvNormalizePredicateRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownTopNBelowUnionRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/ColumnEnforcer.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  fe/fe-core/src/test/java/com/starrocks/analysis/DataCacheStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/datacache/DataCacheMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/PaimonScanNodeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  fe/hive-udf/pom.xml
  fe/pom.xml
  java-extensions/kudu-reader/pom.xml
  java-extensions/odps-reader/pom.xml
  java-extensions/paimon-reader/pom.xml
Due: fe-total

[Enhancement] Upgrade gin for speeding up index write (#46549)
  thirdparty/vars.sh
Due: none

[Doc] add col mode partial updates (#46364)
  docs/en/loading/Flink-connector-starrocks.md
  docs/en/loading/Kafka-connector-starrocks.md
  docs/en/loading/Load_to_Primary_Key_tables.md
  docs/en/loading/Spark-connector-starrocks.md
  docs/en/sql-reference/sql-statements/data-manipulation/BROKER_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/STREAM_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/UPDATE.md
  docs/zh/loading/Flink-connector-starrocks.md
  docs/zh/loading/Kafka-connector-starrocks.md
  docs/zh/loading/Load_to_Primary_Key_tables.md
  docs/zh/loading/Spark-connector-starrocks.md
  docs/zh/sql-reference/sql-statements/data-manipulation/BROKER_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/CREATE_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/STREAM_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/UPDATE.md
Due: none

update
  be/src/common/config.h
  be/src/connector/sink_memory_manager.cpp
  be/src/connector/sink_memory_manager.h
  be/src/exec/pipeline/sink/connector_sink_operator.cpp
  be/src/formats/csv/csv_file_writer.cpp
  be/src/formats/csv/csv_file_writer.h
  be/src/formats/csv/output_stream.h
  be/src/formats/file_writer.h
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/orc/orc_file_writer.h
  be/src/formats/orc/orc_memory_pool.cpp
  be/src/formats/orc/orc_memory_pool.h
  be/src/formats/parquet/arrow_memory_pool.cpp
  be/src/formats/parquet/arrow_memory_pool.h
  be/src/formats/parquet/parquet_file_writer.cpp
  be/src/formats/parquet/parquet_file_writer.h
  be/src/io/async_flush_output_stream.h
Due: be-total

[BugFix] Fix an issue when the privilege is merged,casue root privilge dropped. (#46411)
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeCollectionV2.java
Due: fe-total

[BugFix] Fix an issue when the privilege is merged,casue root privilge dropped. (#46411)
  fe/fe-core/src/main/java/com/starrocks/privilege/PrivilegeCollection.java
Due: fe-total

update
  be/src/connector/async_flush_stream_poller.cpp
  be/src/connector/sink_memory_manager.cpp
Due: be-total

add UTs
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateCatalogStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CatalogStmtTest.java
Due: fe-total

[Enhancement] Add a switch to allow cross join and nested loop join
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/NestLoopJoinImplementationRule.java
Due: fe-total

add ut
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/NestLoopJoinImplementationRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/NestLoopJoinTest.java
Due: fe-total

[Enhancement] Make the user in FE & BE as a variable (#46041)
  docker/dockerfiles/be/be-ubuntu.Dockerfile
  docker/dockerfiles/fe/fe-ubuntu.Dockerfile
Due: none

fix insert into files doc
  docs/en/unloading/unload_using_insert_into_files.md
  docs/zh/unloading/unload_using_insert_into_files.md
Due: none

[Enhancement] change cloud native pk index's major compact function to static
  be/src/storage/lake/compaction_task.cpp
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/lake/lake_primary_index.h
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/test/storage/lake/lake_persistent_index_test.cpp
Due: be-total

update
  docs/en/unloading/unload_using_insert_into_files.md
  docs/zh/unloading/unload_using_insert_into_files.md
Due: none

[BugFix] Fix arm compile for gin lib
  thirdparty/vars.sh
Due: none

fixup
  be/src/udf/python/callstub.cpp
  be/src/udf/python/env.cpp
  be/src/udf/python/env.h
Due: be-total

update
  be/src/connector/sink_memory_manager.cpp
Due: be-total

[BugFix] remove unused DCHECK
  be/src/exec/pipeline/query_context.h
Due: be-total

Support refresh unpartitioned materialized view with list partition tables (#29220)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

use enable prefix
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/implementation/NestLoopJoinImplementationRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/NestLoopJoinTest.java
Due: fe-total
