Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] Fix LocalPkIndexManager compilation error (#41568)
  be/src/storage/lake/local_pk_index_manager.h
Due: be-total

[BugFix] Fix compile error (backport #41563) (#41563)
  be/src/agent/agent_server.cpp
Due: be-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/test/java/com/starrocks/benchmark/ViewBasedMvRewritePerfTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/schema/MSchema.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVRewriteWithSchemaChangeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteMultiTableJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/FilterUnusedColumnTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q1.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q20.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q22.sql
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
Due: fe-total

fix cn hostname error
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/system/SystemInfoServiceTest.java
Due: fe-total

optimize code
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ScanOperatorPredicates.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCDSTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
Due: fe-total

pintin for alter
  docs/zh/sql-reference/sql-statements/Administration/ALTER_RESOURCE_GROUP.md
  docs/zh/sql-reference/sql-statements/Administration/ALTER_STORAGE_VOLUME.md
  docs/zh/sql-reference/sql-statements/Administration/ALTER_SYSTEM.md
  docs/zh/sql-reference/sql-statements/account-management/ALTER_USER.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_DATABASE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_MATERIALIZED_VIEW.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_RESOURCE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_VIEW.md
  docs/zh/sql-reference/sql-statements/data-definition/CANCEL_ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_PIPE.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SHOW_ALTER.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SHOW_ALTER_MATERIALIZED_VIEW.md
Due: none

pinyin
  docs/zh/using_starrocks/Materialized_view.md
Due: none

[BugFix] Fix NPE when querying view definition (#41552)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Due: fe-total

add case insensitve property in FE
  fe/fe-core/src/main/java/com/starrocks/analysis/BloomFilterIndexUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/common/NgramBfIndexParamsKey.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateTableTest.java
Due: fe-total

support case insensitive for ngram bloom filter
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/expr_context.cpp
  be/src/exprs/expr_context.h
  be/src/exprs/function_call_expr.cpp
  be/src/exprs/function_call_expr.h
  be/src/exprs/ngram.cpp
  be/src/storage/column_expr_predicate.cpp
  be/src/storage/column_expr_predicate.h
  be/src/storage/column_predicate.h
  be/src/storage/rowset/bloom_filter.h
  be/src/storage/rowset/bloom_filter_index_writer.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/column_writer.cpp
  be/src/util/slice.h
Due: be-total

[Enhancement]support objecct storage that not compatible with s3
  be/src/common/config.h
  be/src/fs/fs.cpp
  be/src/fs/fs_util.h
Due: be-total

[Enhancement] upgrade staros version to v3.2-rc8
  be/CMakeLists.txt
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Due: fe-total, be-total

[Doc] More pinyin (#41579)
  docs/zh/sql-reference/sql-statements/Administration/ALTER_RESOURCE_GROUP.md
  docs/zh/sql-reference/sql-statements/Administration/ALTER_STORAGE_VOLUME.md
  docs/zh/sql-reference/sql-statements/Administration/ALTER_SYSTEM.md
  docs/zh/sql-reference/sql-statements/account-management/ALTER_USER.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_DATABASE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_MATERIALIZED_VIEW.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_RESOURCE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_VIEW.md
  docs/zh/sql-reference/sql-statements/data-definition/CANCEL_ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_PIPE.md
  docs/zh/sql-reference/sql-statements/data-manipulation/ALTER_ROUTINE_LOAD.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SHOW_ALTER.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SHOW_ALTER_MATERIALIZED_VIEW.md
  docs/zh/using_starrocks/Materialized_view.md
Due: none

[Refactor]remove the code of parquet late materialize v1
  be/src/common/config.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/formats/parquet/stored_column_reader.h
  be/src/formats/parquet/stored_column_reader_with_index.h
  be/test/formats/parquet/group_reader_test.cpp
Due: be-total

config s3 compatible
  be/src/common/config.h
  be/src/fs/fs_util.h
  be/test/fs/fs_test.cpp
  conf/be_test.conf
Due: be-total

tidy
  be/src/formats/parquet/stored_column_reader.cpp
Due: be-total

support like for ngram bloom filter
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/expr_context.cpp
  be/src/exprs/expr_context.h
  be/src/exprs/function_call_expr.cpp
  be/src/exprs/function_call_expr.h
  be/src/exprs/function_context.cpp
  be/src/exprs/function_context.h
  be/src/storage/column_expr_predicate.cpp
  be/src/storage/column_expr_predicate.h
  be/src/storage/column_predicate.h
  be/src/storage/rowset/bloom_filter.h
  be/src/storage/rowset/bloom_filter_index_writer.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/util/slice.h
Due: be-total

[Feature] Optimize `count(1)` in hdfs scanner by rewriting plan to `sum`
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_orc.h
  be/src/exec/hdfs_scanner_partition.cpp
  be/src/exec/jni_scanner.cpp
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/test/io/shared_buffered_input_stream_test.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/cost/IcebergStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteSimpleAggToHDFSScanRule.java
Due: fe-total, be-total

[Enhancement] Reject duplicated LakeService::drop_table request(sync #40618) (#15736)
  be/src/service/service_be/lake_service.cpp
  be/test/service/lake_service_test.cpp
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableCleaner.java
  gensrc/proto/lake_service.proto
Due: fe-total, be-total

[Enhancement] use SLL as the default prediction mode(sync #41148) (#15591)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksBailErrorStrategy.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksDefaultErrorStrategy.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/ParserTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LimitTest.java
Due: fe-total

[BugFix] fix drop hudi resource table (#41558)
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
Due: fe-total

[Tool] Add branch parameter for CI inspection workflow
  .github/workflows/inspection-pipeline.yml
Due: none

[Tool] Add branch parameter for CI inspection workflow (#41591)
  .github/workflows/inspection-pipeline.yml
Due: none

[Enhancement] optimize cast string to datetime (#41464)
  be/src/exprs/cast_expr.cpp
  be/src/runtime/time_types.cpp
  be/src/runtime/time_types.h
  be/src/types/timestamp_value.cpp
  test/sql/test_function/R/test_cast_string_to_datetime
  test/sql/test_function/T/test_cast_string_to_datetime
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
