Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Enhancement] Fix Profile collect bug when log dir is removed (#51027)
  fe/fe-core/src/main/java/com/starrocks/memory/ProcProfileCollector.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadJobTest.java
Due: fe-total

[Enhancement] optimize ignore nulls (#50995)
  be/src/column/column_helper.h
  be/src/exprs/agg/window.h
  test/sql/test_window_function/R/test_ignore_nulls
  test/sql/test_window_function/T/test_ignore_nulls
Due: be-total

[BugFix] fix analyzing error in prepare stmt with HAVING clause (#50583)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/PreparedStmtTest.java
Due: fe-total

reslove conflict
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJob.java
Due: fe-total

[Refactor] Remove charge_mode from lru cache (#51227)
  be/src/io/cache_input_stream.cpp
  be/src/util/lru_cache.cpp
  be/src/util/lru_cache.h
Due: be-total

[BugFix] Fix stream load load_finish_time updated unexpected after transaction committed (#51174)
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadManagerTest.java
Due: fe-total

[BugFix] Cached fragment misuses exogenous runtime filter(backport #51150)
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/qe/TPCDSCoordTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/query_cache_misuse_exogenous_runtime_filter.json
Due: fe-total

[BugFix] Cached fragment misuses exogenous runtime filter(backport #51150) (#51211)
  fe/fe-core/src/main/java/com/starrocks/planner/FragmentNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/qe/Coordinator.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/qe/TPCDSCoordTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/query_cache_misuse_exogenous_runtime_filter.json
Due: fe-total

[Refactor] Remove unused OperationType Code (#51000)
  fe/fe-core/src/main/java/com/starrocks/authentication/UserPropertyInfo.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/ha/LeaderInfo.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/Timestamp.java
  fe/fe-core/src/main/java/com/starrocks/load/DeleteInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/ExportJob.java
  fe/fe-core/src/main/java/com/starrocks/persist/BackendTabletsInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/DatabaseInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/ModifyPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/RecoverInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/TableInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UserIdentity.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetPassVarTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/BrokerMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/OperationTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/VariableMgrTest.java
Due: fe-total

update
  be/src/storage/rowset_update_state.h
Due: be-total

[Doc] Publish Manage Replica Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/_assets/replica-1.png
  docs/en/_assets/replica-2.png
  docs/en/administration/management/resource_management/Replica.md
  docs/zh/_assets/replica-1.png
  docs/zh/_assets/replica-2.png
  docs/zh/administration/management/resource_management/Replica.md
Due: none

[Enhancement] support query lake compaction profile in FE (#50685)
  be/src/exec/schema_scanner/schema_be_cloud_native_compactions_scanner.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task_context.cpp
  be/src/storage/lake/compaction_task_context.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  be/test/storage/lake/compaction_task_context_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/BeCloudNativeCompactionsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/CompactionsProcNode.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionProfile.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionRecord.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionProfileTest.java
  gensrc/proto/lake_service.proto
Due: fe-total, be-total

[Feature] Support manully update datacache memory and disk quota online.
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/cache_options.cpp
  be/src/block_cache/cache_options.h
  be/src/block_cache/cachelib_wrapper.cpp
  be/src/block_cache/cachelib_wrapper.h
  be/src/block_cache/kv_cache.h
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/http/action/update_config_action.cpp
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/options.cpp
  be/test/block_cache/block_cache_test.cpp
Due: be-total

[Doc] Publish Manage Replica (#51272)
  docs/en/_assets/replica-1.png
  docs/en/_assets/replica-2.png
  docs/en/administration/management/resource_management/Replica.md
  docs/zh/_assets/replica-1.png
  docs/zh/_assets/replica-2.png
  docs/zh/administration/management/resource_management/Replica.md
Due: none

[Enhancement] support query lake compaction profile in FE (backport #50685)
  be/src/exec/schema_scanner/schema_be_cloud_native_compactions_scanner.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task_context.cpp
  be/src/storage/lake/compaction_task_context.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  be/test/storage/lake/compaction_task_context_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/BeCloudNativeCompactionsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/CompactionsProcNode.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionProfile.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionRecord.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionProfileTest.java
  gensrc/proto/lake_service.proto
Due: fe-total, be-total

[Enhancement] support query lake compaction profile in FE (backport #50685) (#51275)
  be/src/exec/schema_scanner/schema_be_cloud_native_compactions_scanner.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task_context.cpp
  be/src/storage/lake/compaction_task_context.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  be/test/storage/lake/compaction_task_context_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/BeCloudNativeCompactionsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/CompactionsProcNode.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionProfile.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionRecord.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionProfileTest.java
  gensrc/proto/lake_service.proto
Due: fe-total, be-total

remove static Column
  be/src/column/column_helper.cpp
  be/src/column/column_helper.h
  be/src/column/column_viewer.cpp
  be/src/runtime/CMakeLists.txt
  be/src/runtime/global_variables.cpp
  be/src/runtime/global_variables.h
  be/src/service/service_be/starrocks_be.cpp
  be/src/testutil/init_test_env.h
Due: be-total

[Doc] Update the document to add some BE configurations related to datacache and query pool.
  docs/en/administration/management/BE_configuration.md
  docs/zh/administration/management/BE_configuration.md
Due: none

Fix the unstable case: test_drop
  test/sql/test_task/R/test_drop
  test/sql/test_task/T/test_drop
Due: none

fix bitmap add for shared-data
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/alter/lake/AlterTest.java
Due: fe-total

[BugFix] fix pk concurrent apply issue (#51225)
  be/src/storage/base_tablet.h
  be/src/storage/tablet.h
  be/src/storage/tablet_manager.cpp
  be/src/storage/tablet_updates.h
  be/test/storage/tablet_updates_test.cpp
Due: be-total
