Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fix delete predicate in cross cluster replication
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/test/storage/lake/replication_txn_manager_test.cpp
Due: be-total

[Enhancement] Add some LoadChannel/AsyncDeltaWriter/DeltaWriter metrics (#41905)
  be/src/runtime/load_channel.cpp
  be/src/runtime/local_tablets_channel.cpp
  be/src/storage/async_delta_writer.cpp
  be/src/storage/async_delta_writer.h
  be/src/storage/delta_writer.cpp
  be/src/storage/memtable.cpp
  be/src/util/starrocks_metrics.cpp
  be/src/util/starrocks_metrics.h
  be/test/util/starrocks_metrics_test.cpp
Due: be-total

fix transalation error in bitmap indexes
  docs/en/table_design/indexes/Bitmap_index.md
Due: none

[BugFix] disable dict_mapping function in shared data mode (#42061)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/DictQueryFunctionTest.java
Due: fe-total

[BugFix] Do not init spill manager when enable_spill is false (#42043)
  be/src/exec/pipeline/fragment_executor.cpp
Due: be-total

[BugFix] Fix delete predicate in cross cluster replication for shared-data mode (backport #42055) (#42129)
  be/src/storage/lake/replication_txn_manager.cpp
  be/src/storage/lake/replication_txn_manager.h
  be/test/storage/lake/replication_txn_manager_test.cpp
Due: be-total

Update audit_loader.md
  docs/zh/administration/audit_loader.md
Due: none

[Refactor]StoredColumnReader reset() only reset_levels()
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/formats/parquet/stored_column_reader.h
Due: be-total

fix
  be/src/service/mem_hook.cpp
Due: be-total

update
  be/src/connector_sink/iceberg_chunk_sink.cpp
  be/test/connector_sink/file_chunk_sink_test.cpp
  be/test/connector_sink/hive_chunk_sink_test.cpp
  be/test/connector_sink/iceberg_chunk_sink_test.cpp
Due: be-total

[BugFix] Fix lowcardinality v2 runtime filter crash (#42079)
  be/src/exec/pipeline/fragment_executor.cpp
  test/sql/test_low_cardinality/R/test_low_cardinality2
  test/sql/test_low_cardinality/T/test_low_cardinality2
Due: be-total

test: update get_file_schema
  be/test/exec/parquet_scanner_test.cpp
Due: be-total

Add ut
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadMgrTest.java
Due: fe-total

Update audit_loader.md
  docs/en/administration/audit_loader.md
Due: none

[BugFix] Populate parquet data with system timezone when the data timezone is empty (branch-3.1) (backport #32300) (#42120)
  be/src/exec/arrow_to_starrocks_converter.cpp
  be/src/runtime/types.h
  be/test/exec/parquet_scanner_test.cpp
  be/test/exec/test_data/parquet_data/data_json.parquet
  be/test/exec/test_data/parquet_data/generate.py
Due: be-total

add some parameter meaning
  docs/en/administration/BE_configuration.md
  docs/en/administration/FE_configuration.md
  docs/zh/administration/BE_configuration.md
  docs/zh/administration/FE_configuration.md
Due: none

[BugFix] Report total number of tablets to FE in shared-data mode (#42077)
  fe/fe-core/src/main/java/com/starrocks/common/proc/BackendsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/ComputeNodeProcDir.java
  fe/fe-core/src/main/java/com/starrocks/lake/StarOSAgent.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowBackendsStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowComputeNodesStmt.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/BackendsProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/common/proc/ComputeNodeProcDirTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarOSAgentTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
Due: fe-total

[BugFix] add a default table name for table function relation (#41981)
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableFunctionRelation.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TableFunctionTest.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TableFunctionTest.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistinctAggTest.java
Due: fe-total

[BugFix] record cte expressionMapping all the time (#42080)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/CTETransformerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/nested_view_with_cte.json
Due: fe-total

update
  be/test/connector_sink/file_chunk_sink_test.cpp
  be/test/connector_sink/hive_chunk_sink_test.cpp
  be/test/connector_sink/iceberg_chunk_sink_test.cpp
Due: be-total

Create rising_wave.md
  docs/zh/integrations/streaming/rising_wave.md
Due: none

fix union all rewrite bug
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVColumnPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
Due: fe-total

update sidebar
  docs/docusaurus/sidebars.json
  docs/en/integrations/streaming/rising_wave.md
Due: none

[Refactor]move level cache to level decoder
  be/src/formats/parquet/level_codec.cpp
  be/src/formats/parquet/level_codec.h
  be/src/formats/parquet/stored_column_reader.cpp
Due: be-total

[Doc] Update audit_loader.md (#41655)
  docs/en/administration/audit_loader.md
  docs/zh/administration/audit_loader.md
Due: none
