Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Fix ut
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadJobTest.java
Due: fe-total

Fix
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/runtime/current_thread.h
  be/src/runtime/local_pass_through_buffer.cpp
  be/src/runtime/mem_tracker.h
Due: be-total

[BugFix] Fix not found dict expr when enable lowcardinality V2 (#47191)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeRewriter.java
  test/sql/test_low_cardinality/R/test_low_cardinality2
  test/sql/test_low_cardinality/T/test_low_cardinality2
Due: fe-total

support hive
  test/conf/sr.conf
  test/connect_hive.py
  test/connect_spark.py
  test/lib/hive_lib.py
  test/lib/sr_sql_lib.py
  test/sql/test_trino/R/test_trino
  test/sql/test_trino/T/test_trino
  test/test_sql_cases.py
Due: none

[Doc] update explain costs (#44477)
  docs/en/developers/trace-tools/query_trace_profile.md
  docs/en/sql-reference/sql-statements/Administration/EXPLAIN.md
  docs/zh/developers/trace-tools/query_trace_profile.md
  docs/zh/sql-reference/sql-statements/Administration/EXPLAIN.md
Due: none

[Doc] Add 2.5.22 release notes
  docs/en/release_notes/release-2.5.md
Due: none

Update release-2.5.md
  docs/zh/release_notes/release-2.5.md
Due: none

[Doc] Add 2.5.22 release notes (#47289)
  docs/en/release_notes/release-2.5.md
  docs/zh/release_notes/release-2.5.md
Due: none

[Doc] Add isolation key to scalar UDF parameters table (#47250)
  docs/en/sql-reference/sql-functions/JAVA_UDF.md
Due: none

add simdutf thirdparty
  be/CMakeLists.txt
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Due: be-total

add benchmark
  be/src/bench/CMakeLists.txt
  be/src/bench/utf8_bench.cpp
Due: be-total

Add ut
  fe/fe-core/src/test/java/com/starrocks/load/routineload/KafkaTaskInfoTest.java
Due: fe-total

[Feature] Unify load record through information_schema.loads & loads_history
  be/src/exec/schema_scanner/schema_loads_scanner.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/ScalarType.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/LoadsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/TransactionLoadAction.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/transaction/TransactionWithChannelHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/EtlStatus.java
  fe/fe-core/src/main/java/com/starrocks/load/LoadConstants.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadsHistorySyncer.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/ManualLoadTxnCommitAttachment.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/http/TransactionLoadActionTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/ShowStreamLoadTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadTaskTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total, be-total

random utf8
  be/src/bench/utf8_bench.cpp
  be/src/util/CMakeLists.txt
  be/src/util/random_utf8.cpp
  be/src/util/random_utf8.h
Due: be-total

[BugFix] fix bench build
  be/src/bench/chunks_sorter_bench.cpp
  be/src/bench/csv_reader_bench.cpp
  be/src/bench/get_dict_codes_bench.cpp
  be/src/bench/orc_column_reader_bench.cpp
  be/src/bench/parquet_dict_decode_bench.cpp
  be/src/bench/persistent_index_bench.cpp
  be/src/bench/runtime_filter_bench.cpp
Due: be-total

[BugFix] fix storage volume parameters validation (#47088)
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/main/java/com/starrocks/server/SharedDataStorageVolumeMgr.java
  fe/fe-core/src/test/java/com/starrocks/server/SharedDataStorageVolumeMgrTest.java
Due: fe-total

[BugFix] incremental fix to StarMgrSync deleteTablets
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarMgrMetaSyncerTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoBackend.java
Due: fe-total

resolve conflict, fix compiling and add ut
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarMgrMetaSyncerTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoBackend.java
Due: fe-total

Delete docs/en/developers/trace-tools/query_trace_profile.md
  docs/en/developers/trace-tools/query_trace_profile.md
Due: none

Delete docs/zh/developers/trace-tools/query_trace_profile.md
  docs/zh/developers/trace-tools/query_trace_profile.md
Due: none

[Enhancement] Support auto background refresh table cache for delta lake(sync #46645) (#21613)
  fe/fe-core/src/main/java/com/starrocks/connector/CacheUpdateProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/CachingDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeCacheUpdateProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/CachingHiveMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/ConnectorTableMetadataProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveCacheUpdateProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/AddPartitionEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/AlterPartitionEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/AlterTableEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/CreateTableEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/DropPartitionEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/DropTableEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/EventFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/IgnoredEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/InsertEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/MetastoreEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/MetastoreEventFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/MetastoreEventsProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/events/MetastoreTableEvent.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/metastore/CachingMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeCacheUpdateProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/CachingHiveMetastoreTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveViewTest.java
Due: fe-total

[Enhancement] Support convert escaped characters in load
  fe/fe-core/src/main/java/com/starrocks/analysis/Delimiter.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ColumnSeparatorTest.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RowDelimiterTest.java
Due: fe-total

[Enhancement] Support add multi range partition manually to expression partition table (#46359)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DateUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/CreateTableAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionDescAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExpressionPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ListPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/MultiRangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  test/sql/test_automatic_partition/R/test_automatic_partition_list
  test/sql/test_partition_by_expr/R/test_add_partition_to_auto_partition_table
  test/sql/test_partition_by_expr/T/test_add_partition_to_auto_partition_table
Due: fe-total

[Enhancement] use hashset instead of list to fix the performance bottleneck (#46845)
  fe/fe-core/src/main/java/com/starrocks/catalog/CatalogUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptOlapPartitionPruner.java
Due: fe-total
