Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] Unpack const column when in local exchange source operator (#43403)
  be/src/column/chunk.cpp
  be/src/column/chunk.h
  be/src/exec/pipeline/aggregate/repeat/repeat_operator.cpp
  be/src/exec/pipeline/aggregate/repeat/repeat_operator.h
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteGroupingSetsByCTERule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupingSetsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
  test/sql/test_grouping_sets/R/test_grouping_sets_v1
  test/sql/test_grouping_sets/R/test_grouping_sets_v2
  test/sql/test_grouping_sets/T/test_grouping_sets_v1
  test/sql/test_grouping_sets/T/test_grouping_sets_v2
Due: fe-total, be-total

[Feature][FlatJson] FE support inference json type in query
  fe/fe-core/src/main/java/com/starrocks/catalog/ColumnAccessPath.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PruneSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityArrayTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total

update
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Due: fe-total

upp
  be/src/util/json_flater.cpp
Due: be-total

ppp
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_writer.cpp
  be/test/exprs/json_functions_test.cpp
  gensrc/thrift/PlanNodes.thrift
Due: be-total

update test
  be/test/CMakeLists.txt
  be/test/exprs/flat_json_functions_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  test/sql/test_semi/R/test_invalid_flat_json
Due: be-total

rebase
  be/src/util/json_flater.cpp
  be/test/exprs/flat_json_functions_test.cpp
Due: be-total

[Feature] support flat json type inference core
  be/src/column/column_access_path.cpp
  be/src/column/column_access_path.h
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/util/CMakeLists.txt
  be/src/util/json_flater.cpp
  be/src/util/json_flater.h
  be/src/util/json_util.cpp
  be/src/util/json_util.h
Due: be-total

Update SUBMIT_TASK.md
  docs/en/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
Due: none

[Doc]Update ranger_plugin.md
  docs/zh/administration/user_privs/ranger_plugin.md
Due: none

fix for comment
  be/src/exec/hdfs_scanner_text.cpp
Due: be-total

Update SUBMIT_TASK.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
Due: none

fix
  fe/fe-core/src/main/java/com/starrocks/leader/Checkpoint.java
Due: fe-total

[Doc] for periodical task (#42523)
  docs/en/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
  docs/zh/sql-reference/sql-statements/data-manipulation/SUBMIT_TASK.md
Due: none

Add enable_materialized_view_metrics_collect to control whether to collect mv's metrics
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/metric/IMaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsBlackHoleEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsEntity.java
  fe/fe-core/src/main/java/com/starrocks/metric/MaterializedViewMetricsRegistry.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/validate/MVRewriteValidator.java
Due: fe-total

fix prepare execute bug
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PrepareStmt.java
Due: fe-total

fix prepare execute bug
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Due: fe-total

remove unuse import
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Due: fe-total

fix prepare execute bug
  fe/fe-core/src/main/java/com/starrocks/sql/ast/PrepareStmt.java
Due: fe-total

add test case
  test/sql/test_preparestatement/R/test_preprare_statement
  test/sql/test_preparestatement/T/test_preprare_statement
Due: none

fix bugs
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[UT] disable long running BeRestartTest
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/BeRestartTest.java
Due: fe-total

fix view delta join mv rewrite bug
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/Generator.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PermutationGenerator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteStrategy.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/PermutationGeneratorTest.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
Due: fe-total

[BugFix] Avoid list tablet_metadata when get_tabet_num_rows (#43584)
  be/src/connector/lake_connector.cpp
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/lake/tablet_reader.cpp
  be/test/storage/lake/tablet_test.cpp
Due: be-total

[Refactor] refactor code and use scan bytes speed as metric of chunk (#43608)
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
