Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] Support configuring HMS timeout param when creating hive/iceberg connector (#39590)
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetaClient.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/hive/IcebergHiveCatalog.java
Due: fe-total

[Feature] support user variable hint
  fe/fe-core/src/main/java/com/starrocks/analysis/HintNode.java
  fe/fe-core/src/main/java/com/starrocks/analysis/UserVariableHint.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SetExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DdlStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DmlStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SelectList.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/StatementBase.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UserVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/HintCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/HintFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/SetExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSingleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/AstToSqlTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/HintCollectorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/HintFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/parser/ParserTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectHintTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SetVarTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite_year.json
  test/sql/test_hint/R/test_hint
  test/sql/test_hint/T/test_hint
Due: fe-total

[BugFix] Fix unexpected memory copy in pipeline builder (#39338)
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/pipeline_builder.h
Due: be-total

[BugFix] Fix mistake use commit time and prepared time when check txn timeout (#40795)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
Due: fe-total

[BugFix] Fix keys_type not showed up in TabletSchema::debug_string (#40802)
  be/src/storage/tablet_schema.cpp
Due: be-total

[UT] Increase lock thread timeout in UT to avoid error (#40813)
  fe/fe-core/src/test/java/com/starrocks/common/lock/LockTask.java
Due: fe-total

map index to instr
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/Trino2SRFunctionCallTransformer.java
Due: fe-total

fix comments
  be/src/service/internal_service.cpp
Due: be-total

[Enhancement] Add MetadataMgr#getTableBasicInfo to avoid network interaction for external table (#38276)
  fe/fe-core/src/main/java/com/starrocks/catalog/BasicTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Catalog.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalCatalog.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExternalCatalogTableBasicInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/elasticsearch/ElasticsearchMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/JDBCMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/MockIcebergMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/jdbc/MockedJDBCMetadata.java
  test/sql/test_information_schema/R/test_external_catalog_information_schema
  test/sql/test_information_schema/T/test_external_catalog_information_schema
Due: fe-total

resolve conflict
  be/src/storage/lake/rowset_update_state.cpp
  be/test/storage/lake/partial_update_test.cpp
Due: be-total

fix style
  fe/fe-core/src/main/java/com/starrocks/sql/ast/SelectList.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total

[BugFix] use mv partition range to refresh when active mv (backport #40715) (#40777)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  test/sql/test_materialized_view/R/test_materialized_view_status
  test/sql/test_materialized_view/T/test_materialized_view_status
Due: fe-total

[BugFix] fix cancel refresh mv command cannot stop task (backport #40649) (#40686)
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

add other functions
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/Trino2SRFunctionCallTransformer.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
Due: fe-total

[Enhancement] add Werror option for clang (#40741)
  be/CMakeLists.txt
  be/src/exec/pipeline/spill_process_channel.cpp
  be/src/exec/pipeline/spill_process_channel.h
  be/src/exprs/cast_expr.cpp
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
  be/src/exprs/string_functions.cpp
  be/src/storage/rowset/dict_page.cpp
Due: be-total

[Enhancement] using stream to get iceberg scantask in list_partition_names (#40798)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
Due: fe-total

[UT] improve UT test_fixlen_mutable_index_wal
  be/test/storage/persistent_index_test.cpp
Due: be-total

Fix ut failure
  be/test/storage/binlog_builder_test.cpp
Due: be-total

[BugFix] Fix bug dynamic partition date type does not support hour (backport #40256) (#40328)
  fe/fe-core/src/main/java/com/starrocks/catalog/DynamicPartitionProperty.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/clone/DynamicPartitionSchedulerTest.java
Due: fe-total

[Enhancement] Optimize the lock contention of consistency checker (#40710)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/consistency/CheckConsistencyJob.java
  fe/fe-core/src/main/java/com/starrocks/consistency/ConsistencyChecker.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalTask.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/test/java/com/starrocks/alter/LakeTableSchemaChangeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/journal/JournalWriterTest.java
Due: fe-total

Use table list clone to avoid ConcurrentModificationException in Locker
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
Due: fe-total

[Enhancement] Refine the syntax of show tablet (#40449)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ShowTabletTest.java
Due: fe-total

Update StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Due: fe-total

[UT] Refine mv ut performance (#40586)
  fe/fe-core/src/test/java/com/starrocks/catalog/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/system/sys/SysObjectDependenciesTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteOnTpcdsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
Due: fe-total

[BugFix] fix cancel refresh mv command cannot stop task (#40649)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

update version info of array_unique_agg
  docs/en/sql-reference/sql-functions/array-functions/array_unique_agg.md
  docs/zh/sql-reference/sql-functions/array-functions/array_unique_agg.md
Due: none

[UT] Fix long running ut case (#40642)
  fe/fe-core/src/main/java/com/starrocks/clone/TabletScheduler.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/LocationLabeledTableBalanceTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/LocationMismatchRepairTest.java
  fe/fe-core/src/test/java/com/starrocks/server/ConcurrentDDLTest.java
Due: fe-total

[Enhancement] support internal-sql log (#40453)
  fe/fe-core/src/main/java/com/starrocks/common/AuditLog.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
  fe/fe-core/src/main/java/com/starrocks/http/action/LogAction.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
