Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Bugfix] avoid hudi context npe when cache reload in background -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileScanContext.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemotePathKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiRemoteFileIO.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
Due: fe-total

add ut
  fe/fe-core/src/main/java/com/starrocks/connector/RemotePathKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiRemoteFileIO.java
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteFileOperationsTest.java
Due: fe-total

add more info when mem alloc failed -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

update result -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  test/sql/test_hive/R/test_hive_scan_ranges
Due: none

fix be bug -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/scan/scan_operator.cpp
Due: be-total

no need to check has more in has_output -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/scan/scan_operator.cpp
Due: be-total

update ut
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

fix for comment -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/scan/morsel.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/HDFSBackendSelector.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/test/java/com/starrocks/qe/HDFSBackendSelectorTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/IncrementalDeployHiveTest.java
  gensrc/thrift/InternalService.thrift
Due: fe-total, be-total

support incremental scan ranges on BE -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/connector/connector.cpp
  be/src/exec/capture_version_node.cpp
  be/src/exec/connector_scan_node.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/fragment_executor.h
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/scan_node.cpp
  be/src/service/internal_service.cpp
  be/src/storage/lake/tablet_reader.cpp
  gensrc/thrift/InternalService.thrift
Due: be-total

fix metrics
  fe/fe-core/src/main/java/com/starrocks/common/profile/Tracer.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/TracerImpl.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/Tracers.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/Var.java
  fe/fe-core/src/main/java/com/starrocks/common/profile/VarTracer.java
  fe/fe-core/src/main/java/com/starrocks/connector/AsyncTaskQueue.java
  fe/fe-core/src/main/java/com/starrocks/qe/HDFSBackendSelector.java
Due: fe-total

add ut but with some bug -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/scan_node.cpp
  test/sql/test_hive/R/test_hive_scan_ranges
  test/sql/test_hive/T/test_hive_scan_ranges
Due: be-total

update be ut -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  test/sql/test_hive/R/test_hive_scan_ranges
Due: none

change default value
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

deploy incremental scan ranges
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
Due: fe-total

fix be ut -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

fix be ut -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  test/sql/test_hive/R/test_hive_scan_ranges
  test/sql/test_hive/T/test_hive_scan_ranges
Due: none

add session variable
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

add more metrics to fe
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileOperations.java
Due: fe-total

adaptive change concurrency
  fe/fe-core/src/main/java/com/starrocks/connector/AsyncTaskQueue.java
Due: fe-total

remove unused code -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/capture_version_node.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/scan_node.cpp
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

add append morsels method -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/pipeline/scan/scan_operator.cpp
Due: be-total

send end of scan ranges to BE
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
Due: fe-total

fix ut
  be/src/formats/disk_range.hpp
  be/test/exec/pipeline/mem_limited_chunk_queue_test.cpp
Due: be-total

fix bugs
  test/sql/test_list_partition/R/test_list_partition_prune
  test/sql/test_list_partition/T/test_list_partition_prune
Due: none

[Refactor] Add default hash func template for phmap (#49736)
  be/src/column/column_hash.h
  be/src/exec/schema_scanner/schema_views_scanner.cpp
  be/src/exec/schema_scanner/schema_views_scanner.h
  be/src/exprs/agg/approx_top_k.h
  be/src/exprs/array_functions.tpp
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Due: be-total

[BugFix] Fix bug in serialization of EncryptionKeyPB and dcg handling(sync #50797) (#27701)
  be/src/fs/encrypt_file.h
  be/src/fs/key_cache.cpp
  be/src/io/seekable_input_stream.h
  be/src/script/script.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/rowset/page_io.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/test/fs/key_cache_test.cpp
  be/test/io/seekable_input_stream_test.cpp
  fe/fe-core/src/main/java/com/starrocks/encryption/EncryptionKeyPBAdapter.java
Due: fe-total, be-total

[BugFix] fix BE crash when http api request for pprof/cmdline (#51077)
  be/src/http/action/pprof_actions.cpp
Due: be-total

[BugFix] Add enable_active_materialized_view_schema_strict_check config to decide whether to check schema strictlly in activing mv (#50867)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

add test
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/JoinPredicatePushdownTest.java
Due: fe-total

[Enhancement] support derive predicate from callOperator predicate
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarEquivalenceExtractor.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/JoinPredicatePushdownTest.java
Due: fe-total

[Bugfix] Fix checkActionInDb get wrong permission by ranger
  fe/fe-core/src/main/java/com/starrocks/privilege/ranger/starrocks/RangerStarRocksAccessController.java
Due: fe-total

[Refactor] update an error message (#50994)
  be/src/exec/pipeline/pipeline_driver.cpp
Due: be-total

[Enhancement] Support external delta lake table for unity catalog (#27650)
  fe/fe-core/src/main/java/com/starrocks/epack/connector/delta/DatabricksUnityMetastore.java
  fe/fe-core/src/test/java/com/starrocks/epack/connector/delta/MockDatabricksWorkspaceClient.java
Due: fe-total

[BugFix] RangePredicateExtractor discard predicates mistakenly (backport #50854)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarRangePredicateExtractor.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Due: fe-total

add comments
  be/src/common/config.h
Due: be-total

[BugFix] Fix pushdown subfield with unstrict expression in project error (#51100)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/CloneDuplicateColRefRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PushDownSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  fe/fe-core/src/test/resources/sql/external/hive/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14-2.sql
  fe/fe-core/src/test/resources/sql/scheduler/tpch/q14.sql
  fe/fe-core/src/test/resources/sql/tpch-histogram-cost/q14.sql
  fe/fe-core/src/test/resources/sql/tpchcost/q14.sql
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
