Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fix uninitialized error when build BE UT in release type (#43043)
  be/test/util/rle_encoding_test.cpp
Due: be-total

Add ConnectorSinkPassthroughExchanger
  be/src/common/config.h
  be/src/exec/chunk_buffer_memory_manager.h
  be/src/exec/pipeline/exchange/local_exchange.cpp
  be/src/exec/pipeline/exchange/local_exchange.h
  be/src/runtime/runtime_state.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Due: fe-total, be-total

rebase main
  be/src/exec/data_sink.cpp
  be/src/exec/pipeline/exchange/local_exchange.h
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/pipeline_builder.h
Due: be-total

fix thrift
  gensrc/thrift/InternalService.thrift
Due: none

rebase main
  be/src/runtime/hive_table_sink.cpp
  be/src/runtime/iceberg_table_sink.cpp
  be/src/runtime/table_function_table_sink.cpp
Due: be-total

[Tool] Set thirdparty to Success by default. (#43045)
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
Due: none

fix
  be/src/exec/pipeline/scan/olap_scan_context.cpp
  be/src/exec/pipeline/scan/olap_scan_prepare_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/testutil/sync_point.h
  be/test/CMakeLists.txt
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

Update downgrade.md
  docs/en/deployment/downgrade.md
Due: none

[Feature] Metrics that support memory and object statistics (#41397)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfileManager.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/DeleteMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/memory/AgentTaskTracker.java
  fe/fe-core/src/main/java/com/starrocks/memory/InternalCatalogMemoryTracker.java
  fe/fe-core/src/main/java/com/starrocks/memory/MemoryStat.java
  fe/fe-core/src/main/java/com/starrocks/memory/MemoryUsageTracker.java
  fe/fe-core/src/main/java/com/starrocks/memory/QueryTracker.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricCalculator.java
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryDetailQueue.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTaskQueue.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
  test/sql/test_metrics/R/test_memory_metrics
  test/sql/test_metrics/T/test_memory_metrics
Due: fe-total

fix
  be/test/exec/pipeline/olap_scan_operator_test.cpp
Due: be-total

Update downgrade.md
  docs/zh/deployment/downgrade.md
Due: none

fix
  be/src/exec/pipeline/scan/olap_scan_prepare_operator.cpp
Due: be-total

fix rebase bug
  be/src/exec/data_sink.cpp
Due: be-total

[Feature] Support from_unixtime for partition by expr part 1 (#36470)
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExpressionPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RangePartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_substr
  test/sql/test_partition_by_expr/R/test_expr_substr_add_partition
  test/sql/test_partition_by_expr/R/test_expr_substr_prune_partition
  test/sql/test_partition_by_expr/T/test_expr_from_unixtime
  test/sql/test_partition_by_expr/T/test_expr_substr
  test/sql/test_partition_by_expr/T/test_expr_substr_add_partition
  test/sql/test_partition_by_expr/T/test_expr_substr_prune_partition
Due: fe-total

[BugFix] Fix throwed NPE in TabletStatMgr when there is no alive node (#42726)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TabletStatMgrTest.java
Due: fe-total

improve
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
Due: fe-total

[Feature] Support from_unixtime_ms for partition by expr part 2 (#37454)
  be/src/exprs/time_functions.cpp
  be/src/exprs/time_functions.h
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  gensrc/script/functions.py
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_add_partition
  test/sql/test_partition_by_expr/T/test_expr_from_unixtime
  test/sql/test_partition_by_expr/T/test_expr_from_unixtime_add_partition
Due: fe-total, be-total

[Feature] from_unixtime partition supports partition pruning part 3 (#37801)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/ColumnFilterConverter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime_prune_partition
  test/sql/test_partition_by_expr/T/test_expr_from_unixtime_prune_partition
Due: fe-total

[Feature] Support str2date for partition by expr part 4 (#37867)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionExprAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExpressionPartitionDesc.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  test/sql/test_partition_by_expr/R/test_expr_str2date
  test/sql/test_partition_by_expr/T/test_expr_str2date
Due: fe-total

[UT] fix asan UT failure & unstable UT (#43029)
  be/test/storage/lake/meta_file_test.cpp
  be/test/storage/sstable/persistent_index_sstable_test.cpp
  be/test/util/ratelimit_test.cpp
Due: be-total

add dump file
  fe/fe-core/src/test/resources/sql/query_dump/list_partition_prune_dump.json
Due: fe-total

fix compile
  be/src/formats/parquet/group_reader.cpp
Due: be-total

resolve conflict
  be/test/storage/sstable/persistent_index_sstable_test.cpp
Due: be-total

[BugFix] Fix bug partition by expr slot id is incorrect (#39760)
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  test/sql/test_partition_by_expr/R/test_expr_from_unixtime
  test/sql/test_partition_by_expr/T/test_expr_from_unixtime
Due: fe-total

add-fast_schema_evolution-into-flink-cdc-3.0
  docs/en/loading/Flink-connector-starrocks.md
  docs/zh/loading/Flink-connector-starrocks.md
Due: none

[Feature](4/n) Support fast schema evolution in shared data mode (#42805)
  fe/fe-core/src/main/java/com/starrocks/lake/LakeMaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTable.java
  fe/fe-core/src/main/java/com/starrocks/lake/LakeTableHelper.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/test/java/com/starrocks/lake/CreateLakeTableTest.java
Due: fe-total

[BugFix] Fix throwed NPE in TabletStatMgr when there is no alive node(sync #42726) (#17170)
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TabletStatMgrTest.java
Due: fe-total

[Enhancement] trino dialect support select offset (#43001)
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoQueryTest.java
Due: fe-total
