Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Doc] Fix example
  docs/zh/sql-reference/sql-functions/map-functions/map_concat.md
Due: none

fix license
  be/src/exprs/agg/hll_sketch.h
Due: be-total

Update map_concat.md
  docs/en/sql-reference/sql-functions/map-functions/map_concat.md
Due: none

[BugFix] Fix transactionState deadlock between auto partition and new publish (#44974)
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionChecker.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
Due: fe-total

[BugFix] Fix partition_key is empty when query list partition (#44631)
  fe/fe-core/src/main/java/com/starrocks/service/InformationSchemaDataSource.java
Due: fe-total

updates
  docs/en/table_design/Data_distribution.md
  docs/zh/table_design/Data_distribution.md
Due: none

[Feature] Stream load supports compression (#43732)
  be/src/exec/json_scanner.cpp
  be/src/exec/json_scanner.h
  be/src/http/action/stream_load.cpp
  be/src/http/action/transaction_stream_load.cpp
  be/src/http/http_common.h
  be/src/runtime/stream_load/stream_load_pipe.cpp
  be/src/runtime/stream_load/stream_load_pipe.h
  be/src/util/byte_buffer.h
  be/test/runtime/stream_load_pipe_test.cpp
  be/test/runtime/test_data/compressed_file/foo.json.lz4
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadInfo.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadScanNode.java
  fe/fe-core/src/test/java/com/starrocks/planner/StreamLoadPlannerTest.java
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

updates
  docs/en/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
  docs/en/table_design/Data_distribution.md
  docs/zh/table_design/Data_distribution.md
Due: none

updates
  docs/en/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Due: none

updates
  docs/en/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Due: none

[Enhancement] Improve no data load error message (#44292)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/PulsarRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionCommitFailedException.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/SparkLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadTaskTest.java
Due: fe-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
Due: fe-total

test: add testIllegalDelimiter
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[BugFix] Fix transactionState deadlock between auto partition and new publish (#44974)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionChecker.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
Due: fe-total

[BugFix] Fix uncorrect new path for GIN file after restore
  be/src/storage/snapshot_manager.cpp
Due: be-total

refactor
  be/src/runtime/snapshot_loader.cpp
  be/src/runtime/snapshot_loader.h
  be/src/storage/inverted/clucene/clucene_plugin.h
  be/src/storage/snapshot_manager.cpp
  be/test/runtime/snapshot_loader_test.cpp
Due: be-total

[BugFix] Fix transactionState deadlock between auto partition and new publish (#44974)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionState.java
Due: fe-total

[Doc] Fix example (#45015)
  docs/en/sql-reference/sql-functions/map-functions/map_concat.md
  docs/zh/sql-reference/sql-functions/map-functions/map_concat.md
Due: none

[BugFix] fix table statistics check error (#44956)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalcUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/BasicStatsMeta.java
Due: fe-total

[BugFix] fix bug for sqlblacklist (#45005)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

fix
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/snapshot_manager.cpp
Due: be-total

Fix compile
  be/src/runtime/snapshot_loader.cpp
  be/src/storage/snapshot_manager.cpp
Due: be-total

fix cp issue
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

[Feature] Add a new function APPROX_COUNT_DISTINCT_HLL_SKETCH with datasketches hyperloglog algorithm (#20836)
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/exprs/agg/factory/aggregate_resolver_approx.cpp
  be/src/exprs/agg/hll_sketch.h
  be/src/types/constexpr.h
  be/src/types/hll.cpp
  be/src/types/hll.h
  docs/en/sql-reference/sql-functions/aggregate-functions/approx_count_distinct_hll_sketch.md
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PreAggregateTurnOnRule.java
Due: fe-total, be-total

Fix conflict
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadTaskTest.java
Due: fe-total

[BugFix] Disable Gin for shared data mode and alter gin column into non-string type (#44970)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/analysis/InvertedIndexUtil.java
  fe/fe-core/src/test/java/com/starrocks/analysis/GINIndexTest.java
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
Due: fe-total

Update CREATE_STORAGE_VOLUME.md
  docs/en/sql-reference/sql-statements/Administration/CREATE_STORAGE_VOLUME.md
Due: none

Update CREATE_STORAGE_VOLUME.md
  docs/zh/sql-reference/sql-statements/Administration/CREATE_STORAGE_VOLUME.md
Due: none

Update fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
