Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fix select partition meta error in lake table (#50190)
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/PartitionStatistics.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/PartitionStatisticsTest.java
Due: fe-total

[BugFix] Fix the result error when the order by column and KEY of a non-PK table do not match. (#50258)
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  test/sql/test_schema/R/test_order_keys
  test/sql/test_schema/T/test_order_keys
Due: fe-total

update landing page
  docs/docusaurus/src/components/Features/index.js
Due: none

[Tool] SQL-Tester add timeout limit for single case (#48792)
  test/lib/__init__.py
  test/lib/hive_lib.py
  test/lib/spark_lib.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/lib/trino_lib.py
  test/requirements.txt
  test/run.py
  test/sql/test_across_engine/R/test_sink
  test/sql/test_across_engine/R/test_sink_partitioned
  test/sql/test_across_engine/T/test_sink
  test/sql/test_across_engine/T/test_sink_partitioned
  test/sql/test_dictionary/R/test_dictionary
  test/sql/test_dictionary/T/test_dictionary
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
  test/sql/test_materialized_column/R/test_materialized_column
  test/sql/test_materialized_column/T/test_materialized_column
  test/sql/test_materialized_view/R/test_mv_partition_compensate_hive
  test/sql/test_materialized_view/R/test_mv_partition_compensate_olap
  test/sql/test_materialized_view/R/test_mv_partition_union_rewrite_mode_iceberg
  test/sql/test_materialized_view/T/test_mv_partition_compensate_hive
  test/sql/test_materialized_view/T/test_mv_partition_compensate_olap
  test/sql/test_materialized_view/T/test_mv_partition_union_rewrite_mode_iceberg
  test/sql/test_transparent_mv/R/test_transparent_mv_olap
  test/sql/test_transparent_mv/T/test_transparent_mv_hive
  test/sql/test_transparent_mv/T/test_transparent_mv_olap
  test/test_sql_cases.py
Due: none

[Tool] SQL-Tester add timeout limit for single case (#48792)
  test/lib/__init__.py
  test/lib/hive_lib.py
  test/lib/spark_lib.py
  test/lib/sql_annotation.py
  test/lib/sr_sql_lib.py
  test/lib/trino_lib.py
  test/requirements.txt
  test/run.py
  test/sql/test_across_engine/R/test_sink
  test/sql/test_across_engine/R/test_sink_partitioned
  test/sql/test_across_engine/T/test_sink
  test/sql/test_across_engine/T/test_sink_partitioned
  test/sql/test_dictionary/R/test_dictionary
  test/sql/test_dictionary/T/test_dictionary
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
  test/sql/test_materialized_column/R/test_materialized_column
  test/sql/test_materialized_column/T/test_materialized_column
  test/sql/test_materialized_view/R/test_mv_partition_compensate_hive
  test/sql/test_materialized_view/R/test_mv_partition_compensate_iceberg
  test/sql/test_materialized_view/R/test_mv_partition_compensate_olap
  test/sql/test_materialized_view/T/test_mv_partition_compensate_hive
  test/sql/test_materialized_view/T/test_mv_partition_compensate_iceberg
  test/sql/test_materialized_view/T/test_mv_partition_compensate_olap
  test/sql/test_transparent_mv/R/test_transparent_mv_hive
  test/sql/test_transparent_mv/R/test_transparent_mv_olap
  test/sql/test_transparent_mv/T/test_transparent_mv_hive
  test/sql/test_transparent_mv/T/test_transparent_mv_olap
  test/test_sql_cases.py
Due: none

fix
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exprs/json_functions.cpp
  be/src/util/json_flattener.cpp
  be/test/util/json_flattener_test.cpp
Due: be-total

fix conflict
  test/lib/sr_sql_lib.py
  test/requirements.txt
  test/test_sql_cases.py
Due: none

fix conflict
  test/README.md
  test/conf/sr.conf
Due: none

fix conflict
  test/sql/test_across_engine/R/test_sink
  test/sql/test_across_engine/R/test_sink_partitioned
  test/sql/test_across_engine/T/test_sink
  test/sql/test_across_engine/T/test_sink_partitioned
Due: none

update
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
Due: fe-total

update category pages
  docs/en/sql-reference/HTTP_API/http_api.mdx
  docs/en/sql-reference/data-types/README.md
  docs/en/sql-reference/data-types/_category_.yml
  docs/en/sql-reference/http_sql_api.md
  docs/en/sql-reference/sql-functions/README.md
  docs/zh/sql-reference/HTTP_API/http_api.mdx
  docs/zh/sql-reference/data-types/README.md
  docs/zh/sql-reference/data-types/_category_.yml
  docs/zh/sql-reference/http_sql_api.md
  docs/zh/sql-reference/sql-functions/README.md
Due: none

[BugFix] Refactor UserProperty to Separate Validation and Setting Logic (#50192)
  fe/fe-core/src/main/java/com/starrocks/authentication/UserProperty.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
Due: fe-total

[Enhancement] add metrics for analysis error (#50250)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Due: fe-total

replace table with doccardlist
  docs/en/sql-reference/information_schema/information_schema.md
  docs/en/sql-reference/reference.mdx
  docs/zh/sql-reference/information_schema/information_schema.md
  docs/zh/sql-reference/reference.mdx
Due: none

[BugFix] Fix thrift invalid TType error
  be/src/exec/pipeline/exec_state_reporter.cpp
Due: be-total

Update fe config
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TransactionCommitFailedException.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

Fix sql test
  test/sql/test_auto_increment/R/test_auto_increment
  test/sql/test_auto_increment/T/test_auto_increment
Due: none

Add insert_max_filter_ratio session variable and fix mv refresh
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_time_slice
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_time_slice
Due: fe-total

[Enhancement] Support insert properties
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ParserErrorMsg.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/catalog/TableFunctionTableTest.java
  test/sql/test_automatic_partition/R/test_insert_overwrite
  test/sql/test_files/R/test_insert_properties
  test/sql/test_files/T/test_insert_properties
  test/sql/test_files/csv_format/invalid_int.csv
  test/sql/test_information_schema/R/test_loads
Due: fe-total

Fix update and delete max_filter_ratio
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DeleteAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DmlStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
  test/sql/test_dml/R/test_update
  test/sql/test_dml/T/test_update
Due: fe-total

[BugFix] fix clang build break (#50240)
  be/src/exec/join_hash_map.tpp
Due: be-total

[BugFix] fix unit test clang build error (#50241)
  be/test/http/stream_load_test.cpp
  be/test/http/transaction_stream_load_test.cpp
Due: be-total

[Enhancement] set required distribution flag in optExpression (#50140)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptExpression.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/MarkParentRequiredDistributionRule.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/tree/MarkParentRequiredDistributionRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest2.java
Due: fe-total
