Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fix update planner more compitable between ouput column and target table column (#43917)
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  test/sql/test_dml/R/test_update
  test/sql/test_dml/T/test_update
Due: fe-total

address review comments
  be/src/common/config.h
Due: be-total

[BugFix][FlatJson] Fix flat json nomarlized cast error (#43852)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownFlatJsonMetaToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PruneSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Due: fe-total

update
  be/src/formats/parquet/file_writer.cpp
Due: be-total

[Refactor] Remove legacy code (#43904)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/OlapTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Column.java
  fe/fe-core/src/main/java/com/starrocks/catalog/SchemaInfo.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/main/java/com/starrocks/planner/DictionaryCacheSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FeNameFormat.java
Due: fe-total

[UT] remove setting session variables have not been added (#43936)
  .gitignore
  test/sql/test_scan/test_pushdown_or_predicate/R/test_index_and_filter_on_or_predicate
  test/sql/test_scan/test_pushdown_or_predicate/R/test_parse_and_rewrite_or_predicate
  test/sql/test_scan/test_pushdown_or_predicate/T/test_index_and_filter_on_or_predicate
  test/sql/test_scan/test_pushdown_or_predicate/T/test_parse_and_rewrite_or_predicate
Due: none

Update Load_balance.md
  docs/zh/administration/management/resource_management/Load_balance.md
Due: none

Add l2_distance function
  be/src/exprs/math_functions.cpp
  be/src/exprs/math_functions.h
  docs/en/sql-reference/sql-functions/math-functions/l2_distance.md
  gensrc/script/functions.py
  test/sql/test_function/R/test_math
  test/sql/test_function/T/test_math
Due: be-total

[Enhancement] upgrade staros version to v3.3-rc0
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  run-be-ut.sh
  thirdparty/starlet-artifacts-version.sh
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-ubuntu22-x86_64.sh
  thirdparty/vars-x86_64.sh
Due: fe-total

fix expire time when replaying taskrun
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
Due: fe-total

fix null expire_time
  be/src/exec/schema_scanner/schema_tasks_scanner.cpp
Due: be-total

increase the default poll interval of pipe
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
Due: fe-total

change doc
  docs/en/sql-reference/sql-statements/data-manipulation/CREATE_PIPE.md
  docs/zh/sql-reference/sql-statements/data-manipulation/CREATE_PIPE.md
Due: none

increase the maximum limitation
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PipeAnalyzer.java
Due: fe-total

[BugFix] Fix forgot to handle error (#43889)
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/tablet_updates.cpp
Due: be-total

[Enhancement]Support get stats for subfield of struct type from statistics storage (#43675)
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorColumnStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorHistogramColumnStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/SubfieldOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SkewJoinOptimizeRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnBasicStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnHistogramStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/task/RewriteTreeTask.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SkewJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SplitScanToUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCHPlanWithHistogramCostTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/MockHistogramStatisticStorage.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsExecutorTest.java
Due: fe-total

[BugFix] disable per bucket optimize in force spill mode (#43935)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PhysicalDistributionAggOptRule.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
Due: fe-total

[BugFix] Fix forgot to handle error (#43889)
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment.h
  be/src/storage/tablet_updates.cpp
Due: be-total

fix conflicts
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SkewJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCHPlanWithHistogramCostTest.java
Due: fe-total

[Refactor] Remove security integration related code
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/LDAPAuthProviderForExternal.java
  fe/fe-core/src/main/java/com/starrocks/authentication/LDAPSecurityIntegration.java
  fe/fe-core/src/main/java/com/starrocks/authentication/SecurityIntegration.java
  fe/fe-core/src/main/java/com/starrocks/authentication/SecurityIntegrationFactory.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
Due: fe-total

[Enhancement] Sstable block cache and memory usage of LakePerisistentIndex (#43834)
  be/src/common/config.h
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/src/storage/persistent_index.h
Due: be-total

[Enhancement][FlatJson] json function support type inference
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/exprs/jsonpath.h
  be/test/exprs/flat_json_functions_test.cpp
  be/test/exprs/json_functions_test.cpp
Due: be-total

fix conflicts
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Due: fe-total

[BugFix] Refactor the partition refresh of materialized view for paimon table (#42851)
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/Partition.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/RowDataConverter.java
  fe/fe-core/src/test/java/com/starrocks/connector/ConnectorPartitionTraitsTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
Due: fe-total

fix compile
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
Due: fe-total

[BugFix] move SubfieldExprNoCopyRule from logical rule to physical rule (#38756)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/SubfieldExprNoCopyRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SkewJoinTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Due: fe-total

[Feature] impl left join unnest on true (#42924)
  be/src/exprs/table_function/multi_unnest.h
  be/src/exprs/table_function/table_function.h
  be/src/exprs/table_function/unnest.h
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunction.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/TableFunctionRelation.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeLateralTest.java
  gensrc/thrift/Types.thrift
  test/sql/test_unnest/R/test_unnest_left_join
  test/sql/test_unnest/T/test_unnest_left_join
Due: fe-total, be-total
