Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

e2e sink
  be/src/connector/CMakeLists.txt
  be/src/connector/connector.cpp
  be/src/connector/connector.h
  be/src/connector/file_connector.cpp
  be/src/connector/file_connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/connector/iceberg_connector.cpp
  be/src/connector/iceberg_connector.h
  be/src/exec/data_sink.cpp
  be/src/exec/pipeline/exchange/local_exchange.cpp
  be/src/exec/pipeline/exchange/local_exchange.h
Due: be-total

Update release-3.2.md
  docs/en/release_notes/release-3.2.md
Due: none

[BugFix] Fix inconsistency crash when generated column backuped after base compaction in cross cluster replication (#42433)
  be/src/storage/replication_txn_manager.cpp
Due: be-total

Update release-3.2.md
  docs/zh/release_notes/release-3.2.md
Due: none

Revert "Update README.md"
  docs/README.md
Due: none

[Doc] 3.2.4 release notes (#42313)
  docs/en/release_notes/release-3.2.md
  docs/zh/release_notes/release-3.2.md
Due: none

update
  be/src/connector/iceberg_connector.cpp
Due: be-total

fix cp issue again
  gensrc/script/vectorized/vectorized_functions.py
Due: none

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

[UT] Fix lake data file gc tool (#42486)
  be/src/storage/lake/vacuum.cpp
  be/test/storage/lake/vacuum_test.cpp
Due: be-total

[Feature] support to read iceberg equality delete file with parquet format (#41267)
  be/src/connector/hive_connector.cpp
  be/src/exec/iceberg/iceberg_delete_builder.cpp
Due: be-total

optimize query dump replay to support replication_num and shared_data run mode
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpForSharedDataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite.json
  fe/fe-core/src/test/resources/sql/query_dump/shared_data_query_test.json
Due: fe-total

fix style
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpForSharedDataTest.java
Due: fe-total

[Doc] Add Partitioned Prefix feature doc Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/deployment/shared_data/gcs.md
  docs/en/deployment/shared_data/minio.md
  docs/en/deployment/shared_data/s3.md
  docs/en/sql-reference/sql-statements/Administration/CREATE_STORAGE_VOLUME.md
  docs/zh/deployment/shared_data/gcs.md
  docs/zh/deployment/shared_data/minio.md
  docs/zh/deployment/shared_data/other.md
  docs/zh/deployment/shared_data/s3.md
  docs/zh/sql-reference/sql-statements/Administration/CREATE_STORAGE_VOLUME.md
Due: none

[Feature] support to read iceberg equality delete file with parquet format (#41267)
  be/src/exec/iceberg/iceberg_delete_builder.cpp
Due: be-total

[Enhancement] Swap the FileMetaData instance directly instead of `move` because the class has no a movable assignment operator.
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/metadata.cpp
Due: be-total

[Enhancement] opt interleaving probe to avoid bad cases
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
  be/src/simd/simd.h
  be/test/simd/simd_test.cpp
  docs/en/assets/commonMarkdown/sharedDataCNconf.md
  docs/zh/assets/commonMarkdown/sharedDataCNconf.md
Due: be-total

revert unreleated chagnes
  docs/en/assets/commonMarkdown/sharedDataCNconf.md
  docs/zh/assets/commonMarkdown/sharedDataCNconf.md
Due: none

Support text based mv rewrite
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/TextMatchBasedRewriteRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/QueryTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/TransformerContext.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTextBasedRewriteTPCDSTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTextBasedRewriteTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTextBasedRewriteTest.java
  test/sql/test_materialized_view/R/test_materialized_view_text_based_rewrite
  test/sql/test_materialized_view/T/test_materialized_view_text_based_rewrite
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
Due: fe-total

fix comments
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/TextMatchBasedRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTextBasedRewriteTest.java
Due: fe-total

Make judgments before executing business logic
  fe/fe-core/src/main/java/com/starrocks/sql/DeletePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Due: fe-total

Make judgments before executing business logic
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
Due: fe-total

reformated
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/binary_predicate.cpp
  be/src/exprs/case_expr.cpp
  be/src/exprs/cast_expr.cpp
  be/src/exprs/compound_predicate.cpp
  be/src/runtime/runtime_state.h
Due: be-total

[Enhancement] optimize query dump replay to support replication_num and shared_data run mode (#42497)
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpForSharedDataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/query_dump/force_rule_based_mv_rewrite.json
  fe/fe-core/src/test/resources/sql/query_dump/shared_data_query_test.json
Due: fe-total

refine
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/binary_predicate.cpp
  be/src/exprs/case_expr.cpp
  be/src/exprs/cast_expr.cpp
  be/src/exprs/compound_predicate.cpp
  be/src/exprs/jit/ir_helper.h
  be/src/runtime/runtime_state.h
Due: be-total

refine
  be/src/exprs/jit/ir_helper.h
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/BDBEnvironment.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/RelationTransformer.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
