Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[UT][BugFix] fix heap-buffer-overflow error in MemLimitedChunkQueue (#49089)
  be/src/exec/pipeline/exchange/mem_limited_chunk_queue.cpp
Due: be-total

[BugFix] Fix orc search argument build failed for decimal type (#48974)
  be/src/exprs/expr.cpp
  be/test/CMakeLists.txt
  be/test/exprs/vectorized_literal_test.cpp
Due: be-total

[Enhancement] Improve load json array not set strip_outer_array error message (#49226)
  be/src/exec/json_parser.cpp
  be/test/exec/json_parser_test.cpp
Due: be-total

[Enhancement] add mem limit for partition top n (#49011)
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exec/chunk_buffer_memory_manager.h
  be/src/exec/limited_pipeline_chunk_buffer.h
  be/src/exec/partition/chunks_partitioner.cpp
  be/src/exec/partition/chunks_partitioner.h
  be/src/exec/partition/partition_hash_variant.cpp
  be/src/exec/partition/partition_hash_variant.h
  be/src/exec/pipeline/aggregate/aggregate_streaming_sink_operator.cpp
  be/src/exec/pipeline/hash_partition_context.cpp
  be/src/exec/pipeline/hash_partition_context.h
  be/src/exec/pipeline/hash_partition_sink_operator.cpp
  be/src/exec/pipeline/sort/local_partition_topn_context.cpp
  be/src/exec/pipeline/sort/local_partition_topn_context.h
  be/src/exec/pipeline/sort/local_partition_topn_sink.cpp
  be/src/exec/pipeline/sort/local_partition_topn_sink.h
  test/sql/test_spill/R/test_spill_local_partition_top_n
  test/sql/test_spill/R/test_spill_random
  test/sql/test_spill/T/test_spill_local_partition_top_n
  test/sql/test_spill/T/test_spill_random
Due: be-total

[BugFix] Fix partition prune for delta lake when partition column type is tinyint/boolean (#49257)
  fe/fe-core/src/main/java/com/starrocks/connector/delta/ScalarOperationToDeltaLakeExpr.java
  test/lib/sr_sql_lib.py
  test/sql/test_deltalake/R/test_deltalake_partition_prune
  test/sql/test_deltalake/T/test_deltalake_partition_prune
Due: fe-total

fix conflicts
  test/lib/sr_sql_lib.py
Due: none

update
  be/src/column/column_helper.cpp
  be/src/column/object_column.h
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/sender_queue.cpp
  be/src/serde/column_array_serde.cpp
  be/src/serde/protobuf_serde.cpp
  be/src/types/hll.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/OlapScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Due: fe-total, be-total

[Enhancement] Support cache delta lake delta log metadata (#49069)
  fe/fe-core/src/main/java/com/starrocks/connector/delta/CachingDeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeCacheUpdateProcessor.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeCatalogProperties.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeEngine.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeInternalMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeJsonHandler.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeParquetHandler.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaUtils.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/HMSBackedDeltaMetastore.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/CachingDeltaLakeMetastoreTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeCacheUpdateProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeJsonHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeParquetHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeTestBase.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaUtilsTest.java
  fe/fe-core/src/test/resources/connector/deltalake/00000000000000000030.checkpoint.parquet
  fe/fe-core/src/test/resources/connector/deltalake/00000000000000000031.json
  fe/fe-core/src/test/resources/connector/deltalake/_last_checkpoint
Due: fe-total

[Refactor] Separate the Author and Authentication Analyzers (#49234)
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Analyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthenticationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizationAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/catalog/InfoSchemaDbTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/RBACExecutorTest.java
Due: fe-total

[BugFix] fix blacklist not prevent insert sql (#48998)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryPlannerTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

fix for comment
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/GetRemoteFilesParams.java
  fe/fe-core/src/main/java/com/starrocks/connector/ObjectBasedUpdateArbitrator.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/kudu/KuduMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/odps/OdpsMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/unified/UnifiedMetadata.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/KuduScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/OdpsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/CatalogConnectorMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/ObjectBasedUpdateArbitratorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/MockedHiveMetadata.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/ReplayMetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/kudu/KuduMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/odps/OdpsMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/unified/UnifiedMetadataTest.java
Due: fe-total

fix for comment
  fe/fe-core/src/main/java/com/starrocks/connector/ObjectBasedUpdateArbitrator.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptExternalPartitionPruner.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/ReplayMetadataMgr.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
Due: fe-total

fix for comment
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
Due: fe-total

[Feature] support iceberg files table
  be/src/runtime/descriptors.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetaSpec.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/MetadataTableType.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergFilesTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/metadata/iceberg/IcebergMetadataTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergMetadataScanNode.java
  gensrc/thrift/Types.thrift
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergFilesTableScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataScanner.java
  java-extensions/iceberg-metadata-reader/src/main/java/com/starrocks/connector/iceberg/IcebergMetadataScannerFactory.java
  test/sql/test_iceberg/R/test_metadata_table
  test/sql/test_iceberg/T/test_metadata_table
Due: fe-total, be-total

ignore timeout for teardown
  test/lib/sr_sql_lib.py
Due: none

add ut
  fe/fe-core/src/test/java/com/starrocks/connector/HiveMetastoreApiConverterTest.java
Due: fe-total

[Doc] Add Rename Column doc Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/ALTER_TABLE.md
Due: none

[BugFix] Only repair mv when table's version/version time are matched with mv's version map (#49240)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
  fe/fe-core/src/main/java/com/starrocks/listener/LoadJobMVListener.java
  fe/fe-core/src/main/java/com/starrocks/mv/MVMetaVersionRepairer.java
  fe/fe-core/src/main/java/com/starrocks/mv/MVRepairHandler.java
  fe/fe-core/src/test/java/com/starrocks/planner/mv/MVMetaVersionRepairerTest.java
  fe/fe-core/src/test/java/com/starrocks/server/MVRepairHandlerTest.java
  test/sql/test_materialized_view_refresh/R/test_mv_event_trigger_with_stream_load
  test/sql/test_materialized_view_refresh/T/test_mv_event_trigger_with_stream_load
Due: fe-total

update lake connector
  be/src/connector/lake_connector.cpp
  be/src/storage/lake/tablet_reader.cpp
Due: be-total

[Doc] Add doc - Read Iceberg Views Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/data_source/feature-support-data-lake-analytics.md
  docs/zh/data_source/feature-support-data-lake-analytics.md
Due: none

[Doc] Remove read iceberg view from 3.3.1
  docs/en/release_notes/release-3.3.md
Due: none

Update release-3.3.md
  docs/zh/release_notes/release-3.3.md
Due: none

resolve
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[Doc] Add doc - ZSTD supports compression level Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Due: none

Update CREATE_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Due: none
