Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Enhancement] Add some LoadChannel/AsyncDeltaWriter/DeltaWriter metrics (#41905)
  be/src/runtime/load_channel.cpp
  be/src/runtime/local_tablets_channel.cpp
  be/src/storage/async_delta_writer.cpp
  be/src/storage/async_delta_writer.h
  be/src/storage/delta_writer.cpp
  be/src/storage/memtable.cpp
  be/src/util/starrocks_metrics.cpp
  be/src/util/starrocks_metrics.h
  be/test/util/starrocks_metrics_test.cpp
Due: be-total

[Enhancement] Remove cachelib library and dependencies to reduce the thirdparty space. (#42660)
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Due: none

add ut
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
Due: fe-total

[Feature] Support query histogram stats for hive table
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorColumnStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorHistogramColumnStatsCacheLoader.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorTableColumnKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorTableColumnStats.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/StatisticsUtils.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/Histogram.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/HistogramUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticSQLBuilder.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/test/java/com/starrocks/connector/ConnectorColumnStatsCacheLoaderTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorageTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/AnalyzeMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
Due: fe-total

[Feature] Add version in insert api of LakePersistentIndex (#42588)
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
  be/src/storage/persistent_index.h
  be/test/storage/lake/lake_persistent_index_test.cpp
Due: be-total

add ut
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/Histogram.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorageTest.java
Due: fe-total

[Enhancement] Remove cachelib library and dependencies to reduce the thirdparty space. (backport #42660) (#42686)
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Due: none

[Enhancement] Remove cachelib library and dependencies to reduce the thirdparty space. (backport #42660) (#42688)
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Due: none

[BugFix] Delete meaningless error log (#42656)
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
Due: fe-total

[Enhancement] Using ORC column id in SearchArgument (#42516)
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/orc/apache-orc/c++/include/orc/Type.hh
  be/src/formats/orc/apache-orc/c++/include/orc/sargs/SearchArgument.hh
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.cc
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.hh
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.h
  be/src/formats/orc/utils.h
  be/test/formats/orc/orc_chunk_reader_test.cpp
Due: be-total

fix fe style
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileDesc.java
Due: fe-total

Update _DDL.mdx
  docs/en/assets/quick-start/_DDL.mdx
Due: none

[Doc] Update _DDL.mdx (#42699)
  docs/en/assets/quick-start/_DDL.mdx
Due: none

Revert "Remove Scope"
  fe/fe-core/src/main/java/com/starrocks/catalog/DictionaryMgr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/DomainResolver.java
  fe/fe-core/src/main/java/com/starrocks/catalog/FsBroker.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/FrontendsProcNode.java
  fe/fe-core/src/main/java/com/starrocks/common/util/DnsCache.java
  fe/fe-core/src/main/java/com/starrocks/common/util/NetUtils.java
  fe/fe-core/src/main/java/com/starrocks/http/action/BackendAction.java
  fe/fe-core/src/main/java/com/starrocks/mysql/MysqlChannel.java
  fe/fe-core/src/main/java/com/starrocks/mysql/nio/NMysqlChannel.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendOptions.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
Due: fe-total

fix remove % scope
  fe/fe-core/src/main/java/com/starrocks/common/util/NetUtils.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendOptions.java
Due: fe-total

cp
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/orc/apache-orc/c++/include/orc/Type.hh
  be/src/formats/orc/apache-orc/c++/include/orc/sargs/SearchArgument.hh
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.cc
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.hh
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.h
  be/src/formats/orc/utils.h
  be/test/formats/orc/orc_chunk_reader_test.cpp
Due: be-total

format
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

fix compile
  be/src/formats/orc/orc_chunk_reader.cpp
Due: be-total

[Enhancement]Upgrade paimon version to 0.7 (#42280)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/connector/paimon/PaimonMetadata.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PaimonTableTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonConnectorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/paimon/PaimonMetadataTest.java
  java-extensions/paimon-reader/pom.xml
Due: fe-total

update
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DataCachePlanTest.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
Due: fe-total

[Enhancement] Reorder hive/hudi scan ranges to improve probe sql
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
Due: fe-total

add comment
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/HudiScanNode.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteScanRangeLocations.java
Due: fe-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/connector/RemoteScanRangeLocationsTest.java
Due: fe-total

[Enhancement][Cherry-Pick][Branch-3.1] Using ORC column id in SearchArgument (backport #42516) (#42703)
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/orc/apache-orc/c++/include/orc/Type.hh
  be/src/formats/orc/apache-orc/c++/include/orc/sargs/SearchArgument.hh
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.cc
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/PredicateLeaf.hh
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.cc
  be/src/formats/orc/apache-orc/c++/src/sargs/SearchArgument.hh
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.h
  be/src/formats/orc/utils.h
  be/test/formats/orc/orc_chunk_reader_test.cpp
Due: be-total

[Enhancement] dont output min/max in chunk source profile
  be/src/connector/connector.h
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
Due: be-total

disable avg in chunk source profile
  be/src/connector/connector.h
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
Due: be-total
