Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

update pk table
  docs/en/table_design/table_types/primary_key_table.md
  docs/zh/assets/table_design/pk4.png
  docs/zh/table_design/table_types/primary_key_table.md
Due: none

update pk table
  docs/en/table_design/table_types/primary_key_table.md
  docs/zh/table_design/table_types/primary_key_table.md
Due: none

[Doc] Align CN docs Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/zh/administration/management/BE_configuration.md
  docs/zh/administration/management/FE_configuration.md
  docs/zh/assets/commonMarkdown/BE_config_method.md
  docs/zh/assets/commonMarkdown/BE_dynamic_note.md
  docs/zh/assets/commonMarkdown/FE_config_method.md
  docs/zh/assets/commonMarkdown/FE_config_note.md
  docs/zh/assets/commonMarkdown/StaticBE_config_note.md
  docs/zh/assets/commonMarkdown/StaticFE_config_note.md
Due: none

Remove version_info property and move getUniqueProperties api from Table to OlapTable
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
Due: fe-total

Revert "[Enhancement] No UNSTABLE state is set when offset is not initialized (#42619)"
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadTaskScheduler.java
Due: fe-total

[BugFix] Fix miss check partition expr when build runtime filter
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/SetOperationNode.java
  test/sql/test_runtime_filter/R/test_partition_runtime_filter_crash
  test/sql/test_runtime_filter/T/test_partition_runtime_filter_crash
Due: fe-total

[BugFix] Revert "[Enhancement] No UNSTABLE state is set when offset is not initialized (#42619)" (#42896)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadTaskScheduler.java
Due: fe-total

[Feature] add be config brpc_connection_type (#42824)
  be/src/common/config.h
  be/src/common/configbase.h
  be/src/util/brpc_stub_cache.h
  be/test/common/config_test.cpp
Due: be-total

[BugFix] Fix wrong document url and some logs (#42878)
  be/src/service/service_be/starrocks_be.cpp
  fe/fe-core/src/main/java/com/starrocks/common/FeConstants.java
  fe/fe-core/src/main/java/com/starrocks/common/util/KafkaUtil.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  fe/fe-core/src/main/java/com/starrocks/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  test/sql/test_sort_key/R/test_sort_key_uni_tbl
Due: fe-total, be-total

[Feature] Support orc_use_column_names property in session variable (#42777)
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/column_reader.cpp
  be/src/formats/orc/column_reader.h
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.cpp
  be/src/formats/orc/orc_mapping.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/orc/orc_chunk_reader_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_external_file/R/test_orc_use_column_names
  test/sql/test_external_file/T/test_orc_use_column_names
Due: fe-total, be-total

change default value
  be/src/common/config.h
Due: be-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  test/sql/test_sort_key/R/test_sort_key_uni_tbl
Due: fe-total

Fix conflict
  be/src/service/service_be/starrocks_be.cpp
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/Locker.java
  test/sql/test_sort_key/R/test_sort_key_uni_tbl
Due: fe-total, be-total

[Feature][Cherry-Pick][Branch-3.2] Support orc_use_column_names property in session variable (backport #42777)
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/column_reader.cpp
  be/src/formats/orc/column_reader.h
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.cpp
  be/src/formats/orc/orc_mapping.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/orc/orc_chunk_reader_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
  test/sql/test_external_file/R/test_orc_use_column_names
  test/sql/test_external_file/T/test_orc_use_column_names
Due: fe-total, be-total

[Feature][Cherry-Pick][Branch-3.1] Support orc_use_column_names property in session variable (backport #42777)
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/column_reader.cpp
  be/src/formats/orc/column_reader.h
  be/src/formats/orc/orc_chunk_reader.cpp
  be/src/formats/orc/orc_chunk_reader.h
  be/src/formats/orc/orc_mapping.cpp
  be/src/formats/orc/orc_mapping.h
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/orc/orc_chunk_reader_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Due: fe-total, be-total

format
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

update pk tabl
  docs/en/assets/table_design/pk2.png
Due: none

update
  be/src/exec/data_sink.cpp
  be/src/runtime/hive_table_sink.cpp
  be/src/runtime/hive_table_sink.h
  be/src/runtime/iceberg_table_sink.cpp
  be/src/runtime/iceberg_table_sink.h
  be/src/runtime/table_function_table_sink.cpp
  be/src/runtime/table_function_table_sink.h
  fe/fe-core/src/main/java/com/starrocks/catalog/TableFunctionTable.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/InsertStmt.java
Due: fe-total, be-total

[Enhancement] user variable support array type (#42613)
  fe/fe-core/src/main/java/com/starrocks/analysis/UserVariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/VariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UserVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/HintFactory.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/SetExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeSetVariableTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/ExpressionAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectHintTest.java
  test/sql/test_hint/R/test_hint
  test/sql/test_hint/T/test_hint
Due: fe-total

add sort key description
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Due: none

update
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveStorageFormat.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStorageFormatTest.java
Due: fe-total

update doc
  docs/en/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/CREATE_TABLE.md
Due: none

fix ut
  be/src/runtime/descriptor_helper.h
Due: be-total

[BugFix] Fix json is not null
  be/src/exprs/is_null_predicate.cpp
  test/sql/test_json/R/null
Due: be-total

[Enhancement]Remove Jindo sdk. (#42864)
  build.sh
Due: none

Fix UT.
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendOptionsTest.java
Due: fe-total
