Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

fix
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

fix
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[BugFix] fix type mismatch error in meta scan count (backport #49690) (#49909)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownAggToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteSimpleAggToMetaScanRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
  test/sql/test_agg/R/test_meta_scan_agg
  test/sql/test_agg/T/test_meta_scan_agg
Due: fe-total

[BugFix] Fix com.google.gson.JsonSyntaxException in TaskRunHistoryTable replay json data (#49863)
  fe/fe-core/src/main/java/com/starrocks/scheduler/history/TaskRunHistoryTable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskRunStatus.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/history/TaskRunHistoryTest.java
Due: fe-total

[Feature] Support kill query by query_id Backport version 3.1 (#47632)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorReport.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorReportException.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/QueryState.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/KillStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/analysis/KillStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/KillQueryHandleTest.java
  gensrc/thrift/FrontendService.thrift
Due: fe-total

[Enhancement] Implement trino function from_unixtime with time zone
  fe/fe-core/src/main/java/com/starrocks/connector/parser/trino/Trino2SRFunctionCallTransformer.java
Due: fe-total

[Tool] enable the compiler compress (#49704)
  build.sh
Due: none

[Enhancement] Improve insert syntax (#49749)
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Due: fe-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
Due: fe-total

[BugFix]fix array_map crash (#49816)
  be/src/exprs/expr_context.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  test/sql/test_array/R/test_array_map
  test/sql/test_array/T/test_array_map
Due: be-total

The str_to_date function supports time formats with only year or year and month
  be/test/exprs/time_functions_test.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Due: fe-total, be-total

[BugFix] Fix paimon HiveConf class not found error (#49865)
  java-extensions/paimon-reader/pom.xml
Due: none

The str_to_date function supports time formats with only year or year and month
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Due: fe-total

[Enhancement] Introduce null_if_not_exist parameter for dictionary_get (#49721)
  be/src/exprs/dictionary_get_expr.cpp
  be/src/exprs/dictionary_get_expr.h
  be/src/storage/dictionary_cache_manager.h
  be/src/storage/primary_key_encoder.cpp
  be/test/storage/dictionary_cache_manager_test.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DictionaryGetExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/DictionaryGetOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/ScalarOperatorsReuse.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  gensrc/thrift/Exprs.thrift
  test/sql/test_dictionary/R/test_dictionary
  test/sql/test_dictionary/T/test_dictionary
Due: fe-total, be-total

The str_to_date function supports time formats with only year or year and month
  be/src/types/timestamp_value.cpp
Due: be-total

[Enhancement] optmize dynamic flatten json performance in read process
  be/src/column/json_column.h
  be/src/common/config.h
  be/src/exprs/json_functions.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_compactor.h
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/rowset.cpp
  be/src/storage/rowset/rowset_options.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/tablet_reader.cpp
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
  be/test/exprs/json_functions_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
Due: be-total

fix
  be/test/CMakeLists.txt
Due: be-total

[Enhancement] Remove DeleteRange to avoid generate too many tomestones (#49798)
  be/src/common/config.h
  be/src/storage/kv_store.cpp
  be/src/storage/kv_store.h
  be/src/storage/tablet_meta_manager.cpp
  be/test/storage/kv_store_test.cpp
Due: be-total

[Refactor] Unify sched_entity_type logic for scan task (#49889)
  be/src/exec/pipeline/pipeline.cpp
  be/src/exec/pipeline/scan/chunk_source.cpp
  be/src/exec/pipeline/scan/chunk_source.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/meta_chunk_source.cpp
  be/src/exec/pipeline/scan/meta_chunk_source.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.h
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_chunk_source.cpp
  be/src/exec/pipeline/scan/schema_chunk_source.h
  be/src/exec/pipeline/scan/schema_scan_operator.h
  be/src/exec/workgroup/scan_task_queue.cpp
  be/src/exec/workgroup/scan_task_queue.h
  be/src/exec/workgroup/work_group_fwd.h
  be/src/runtime/exec_env.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
