Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] Fix join reorder init error (#51766)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/MultiJoinNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/resources/sql/query_dump/join_init_error.json
Due: fe-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Due: fe-total

[BugFix] Fix hive sink swallow fail msg
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/io/cache_input_stream.cpp
Due: be-total

[Enhancement] support create analyze histogram (#51659)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AnalyzeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateAnalyzeJobStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HistogramStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HistogramStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticAutoCollector.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateAnalyzeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsSQLTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

Fix conflict
  fe/fe-core/src/main/java/com/starrocks/catalog/system/SystemTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/BeDataCacheMetricsTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/TaskRunsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/TasksSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/TemporaryTablesTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Due: fe-total

[Enhancement] support create analyze histogram (#51659)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AnalyzeStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateAnalyzeJobStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/statistic/AnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HistogramStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HistogramStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateAnalyzeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsSQLTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[BugFix] Fix hive sink swallow fail msg (backport #33167) (#51827)
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/io/cache_input_stream.cpp
Due: be-total

fix unstable test
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateAnalyzeJobTest.java
Due: fe-total

Update README.md
  README.md
Due: none

Delete fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
Due: fe-total

Update test_optimize_table
  test/sql/test_optimize_table/T/test_optimize_table
Due: none

Update test_optimize_table
  test/sql/test_optimize_table/R/test_optimize_table
Due: none

Update OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
Due: fe-total

fix sql test
  test/sql/test_automatic_bucket/R/test_automatic_partition
Due: none

[BugFix] Fix http sql oom issue (#51681)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/http/HttpResultSender.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ExecuteSqlAction.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

Update OnlineOptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
Due: fe-total

[Refactor] Remove unused OperationType Code(sync #51000)
  fe/fe-core/src/main/java/com/starrocks/authentication/UserPropertyInfo.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/ha/LeaderInfo.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/journal/bdbje/Timestamp.java
  fe/fe-core/src/main/java/com/starrocks/load/DeleteInfo.java
  fe/fe-core/src/main/java/com/starrocks/load/ExportJob.java
  fe/fe-core/src/main/java/com/starrocks/persist/BackendTabletsInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/DatabaseInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/ModifyPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/RecoverInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/TableInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/UserIdentity.java
  fe/fe-core/src/main/java/com/starrocks/system/Frontend.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SetPassVarTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/BrokerMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/EditLogTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/OperationTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/VariableMgrTest.java
Due: fe-total

fix format
  be/src/storage/chunk_helper.cpp
Due: be-total

Add task's defination into task run status
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskRunStatus.java
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/TaskRunsSystemTable.java
Due: fe-total

fix bugs
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobMaterializedViewTest.java
Due: fe-total

fix cr
  fe/fe-core/src/main/java/com/starrocks/catalog/MvRefreshArbiter.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
Due: fe-total

[BugFix] Fix http sql oom issue (backport #51681) (#51831)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/http/HttpResultSender.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/ExecuteSqlAction.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

[Enhancement]implement dayofweek in FE (#51453)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Due: fe-total

[BugFix] Fix wrong physical partition in fast schema evolution in shared-data mode
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJobBase.java
Due: fe-total

resolve comment
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/IcebergEqualityDeleteRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/IcebergEqualityDeletePlanTest.java
Due: fe-total, be-total

memory tracker for statistics
  fe/fe-core/src/main/java/com/starrocks/memory/MemoryUsageTracker.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorage.java
Due: fe-total

fix for comment
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
Due: fe-total

fix for comment -e Signed-off-by: yanz <dirtysalt1987@gmail.com>
  be/src/exec/pipeline/fragment_executor.cpp
Due: be-total

update error message
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/IcebergEqualityDeleteRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/IcebergEqualityDeletePlanTest.java
Due: fe-total

[UT] fix unstable AnalyzeCreateAnalyzeJobTest.testCreateHistogram (#51829)
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateAnalyzeJobTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
