Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] fix not support force rewrite or to union (#39987)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/FilterSelectivityEvaluator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitScanORToUnionRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SplitScanToUnionTest.java
Due: fe-total

[Enhancement] Refine statistical method for operator memory usage analysis (#39761)
  be/src/exec/pipeline/operator.cpp
  be/src/exec/pipeline/operator.h
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/pipeline/sink/hive_table_sink_operator.cpp
  be/src/exec/pipeline/sink/iceberg_table_sink_operator.cpp
  be/src/exec/pipeline/sink/table_function_table_sink_operator.cpp
  be/src/exec/query_cache/cache_operator.cpp
  be/src/runtime/mem_tracker.cpp
  be/src/util/runtime_profile.h
  be/test/exec/pipeline/table_function_operator_test.cpp
  be/test/exec/query_cache/query_cache_test.cpp
  be/test/util/runtime_profile_test.cpp
  docs/en/administration/query_profile_details.md
  docs/zh/administration/query_profile_details.md
  fe/fe-core/src/main/java/com/starrocks/common/util/Counter.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ProfilingExecPlan.java
  fe/fe-core/src/test/java/com/starrocks/common/util/RuntimeProfileTest.java
  gensrc/thrift/RuntimeProfile.thrift
Due: fe-total, be-total

update wording
  docs/zh/assets/commonMarkdown/userManagementPriv.md
  docs/zh/sql-reference/sql-statements/account-management/ALTER_USER.md
  docs/zh/sql-reference/sql-statements/account-management/DROP_ROLE.md
  docs/zh/sql-reference/sql-statements/account-management/DROP_USER.md
  docs/zh/sql-reference/sql-statements/account-management/GRANT.md
  docs/zh/sql-reference/sql-statements/account-management/REVOKE.md
  docs/zh/sql-reference/sql-statements/account-management/SET_PROPERTY.md
  docs/zh/sql-reference/sql-statements/account-management/SHOW_AUTHENTICATION.md
  docs/zh/sql-reference/sql-statements/account-management/SHOW_GRANTS.md
  docs/zh/sql-reference/sql-statements/account-management/SHOW_PROPERTY.md
Due: none

[BugFix] Fix mv backup/restore when mv and base table are not in the same db (#39728)
  fe/fe-core/src/main/java/com/starrocks/backup/mv/MVRestoreUpdater.java
  fe/fe-core/src/main/java/com/starrocks/backup/mv/MvBaseTableBackupInfo.java
  fe/fe-core/src/main/java/com/starrocks/backup/mv/MvRestoreContext.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobMaterializedViewTest.java
Due: fe-total

[BugFix] fix inconsistent task definition after rename (#39938)
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Due: fe-total

[BugFix] fix inconsistent task definition after rename (#39938)
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Due: fe-total

resolve conflict
  be/src/common/config.h
Due: be-total

resolve conflict
  be/src/common/config.h
  be/src/script/script.cpp
  be/src/storage/olap_server.cpp
Due: be-total

[BugFix]check the type of array_distinct_after_agg (#39805)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ArrayDistinctAfterAggRule.java
  test/sql/test_array_fn/R/test_array_fn
  test/sql/test_array_fn/T/test_array_fn
Due: fe-total

fix ut
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/scan_node.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/parquet/column_converter_test.cpp
  be/test/formats/parquet/file_reader_test.cpp
  be/test/formats/parquet/file_writer_test.cpp
  be/test/formats/parquet/iceberg_schema_evolution_file_reader_test.cpp
  be/test/formats/parquet/page_index_test.cpp
  be/test/formats/parquet/parquet_cli_reader.h
Due: be-total

fix clang format
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/scan_node.cpp
Due: be-total

fix clang format
  be/src/connector/connector.h
  be/src/connector/hive_connector.h
Due: be-total

fix ut
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/parquet/file_reader.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/parquet/parquet_cli_reader.h
Due: be-total

[Feature] add split context to connector framework
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/connector_scan_node.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/formats/parquet/file_reader.cpp
Due: be-total

remove unused code
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
Due: be-total

fix it
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

fix merge
  be/src/exec/pipeline/scan/morsel.cpp
Due: be-total

refactor to single scan range
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

fix merge
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
Due: be-total

fix compilation
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

fix for comment
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/parquet/file_reader.cpp
Due: be-total

[BugFix] fix asan stack-use-after-scope
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Due: be-total

[Feature] ARRAY_AGG_DISTINCT() is an alias to ARRAY_AGG(DISTINCT)
  docs/en/sql-reference/sql-functions/array-functions/array_agg.md
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeExprTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/DistinctAggTest.java
  test/sql/test_agg_function/R/test_array_agg
  test/sql/test_agg_function/T/test_array_agg
Due: fe-total

[BugFix] channel failure leads load stuck (branch-3.1) (backport #39908) (#40002)
  be/src/exec/tablet_sink.cpp
Due: be-total

[BugFix] channel failure leads load stuck (branch-3.0) (backport #39908) (#40003)
  be/src/exec/tablet_sink.cpp
Due: be-total

[BugFix] channel failure leads load stuck (branch-2.5) (backport #39908) (#40005)
  be/src/exec/tablet_sink.cpp
Due: be-total

[Doc] update stddev_samp/pop (#39985)
  docs/en/assets/stddevpop_formula.png
  docs/en/assets/stddevsamp_formula.png
  docs/en/sql-reference/sql-functions/aggregate-functions/stddev.md
  docs/en/sql-reference/sql-functions/aggregate-functions/stddev_samp.md
  docs/zh/assets/stddevpop_formula.png
  docs/zh/assets/stddevsamp_formula.png
  docs/zh/assets/wechat_scan.png
  docs/zh/sql-reference/sql-functions/aggregate-functions/stddev.md
  docs/zh/sql-reference/sql-functions/aggregate-functions/stddev_samp.md
Due: none

[BugFix] channel failure leads load stuck (#39908)
  be/src/exec/tablet_sink_sender.cpp
Due: be-total

[Doc] update k8s operator release note (#39988)
  docs/en/ecosystem_release/flink_connector.md
  docs/en/ecosystem_release/kafka_connector.md
  docs/en/ecosystem_release/spark_connector.md
  docs/en/ecosystem_release/starrocks-kubernetes-operator.md
  docs/zh/ecosystem_release/starrocks-kubernetes-operator.md
Due: none

Reproduce the export bug
  be/src/common/config.h
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/export_sink_operator.h
  be/src/exec/pipeline/sink/sink_io_buffer.h
  be/src/runtime/mem_tracker.cpp
Due: be-total

[BugFix] Fix show materialized views final refresh state (#39846)
  fe/fe-core/src/main/java/com/starrocks/qe/ShowMaterializedViewStatus.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/Constants.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskRunStatus.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskTest.java
Due: fe-total

[Feature][FlatJson] supprt flat json write process
  be/src/common/config.h
  be/src/storage/CMakeLists.txt
  be/src/storage/rowset/column_writer.cpp
  be/src/storage/rowset/column_writer.h
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/json_column_writer.h
  be/src/storage/rowset/segment_writer.cpp
  be/test/CMakeLists.txt
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldExpressionCollector.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  test/sql/test_semi/R/test_agg_flat_json
  test/sql/test_semi/R/test_flat_json
  test/sql/test_semi/R/test_invalid_flat_json
  test/sql/test_semi/R/test_pk_flat_json
  test/sql/test_semi/R/test_unique_flat_json
  test/sql/test_semi/T/test_agg_flat_json
  test/sql/test_semi/T/test_flat_json
  test/sql/test_semi/T/test_invalid_flat_json
  test/sql/test_semi/T/test_pk_flat_json
  test/sql/test_semi/T/test_unique_flat_json
Due: fe-total, be-total

update tablet schema after fast schema evolution
  be/src/agent/agent_common.h
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/agent/agent_task.h
  be/src/storage/delta_writer.cpp
  be/src/storage/tablet.cpp
  be/src/storage/tablet_schema.cpp
  be/src/storage/tablet_schema.h
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Types.thrift
Due: fe-total, be-total

update ut
  fe/fe-core/src/test/java/com/starrocks/leader/ReportHandlerTest.java
Due: fe-total

add ut
  be/test/agent/agent_task_test.cpp
Due: be-total

update
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/common/config.h
  fe/fe-core/src/main/java/com/starrocks/leader/ReportHandler.java
  fe/fe-core/src/main/java/com/starrocks/task/UpdateSchemaTask.java
Due: fe-total, be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
