Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

add BE UT
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/filenames.h
  be/src/storage/lake/meta_file.cpp
  be/src/storage/tablet_updates.cpp
  be/test/storage/delta_column_group_test.cpp
  be/test/storage/lake/meta_file_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/rowset/segment_iterator_test.cpp
  be/test/storage/rowset/segment_test.cpp
  gensrc/proto/lake_types.proto
Due: be-total

[UT] fix UT compile failure because of code merge conflict (#46523)
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

add UT
  be/test/storage/lake/meta_file_test.cpp
Due: be-total

[Enhancement] add meta analzye log (#46470)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentRewriteWithOlapTableTest.java
Due: fe-total

[Feature] (Python UDF) support arrow call stub
  be/.gitignore
  be/extension/src/flight_server.py
  be/src/common/config.h
  be/src/exprs/CMakeLists.txt
  be/src/exprs/arrow_function_call.cpp
  be/src/exprs/arrow_function_call.h
  be/src/exprs/expr.cpp
  be/src/exprs/function_context.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/user_function_cache.h
  be/src/udf/CMakeLists.txt
  be/src/udf/python/callstub.cpp
  be/src/udf/python/callstub.h
  be/src/udf/python/env.h
  be/src/udf/udf_call_stub.cpp
  be/src/udf/udf_call_stub.h
  be/src/util/arrow/row_batch.h
  be/src/util/arrow/starrocks_column_to_arrow.cpp
  be/src/util/arrow/starrocks_column_to_arrow.h
Due: be-total

fix comments
  be/extension/python-udf/src/flight_server.py
  be/src/common/config.h
  be/src/exprs/arrow_function_call.cpp
  be/src/udf/python/callstub.cpp
  be/src/udf/python/env.h
  be/src/udf/udf_call_stub.cpp
  build.sh
Due: be-total

recv all data from subprocess
  be/src/udf/python/callstub.cpp
Due: be-total

support cache python worker
  be/src/common/config.h
  be/src/exprs/arrow_function_call.cpp
  be/src/exprs/arrow_function_call.h
  be/src/udf/python/callstub.cpp
  be/src/udf/python/callstub.h
  be/src/udf/python/env.h
Due: be-total

support auto expired py worker
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/udf/CMakeLists.txt
  be/src/udf/python/callstub.cpp
  be/src/udf/python/env.cpp
  be/src/udf/python/env.h
  bin/start_backend.sh
  bin/stop_be.sh
  build.sh
Due: be-total

add UT
  be/extension/python-udf/src/flight_server.py
  be/test/exprs/agg/aggregate_test.cpp
  test/sql/test_udf/R/test_python_udf
  test/sql/test_udf/T/test_python_udf
Due: be-total

fix
  be/src/udf/udf_call_stub.cpp
Due: be-total

support zipimport
  be/extension/python-udf/src/flight_server.py
  be/src/exprs/arrow_function_call.cpp
  be/src/exprs/arrow_function_call.h
  be/src/runtime/user_function_cache.cpp
Due: be-total

set execute permission
  thirdparty/build-thirdparty.sh
Due: none

update index overview
  docs/en/sql-reference/sql-statements/data-manipulation/BROKER_LOAD.md
  docs/zh/loading/Flink-connector-starrocks.md
Due: none

Revert "[Feature] Broker support COS posix bucket (backport #42638) (#46089)"
  fs_brokers/apache_hdfs_broker/pom.xml
  fs_brokers/apache_hdfs_broker/src/main/java/com/starrocks/broker/hdfs/FileSystemManager.java
Due: none

[BugFix] Revert "[Feature] Broker support COS posix bucket (#42638)" (#46425)
  fs_brokers/apache_hdfs_broker/pom.xml
  fs_brokers/apache_hdfs_broker/src/main/java/com/starrocks/broker/hdfs/FileSystemManager.java
Due: none

[Tool] Update requirements.txt
  test/requirements.txt
Due: none

[Tool] Update requirements.txt (#46537)
  test/requirements.txt
Due: none

[Doc] update index overview (#46347)
  docs/en/table_design/indexes/indexes_overview.md
  docs/zh/table_design/indexes/indexes_overview.md
Due: none

Update requirements.txt
  test/requirements.txt
Due: none

[Doc] reconstruct bitmap index (#46061)
  docs/zh/using_starrocks/Bitmap_index.md
Due: none

[Enhancement] improve cloud native pk table memory cost when handle large ingestion (#45685)
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/meta_file.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[BugFix] fix lake pk auto increment column crash (#46296)
  be/src/storage/lake/rowset_update_state.cpp
  be/test/storage/lake/auto_increment_partial_update_test.cpp
Due: be-total

Update indexes_overview.md
  docs/en/table_design/indexes/indexes_overview.md
Due: none

Update indexes_overview.md
  docs/zh/table_design/indexes/indexes_overview.md
Due: none

[BugFix] improve lake pk partial update memory tracker statistic (#46257)
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/test/storage/lake/auto_increment_partial_update_test.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[BugFix] fix lake pk crash because invalid rowset meta ptr access (#46493)
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/rowset_update_state.h
  be/src/storage/lake/types_fwd.h
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
