Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] The update_config interface still returns success after the dynamic parameter setup fails. (#50821)
  be/src/common/configbase.cpp
  be/src/common/configbase.h
  be/src/http/action/update_config_action.cpp
  be/src/http/action/update_config_action.h
  be/test/common/config_test.cpp
Due: be-total

add be cov
  .github/workflows/inspection-be-coverage.yml
  .github/workflows/inspection-pipeline.yml
Due: none

[BugFix] Avoid token print in FE log. (#52511)
  fe/fe-core/src/main/java/com/starrocks/common/util/Util.java
  fe/fe-core/src/main/java/com/starrocks/http/rest/RestBaseAction.java
Due: fe-total

[BugFix]fix compiler error when disable avx2
  be/src/util/bit_packing_adapter.h
Due: be-total

[Enhancement] Set the memory profiling sample interval to 2m bytes instead of time (#52503)
  fe/fe-core/src/main/java/com/starrocks/memory/ProcProfileCollector.java
Due: fe-total

[Enhancement] try to prevent create pk table with __op column name by mistake (#52621)
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FeNameFormat.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Due: fe-total

format
  be/src/util/bit_packing_adapter.h
Due: be-total

[Enhancement]patch poco for keep-alive (#52599)
  thirdparty/download-thirdparty.sh
  thirdparty/patches/poco-1.12.5-keep-alive.patch
Due: none

[Enhancement] pushdown runtime filter when cbo_agg_push is enabled and join type is broadcast and rf builded from colocate group (#52506)
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDSPushAggTest.java
Due: fe-total

[Enhancement] push runtime in_filter through agg node (#52625)
  be/src/exec/aggregate/aggregate_base_node.cpp
  be/src/exec/aggregate/aggregate_base_node.h
Due: be-total

[Enhancement] Push agg on small broadcast join (#52150)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CTEUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/base/ColumnRefSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/JoinReorderFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/join/ReorderJoinRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SeparateProjectRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pdagg/AggregatePushDownContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pdagg/PushDownAggregateCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pdagg/PushDownAggregateRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsEstimateCoefficient.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregatePushDownTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregatePushDownWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanWithCostTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDSPushAggTest.java
  fe/fe-core/src/test/resources/sql/optimized-plan/agg-pushdown-disable_on_broadcast_join.sql
  fe/fe-core/src/test/resources/sql/optimized-plan/agg-pushdown-enable_on_broadcast_join.sql
  fe/fe-core/src/test/resources/sql/optimized-plan/preagg-pushdown-disable_on_broadcast_join.sql
  fe/fe-core/src/test/resources/sql/optimized-plan/preagg-pushdown-enable_on_broadcast_join.sql
Due: fe-total

fix be cov params
  .github/workflows/inspection-be-coverage.yml
Due: none

fix random bucket upgrade
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedIndex.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[UT] fix unstable test case for generated column rewrite (#52657)
  test/sql/test_materialized_column/R/test_generated_column_rewrite
  test/sql/test_materialized_column/T/test_generated_column_rewrite
Due: none

cast support string to int
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ConstantOperator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectConstTest.java
Due: fe-total

resolve
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
Due: fe-total

resolve
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
Due: fe-total

[Enhancement] make connector scan operator profile less "skewed"
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
Due: be-total

fix test
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtWithDecimalTypesNewPlannerTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
Due: fe-total

[BugFix]fix compiler error when disable avx2 (#52668)
  be/src/util/bit_packing_adapter.h
Due: be-total

[BugFix] remove unnecessary replicate for outer_common_expr (#52649)
  be/src/exprs/array_map_expr.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
