Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[Feature][branch-3.1] Optimize `count(1)` in hdfs scanner by rewriting plan to `sum`(iceberg limitation) (#41722)
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergTable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteSimpleAggToHDFSScanRule.java
Due: fe-total

categorize
  docs/docusaurus/sidebars.json
  docs/en/sql-reference/sql-statements/all-commands.md
  docs/en/sql-reference/sql-statements/general_DDL.md
  docs/en/sql-reference/sql-statements/general_DML.md
  docs/zh/sql-reference/sql-statements/all-commands.md
  docs/zh/sql-reference/sql-statements/general_DDL.md
  docs/zh/sql-reference/sql-statements/general_DML.md
Due: none

[BugFix] Replace the `rapidjson::StringRef` with `SetString` to avoid refrencing a temporary string pointer which cause `stack-use-after-return` memory issue in datacache http action. (#41663)
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/block_cache.h
  be/src/block_cache/cachelib_wrapper.h
  be/src/block_cache/kv_cache.h
  be/src/block_cache/starcache_wrapper.h
  be/src/http/action/datacache_action.cpp
  be/test/CMakeLists.txt
  be/test/http/datacache_action_test.cpp
Due: be-total

fix comment
  be/src/exec/pipeline/scan/morsel.cpp
Due: be-total

chunk source put to buffered morsels and scan operator to append it
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
Due: be-total

morsel queue and clear ticket checker bits
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/morsel.cpp
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/query_cache/ticket_checker.cpp
  be/src/exec/query_cache/ticket_checker.h
Due: be-total

[Feature] add split context to connector framework
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

append morsels in connector scan operator
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/source_operator.h
Due: be-total

fix compilation
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

fix merge
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

enable split tasks in real query
  be/src/connector/hive_connector.cpp
Due: be-total

add test case for be coverage
  be/src/exec/hdfs_scanner_orc.cpp
  be/test/exec/test_data/orc_scanner/multi_stripes.orc
  test/sql/test_external_file/R/test_orc_split_task
  test/sql/test_external_file/T/test_orc_split_task
Due: be-total

add logging
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

optimize morsels check
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
Due: be-total

add flag to avoid tasks plit in ut
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

merge cp
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

fix naming
  be/src/exec/hdfs_scanner_orc.cpp
Due: be-total

support orc to do split tasks
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
Due: be-total

fix conflict
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Due: fe-total

fix be side and test case
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  test/sql/test_external_file/R/test_orc_split_task
  test/sql/test_external_file/T/test_orc_split_task
Due: be-total

update
  fe/fe-core/src/test/java/com/starrocks/sql/plan/InsertPlanTest.java
Due: fe-total

update jdk
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/http/HttpServer.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/load/InsertOverwriteJobRunner.java
  fe/fe-core/src/main/java/com/starrocks/metric/JsonMetricVisitor.java
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitMultiPhaseAggRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/SplitTwoPhaseAggRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/pom.xml
  fe/spark-dpp/pom.xml
Due: fe-total

fix clang-format
  be/src/connector/hive_connector.h
Due: be-total

[Enhancement] Support consuming from Kafka with IPv6 in routine load task (#41258)
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateRoutineLoadStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateRoutineLoadStmtTest.java
Due: fe-total

[BugFix] Fix rpc transmit Resource temporarily unavailable error (backport #37962) (#41637)
  thirdparty/download-thirdparty.sh
  thirdparty/patches/brpc-1.3.0-2479.patch
Due: none

[Enhancement] Control implicit cast optimization by cbo_eq_type (#40619)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/ImplicitCastRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Due: fe-total

Update sidebars.json
  docs/docusaurus/sidebars.json
Due: none

Update FE_configuration.md
  docs/en/administration/FE_configuration.md
Due: none

[Enhancement] Control implicit cast optimization by cbo_eq_type (backport #40619)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/ImplicitCastRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriterTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Due: fe-total

Update BE_configuration.md
  docs/en/administration/BE_configuration.md
Due: none

[BugFix] Fix rpc transmit Resource temporarily unavailable error (backport #37962) (#41638)
  thirdparty/download-thirdparty.sh
  thirdparty/patches/brpc-1.3.0-2479.patch
Due: none

[Enhancement] Move orc stripe's stats evaluation before load stripe footer
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
Due: be-total

[BugFix] Fix one-phase count-distinct with lambda error (#41646)
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/AggregateTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ArrayTypeTest.java
Due: fe-total
