Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] Support json logical type in parquet files() (#49385)
  be/src/exec/parquet_schema_builder.cpp
  test/sql/test_files/R/json_parquet
  test/sql/test_files/T/json_parquet
  test/sql/test_files/parquet_format/json.parquet
Due: be-total

[BugFix] show catalog property for user
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowUserPropertyStmt.java
Due: fe-total

[Enhancement] Move Table rename and alter comment from Db Lock to Table Level Lock(sync #48915)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/util/concurrent/lock/MultiUserLock.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  fe/fe-core/src/test/java/com/starrocks/persist/ChangeMaterializedViewRefreshSchemeLogTest.java
Due: fe-total

[BugFix] fix concurrent issue between primary index unload and compaction (#49341)
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/test/storage/lake/local_pk_index_manager_test.cpp
  be/test/storage/persistent_index_test.cpp
Due: be-total

[BugFix] Fix mv rewrite with avg function and having exprs (#49396)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  test/sql/test_materialized_view/R/test_mv_rewrite_with_agg
  test/sql/test_materialized_view/T/test_mv_rewrite_with_agg
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_event_trigger_and_nested_mvs
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_event_trigger_and_nested_mvs
Due: fe-total

fix
  be/src/storage/rowset/segment_iterator.cpp
Due: be-total

fix mem hook
  be/src/service/mem_hook.cpp
Due: be-total

resolve conflict
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/UserVariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ExprUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectHintTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/WindowTest.java
  test/sql/test_hint/R/test_hint
  test/sql/test_hint/T/test_hint
Due: fe-total

fix conflict
  test/sql/test_hint/R/test_hint
  test/sql/test_hint/T/test_hint
Due: none

[Refactor] Rename config from `tenann` to `vector_index`
  be/src/common/config.h
  be/src/storage/index/vector/tenann/tenann_index_builder.cpp
  be/src/storage/index/vector/vector_index_writer.h
  be/test/storage/index/vector_index_test.cpp
Due: be-total

resolve conflict
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SqlParser.java
Due: fe-total

resolve conflict
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/txn_log_applier.cpp
Due: be-total

resolve conflict
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

[BugFix] Fix use after free in partition_meta table (#49416)
  be/src/exec/schema_scanner/schema_partitions_meta_scanner.cpp
Due: be-total

resolve conflict
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

bump commons-io
  fe/pom.xml
Due: fe-total

[Refactor] make hashjoiner use predeclarations (#49377)
  be/src/exec/hash_join_node.h
  be/src/exec/hdfs_scanner.h
  be/src/exec/mor_processor.cpp
  be/src/exec/mor_processor.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.h
  be/src/exec/pipeline/hashjoin/hash_joiner_fwd.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_probe_operator.h
  be/src/exec/pipeline/pipeline_fwd.h
  be/src/exec/pipeline/runtime_filter_types.h
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/query_cache/multilane_operator.h
  be/src/runtime/table_function_table_sink.cpp
  be/src/runtime/table_function_table_sink.h
Due: be-total

[BugFix] Fix valid Password Bug and refactor authentication info build logic (#49250) (#25533)
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationMgr.java
  fe/fe-core/src/main/java/com/starrocks/authentication/AuthenticationProvider.java
  fe/fe-core/src/main/java/com/starrocks/authentication/KerberosAuthenticationProvider.java
  fe/fe-core/src/main/java/com/starrocks/authentication/PlainPasswordAuthenticationProvider.java
  fe/fe-core/src/main/java/com/starrocks/epack/authentication/LDAPAuthProviderForExternal.java
  fe/fe-core/src/main/java/com/starrocks/epack/authentication/LDAPAuthProviderForNative.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthenticationAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/authentication/AuthenticationProviderFactoryTest.java
  fe/fe-core/src/test/java/com/starrocks/authentication/PlainPasswordAuthenticationProviderTest.java
Due: fe-total

[BugFix] fix constant evaluation before expr open (#48196)
  be/src/exprs/cast_expr.h
  be/src/exprs/cast_expr_array.cpp
Due: be-total

MV shold not rewrite if query contains non determinic time functions
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/NonDeterministicVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ForceCTEReuseRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeUtilTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TracerMVTest.java
Due: fe-total

[BugFix] Revert [BugFix] fix query-level profile counters (backport #49081) (#49420)
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Due: fe-total

[BugFix] Revert [BugFix] fix query-level profile counters (backport #49081) (#49419)
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Due: fe-total

Enable dynamic partition pruning for non-slot-ref probe expr
  be/src/exprs/runtime_filter_bank.cpp
Due: be-total

[BugFix] Revert [BugFix] fix query-level profile counters (#49418)
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapPart2Test.java
Due: fe-total

Support configurable hll_sketch and optimize hll_sketch performance
  be/src/exprs/agg/factory/aggregate_resolver_approx.cpp
  be/src/exprs/agg/hll_sketch.h
  be/src/types/constexpr.h
  be/src/types/hll.cpp
  be/src/types/hll.h
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/PreAggregateTurnOnRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/SyntaxSugars.java
  test/sql/test_agg_function/R/test_hll_sketch_count.sql
  test/sql/test_agg_function/T/test_hll_sketch_count.sql
Due: fe-total, be-total

[BugFix] Fix replay of add sub partition
  fe/fe-core/src/main/java/com/starrocks/catalog/Partition.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/NonDeterministicVisitor.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/NonDeterministicVisitor.java
Due: fe-total

Optimize performance of roaring2range
  be/src/storage/roaring2range.h
  be/src/storage/rowset/bitmap_range_iterator.h
  be/test/CMakeLists.txt
  be/test/storage/roaring2range_test.cpp
Due: be-total

fix compile
  be/test/runtime/memory/counting_allocator_test.cpp
Due: be-total

[Enhancement] Support const folding for replace()
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Due: fe-total

[BugFix] show catalog property for user (#49415)
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowUserPropertyStmt.java
Due: fe-total

fix ut
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
