Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

fix
  test/sql/test_inverted_index/R/test_inverted_index
Due: none

[BugFix] Read-write lock should be added in LakePersistentIndex
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
Due: be-total

address review comments
  be/src/storage/sstable/table.cpp
Due: be-total

[Enhancement] optimize hudi table metadata fetch remote files (#44032)
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/catalog/HudiTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/CachingRemoteFileIO.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileDesc.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemoteFileOperations.java
  fe/fe-core/src/main/java/com/starrocks/connector/RemotePathKey.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveMetastoreApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/hudi/HudiRemoteFileIO.java
Due: fe-total

[Enhancement] support bucket shuffle join on colocate group execution (#43920)
  be/src/connector/connector.cpp
  be/src/connector/connector.h
  be/src/exec/pipeline/fragment_context.cpp
  be/src/exec/pipeline/fragment_context.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/group_execution/execution_group.cpp
  be/src/exec/pipeline/group_execution/execution_group.h
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/pipeline_builder.h
  be/src/exec/pipeline/pipeline_fwd.h
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exprs/runtime_filter.h
  be/src/exprs/runtime_filter_bank.cpp
  be/src/exprs/runtime_filter_bank.h
  be/test/exec/pipeline/pipeline_file_scan_node_test.cpp
  be/test/exec/pipeline/pipeline_test_base.cpp
  be/test/exec/stream/stream_pipeline_test.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/RuntimeFilterDescription.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/assignment/LocalFragmentAssignmentStrategy.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/ExecutionDAG.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/GroupExecutionPlanTest.java
  gensrc/thrift/PlanNodes.thrift
  gensrc/thrift/RuntimeFilter.thrift
  test/sql/test_group_execution/R/test_group_execution_join
  test/sql/test_group_execution/T/test_group_execution_join
Due: fe-total, be-total

[Tool] Adjust the inspection frequency of branch
  .github/workflows/inspection-pipeline.yml
Due: none

[Tool] Adjust the inspection frequency of branch (#44108)
  .github/workflows/inspection-pipeline.yml
Due: none

fix sqltest
  test/sql/test_index/R/test_ngram_bloom_filter
Due: none

[BugFix] Fix BE ASAN crash when Expr::prepare failed (backport #43838)
  be/src/exprs/function_call_expr.cpp
Due: be-total

[BugFix] Fix BE ASAN crash when Expr::prepare failed (backport #43838)
  be/src/exprs/vectorized/function_call_expr.cpp
Due: be-total

improve
  docs/zh/data_source/data_cache_warmup.md
Due: none

fix bugs
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
Due: fe-total

[BugFix] Fix BE ASAN crash when Expr::prepare failed (backport #43838) (#44110)
  be/src/exprs/function_call_expr.cpp
Due: be-total

[BugFix] fix crash in iceberg query (#43419)
  be/src/formats/parquet/meta_helper.cpp
  be/test/formats/parquet/iceberg_schema_evolution_file_reader_test.cpp
Due: be-total

update slack link
  docs/en/developers/How_to_Contribute.md
  docs/en/introduction/StarRocks_intro.md
  docs/en/project_help/slack.md
Due: none

[BugFix] Fix heap-overflow in MultiGet of sstable (#44088)
  be/src/storage/sstable/table.cpp
  be/test/storage/lake/persistent_index_sstable_test.cpp
Due: be-total

[Doc] update slack link (#44121)
  docs/en/developers/How_to_Contribute.md
  docs/en/introduction/StarRocks_intro.md
  docs/en/project_help/slack.md
Due: none

Update ADMIN_SET_PARTITION_VERSION.md
  docs/en/sql-reference/sql-statements/Administration/ADMIN_SET_PARTITION_VERSION.md
Due: none

[BugFix] Fix upper case column name make GIN metadata incorrect (#44105)
  be/src/storage/metadata_util.cpp
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
