Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] remove unnecessary replicate for outer_common_expr (#52649)
  be/src/exprs/array_map_expr.cpp
Due: be-total

[THIRDPARTY] Upgrade jdk from 8 to 11 in case of build fe failure
  thirdparty/vars-x86_64.sh
Due: none

[Doc]Add version requirement for kafka connector
  docs/en/loading/Kafka-connector-starrocks.md
  docs/zh/loading/Kafka-connector-starrocks.md
Due: none

wip
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownPredicateProjectRule.java
Due: fe-total

wip
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

[Doc]Add version requirement for kafka connector (#52681)
  docs/en/loading/Kafka-connector-starrocks.md
  docs/zh/loading/Kafka-connector-starrocks.md
Due: none

[Refactor] redundant variable definition (#52607)
  fe/fe-core/src/main/java/com/starrocks/server/CatalogMgr.java
Due: fe-total

[Feature] Support db level UDF for backup restore
  fe/fe-core/src/main/java/com/starrocks/backup/BackupHandler.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupJob.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupJobInfo.java
  fe/fe-core/src/main/java/com/starrocks/backup/BackupMeta.java
  fe/fe-core/src/main/java/com/starrocks/backup/RestoreJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Function.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/BackupRestoreAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AbstractBackupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/BackupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/FunctionRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/RestoreStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/backup/BackupHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/DatabaseTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeBackupRestoreTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
Due: fe-total

BugFix: add lock to avoid apply and update schema run concurrency for pk table
  be/src/storage/tablet_updates.cpp
Due: be-total

update
  be/src/storage/tablet_updates.cpp
Due: be-total

[BugFix] Fix stale mem flush not reduce load memory usage
  be/src/storage/async_delta_writer.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
  be/src/storage/lake/async_delta_writer.cpp
  be/src/storage/lake/delta_writer.cpp
  be/src/storage/lake/delta_writer.h
  be/test/storage/lake/async_delta_writer_test.cpp
  test/sql/test_automatic_bucket/R/test_automatic_partition
  test/sql/test_automatic_bucket/T/test_automatic_partition
Due: be-total

Support jodatime_fata function to partition pruning
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctionsTest.java
Due: fe-total

fix olap scan operator and COUNTER_UPDATE
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/stream/scan/stream_scan_operator.cpp
  be/src/exec/tablet_scanner.cpp
Due: be-total

[BugFix] fix concat nullsFractionc
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/PredicateStatisticsCalculatorTest.java
Due: fe-total

[BugFix] fix list partition multi values' probelm (backport #51036) (#52677)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AuthorizerStmtVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/BackupRestoreAnalyzer.java
Due: fe-total

[Enhancement] Support sampling statistics collection for external table (#52608)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/HiveStatisticsProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorAnalyzeTask.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/StatisticsUtils.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzeStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ColumnStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalBasicStatsMeta.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalFullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/ExternalSampleStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatsConstants.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateAnalyzeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/hive/HiveStatisticsProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/statistics/ConnectorAnalyzeTaskTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AnalyzeCreateAnalyzeJobTest.java
  fe/fe-core/src/test/java/com/starrocks/statistic/StatisticsCollectJobTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_hive/R/test_hive_analyze
  test/sql/test_hive/T/test_hive_analyze
Due: fe-total

add more comments
  fe/fe-core/src/main/java/com/starrocks/planner/SortNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalTopNOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/physical/PhysicalWindowOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/AddDecodeNodeForDictStringRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/ExchangeSortToMergeRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/WindowTransformer.java
Due: fe-total

fix clang format
  be/src/connector/lake_connector.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
Due: be-total

[Enhancement] Support merge invalid columns with null in files() (#52627)
  be/src/exec/orc_scanner.cpp
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_reader.h
  be/src/exec/parquet_scanner.cpp
  be/src/formats/orc/orc_chunk_reader.cpp
  test/sql/test_files/R/test_orc_files_merge
  test/sql/test_files/R/test_parquet_files_merge
  test/sql/test_files/T/test_orc_files_merge
  test/sql/test_files/T/test_parquet_files_merge
  test/sql/test_files/orc_format/basic_type.orc
  test/sql/test_files/orc_format/basic_type_k2k5k7.orc
  test/sql/test_files/parquet_format/basic_type_k2k5k7.parquet
Due: be-total

[Tool] AutoMV httpserver output rewrite fail reason and save query dumps and results (#29725)
  fe/fe-core/src/main/java/com/starrocks/common/profile/Tracers.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/lattice/AutoMVRecommendAction.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/lattice/QueryDumpMVRecommender.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/lattice/QueryDumpMVRecommenderCmd.java
  fe/fe-core/src/test/java/com/starrocks/sql/automv/lattice/RecommendMVFromQueryDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[BugFix] fix concat expr with multiple args nullsFraction (#52683)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ExpressionStatisticCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/statistics/PredicateStatisticsCalculatorTest.java
Due: fe-total

[Enhancement] support extract common SPJG plan as cte (#29318)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/OperatorType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pieces/LogicalPiecesOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pieces/PiecesPlanTransformer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pieces/QueryPieces.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pieces/ReuseFusionPlanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/pieces/ScalarOperatorConverter.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/MVRewriteTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCDS1TExtractCTETest.java
  test/sql/test_transparent_mv/R/test_transparent_mv_union_olap
  test/sql/test_transparent_mv/T/test_transparent_mv_union_olap
Due: fe-total

[BugFix] fix compute node replay heartbeat response status inconsistency
  fe/fe-core/src/main/java/com/starrocks/system/Backend.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
  fe/fe-core/src/test/java/com/starrocks/catalog/BackendTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/system/ComputeNodeTest.java
Due: fe-total

[UT] Fix warehouse epack UT (#29730)
  fe/fe-core/src/main/java/com/starrocks/epack/warehouse/WarehouseManagerEPack.java
  fe/fe-core/src/test/java/com/starrocks/epack/warehouse/WarehouseManagerEPackTest.java
Due: fe-total

[Enhancement]better bit upacking batch size
  be/src/util/bit_packing_adapter.h
  be/src/util/bit_packing_simd.h
Due: be-total
