Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

en
  docs/en/administration/management/resource_management/resource_group.md
Due: none

s
  docs/en/administration/management/resource_management/resource_group.md
Due: none

Support current_role constant Simplification at FE
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectConstTest.java
Due: fe-total

fix ut
  be/test/exprs/agg/aggregate_test.cpp
Due: be-total

[BugFix] fix deserialization not initialize field (#48359)
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfoV2.java
  fe/fe-core/src/test/java/com/starrocks/persist/gson/GsonDerivedClassSerializationTest.java
Due: fe-total

fix no-target error during building of llvm
  thirdparty/build-thirdparty.sh
Due: none

MVPCTRefreshPlanBuilder supports multi ref base tables in mv refresh
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MvTaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshListPartitioner.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPlanBuilder.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshRangePartitioner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OptExpressionDuplicator.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PCTRefreshListPartitionOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapPart2Test.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVRewriteWithSchemaChangeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTest.java
Due: fe-total

Update resource_group.md
  docs/zh/administration/management/resource_management/resource_group.md
Due: none

add more tests
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_multi_union4
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_multi_union4
  test/test_sql_cases.py
Due: none

Update resource_group.md
  docs/en/administration/management/resource_management/resource_group.md
Due: none

ppp
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/RewriteMultiDistinctRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/StructTypePlanTest.java
Due: fe-total

fix array/struct nested bug
  be/src/storage/rowset/default_value_column_iterator.cpp
Due: be-total

change the cputime from max to sum calculation
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/QueryRuntimeProfile.java
Due: fe-total

[Doc] Update the default value of lake_autovacuum_grace_period_minutes
  docs/en/administration/management/FE_configuration.md
Due: none

[Enhancement] upgrade delta kernel to 4.0rc1
  fe/fe-core/pom.xml
Due: fe-total

Update FE_configuration.md
  docs/zh/administration/management/FE_configuration.md
Due: none

use try_catch_bad_alloc to replace check_mem_limit
  be/src/storage/persistent_index.cpp
Due: be-total

format
  be/src/storage/rowset/default_value_column_iterator.cpp
Due: be-total

[BugFix] fix NPE when executing stmt forwarded to leader
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
Due: fe-total

Fix getFullyQualifiedNameFromListAllowNull NPE when check system privilege bug
  fe/fe-core/src/main/java/com/starrocks/privilege/NativeAccessController.java
  fe/fe-core/src/test/java/com/starrocks/privilege/AuthorizationMgrTest.java
Due: fe-total

Update be_label.md
  docs/zh/administration/management/resource_management/be_label.md
Due: none

update
  docs/en/administration/management/resource_management/resource_group.md
  docs/zh/administration/management/resource_management/resource_group.md
Due: none

[BugFix] fix not parsing prepare parameter in order
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/analysis/PreparedStmtTest.java
Due: fe-total

ci ubuntu init
  .github/workflows/ci-pipeline-branch.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/inspection-pipeline.yml
  test/test_sql_cases.py
Due: none

test
  be/src/agent/agent_server.cpp
  fe/fe-core/src/main/java/com/starrocks/alter/AlterOperations.java
Due: fe-total, be-total

[Doc] Update description of max_cpu_cores for resource group (#48364)
  docs/en/administration/management/resource_management/resource_group.md
  docs/zh/administration/management/resource_management/resource_group.md
Due: none

[Enhancement] Support current_role constant simplification at FE (#48361)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/connector/parser/trino/TrinoFunctionTransformTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectConstTest.java
Due: fe-total

[Feature] support iceberg view based on rest catalog (#46071)
  fe/fe-core/src/main/java/com/starrocks/catalog/ConnectorView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/IcebergView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/Table.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorViewDefinition.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergApiConverter.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/rest/IcebergRESTCatalog.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/MetadataMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/Authorizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DropStmtAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateViewStmt.java
  fe/fe-core/src/test/java/com/starrocks/connector/iceberg/IcebergMetadataTest.java
Due: fe-total

update doc
  docs/en/administration/query_profile_details.md
  docs/zh/administration/query_profile_details.md
Due: none

Add a hint that the process was successfully started
  bin/start_backend.sh
  bin/start_fe.sh
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
