Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

resolve
  be/src/common/config.h
Due: be-total

[Doc]Update aws_iam_policies.md
  docs/zh/reference/aws_iam_policies.md
Due: none

doc
  test/README.md
Due: none

[Doc]Update aws_iam_policies.md
  docs/en/reference/aws_iam_policies.md
Due: none

[Enhancement] add backgroud gc for crm files (#47283)
  be/src/common/config.h
  be/src/storage/data_dir.cpp
  be/src/storage/data_dir.h
  be/src/storage/olap_server.cpp
  be/test/storage/rows_mapper_test.cpp
Due: be-total

resolve
  be/test/storage/rows_mapper_test.cpp
Due: be-total

resolve
  be/src/storage/data_dir.cpp
Due: be-total

fix auto_refresh
  test/lib/sr_sql_lib.py
  test/sql/test_materialized_view/R/test_auto_refresh
  test/sql/test_materialized_view/T/test_auto_refresh
Due: none

[BugFix] Fix array index out of bounds when collect equivalent slot pairs from set operators
  fe/fe-core/src/main/java/com/starrocks/planner/SetOperationNode.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/query_dump/query_cache_set_operator.json
Due: fe-total

[BugFix] Fix mv partition intersected bug when base tables' partitions are discrete (#46974)
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PartitionMapping.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/RangePartitionDiff.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/mv/MVEagerRangePartitionMapper.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/mv/MVLazyRangePartitionMapper.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/mv/MVRangePartitionMapper.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/common/SyncPartitionUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartialPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayFromDumpTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
  test/sql/test_materialized_view/R/test_materialized_view_union
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_multi_union1
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_with_multi_union2
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_multi_union1
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_with_multi_union2
Due: fe-total

[Temp] reading iceberg delete file with data cache
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/hdfs_scanner_parquet.h
  be/src/exec/iceberg/iceberg_delete_builder.cpp
  be/src/exec/iceberg/iceberg_delete_builder.h
  be/src/exec/mor_processor.cpp
  be/src/formats/parquet/file_reader.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/IcebergScanNode.java
Due: fe-total, be-total

[Enhancement] support binary type for jdbc scanner
  be/src/exec/jdbc_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/connector/jdbc/OracleSchemaResolver.java
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/JDBCScanner.java
  java-extensions/udf-extensions/src/main/java/com/starrocks/udf/UDFHelper.java
Due: fe-total, be-total

[UT] Disable colocate group in DecommissionTest
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
Due: fe-total

[Enhancement] Use query_timeout as Hikari connection timeout (#47259)
  be/src/exec/jdbc_scanner.cpp
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/JDBCScanContext.java
  java-extensions/jdbc-bridge/src/main/java/com/starrocks/jdbcbridge/JDBCScanner.java
Due: be-total

format
  be/src/exec/jdbc_scanner.cpp
Due: be-total

[BugFix] Fix NestLoop Join runtime filter not evaluate in Exchange node
  be/src/exec/pipeline/exchange/exchange_source_operator.cpp
  be/src/exec/pipeline/operator.cpp
  be/src/exec/pipeline/operator.h
  be/src/exprs/expr_context.h
  be/src/exprs/runtime_filter_bank.cpp
  test/sql/test_nest_loop_join/R/test_nest_loop_join
  test/sql/test_nest_loop_join/T/test_nest_loop_join
Due: be-total

[Enhancement] support lake compaction force commit (#47097)
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/transactions.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/txn_log_applier.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/lake/TxnInfoHelper.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTxnCommitAttachment.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/PartitionStatistics.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/Quantiles.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/ScoreSelector.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TxnCommitAttachment.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionTxnCommitAttachmentTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/PartitionStatisticsTest.java
  gensrc/proto/lake_service.proto
  gensrc/proto/lake_types.proto
Due: fe-total, be-total

[Enhancement] support lake compaction force commit (#47097)
  be/src/service/service_be/lake_service.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/transactions.cpp
  be/src/storage/lake/txn_log_applier.cpp
  be/src/storage/lake/txn_log_applier.h
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/connector/hive/glue/metastore/DefaultAWSCredentialsProviderFactory.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTxnCommitAttachment.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/PartitionStatistics.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/Quantiles.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/ScoreSelector.java
  fe/fe-core/src/main/java/com/starrocks/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/com/starrocks/transaction/TxnCommitAttachment.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionMgrTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionTxnCommitAttachmentTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/PartitionStatisticsTest.java
  gensrc/proto/lake_service.proto
  gensrc/proto/lake_types.proto
Due: fe-total, be-total

[UT] Fix Colocate balance timeout UT (#47323)
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/DecommissionTest.java
Due: fe-total

[BugFix] incremental fix to StarMgrMetaSync deleteTablets (#47300)
  fe/fe-core/src/main/java/com/starrocks/lake/StarMgrMetaSyncer.java
  fe/fe-core/src/test/java/com/starrocks/lake/StarMgrMetaSyncerTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoBackend.java
Due: fe-total

[Enhancement] adopt simdutf implementation (#47174)
  be/CMakeLists.txt
  be/src/util/simdutf8check.h
  be/src/util/utf8.h
  be/src/util/utf8_check.cpp
  be/src/util/utf8_check.h
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Due: be-total
