Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Update ALTER_RESOURCE_GROUP.md
  docs/en/sql-reference/sql-statements/cluster-management/resource_group/ALTER_RESOURCE_GROUP.md
Due: none

[BugFix] Make cpu_weight always store positive default value (#51005)
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AlterResourceGroupStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateResourceGroupStmt.java
Due: fe-total

fix doc style
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[Refactor] update an error message
  be/src/exec/pipeline/pipeline_driver.cpp
Due: be-total

fix conflict
  docs/en/administration/management/resource_management/resource_group.md
Due: none

[Doc] Add document about exclusive_cpu_cores (#50871)
  docs/en/administration/management/monitor_manage_big_queries.md
  docs/en/administration/management/resource_management/resource_group.md
  docs/en/sql-reference/sql-statements/cluster-management/resource_group/ALTER_RESOURCE_GROUP.md
  docs/en/sql-reference/sql-statements/cluster-management/resource_group/CREATE_RESOURCE_GROUP.md
  docs/zh/administration/management/monitor_manage_big_queries.md
  docs/zh/administration/management/resource_management/resource_group.md
  docs/zh/sql-reference/sql-statements/cluster-management/resource_group/ALTER_RESOURCE_GROUP.md
  docs/zh/sql-reference/sql-statements/cluster-management/resource_group/CREATE_RESOURCE_GROUP.md
Due: none

[Enhancement] Use the same TColumn list in AlterReplicaTask (#50855)
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
Due: fe-total

[BugFix] add return type check in Java UDTF (#50615)
  be/src/exprs/table_function/java_udtf_function.cpp
  be/src/udf/java/java_data_converter.cpp
  be/src/udf/java/java_data_converter.h
  be/src/udf/java/java_udf.cpp
  be/src/udf/java/java_udf.h
  test/sql/test_udf/R/test_jvm_udf
  test/sql/test_udf/T/test_jvm_udf
Due: be-total

resolve
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
Due: fe-total

[Enhancement] support query lake compaction profile in FE
  be/src/exec/schema_scanner/schema_be_cloud_native_compactions_scanner.cpp
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/compaction_task_context.cpp
  be/src/storage/lake/compaction_task_context.h
  be/src/storage/lake/general_tablet_writer.cpp
  be/src/storage/lake/horizontal_compaction_task.cpp
  be/src/storage/lake/vertical_compaction_task.cpp
  be/test/storage/lake/compaction_scheduler_test.cpp
  be/test/storage/lake/compaction_task_context_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/BeCloudNativeCompactionsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/CompactionsProcNode.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionProfile.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionRecord.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionTask.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionJobTest.java
  fe/fe-core/src/test/java/com/starrocks/lake/compaction/CompactionProfileTest.java
  gensrc/proto/lake_service.proto
Due: fe-total, be-total

fix format
  be/src/fs/fs_posix.cpp
Due: be-total

fix clang tidy
  be/src/fs/fs_posix.cpp
Due: be-total

[BugFix] Make create_directories compatible with symbolic links
  be/src/fs/fs_posix.cpp
Due: be-total

resolve
  fe/fe-core/src/main/java/com/starrocks/alter/RollupJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/task/AlterReplicaTask.java
Due: fe-total

fix set error
  be/src/storage/compaction_manager.cpp
Due: be-total

[Feature] Support trigger analyze when query connector table (#50747)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorAnalyzeTask.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorAnalyzeTaskQueue.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/ConnectorTableTriggerAnalyzeMgr.java
  fe/fe-core/src/main/java/com/starrocks/connector/statistics/StatisticsUtils.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/CachedStatisticStorage.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJob.java
  fe/fe-core/src/test/java/com/starrocks/connector/statistics/ConnectorAnalyzeTaskQueueTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/statistics/ConnectorAnalyzeTaskTest.java
Due: fe-total

[BugFix] Fix check bind_cpus for resource group (#50809)
  be/src/exec/workgroup/pipeline_executor_set.cpp
  be/src/exec/workgroup/pipeline_executor_set.h
  be/src/exec/workgroup/pipeline_executor_set_manager.cpp
  be/src/http/action/pipeline_blocking_drivers_action.cpp
  be/src/runtime/exec_env.cpp
  be/test/CMakeLists.txt
  be/test/exec/workgroup/pipeline_executor_set_test.cpp
Due: be-total

[Enhancement] Add config to turn on balancing tablets between workers in shared-data mode (#50843)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/staros/StarMgrServer.java
Due: fe-total

[BugFix] fix DataDir invalid access, refactor DataDir management
  be/src/storage/olap_server.cpp
  be/src/storage/storage_engine.cpp
  be/src/storage/storage_engine.h
Due: be-total

[Enhancement] Checkpoint outputs misleading logs when loading materialized views. (#51002)
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

Update resource_group.md
  docs/en/administration/management/resource_management/resource_group.md
Due: none

update
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadTask.java
Due: fe-total

[BugFix] fix BE crash during startup when its started from deep nested directory path
  be/src/util/bfd_parser.cpp
Due: be-total

[BugFix] fix BE crash when http api request for pprof/cmdline
  be/src/http/action/pprof_actions.cpp
Due: be-total

[Enhancement](log) add config to control compression of fe log & fe audit log
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

[Enhancement](log) add config to control compression of fe log & fe audit log
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

Updated data length field detail
  CONTRIBUTING.md
  docs/en/sql-reference/information_schema/tables.md
Due: none

updates
  docs/en/sql-reference/information_schema/tables.md
Due: none

Formatting
  docs/en/sql-reference/information_schema/tables.md
Due: none
