Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Tool] Add restful maintainer
  .github/CODEOWNERS
Due: none

[BugFix] Fix race condition in BucketProcess AGG
  be/src/exec/pipeline/aggregate/aggregate_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/aggregate_distinct_blocking_sink_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_blocking_source_operator.cpp
  be/src/exec/pipeline/aggregate/spillable_aggregate_distinct_blocking_operator.cpp
  be/src/exec/pipeline/bucket_process_operator.cpp
  be/src/exec/pipeline/bucket_process_operator.h
  be/src/exec/pipeline/chunk_accumulate_operator.h
  be/src/exec/pipeline/limit_operator.h
  be/src/exec/pipeline/project_operator.cpp
  be/src/exec/pipeline/project_operator.h
  be/src/exec/query_cache/owner_info.h
  be/src/storage/chunk_helper.cpp
  be/test/storage/chunk_helper_test.cpp
  test/sql/test_agg/R/test_bucket_agg
  test/sql/test_agg/T/test_bucket_agg
  test/sql/test_spill/R/test_spill_aggregate
  test/sql/test_spill/T/test_spill_aggregate
Due: be-total

[Enhancement]sql-tester supports deltalake catalog (#38504)
  test/conf/sr.conf
Due: none

[Tool] Add restful maintainer (#38516)
  .github/CODEOWNERS
Due: none

fix test
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/DefaultWorkerProviderTest.java
Due: fe-total

[BugFix] fix multi view join rewrite bug for 3.2 (backport #38485) (#38508)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/test/java/com/starrocks/planner/ViewBaseMvRewriteTest.java
Due: fe-total

fix ut
  be/src/exec/pipeline/scan/morsel.h
  be/src/exec/scan_node.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/parquet/column_converter_test.cpp
  be/test/formats/parquet/file_reader_test.cpp
  be/test/formats/parquet/file_writer_test.cpp
  be/test/formats/parquet/iceberg_schema_evolution_file_reader_test.cpp
  be/test/formats/parquet/page_index_test.cpp
  be/test/formats/parquet/parquet_cli_reader.h
Due: be-total

[BugFix] Make sys.fe_locks work
  be/src/exec/schema_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
Due: fe-total, be-total

[BugFix] Fix lake alter job with physical partition
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/IndicesProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/PublishVersionDaemon.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PhysicalPartitionImplTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest2.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

[Feature]List partition supports Datacache.partition_duration (backport #37972) (#38510)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
Due: fe-total

[Feature]List partition supports Datacache.partition_duration (backport #37972) (#38509)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PartitionInfo.java
  fe/fe-core/src/test/java/com/starrocks/catalog/OlapTableTest.java
Due: fe-total

[BugFix] check base table existence when updating meta (#38464)
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

Optimize partition compensate strategy for performance
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/QueryDebugOptions.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewriteContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/OptimizerContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/QueryMaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Utils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/BaseMaterializedViewRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewHiveTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewLowCardTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewManualTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/schema/MSchema.java
  fe/fe-core/src/test/java/com/starrocks/schema/MTable.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVPartitionCompensateOptBench.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRefreshAndRewriteIcebergTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewritePartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteUnionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/NormalizePredicateBench.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
  fe/fe-core/src/test/resources/sql/materialized-view/tpch-hive/q11.sql
  fe/fe-core/src/test/resources/sql/materialized-view/tpch/q5.sql
Due: fe-total

Optimize task run and task run status to be better for show materialized views
  be/src/exec/schema_scanner/schema_materialized_views_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/information/MaterializedViewsSystemTable.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShowMaterializedViewStatus.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/ExecuteOption.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRun.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunContext.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunExecutor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/MVTaskRunExtraMessage.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/persist/TaskRunStatus.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ShowMaterializedViewsStmt.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ShowMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/TaskManagerTest.java
  fe/fe-core/src/test/java/com/starrocks/schema/MSchema.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  gensrc/thrift/FrontendService.thrift
  test/lib/sr_sql_lib.py
  test/sql/test_materialized_view/R/test_create_mv_with_params
  test/sql/test_materialized_view/T/test_create_mv_with_params
Due: fe-total, be-total

[Enhancement] active mv automatically (#32829)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MVActiveChecker.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
Due: fe-total

add config
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MVActiveChecker.java
Due: fe-total

[BugFix] Clearify error message when creating column with row type (#38445)
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoClusterTest.java
Due: fe-total

[BugFix] fix iceberg eq-delete when chunk is empty after conjunct eval
  be/src/exec/mor_processor.cpp
Due: be-total

[BugFix] Make sys.fe_locks work (#38520)
  be/src/exec/schema_scanner.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/system/sys/SysFeLocks.java
Due: fe-total, be-total

[Doc] Fixup path of restful-api-standard.md
  fe/fe-core/src/main/java/com/starrocks/http/README.md
Due: fe-total

fix test bugs
  test/sql/test_materialized_view/R/test_create_mv_with_params
  test/sql/test_materialized_view/R/test_mv_iceberg_rewrite
  test/sql/test_materialized_view/T/test_create_mv_with_params
  test/sql/test_materialized_view/T/test_mv_iceberg_rewrite
Due: none

[Doc] Fixup path of restful-api-standard.md (#38525)
  fe/fe-core/src/main/java/com/starrocks/http/README.md
Due: fe-total

store inactive reason
  fe/fe-core/src/main/java/com/starrocks/alter/Alter.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Due: fe-total

[Enhancement] Add FE mutbale config log_register_and_unregister_query_id (#38501)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/QeProcessorImpl.java
Due: fe-total

[Enhancement] Use concurrency map instead of lock for blacklist (#38452)
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/qe/SimpleScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/DefaultWorkerProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/test/java/com/starrocks/qe/SimpleSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/DefaultWorkerProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/GetNextTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/StartSchedulingTest.java
Due: fe-total

[Enhancement] active mv automatically (#32829)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MVActiveChecker.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestBase.java
Due: fe-total

store inactive reason
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobMgr.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/MVActiveChecker.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/test/java/com/starrocks/analysis/AlterMaterializedViewTest.java
Due: fe-total

fix comments
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/QueryMaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanTestNoneDBBase.java
Due: fe-total

[BugFix]fix bug of isOutputColumn on deltalake table
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  test/sql/test_deltalake/R/test_deltalake_catalog
  test/sql/test_deltalake/T/test_deltalake_catalog
Due: fe-total

[BugFix] Fix rpc transmit Resource temporarily unavailable error (#37962)
  thirdparty/download-thirdparty.sh
  thirdparty/patches/brpc-1.3.0-2479.patch
Due: none

remove temp var
  be/src/fs/fs_s3.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
