Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

[BugFix] Fix external db & table privilege compatibility (#44030)
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/privilege/PrivilegeCollectionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Due: fe-total

[Feature] Support sqlblacklist for ctas
  docs/en/administration/management/resource_management/Blacklist.md
  docs/zh/administration/management/resource_management/Blacklist.md
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/planner/QueryPlannerTest.java
Due: fe-total

[BugFix] Fix race condition issue in PrimaryIndex::memory_usage() (#44034)
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/test/storage/persistent_index_test.cpp
Due: be-total

[Doc]Update ranger_plugin.md
  docs/zh/administration/user_privs/ranger_plugin.md
Due: none

tmp save
  be/src/exec/data_sink.cpp
  be/src/exec/exchange_node.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange.cpp
  be/src/exec/pipeline/exchange/local_exchange.h
  be/src/exec/pipeline/exchange/shuffler.h
  be/src/exec/pipeline/pipeline_builder.cpp
  be/src/exec/pipeline/source_operator.h
  fe/fe-core/src/main/java/com/starrocks/planner/DataStreamSink.java
  fe/fe-core/src/main/java/com/starrocks/planner/ExchangeNode.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

[Doc] explain that flink cdc is one of many methods to synchronize data from mysql to sr (#43970)
  docs/en/assets/4.9.2.png
  docs/en/loading/Flink_cdc_load.md
  docs/zh/assets/4.9.2.png
  docs/zh/loading/Flink_cdc_load.md
Due: none

fix unstable case: test_spill_aggregate
  test/sql/test_spill/R/test_spill_aggregate
  test/sql/test_spill/T/test_spill_aggregate
Due: none

[Enhancement] change _index_lock to read/write lock (#43886)
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/primary_index.h
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Due: be-total

[Refactor] rename BDBJEJournalSystem to StarOSBDBJEJournalSystem (#44022)
  fe/fe-core/src/main/java/com/starrocks/staros/StarMgrServer.java
  fe/fe-core/src/main/java/com/starrocks/staros/StarOSBDBJEJournalSystem.java
  fe/fe-core/src/test/java/com/starrocks/staros/StarMgrServerTest.java
  fe/fe-core/src/test/java/com/starrocks/staros/StarOSBDBJEJournalSystemTest.java
Due: fe-total

[BugFix] skip checking chunk size for load job (backport #40756) (#42601)
  be/src/service/internal_service.cpp
Due: be-total

[BugFix] skip check chunk size for non-pipeline query (backport #40756) (#42710)
  be/src/service/internal_service.cpp
Due: be-total

Update SHOW_LOAD.md
  docs/en/sql-reference/sql-statements/data-manipulation/SHOW_LOAD.md
Due: none

[Refactor] Add ColumnIteratorDecorator to reduce code duplication (#43942)
  be/src/storage/metadata_util.h
  be/src/storage/rowset/array_column_iterator.cpp
  be/src/storage/rowset/array_column_iterator.h
  be/src/storage/rowset/column_iterator.cpp
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/column_iterator_decorator.h
  be/src/storage/rowset/default_value_column_iterator.h
  be/src/storage/rowset/dictcode_column_iterator.h
  be/src/storage/rowset/fill_subfield_iterator.cpp
  be/src/storage/rowset/fill_subfield_iterator.h
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/map_column_iterator.cpp
  be/src/storage/rowset/map_column_iterator.h
  be/src/storage/rowset/rowid_column_iterator.h
  be/src/storage/rowset/scalar_column_iterator.h
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/series_column_iterator.h
  be/src/storage/rowset/struct_column_iterator.cpp
  be/test/CMakeLists.txt
  be/test/storage/rowset/column_iterator_decorator_test.cpp
  be/test/storage/rowset/series_column_iterator_test.cpp
  be/test/storage/tablet_schema_helper.h
Due: be-total

Update release-3.2.md
  docs/en/release_notes/release-3.2.md
Due: none

[Doc] explain that flink cdc is one of many methods to synchronize data from mysql to sr (#43970)
  docs/en/loading/Flink_cdc_load.md
  docs/zh/loading/Flink_cdc_load.md
Due: none

Update release-3.2.md
  docs/zh/release_notes/release-3.2.md
Due: none

update
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Due: fe-total

Update Flink_cdc_load.md
  docs/en/loading/Flink_cdc_load.md
Due: none

[Enhancement] Improve referenced column and column mapping expr invalid error message when getting load plan (#43650)
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/load/Load.java
  fe/fe-core/src/test/java/com/starrocks/load/LoadTest.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

[Enhancement] Decrease `get_txn_status_internal_sec` to avoid introducing long delay time for stream load task
  be/src/common/config.h
  be/src/runtime/stream_load/stream_load_executor.cpp
Due: be-total

[BugFix] skip checking chunk size for load job (branch-3.1) (backport #42710) (#44057)
  be/src/service/internal_service.cpp
Due: be-total

update
  fe/fe-core/src/main/java/com/starrocks/privilege/DbPEntryObject.java
  fe/fe-core/src/main/java/com/starrocks/privilege/TablePEntryObject.java
  fe/fe-core/src/test/java/com/starrocks/privilege/PrivilegeCollectionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/PrivilegeCheckerTest.java
Due: fe-total
