Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

conflict
  docs/zh/sql-reference/data-types/date-types/DATETIME.md
Due: none

fix checkstyle
  fe/fe-core/src/main/java/com/starrocks/common/ConfigBase.java
Due: fe-total

Support jodatime_format function to partition pruning
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorFunctions.java
Due: fe-total

[BugFix] avoid activate MV if it's disabled (#52799)
  fe/fe-core/src/main/java/com/starrocks/scheduler/MVActiveChecker.java
Due: fe-total

[Enhancement] optimize histogram implementation (#52400)
  be/src/column/column_helper.h
  be/src/exprs/agg/aggregate_traits.h
  be/src/exprs/agg/histogram.h
  be/src/exprs/lambda_function.cpp
  be/test/exprs/agg/aggregate_test.cpp
  test/sql/test_analyze_statistics/R/test_histogram_function
  test/sql/test_analyze_statistics/T/test_histogram_function
Due: be-total

[Doc] Fix time unit error (#52797)
  docs/zh/table_design/indexes/Bitmap_index.md
Due: none

Reduce lock time of schema change in scenarios with a large number of columns
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/test/java/com/starrocks/alter/SchemaChangeHandlerTest.java
Due: fe-total

better readability
  be/src/util/bit_packing_adapter.h
Due: be-total

fix ci
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/PseudoFrontend.java
  fe/fe-core/src/test/java/com/starrocks/utframe/MockedFrontend.java
Due: fe-total

fix comments
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvRefreshArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/mv/MVTimelinessRangePartitionArbiter.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshRangePartitioner.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/RangePartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedTimeSeriesRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
Due: fe-total

[BugFix] only create IO Entry when enable IOProfiler (#52756)
  be/src/io/io_profiler.cpp
  be/src/io/io_profiler.h
  be/test/io/io_profiler_test.cpp
Due: be-total

remove set physical id
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/persist/SetPhysicalPartitionIdLog.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

Update io_profiler_test.cpp
  be/test/io/io_profiler_test.cpp
Due: be-total

Delete be/test/io/io_profiler_test.cpp
  be/test/io/io_profiler_test.cpp
Due: be-total

[Enhancement] Support insert timeout
  fe/fe-core/src/main/java/com/starrocks/catalog/DictionaryMgr.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheSelectExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/LeaderOpExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/ShortCircuitHybridExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/JobSpec.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVMaintenanceJob.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/NodeMgr.java
  fe/fe-core/src/main/java/com/starrocks/sql/DeletePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/InsertPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/UpdatePlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/DeleteAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/InsertAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/UpdateAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DmlStmt.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  test/sql/test_insert_empty/R/test_insert_timeout
  test/sql/test_insert_empty/T/test_insert_timeout
Due: fe-total

Fix comment
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateTableAsSelectStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/StatementBase.java
Due: fe-total

fix core dump when start the be with page_cache init metrics
  be/src/storage/page_cache.cpp
Due: be-total

Add ut
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/qe/StmtExecutorTest.java
Due: fe-total

Update mv insert timeout and improve some error codes
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
  test/sql/test_materialized_view/R/test_show_materialized_view
  test/sql/test_materialized_view/T/test_show_materialized_view
Due: fe-total

Fix online optimize job and remove pipe default timeout and make mv default timeout as insert_timeout
  fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

Fix ut
  fe/fe-core/src/main/java/com/starrocks/load/pipe/Pipe.java
  fe/fe-core/src/test/java/com/starrocks/load/pipe/PipeManagerTest.java
Due: fe-total

Add ut
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectContext.java
  fe/fe-core/src/test/java/com/starrocks/qe/ConnectContextTest.java
Due: fe-total

Only call postLoadImage after FE Restart
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
