Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

update
  be/src/formats/orc/orc_file_writer.cpp
Due: be-total

[BugFix] fix graceful exit crash when query iceberg eq-delete parquet file (backport #43707) (#43771)
  be/src/exec/iceberg/iceberg_delete_builder.cpp
  be/src/exec/iceberg/iceberg_delete_builder.h
Due: be-total

[Feature][FlatJson] FE support json type inference in query (#43526)
  fe/fe-core/src/main/java/com/starrocks/catalog/ColumnAccessPath.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PruneSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityArrayTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total

[BugFix] Fix potential huge leader fe memory occupation when load profile is enabled (backport #43717) (#43774)
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadTaskTest.java
Due: fe-total

[Refactor] Change protobuf package name from starrocks.lake to starrocks (#43730)
  be/src/exprs/table_function/list_rowsets.cpp
  be/src/exprs/table_function/list_rowsets.h
  be/src/runtime/lake_snapshot_loader.cpp
  be/src/runtime/lake_snapshot_loader.h
  be/src/service/service_be/lake_service.cpp
  be/src/service/service_be/lake_service.h
  be/src/service/service_be/starrocks_be.cpp
  be/src/storage/lake/compaction_policy.h
  be/src/storage/lake/compaction_scheduler.cpp
  be/src/storage/lake/compaction_scheduler.h
  be/src/storage/lake/metacache.h
  be/src/storage/lake/schema_change.h
  be/src/storage/lake/tablet.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/lake/tablet_metadata.h
  be/src/storage/lake/tablet_reader.h
  be/src/storage/lake/txn_log.h
  be/src/storage/lake/txn_log_applier.h
  be/src/storage/lake/types_fwd.h
  be/src/storage/lake/update_manager.h
  be/src/storage/lake/versioned_tablet.h
  be/src/storage/rowset/segment_rewriter.cpp
  be/src/storage/rowset/segment_rewriter.h
  be/src/tools/meta_tool.cpp
  be/test/exec/lake_meta_scanner_test.cpp
  be/test/runtime/lake_tablets_channel_test.cpp
  be/test/runtime/load_channel_test.cpp
  be/test/service/lake_service_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/tablet_manager_test.cpp
  be/test/storage/lake/test_util.h
  gensrc/proto/lake_service.proto
  gensrc/proto/lake_types.proto
Due: be-total

[BugFix] Fix hive sink using textfile format (#43734)
  fe/fe-core/src/main/java/com/starrocks/planner/HiveTableSink.java
Due: fe-total

[Feature] Support populate datacache asynchronously. (#40489)
  be/src/block_cache/block_cache.cpp
  be/src/block_cache/cache_options.h
  be/src/block_cache/cachelib_wrapper.cpp
  be/src/block_cache/starcache_wrapper.cpp
  be/src/block_cache/starcache_wrapper.h
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/io/cache_input_stream.cpp
  be/src/io/cache_input_stream.h
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
  be/src/service/service_be/starrocks_be.cpp
  be/test/block_cache/block_cache_test.cpp
  be/test/io/cache_input_stream_test.cpp
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/InternalService.thrift
Due: fe-total, be-total

[Enhancement] Support MATCH expression for reading GIN(sync #43473) (#17780)
  be/src/exprs/CMakeLists.txt
  be/src/exprs/expr.cpp
  be/src/exprs/match_expr.cpp
  be/src/exprs/match_expr.h
  be/src/storage/column_expr_predicate.cpp
  be/src/storage/column_expr_predicate.h
  be/src/storage/inverted/clucene/clucene_inverted_reader.cpp
  be/src/storage/inverted/clucene/clucene_inverted_reader.h
  be/src/storage/inverted/inverted_index_common.hpp
  be/src/storage/inverted/inverted_index_iterator.h
  be/src/storage/rowset/segment_iterator.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/MatchExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/Explain.java
  fe/fe-core/src/main/java/com/starrocks/sql/StatementPlanner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AggregationAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToStringBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/AstVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/OperatorType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/MatchExprOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/scalar/ScalarOperatorVisitor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocksLex.g4
  fe/fe-core/src/main/java/com/starrocks/sql/plan/ScalarOperatorToExpr.java
  fe/fe-core/src/test/java/com/starrocks/analysis/GINIndexTest.java
  gensrc/thrift/Exprs.thrift
  test/sql/test_inverted_index/R/test_inverted_index
  test/sql/test_inverted_index/T/test_inverted_index
Due: fe-total, be-total

Optimize testTransparentRewriteWithJoinMv1 ut performance
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentUnionRewriteHiveTest.java
Due: fe-total

fix formats
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentUnionRewriteHiveTest.java
Due: fe-total

[BugFix] Fix orc writer write column that has no nulls (#43725)
  be/src/formats/orc/orc_file_writer.cpp
  be/src/formats/orc/orc_file_writer.h
  be/test/formats/orc/orc_file_writer_test.cpp
Due: be-total

Refactor materialized view fresh functions to MvRefreshArbiter
  fe/fe-core/src/main/java/com/starrocks/catalog/MaterializedView.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvBaseTableUpdateInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvRefreshArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvUpdateInfo.java
  fe/fe-core/src/main/java/com/starrocks/connector/PartitionUtil.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializationContext.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MvRewritePreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/AggregatedMaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVCompensation.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MVTransparentState.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MaterializedViewRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/OptExpressionDuplicator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/TextMatchBasedRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/RefreshMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTPCHTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteTestBase.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentUnionRewriteHiveTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ReplayWithMVFromDumpTest.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/MvRefreshArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvUpdateInfo.java
Due: fe-total

fix bugs
  fe/fe-core/src/main/java/com/starrocks/catalog/MvRefreshArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvUpdateInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvPartitionCompensator.java
Due: fe-total

Fix SchemaScanNodeTest UT fail (#17735)
  fe/fe-core/src/test/java/com/starrocks/http/TransactionLoadActionTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/SchemaScanNodeTest.java
Due: fe-total

[Backport][BugFix] Fix IllegalStateException when clean StreamLoadTask (#43483) (#43768)
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadTask.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadManagerTest.java
Due: fe-total

[Enhancement] reduce meaningless join transformation (backport #28435)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/logical/LogicalJoinOperator.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/JoinAssociativityRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/JoinCommutativityRule.java
Due: fe-total

Update sql state as io error
  fe/fe-core/src/main/java/com/starrocks/common/ErrorCode.java
Due: fe-total

[UT] Optimize testTransparentRewriteWithJoinMv1 ut performance (#43778)
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvTransparentUnionRewriteHiveTest.java
Due: fe-total

[Feature] Support load from tablet of LakePersistentIndex
  be/src/storage/lake/compaction_policy.cpp
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
  be/src/storage/lake/lake_primary_index.cpp
  be/src/storage/lake/meta_file.cpp
  be/src/storage/lake/primary_key_compaction_policy.cpp
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/rowset.h
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/update_manager.cpp
  be/test/storage/lake/partial_update_test.cpp
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
  be/test/storage/lake/tablet_reader_test.cpp
  gensrc/proto/lake_types.proto
Due: be-total

[BugFix] Fix compile error
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/lake_persistent_index.h
Due: be-total

address review comments
  be/src/storage/lake/lake_persistent_index.cpp
  gensrc/proto/lake_types.proto
Due: be-total

clarify the loading overhead caused by generated cols
  docs/zh/sql-reference/sql-statements/generated_columns.md
Due: none

[BugFix] Fix compile error (#43790)
  be/src/storage/lake/compaction_task.h
  be/src/storage/lake/lake_persistent_index.h
Due: be-total
