Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

update
  be/src/formats/parquet/parquet_file_writer.cpp
Due: be-total

[BugFix] cleanup in-memory partition state if check fail when creating multiple-partitions (#45772)
  fe/fe-core/src/main/java/com/starrocks/catalog/RangePartitionInfo.java
Due: fe-total

[Doc] fix the supported version of regexp_extract_all (#45840)
  docs/en/release_notes/release-2.5.md
  docs/en/release_notes/release-3.1.md
  docs/en/sql-reference/sql-functions/like-predicate-functions/regexp_extract_all.md
  docs/zh/release_notes/release-2.5.md
  docs/zh/release_notes/release-3.1.md
  docs/zh/sql-reference/sql-functions/like-predicate-functions/regexp_extract_all.md
Due: none

fix
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/Normalization.thrift
  gensrc/thrift/PlanNodes.thrift
Due: fe-total

Delete docs/en/release_notes/release-2.5.md
  docs/en/release_notes/release-2.5.md
Due: none

Delete docs/en/release_notes/release-3.1.md
  docs/en/release_notes/release-3.1.md
Due: none

Delete docs/zh/release_notes/release-2.5.md
  docs/zh/release_notes/release-2.5.md
Due: none

Delete docs/zh/release_notes/release-3.1.md
  docs/zh/release_notes/release-3.1.md
Due: none

Delete docs/en/data_source/catalog/maxcompute_catalog.md
  docs/en/data_source/catalog/maxcompute_catalog.md
Due: none

Delete docs/zh/data_source/catalog/maxcompute_catalog.md
  docs/zh/data_source/catalog/maxcompute_catalog.md
Due: none

Update REFRESH_EXTERNAL_TABLE.md
  docs/en/sql-reference/sql-statements/data-definition/REFRESH_EXTERNAL_TABLE.md
Due: none

Update REFRESH_EXTERNAL_TABLE.md
  docs/zh/sql-reference/sql-statements/data-definition/REFRESH_EXTERNAL_TABLE.md
Due: none

Update BE_configuration.md
  docs/en/administration/management/BE_configuration.md
Due: none

Update BE_configuration.md
  docs/zh/administration/management/BE_configuration.md
Due: none

update UT
  be/test/storage/union_iterator_test.cpp
Due: be-total

Read encrypted ORC data
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/formats/orc/apache-orc/c++/include/orc/Common.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Reader.hh
  be/src/formats/orc/apache-orc/c++/include/orc/Type.hh
  be/src/formats/orc/apache-orc/c++/src/CMakeLists.txt
  be/src/formats/orc/apache-orc/c++/src/Compression.cc
  be/src/formats/orc/apache-orc/c++/src/Compression.hh
  be/src/formats/orc/apache-orc/c++/src/Options.hh
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
  be/src/formats/orc/apache-orc/c++/src/Reader.hh
  be/src/formats/orc/apache-orc/c++/src/StripeStream.cc
  be/src/formats/orc/apache-orc/c++/src/StripeStream.hh
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.cc
  be/src/formats/orc/apache-orc/c++/src/TypeImpl.hh
  be/src/formats/orc/apache-orc/c++/src/io/InputStream.cc
  be/src/formats/orc/apache-orc/c++/src/io/InputStream.hh
  be/src/formats/orc/apache-orc/c++/src/security/InMemoryKeystore.cc
  be/src/formats/orc/apache-orc/c++/src/security/InMemoryKeystore.hh
  be/src/formats/orc/apache-orc/c++/src/security/ReaderEncryption.cc
  be/src/formats/orc/apache-orc/c++/src/security/ReaderEncryption.hh
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/catalog/HiveTable.java
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/planner/HdfsScanNode.java
  gensrc/thrift/Descriptors.thrift
Due: fe-total, be-total

fix
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  fe/fe-core/src/main/java/com/starrocks/planner/HashJoinNode.java
  fe/fe-core/src/main/java/com/starrocks/planner/JoinNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/Normalization.thrift
  gensrc/thrift/PlanNodes.thrift
  test/sql/test_join/R/test_lazy_materialize
  test/sql/test_join/T/test_lazy_materialize
Due: fe-total, be-total

Fix the bug that partition by range(str2date) does not check parameters
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/PartitionFunctionChecker.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/ExpressionPartitionDesc.java
  test/sql/test_partition_by_expr/R/test_expr_str2date
  test/sql/test_partition_by_expr/T/test_expr_str2date
Due: fe-total

[BugFix] fix ctas and statistics collect issues on temporary tables(backport #45014) (#45836)
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/HistogramStatisticsCollectJob.java
  fe/fe-core/src/main/java/com/starrocks/statistic/SampleStatisticsCollectJob.java
  fe/fe-core/src/test/java/com/starrocks/alter/AlterTest.java
  test/sql/test_temporary_table/R/temporary_table
  test/sql/test_temporary_table/T/temporary_table
Due: fe-total

remove regexp_extract_all from 2.5 function-list.md
  docs/en/sql-reference/sql-functions/function-list.md
Due: none

optimize code
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/operator/UKFKConstraints.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/EliminateAggRule.java
Due: fe-total

[Feature] Support location awareness for materialized view (#45738)
  fe/fe-core/src/main/java/com/starrocks/alter/AlterMVJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/com/starrocks/pseudocluster/LocationMismatchRepairTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/analyzer/AlterSystemStmtAnalyzerTest.java
  fe/fe-core/src/test/java/com/starrocks/system/SystemInfoServiceTest.java
Due: fe-total

remove files
  docs/en/sql-reference/sql-functions/like-predicate-functions/regexp_extract_all.md
  docs/zh/sql-reference/sql-functions/function-list.md
  docs/zh/sql-reference/sql-functions/like-predicate-functions/regexp_extract_all.md
Due: none

Update function-list.md
  docs/en/sql-reference/sql-functions/function-list.md
Due: none

fix
  be/src/exec/hash_join_node.cpp
  fe/fe-core/src/main/java/com/starrocks/planner/HashJoinNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  test/sql/test_join/R/test_lazy_materialize
Due: fe-total, be-total

[Doc] Postpone support for Sync MV on shared-data
  docs/en/assets/commonMarkdown/sharedDataUse.md
Due: none

[Enhancement] Add enable_materialized_view_text_based_rewrite to enable text based rewrite or not (#43629)
  fe/fe-core/src/main/java/com/starrocks/catalog/MvPlanContext.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/MaterializedViewOptimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvUtils.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/materialization/rule/TextMatchBasedRewriteRule.java
  fe/fe-core/src/test/java/com/starrocks/utframe/UtFrameUtils.java
Due: fe-total

[Doc] remove regexp_extract_all from 2.5 function-list.md (#45875)
  docs/en/sql-reference/sql-functions/function-list.md
  docs/en/sql-reference/sql-functions/like-predicate-functions/regexp_extract_all.md
  docs/zh/sql-reference/sql-functions/function-list.md
  docs/zh/sql-reference/sql-functions/like-predicate-functions/regexp_extract_all.md
Due: none

Update CREATE_MATERIALIZED_VIEW.md
  docs/en/sql-reference/sql-statements/data-definition/CREATE_MATERIALIZED_VIEW.md
Due: none

Update Materialized_view-single_table.md
  docs/en/using_starrocks/Materialized_view-single_table.md
Due: none

fix
  be/src/exec/hash_joiner.h
Due: be-total

Update sharedDataUse.md
  docs/zh/assets/commonMarkdown/sharedDataUse.md
Due: none
