Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Doc] update architecture intro page (#48309)
  docs/en/assets/architecture_choices.png
  docs/en/assets/shared-data.png
  docs/en/assets/shared-nothing.png
  docs/en/introduction/Architecture.md
  docs/zh/assets/architecture_choices.png
  docs/zh/assets/shared-data.png
  docs/zh/assets/shared-nothing.png
  docs/zh/introduction/Architecture.md
Due: none

[Doc] update architecture intro page (#48309)
  docs/en/assets/architecture_choices.png
  docs/en/assets/architecture_evolution.png
  docs/en/assets/shared-data.png
  docs/en/assets/shared-nothing.png
  docs/en/introduction/Architecture.md
  docs/zh/assets/architecture_choices.png
  docs/zh/assets/shared-data.png
  docs/zh/assets/shared-nothing.png
  docs/zh/introduction/Architecture.md
Due: none

GPT translation of Helm quickstart
  docs/docusaurus/sidebars.json
  docs/zh/assets/deployment/_OperatorPrereqs.mdx
  docs/zh/quick_start/helm.md
Due: none

[Doc] Add Helm quickstart to Chinese docs (#48314)
  docs/docusaurus/sidebars.json
  docs/zh/assets/deployment/_OperatorPrereqs.mdx
  docs/zh/quick_start/helm.md
Due: none

[BugFix] Update thirdparty libraries to replace old incomplete starcache libraries. (#48286)
  thirdparty/vars-aarch64.sh
  thirdparty/vars-ubuntu22-aarch64.sh
  thirdparty/vars-ubuntu22-x86_64.sh
  thirdparty/vars-x86_64.sh
Due: none

resolve conflict
  docs/en/introduction/Architecture.md
  docs/zh/introduction/Architecture.md
Due: none

fix markdown
  docs/en/using_starrocks/Bitmap_index.md
Due: none

[Doc] Update data_cache.md (#48295)
  docs/zh/data_source/data_cache.md
Due: none

[Doc]Update data_cache.md (#48296)
  docs/en/data_source/data_cache.md
Due: none

[BugFix] fix redirection of internal log to console
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

fix test sql
  test/sql/test_hint/R/test_hint
Due: none

[BugFix] Loose to check types of src and dest partitions (#48182)
  fe/fe-core/src/main/java/com/starrocks/sql/common/SyncPartitionUtils.java
Due: fe-total

improve
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
Due: be-total

improve
  be/src/formats/parquet/meta_helper.cpp
Due: be-total

[BugFix] Fix can't read struct with empty subfield in parquet
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/test/formats/parquet/iceberg_schema_evolution_file_reader_test.cpp
  be/test/formats/parquet/test_data/iceberg_schema_evolution/struct_struct.parquet
Due: be-total

fix bug
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
Due: be-total

fix ut
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/meta_helper.cpp
Due: be-total

improve
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/test/formats/parquet/file_reader_test.cpp
Due: be-total

fix ut
  be/test/formats/parquet/iceberg_schema_evolution_file_reader_test.cpp
  be/test/formats/parquet/test_data/iceberg_schema_evolution/struct_map_array.parquet
  be/test/formats/parquet/test_data/iceberg_schema_evolution/struct_struct.parquet
Due: be-total

fix ut
  be/src/formats/parquet/meta_helper.cpp
  be/test/formats/parquet/file_reader_test.cpp
Due: be-total

[BugFix] fix redirection of internal log to console (#48321)
  fe/fe-core/src/main/java/com/starrocks/common/Log4jConfig.java
Due: fe-total

[Enhancement] support download profile on fe http service (#48299)
  fe/fe-core/src/main/java/com/starrocks/http/action/QueryProfileAction.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
