Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

refactor
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadsHistorySyncer.java
  fe/fe-core/src/main/java/com/starrocks/load/pipe/filelist/RepoCreator.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
Due: fe-total

[UT] Make TunespaceTest stable (#28799)
  fe/fe-core/src/test/java/com/starrocks/sql/automv/tunespace/TunespaceTest.java
Due: fe-total

[BugFix] Fix analyzer exception for generated column rewrite (#51755)
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/QueryAnalyzer.java
  test/sql/test_materialized_column/R/test_generated_column_rewrite
  test/sql/test_materialized_column/T/test_generated_column_rewrite
Due: fe-total

[BugFix] When the reserved keyword uses backquotes as input, deserialization causes parseSqlToExpr syntax error, which results in a checkpoint failure. (#51781)
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Identifier.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Due: fe-total

[BugFix] Don't update datacache metrics after cache select (#51764)
  fe/fe-core/src/main/java/com/starrocks/datacache/DataCacheSelectExecutor.java
Due: fe-total

[Enhancement] Support disable table base compaction by time ranges (#50120)
  be/src/agent/agent_common.h
  be/src/agent/agent_server.cpp
  be/src/agent/agent_task.cpp
  be/src/agent/agent_task.h
  be/src/storage/CMakeLists.txt
  be/src/storage/compaction_manager.cpp
  be/src/storage/compaction_manager.h
  be/src/storage/task/engine_compaction_control_task.cpp
  be/src/storage/task/engine_compaction_control_task.h
  be/test/storage/compaction_manager_test.cpp
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/com/starrocks/alter/AlterJobExecutor.java
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/com/starrocks/catalog/OlapTable.java
  fe/fe-core/src/main/java/com/starrocks/catalog/TableProperty.java
  fe/fe-core/src/main/java/com/starrocks/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/journal/JournalEntity.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionControlScheduler.java
  fe/fe-core/src/main/java/com/starrocks/leader/LeaderImpl.java
  fe/fe-core/src/main/java/com/starrocks/persist/EditLog.java
  fe/fe-core/src/main/java/com/starrocks/persist/OperationType.java
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
  fe/fe-core/src/main/java/com/starrocks/server/OlapTableFactory.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentBatchTask.java
  fe/fe-core/src/main/java/com/starrocks/task/CompactionControlTask.java
  fe/fe-core/src/test/java/com/starrocks/persist/OperationTypeTest.java
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/Types.thrift
  test/sql/test_compaction_cron/R/test_compaction_cron
  test/sql/test_compaction_cron/T/test_compaction_cron
Due: fe-total, be-total

add UT
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/catalog/ExpressionRangePartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/persist/ColumnIdExpr.java
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
  test/sql/test_automatic_bucket/R/test_automatic_partition
Due: fe-total

[BugFix] When the reserved keyword uses backquotes as input, deserialization causes a parseSqlToExpr syntax error, which results in a checkpoint failure.
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
Due: fe-total

fix ut
  fe/fe-core/src/main/java/com/starrocks/analysis/SlotRef.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/Identifier.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total

add UT
  fe/fe-core/src/test/java/com/starrocks/catalog/ExpressionRangePartitionInfoTest.java
Due: fe-total

[UT] remove execute_script in UT
  be/test/fs/key_cache_test.cpp
  be/test/storage/tablet_updates_test.cpp
Due: be-total

[UT] remove execute_script in UT (#51816)
  be/test/fs/key_cache_test.cpp
  be/test/storage/tablet_updates_test.cpp
Due: be-total

Update CREATE_TABLE.md
  docs/en/sql-reference/sql-statements/table_bucket_part_index/CREATE_TABLE.md
Due: none

Update sharedDataUse.md
  docs/zh/_assets/commonMarkdown/sharedDataUse.md
Due: none

Update CREATE_TABLE.md
  docs/zh/sql-reference/sql-statements/table_bucket_part_index/CREATE_TABLE.md
Due: none

[BugFix] Fix mysql jdbc incompatible bug (#51613)
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

[Doc] 3.3.5 Minor Doc Updates Signed-off-by: EsoragotoSpirit <wanglichen@starrocks.com>
  docs/en/sql-reference/data-types/date-types/DATETIME.md
  docs/en/sql-reference/sql-statements/cluster-management/plan_profile/EXPLAIN.md
  docs/zh/sql-reference/data-types/date-types/DATETIME.md
  docs/zh/sql-reference/sql-statements/cluster-management/plan_profile/EXPLAIN.md
Due: none

Improve command SHOW PROC "/statistics" performance
  fe/fe-core/src/main/java/com/starrocks/clone/TabletChecker.java
  fe/fe-core/src/main/java/com/starrocks/system/SystemInfoService.java
  fe/fe-core/src/test/java/com/starrocks/cluster/SystemInfoServiceTest.java
Due: fe-total

fix (#28779)
  fe/fe-core/src/main/java/com/starrocks/privilege/AuthorizationMgr.java
Due: fe-total

update
  be/src/storage/olap_common.h
  be/src/storage/rowset/rowset_meta.h
  be/src/storage/tablet.cpp
Due: be-total

refactor
  be/src/exec/join_hash_map.cpp
  be/src/storage/chunk_helper.cpp
Due: be-total

refactor
  be/src/exec/join_hash_map.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
Due: be-total

impl
  be/src/column/column_helper.cpp
  be/src/column/column_helper.h
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.cpp
  be/src/exec/pipeline/hashjoin/spillable_hash_join_build_operator.h
  be/src/exec/spill/mem_table.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
Due: be-total

fix
  be/src/storage/chunk_helper.cpp
Due: be-total

tmp
  be/src/column/column_helper.h
  be/src/column/vectorized_fwd.h
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/join_hash_map.tpp
  be/src/storage/chunk_helper.h
Due: be-total

format
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
Due: be-total

fix clang-tidy
  be/src/storage/chunk_helper.cpp
Due: be-total

fix
  be/src/exec/join_hash_map.h
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
Due: be-total

reserve memory
  be/src/storage/chunk_helper.cpp
Due: be-total

add test
  be/src/column/column_helper.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  be/test/storage/chunk_helper_test.cpp
Due: be-total

[BugFix] Fix optimize table fail with special characters (#51709)
  fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
  fe/fe-core/src/main/java/com/starrocks/alter/OptimizeJobV2.java
  test/sql/test_optimize_table/R/test_optimize_table
  test/sql/test_optimize_table/T/test_optimize_table
Due: fe-total

[BugFix] Fix optimize table fail with special characters (#51709)
  fe/fe-core/src/main/java/com/starrocks/alter/OnlineOptimizeJobV2.java
  test/sql/test_optimize_table/R/test_optimize_table
  test/sql/test_optimize_table/T/test_optimize_table
Due: fe-total
