Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] fix pk tablet's data size when call get_tablet_stat
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Due: be-total

[Enhancement] Deduplicate the partitionValues in the createPartition RPC to avoid unnecessary overhead for the FE
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_sink.cpp
Due: be-total

[BugFix]fix some profile bug for parquet reader
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
Due: be-total

be ignore
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink_index_channel.cpp
  be/src/runtime/local_tablets_channel.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
  be/src/storage/lake/persistent_index_memtable.cpp
  be/src/storage/lake/persistent_index_memtable.h
  be/src/storage/olap_common.h
  be/src/storage/persistent_index.cpp
  be/src/storage/persistent_index.h
  be/src/storage/primary_index.cpp
  be/src/storage/tablet_updates.cpp
  gensrc/thrift/InternalService.thrift
Due: be-total

fix comment
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ConvertToEqualForNullRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/ConvertToEqualForNullRuleTest.java
Due: fe-total

[Feature] modify some cloud star cache configs (#38200)
  be/src/common/config.h
  be/src/http/action/update_config_action.cpp
  be/src/service/staros_worker.cpp
Due: be-total

[BugFix] Fix lake batch publish & alter job with physical partition (#35538)
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterJobV2Builder.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableAlterMetaJob.java
  fe/fe-core/src/main/java/com/starrocks/alter/LakeTableSchemaChangeJob.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartition.java
  fe/fe-core/src/main/java/com/starrocks/catalog/PhysicalPartitionImpl.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/IndicesProcDir.java
  fe/fe-core/src/main/java/com/starrocks/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/connector/ConnectorPartitionTraits.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionJob.java
  fe/fe-core/src/main/java/com/starrocks/lake/compaction/CompactionScheduler.java
  fe/fe-core/src/main/java/com/starrocks/lake/vacuum/AutovacuumDaemon.java
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/com/starrocks/task/AgentTask.java
  fe/fe-core/src/main/java/com/starrocks/transaction/PublishVersionDaemon.java
  fe/fe-core/src/test/java/com/starrocks/catalog/PhysicalPartitionImplTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest.java
  fe/fe-core/src/test/java/com/starrocks/planner/OlapTableSinkTest2.java
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

[BugFix] ensure hdfsFile resource is released during close (#38215)
  be/src/fs/hdfs/fs_hdfs.cpp
  be/test/CMakeLists.txt
  be/test/fs/fs_hdfs_test.cpp
  run-be-ut.sh
Due: be-total

Update datalakeIntro.md
  docs/zh/assets/commonMarkdown/datalakeIntro.md
Due: none

[BugFix] fix pk tablet's data size when call get_tablet_stat (#38599)
  be/src/storage/tablet_updates.cpp
  be/src/storage/tablet_updates.h
Due: be-total

[BugFix] Release pk state cache when txn is aborted (#38499)
  be/src/storage/lake/transactions.cpp
  be/src/storage/lake/update_manager.cpp
  be/src/storage/lake/update_manager.h
  be/test/storage/lake/primary_key_compaction_task_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[BugFix] fix array cardinality with empty array (#38553)
  be/src/storage/meta_reader.cpp
  be/src/storage/rowset/scalar_column_iterator.cpp
  test/sql/test_low_cardinality/R/test_low_cardinality_empty_array
  test/sql/test_low_cardinality/T/test_low_cardinality_empty_array
Due: be-total

fix
  be/src/storage/lake/rowset.cpp
  be/src/storage/lake/rowset_update_state.cpp
  be/src/storage/lake/tablet_manager.cpp
  be/src/storage/lake/tablet_manager.h
  be/src/storage/rowset/segment_rewriter.cpp
  be/src/storage/rowset_update_state.cpp
  be/test/storage/rowset/segment_rewriter_test.cpp
Due: be-total

[BugFix]fix some profile bug for parquet reader(backport 38465) (#38600)
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/parquet/column_chunk_reader.cpp
  be/src/formats/parquet/column_chunk_reader.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/stored_column_reader.cpp
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
Due: be-total

[Enhancement] Deduplicate the partitionValues in the createPartition RPC to avoid unnecessary overhead for the FE (#36484)
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_sink.cpp
Due: be-total

Revert "[Enhancement] fair share scan memory between scan nodes in a query (#36526)"
  be/src/common/logging.h
  be/src/connector/connector.cpp
  be/src/connector/connector.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/exec/connector_scan_node.cpp
  be/src/exec/connector_scan_node.h
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_orc.cpp
  be/src/exec/hdfs_scanner_text.cpp
  be/src/exec/hdfs_scanner_text.h
  be/src/exec/pipeline/fragment_executor.cpp
  be/src/exec/pipeline/query_context.cpp
  be/src/exec/pipeline/query_context.h
  be/src/exec/pipeline/scan/chunk_buffer_limiter.cpp
  be/src/exec/pipeline/scan/chunk_buffer_limiter.h
  be/src/exec/pipeline/scan/chunk_source.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/stream/scan/stream_scan_operator.cpp
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/src/formats/csv/csv_reader.cpp
  be/src/formats/csv/csv_reader.h
  be/src/fs/hdfs/hdfs_fs_cache.cpp
  be/src/io/shared_buffered_input_stream.cpp
  be/src/io/shared_buffered_input_stream.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/script/script.cpp
Due: be-total

[BugFix] Fix Some partitions cannot analyze due to time inconsistency (#38597)
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticExecutor.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticsCollectJobFactory.java
Due: fe-total

[BugFix] Fix OrcChunkReader::lazy_seek_to failed
  be/src/formats/orc/apache-orc/c++/src/Reader.cc
Due: be-total

when IN predicate with varchar type and Integer or Deciaml type, use session variable to choose which type to cast
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/TypeManager.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/ImplicitCastRule.java
  fe/fe-core/src/test/java/com/starrocks/connector/analyzer/SimpleExpressionAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
Due: fe-total

modify some test case
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Due: fe-total

[Enhancement] Use concurrency map instead of lock for blacklist(sync #38452) (#11693)
  fe/fe-core/src/main/java/com/starrocks/qe/DefaultCoordinator.java
  fe/fe-core/src/main/java/com/starrocks/qe/ResultReceiver.java
  fe/fe-core/src/main/java/com/starrocks/qe/SimpleScheduler.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/DefaultWorkerProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/FragmentInstanceExecState.java
  fe/fe-core/src/test/java/com/starrocks/qe/SimpleSchedulerTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/DefaultWorkerProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/GetNextTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/StartSchedulingTest.java
Due: fe-total

support setting CBO_EQ_BASE_TYPE to double
  docs/en/sql-reference/sql-functions/string-functions/ngram_search.md
  fe/fe-core/src/main/java/com/starrocks/catalog/Type.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/SetStmtAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/TPCHPlanTest.java
Due: fe-total

fix some test cases
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/scalar/ImplicitCastRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SubqueryTest.java
Due: fe-total

[BugFix] Fix dead lock when SegmentFlushTask aborts DeltaWriter (#38560)
  be/src/storage/segment_flush_executor.cpp
Due: be-total

Update _DDL.mdx
  docs/zh/assets/quick-start/_DDL.mdx
Due: none

[Enhancement] simplify binary equals expr (#38582)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/FurtherPartitionPruneTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
