Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

resolve
  fe/fe-core/src/test/java/com/starrocks/clone/ColocateTableBalancerTest.java
Due: fe-total

[Enhancement] support user variable in analytic function
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/com/starrocks/analysis/UserVariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/common/util/ExprUtil.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ExpressionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/FunctionAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/transformer/SqlToScalarOperatorTranslator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectHintTest.java
Due: fe-total

add debug log
  fe/fe-core/src/test/java/com/starrocks/clone/ColocateTableBalancerTest.java
Due: fe-total

[UT] add debug log for ColocateBalanceTest (#47706)
  fe/fe-core/src/test/java/com/starrocks/clone/ColocateTableBalancerTest.java
Due: fe-total

[Enhancement] Collect routine load committed and aborted tasks number metric (#45493)
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/metric/TableMetricsEntity.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadJobTest.java
Due: fe-total

[Feature] List Partition For AMV(Part 2): Support list partition for asynchronous materialized view with non-nullable partition columns (#46680)
  fe/fe-core/src/main/java/com/starrocks/catalog/MvBaseTableUpdateInfo.java
  fe/fe-core/src/main/java/com/starrocks/catalog/MvRefreshArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/mv/MVTimelinessArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/mv/MVTimelinessListPartitionArbiter.java
  fe/fe-core/src/main/java/com/starrocks/catalog/mv/MVTimelinessRangePartitionArbiter.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/ExecuteOption.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/TaskRunManager.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshListPartitioner.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshPartitioner.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshRangePartitioner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ListPartitionDiff.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ListPartitionDiffResult.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/ListPartitionDiffer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PListAtom.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PListCell.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/PListCellPlus.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/RangePartitionDiffer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/CreateMaterializedViewTest.java
  fe/fe-core/src/test/java/com/starrocks/scheduler/PCTRefreshListPartitionOlapTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/materialization/MvRewriteListPartitionTest.java
  test/lib/sr_sql_lib.py
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_list_partitions_basic
  test/sql/test_materialized_view_refresh/R/test_mv_refresh_list_partitions_rewrite
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_list_partitions_basic
  test/sql/test_materialized_view_refresh/T/test_mv_refresh_list_partitions_rewrite
Due: fe-total

[BugFix] fix several correctness issues about cloud native pk index
  be/src/storage/lake/lake_persistent_index.cpp
  be/src/storage/lake/lake_persistent_index.h
  be/src/storage/lake/meta_file.cpp
  be/src/storage/sstable/iterator.h
  be/src/storage/sstable/iterator_wrapper.h
  be/src/storage/sstable/merger.cpp
  be/src/storage/sstable/options.h
  be/src/storage/sstable/two_level_iterator.cpp
  be/test/storage/lake/lake_primary_key_consistency_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

resolve
  be/test/storage/lake/lake_primary_key_consistency_test.cpp
Due: be-total

change search ranking for partition
  docs/en/table_design/Data_distribution.md
  docs/en/table_design/expression_partitioning.md
  docs/zh/table_design/Data_distribution.md
  docs/zh/table_design/list_partitioning.md
Due: none

improve catalog search result
  docs/en/data_source/catalog/catalog_intro.mdx
  docs/zh/data_source/catalog/catalog_intro.mdx
Due: none

fix bugs
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/mv/MVPCTRefreshListPartitioner.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/MaterializedViewAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/common/RangePartitionDiffer.java
Due: fe-total

Add orc test file
  test/sql/test_files/R/test_error
  test/sql/test_files/T/test_error
  test/sql/test_files/orc_format/map_decimal_date.lz4.orc
Due: none

[Enhancement] No need to cache the file stats when enable_delta_column_statistics is false (#47635)
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeFileStats.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadataFactory.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeRemoteFileDesc.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeStats.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaStatisticProvider.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaUtils.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/FileScanTask.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/ScanFileUtils.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
Due: fe-total

Update Data_distribution.md
  docs/zh/table_design/Data_distribution.md
Due: none

fix note
  docs/zh/table_design/indexes/Bitmap_index.md
Due: none

[Doc] change search ranking for partition (#47713)
  docs/en/data_source/catalog/catalog_intro.mdx
  docs/en/table_design/Data_distribution.md
  docs/en/table_design/expression_partitioning.md
  docs/zh/data_source/catalog/catalog_intro.mdx
  docs/zh/table_design/Data_distribution.md
  docs/zh/table_design/indexes/Bitmap_index.md
  docs/zh/table_design/list_partitioning.md
Due: none

[Doc] change search ranking for partition (#47713)
  docs/en/data_source/catalog/catalog_intro.mdx
  docs/en/table_design/Data_distribution.md
  docs/en/table_design/expression_partitioning.md
  docs/zh/data_source/catalog/catalog_intro.mdx
  docs/zh/table_design/Data_distribution.md
  docs/zh/table_design/list_partitioning.md
  docs/zh/using_starrocks/Bitmap_index.md
Due: none

resolve conflicts
  docs/en/table_design/Data_distribution.md
  docs/zh/table_design/Data_distribution.md
Due: none

Modify the default value of ColumnStatistic::Unknown
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/ColumnStatistic.java
  test/sql/test_deltalake/R/test_deltalake_collect_stats
  test/sql/test_deltalake/T/test_deltalake_collect_stats
Due: fe-total

fix style
  fe/fe-core/src/test/java/com/starrocks/server/WarehouseManagerTest.java
Due: fe-total

Refactor: Remove unnecessary lock
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Due: fe-total

[BugFix] Fix ast to sql exception when writing audit log (#47700)
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/StmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AstToSQLBuilder.java
  test/sql/test_files/R/test_error
  test/sql/test_files/T/test_error
  test/sql/test_files/orc_format/map_decimal_date.lz4.orc
Due: fe-total

[Enhancement] support user variable in analytic function
  fe/fe-core/src/main/java/com/starrocks/analysis/UserVariableExpr.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyticAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectHintTest.java
Due: fe-total

[Enhancement] support user variable in analytic function
  fe/fe-core/src/test/java/com/starrocks/sql/plan/SelectHintTest.java
  test/sql/test_hint/T/test_hint
Due: fe-total

fix comments
  be/src/storage/lake/meta_file.cpp
  be/test/storage/lake/lake_persistent_index_test.cpp
  be/test/storage/lake/primary_key_publish_test.cpp
Due: be-total

[BugFix] forbid low cardinality optimization when cast string col to array<string> (#47675)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/lowcardinality/DecodeCollector.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityArrayTest.java
  test/sql/test_low_cardinality/R/test_low_cardinality_array
  test/sql/test_low_cardinality/T/test_low_cardinality_array
Due: fe-total
