Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

adjust the BE and CN schedule policy in shared nothing mode
  fe/fe-core/src/main/java/com/starrocks/lake/qe/scheduler/DefaultSharedDataWorkerProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/CoordinatorPreprocessor.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/DefaultWorkerProvider.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/WorkerProvider.java
  fe/fe-core/src/test/java/com/starrocks/lake/qe/scheduler/DefaultSharedDataWorkerProviderTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/scheduler/DefaultWorkerProviderTest.java
Due: fe-total

[Enhancement] Support more Paimon sql Predicate
  fe/fe-core/src/main/java/com/starrocks/planner/PaimonScanNode.java
Due: fe-total

[Enhancement] Enable batch publish in share data mode by default
  docs/en/administration/management/FE_configuration.md
  docs/zh/administration/management/FE_configuration.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
Due: fe-total

fix bug
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnectorMetadata.java
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

[BugFix] fix partial update with sort key conflict check (#44377)
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
  be/test/CMakeLists.txt
  be/test/storage/delta_writer_test.cpp
  test/common/data/stream_load/sr_partial_update_4.csv
  test/common/data/stream_load/sr_partial_update_5.csv
  test/sql/test_insert_empty/R/test_insert_partial_update
  test/sql/test_partial_update_column_mode/R/test_partial_update
  test/sql/test_partial_update_column_mode/R/test_partial_update_after_schema_change
  test/sql/test_partial_update_column_mode/R/test_partial_update_before_schema_change
  test/sql/test_partial_update_column_mode/R/test_partial_update_bf
  test/sql/test_partial_update_column_mode/R/test_partial_update_bitmap
  test/sql/test_partial_update_column_mode/R/test_partial_update_char_padding
  test/sql/test_partial_update_column_mode/R/test_partial_update_many_columns
  test/sql/test_partial_update_column_mode/R/test_partial_update_session_var
  test/sql/test_partial_update_column_mode/R/test_partial_update_sort_key
  test/sql/test_partial_update_column_mode/R/test_partial_update_upsert
  test/sql/test_partial_update_column_mode/T/test_partial_update_sort_key
  test/sql/test_partial_update_column_mode/T/test_partial_update_upsert
Due: be-total

[Doc] [BugFix] Add more docs about sync/async materialized views (#43840)
  docs/en/administration/management/FE_configuration.md
  docs/en/reference/System_variable.md
  docs/zh/reference/System_variable.md
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/CachingMvPlanContextBuilder.java
Due: fe-total

[BugFix] Fix incorrect schema id
  be/src/exec/tablet_info.cpp
Due: be-total

[BugFix] Implicit cast in ORCScanner (#44354)
  be/src/exec/orc_scanner.cpp
  be/src/exec/orc_scanner.h
  be/test/exec/orc_scanner_test.cpp
  be/test/exec/test_data/orc_scanner/boolean_type.orc
  be/test/exec/test_data/orc_scanner/date_type.orc
Due: be-total

[Enhancement] Add loaded rowsets in trace
  be/src/storage/lake/lake_persistent_index.cpp
Due: be-total

[Doc]Update ranger_plugin.md
  docs/zh/administration/user_privs/ranger_plugin.md
Due: none

[Doc]Update ranger_plugin.md
  docs/en/administration/user_privs/ranger_plugin.md
Due: none

[Enhancement][FlatJson] read&write process use type inference (#43871)
  be/src/column/json_column.cpp
  be/src/exprs/json_functions.cpp
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_iterator.h
  be/src/storage/rowset/json_column_writer.cpp
  be/src/util/json_flattener.cpp
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  test/sql/test_semi/R/test_flat_json_with_type
  test/sql/test_semi/R/test_invalid_flat_json
  test/sql/test_semi/T/test_flat_json_with_type
  test/sql/test_semi/T/test_invalid_flat_json
Due: fe-total, be-total

update explain costs
  docs/en/sql-reference/sql-statements/Administration/EXPLAIN.md
  docs/zh/developers/trace-tools/query_trace_profile.md
  docs/zh/sql-reference/sql-statements/Administration/EXPLAIN.md
Due: none

[Feature] support iceberg manifest cache (#44345)
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalog.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergCatalogProperties.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/StarRocksIcebergTableScanContext.java
  fe/fe-core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  fe/fe-core/src/main/java/org/apache/iceberg/ManifestGroup.java
  fe/fe-core/src/main/java/org/apache/iceberg/ManifestReader.java
  fe/fe-core/src/main/java/org/apache/iceberg/StarRocksIcebergTableScan.java
Due: fe-total

fix
  be/test/exec/join_hash_map_test.cpp
Due: be-total

[Feature][FlatJson] Refactor json cast logical (#43503)
  be/src/exprs/cast_expr.cpp
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/util/json_converter.h
  be/test/exprs/cast_expr_test.cpp
  be/test/exprs/json_functions_test.cpp
Due: be-total

[Feature][FlatJson] support get_json_bool/bigint function (#43547)
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ExpressionTest.java
  gensrc/script/functions.py
Due: fe-total, be-total

[Enhancement] improve struct performance (#43667)
  be/src/column/field.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/pipeline/scan/olap_chunk_source.h
  be/src/storage/rowset/struct_column_iterator.cpp
  be/test/storage/rowset/struct_column_rw_test.cpp
Due: be-total

[Feature][FlatJson] FE support json type inference in query (#43526)
  fe/fe-core/src/main/java/com/starrocks/catalog/ColumnAccessPath.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PruneSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityArrayTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total

[Enhancement][FlatJson] support flat_json_meta function (#43696)
  be/src/storage/meta_reader.cpp
  be/src/storage/meta_reader.h
  be/src/storage/rowset/column_reader.h
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/Optimizer.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSet.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleSetType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/RuleType.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownFlatJsonMetaToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ScanTest.java
Due: fe-total, be-total

[Feature][FlatJson] support flat json type inference core (#43528)
  be/src/column/column_access_path.cpp
  be/src/column/column_access_path.h
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_writer.cpp
  be/src/util/CMakeLists.txt
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
  be/src/util/json_util.cpp
  be/src/util/json_util.h
  be/test/CMakeLists.txt
  be/test/exprs/flat_json_functions_test.cpp
  be/test/exprs/json_functions_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  test/sql/test_semi/R/test_invalid_flat_json
Due: be-total

[BugFix][FlatJson] Fix flat json nomarlized cast error (#43852)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/PushDownFlatJsonMetaToMetaScanRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/PruneSubfieldRule.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/tree/prunesubfield/SubfieldAccessPathNormalizer.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/JsonTypeTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PruneComplexSubfieldTest.java
Due: fe-total

[Enhancement][FlatJson] Improve flat json performance (#43860)
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/util/json_flattener.cpp
  be/test/exprs/flat_json_functions_test.cpp
Due: be-total

[Enhancement][FlatJson] json function support use type inference (#43859)
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/exprs/jsonpath.h
  be/test/exprs/flat_json_functions_test.cpp
  be/test/exprs/json_functions_test.cpp
Due: be-total

[BugFix] fix struct use unused-subfield iterater (#44294)
  be/src/storage/rowset/struct_column_iterator.cpp
Due: be-total

[BugFix][FlatJson] json flattern crash when conatins null data (#44253)
  be/src/exprs/json_functions.cpp
  be/src/util/json_flattener.cpp
Due: be-total

fix partition fetch
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

[BugFix] Fix incorrect schema id (#44469)
  be/src/exec/tablet_info.cpp
Due: be-total

fix code
  fe/fe-core/src/main/java/com/starrocks/scheduler/PartitionBasedMvRefreshProcessor.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
