Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[BugFix] fix sink operator dcheck fail occasionally (#38094)
  be/src/exec/pipeline/sink/export_sink_operator.cpp
  be/src/exec/pipeline/sink/file_sink_operator.cpp
  be/src/exec/pipeline/sink/mysql_table_sink_operator.cpp
Due: be-total

update user_privilege
  docs/en/administration/User_privilege.md
  docs/zh/administration/User_privilege.md
Due: none

replace == with equals
  fe/fe-core/src/main/java/com/starrocks/alter/SchemaChangeHandler.java
Due: fe-total

resolve conflict
  be/src/storage/delta_column_group.cpp
  be/src/storage/delta_column_group.h
  be/src/storage/rowset_column_update_state.cpp
Due: be-total

priv name
  docs/en/administration/User_privilege.md
  docs/zh/administration/User_privilege.md
Due: none

Update User_privilege.md
  docs/zh/administration/User_privilege.md
Due: none

[UT] fix fe ut ctor of `LocalWarehouse` (#11374)
  fe/fe-core/src/test/java/com/starrocks/analysis/SubmitTaskStmtTest.java
Due: fe-total

Bugfix
  be/src/exprs/jit/ir_helper.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_functions.cpp
  be/src/exprs/jit/jit_functions.h
Due: be-total

Fix comments
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
Due: be-total

[Bugfix] fix test error
  test/sql/test_jit/R/test_arithmetic
  test/sql/test_jit/T/test_arithmetic
Due: none

[BugFix] Fix bugs caused by refactoring code
  be/src/exprs/jit/jit_functions.cpp
Due: be-total

Fix CI comment
  be/src/exprs/decimal_binary_function.h
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_engine.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
  be/src/exprs/jit/jit_functions.cpp
  be/src/exprs/jit/jit_functions.h
Due: be-total

Bugfix: fix pr comment
  be/src/exec/aggregator.cpp
  be/src/exprs/expr.cpp
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_functions.cpp
  be/src/testutil/exprs_test_helper.h
Due: be-total

Bugfix: fix merge error
  be/src/common/status.cpp
  be/src/exec/aggregator.cpp
  be/src/exprs/expr.cpp
  be/src/runtime/exec_env.cpp
Due: be-total

[Feature] Implement simple arithmetic jit
  be/src/common/status.h
  be/src/exec/aggregator.cpp
  be/src/exprs/CMakeLists.txt
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/arithmetic_operation.h
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/jit/ir_helper.cpp
  be/src/exprs/jit/ir_helper.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
  be/src/exprs/jit/jit_functions.cpp
  be/src/exprs/jit/jit_functions.h
  be/src/exprs/jit/jit_wrapper.cpp
  be/src/exprs/jit/jit_wrapper.h
  be/src/exprs/literal.cpp
  be/src/exprs/literal.h
  be/src/types/logical_type.h
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/InternalService.thrift
  gensrc/thrift/Opcodes.thrift
  gensrc/thrift/StatusCode.thrift
Due: fe-total, be-total

[Feature] Split test
  gensrc/thrift/Exprs.thrift
Due: none

Bugfix
  be/src/exprs/jit/ir_helper.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_functions.cpp
Due: be-total

Bugfix
  be/src/exprs/jit/jit_wrapper.cpp
Due: be-total

[Bugfix] Try fix CI error
  be/src/exprs/jit/jit_engine.cpp
Due: be-total

[Bugfix] Try fix CI error
  be/CMakeLists.txt
Due: be-total

[feat] enable jit
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
Due: fe-total

Fix nullable bug
  be/src/exprs/jit/jit_functions.cpp
Due: be-total

[Feature] Add test of arithmetic JIT
  be/src/exec/aggregator.cpp
  be/src/exprs/expr.cpp
  be/src/testutil/exprs_test_helper.h
  be/test/exprs/arithmetic_expr_test.cpp
  test/sql/test_jit/R/test_arithmetic
  test/sql/test_jit/T/test_arithmetic
Due: be-total

[Bugfix]: Try fix CI error
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_engine.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
Due: be-total

JITWapper -> JITEngine
  be/src/exec/aggregator.cpp
  be/src/exprs/CMakeLists.txt
  be/src/exprs/expr.cpp
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_engine.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
  be/src/exprs/jit/jit_functions.cpp
  be/src/testutil/exprs_test_helper.h
Due: be-total

[Bugfix] set enable_jit = true during test
  test/sql/test_jit/R/test_arithmetic
  test/sql/test_jit/T/test_arithmetic
Due: none

Fix status compile error
  be/src/exec/aggregator.cpp
  be/src/exprs/expr.cpp
  be/src/exprs/jit/jit_expr.cpp
Due: be-total

Bugfix: fix pr comment
  be/src/exec/aggregator.cpp
  be/src/exprs/expr.cpp
  be/src/exprs/jit/jit_engine.cpp
  be/src/exprs/jit/jit_engine.h
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/runtime_state.h
  be/src/testutil/exprs_test_helper.h
Due: be-total

Empty-Commit
  be/src/exprs/jit/jit_wrapper.cpp
Due: be-total

Bugfix: fix CI error
  be/CMakeLists.txt
Due: be-total

JitCompileError -> NotSupported
  be/src/exprs/arithmetic_expr.cpp
  be/src/exprs/expr.cpp
  be/src/exprs/expr.h
  be/src/exprs/jit/ir_helper.cpp
Due: be-total

Fix clang format error
  be/src/exprs/expr.cpp
  be/src/exprs/jit/jit_expr.cpp
  be/src/exprs/jit/jit_expr.h
Due: be-total

[BugFix] Fix meta version read bug (#37805)
  fe/fe-core/src/main/java/com/starrocks/server/GlobalStateMgr.java
Due: fe-total

[UT] Add tests for window function (#38206)
  test/sql/test_window_function/R/test_basic_multi_window_function
  test/sql/test_window_function/T/test_basic_multi_window_function
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
