Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

test
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

tmp
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink_index_channel.cpp
  be/src/exec/tablet_sink_index_channel.h
  be/src/runtime/lake_tablets_channel.cpp
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/local_tablets_channel.cpp
  be/src/runtime/local_tablets_channel.h
  be/src/runtime/tablets_channel.h
  be/src/storage/async_delta_writer.cpp
  be/src/storage/delta_writer.cpp
  be/src/storage/delta_writer.h
  be/src/storage/memtable.cpp
  be/src/storage/memtable.h
  be/src/storage/memtable_flush_executor.cpp
  be/src/storage/memtable_flush_executor.h
  be/src/storage/segment_flush_executor.cpp
  be/src/storage/segment_flush_executor.h
  be/src/storage/segment_replicate_executor.cpp
  be/src/storage/segment_replicate_executor.h
  be/test/runtime/lake_tablets_channel_test.cpp
  be/test/runtime/local_tablets_channel_test.cpp
  test/sql/test_profile/T/test_load_channel_profile_analysis.sh
Due: be-total

Fix format
  be/src/storage/segment_replicate_executor.cpp
  be/src/storage/segment_replicate_executor.h
Due: be-total

Fix comments
  be/src/storage/segment_flush_executor.cpp
  be/src/storage/segment_flush_executor.h
Due: be-total

Fix tests
  be/src/runtime/local_tablets_channel.cpp
  be/test/runtime/local_tablets_channel_test.cpp
Due: be-total

Fix comments
  be/src/runtime/local_tablets_channel.cpp
  be/src/storage/memtable_flush_executor.cpp
  be/src/storage/segment_flush_executor.cpp
  be/src/storage/segment_flush_executor.h
  be/src/storage/segment_replicate_executor.cpp
  be/src/storage/segment_replicate_executor.h
Due: be-total

init
  be/src/common/config.h
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/connector/lake_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/exec/olap_scan_prepare.cpp
  be/src/exec/olap_scan_prepare.h
  be/src/exec/pipeline/scan/olap_chunk_source.cpp
  be/src/exec/tablet_scanner.cpp
  be/src/formats/CMakeLists.txt
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/statistics_helper.cpp
  be/src/formats/parquet/statistics_helper.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
  be/src/storage/lake/tablet_reader.cpp
  be/src/storage/predicate_parser.cpp
  be/src/storage/predicate_parser.h
  be/src/storage/tablet_reader.cpp
Due: be-total

improve
  be/src/exec/hdfs_scanner_parquet.cpp
  be/src/formats/parquet/scalar_column_reader.cpp
Due: be-total

update
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/test/storage/conjunctive_predicates_test.cpp
Due: be-total

finish tmp
  be/src/formats/parquet/complex_column_reader.cpp
Due: be-total

finish tmp
  be/src/formats/parquet/complex_column_reader.cpp
  be/src/formats/parquet/complex_column_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/statistics_helper.cpp
  be/src/formats/parquet/zone_map_filter_evaluator.h
Due: be-total

rm
  be/src/formats/parquet/file_reader.h
Due: be-total

update
  be/src/exec/hdfs_scanner.cpp
Due: be-total

zonemap total
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/complex_column_reader.cpp
  be/src/formats/parquet/complex_column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/statistics_helper.cpp
  be/src/formats/parquet/statistics_helper.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
  be/src/storage/column_expr_predicate.h
  be/test/exec/hdfs_scan_node_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
  be/test/formats/parquet/file_reader_test.cpp
  be/test/formats/parquet/page_index_test.cpp
  be/test/formats/parquet/parquet_ut_base.cpp
  be/test/formats/parquet/parquet_ut_base.h
Due: be-total

improve
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
Due: be-total

support page index
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/statistics_helper.cpp
  be/src/formats/parquet/statistics_helper.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
Due: be-total

improve
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
Due: be-total

fix ut
  be/src/connector/hive_connector.cpp
  be/src/connector/hive_connector.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
  be/test/exec/hdfs_scan_node_test.cpp
  be/test/exec/hdfs_scanner_test.cpp
Due: be-total

support partition column
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/file_reader.h
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
Due: be-total

fix ut
  be/test/formats/parquet/file_reader_test.cpp
  be/test/formats/parquet/parquet_ut_base.cpp
  be/test/formats/parquet/parquet_ut_base.h
Due: be-total

fix ut
  be/test/formats/parquet/page_index_test.cpp
Due: be-total

[Enhancement] add `DeployRound` in FE profile
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/AllAtOnceExecutionSchedule.java
  fe/fe-core/src/main/java/com/starrocks/qe/scheduler/dag/PhasedExecutionSchedule.java
Due: fe-total

[Enhancement] add optimized query count to show_plan_advisor (#53432)
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/OperatorTuningGuides.java
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/PlanAdvisorExecutor.java
  fe/fe-core/src/main/java/com/starrocks/qe/feedback/PlanTuningAdvisor.java
  fe/fe-core/src/test/java/com/starrocks/qe/feedback/analyzer/PlanTuningAnalyzerTest.java
Due: fe-total

[Refactor] refactor scan operator get chunk buffer
  be/src/exec/pipeline/scan/connector_scan_operator.cpp
  be/src/exec/pipeline/scan/connector_scan_operator.h
  be/src/exec/pipeline/scan/meta_scan_operator.cpp
  be/src/exec/pipeline/scan/meta_scan_operator.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/olap_scan_operator.h
  be/src/exec/pipeline/scan/scan_operator.h
  be/src/exec/pipeline/scan/schema_scan_operator.cpp
  be/src/exec/pipeline/scan/schema_scan_operator.h
Due: be-total

[Refactor] refactor sink buffer
  be/src/exec/pipeline/exchange/sink_buffer.cpp
  be/src/exec/pipeline/exchange/sink_buffer.h
Due: be-total

[BugFix] Release the starcache instance before the block cache instance being destructed to avoid some unexpected issues when stopping.
  be/src/block_cache/block_cache.cpp
Due: be-total

trigger ci
  fe/fe-core/src/test/java/com/starrocks/service/FrontendServiceImplTest.java
Due: fe-total

change ubuntu
  docker/dockerfiles/toolchains/toolchains-ubuntu.Dockerfile
Due: none

update
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/scalar_column_reader.cpp
  be/src/formats/parquet/scalar_column_reader.h
  be/src/formats/parquet/zone_map_filter_evaluator.h
Due: be-total

fix
  docker/dockerfiles/toolchains/toolchains-ubuntu.Dockerfile
Due: none

[Feature] (Part 1) Support drop partitions with common expressions (#53118)
  fe/fe-core/src/main/java/com/starrocks/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AlterTableClauseAnalyzer.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/DropPartitionClause.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/OptOlapPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/PartitionColPredicateExtractor.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/partition/PartitionSelector.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/DropPartitionWithExprListTest.java
  fe/fe-core/src/test/java/com/starrocks/catalog/DropPartitionWithExprRangeTest.java
  fe/fe-core/src/test/java/com/starrocks/qe/ShowExecutorTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rule/transformation/PartitionPruneRuleTest.java
  fe/fe-core/src/test/java/com/starrocks/utframe/StarRocksAssert.java
  test/sql/test_drop_partition/R/test_drop_partition_list_table_with_where
  test/sql/test_drop_partition/R/test_drop_partition_range_table_with_where
  test/sql/test_drop_partition/T/test_drop_partition_list_table_with_where
  test/sql/test_drop_partition/T/test_drop_partition_range_table_with_where
  test/sql/test_list_partition/R/test_add_list_partition
  test/sql/test_list_partition/T/test_add_list_partition
Due: fe-total

[Enhancement] Support jdk17 in docker image (#52954)
  docker/dockerfiles/toolchains/toolchains-centos7.Dockerfile
  docker/dockerfiles/toolchains/toolchains-ubuntu.Dockerfile
Due: none

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
