Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Enhancement] Refactor hll_sktch and fix stack use after return bug (#50600)
  be/src/exec/aggregator.cpp
  be/src/exec/aggregator.h
  be/src/exprs/agg/aggregate_state_allocator.h
  be/src/exprs/agg/avg.h
  be/src/exprs/agg/ds_hll_count_distinct.h
  be/src/exprs/agg/factory/aggregate_factory.hpp
  be/src/storage/chunk_aggregator.cpp
  be/src/storage/column_aggregate_func.cpp
  be/src/storage/column_aggregate_func.h
  be/src/types/CMakeLists.txt
  be/src/types/hll.cpp
  be/src/types/hll.h
  be/src/types/hll_sketch.cpp
  be/src/types/hll_sketch.h
  be/test/storage/delta_column_group_test.cpp
Due: be-total

[BugFix] Fix can't pushDown IsoZonedDateTime predicate (#49358)
  fe/fe-core/src/main/java/com/starrocks/common/util/DateUtils.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PlanFragmentWithCostTest.java
Due: fe-total

Fix the bug stream load binary type
  be/src/formats/json/nullable_column.cpp
  test/common/data/stream_load/test_stream_load_binary_type.json
  test/sql/test_binary_type/R/test_binary_type
  test/sql/test_binary_type/T/test_binary_type
Due: be-total

[BugFix] fix multiple partition column statistics (#50488)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  test/lib/sr_sql_lib.py
  test/sql/test_list_partition/R/test_list_partition_cardinality
  test/sql/test_list_partition/T/test_list_partition_cardinality
Due: fe-total

update
  fe/fe-core/src/test/java/com/starrocks/load/InsertOverwriteJobRunnerTest.java
Due: fe-total

update
  fe/fe-core/src/test/java/com/starrocks/clone/TabletSchedCtxTest.java
Due: fe-total

[Enhancement] Optimize in-predicate with dictionary info (#50403)
  be/src/formats/parquet/column_reader.cpp
  be/src/storage/column_in_predicate.cpp
  be/src/storage/column_predicate.h
  be/test/storage/column_predicate_test.cpp
  test/sql/test_external_file/R/test_parquet_read_range
  test/sql/test_external_file/T/test_parquet_read_range
Due: be-total

update
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadMgr.java
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadTaskScheduler.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadManagerTest.java
Due: fe-total

Optimize CI cost
  .github/workflows/ci-pipeline.yml
Due: none

fix sql test
  test/sql/test_function/R/test_get_query_dump
  test/sql/test_function/T/test_get_query_dump
Due: none

fix comments
  be/src/exprs/table_function/java_udtf_function.cpp
  be/src/udf/java/java_data_converter.cpp
  test/sql/test_udf/R/test_jvm_udf
Due: be-total

[Enhancement] upgrade staros to v3.3-rc5 (#50560)
  docker/dockerfiles/dev-env/dev-env.Dockerfile
  fe/fe-core/pom.xml
  thirdparty/starlet-artifacts-version.sh
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/load/routineload/RoutineLoadMgr.java
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadManagerTest.java
Due: fe-total

[BugFix] Rewrite repair (#50330)
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/scalar_column_iterator.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/rowset/segment_rewriter.cpp
Due: be-total

[BugFix] Fix statistic collect get physical partition concurrency issue (#50399)
  fe/fe-core/src/main/java/com/starrocks/listener/LoadJobStatsListener.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/planner/OlapTableSink.java
Due: fe-total

[Enhancement] support adaptive partition hash join (#50314)
  be/src/common/config.h
  be/src/exec/hash_join_components.cpp
  be/src/exec/hash_join_components.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/mor_processor.cpp
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/util/cpu_info.h
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/planner/HashJoinNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

test case
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Due: fe-total

remove partition predicate from cardinality estimation
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
Due: fe-total

test case
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
Due: fe-total

fix sql test
  test/sql/test_list_partition/R/test_list_partition_cardinality
  test/sql/test_list_partition/T/test_list_partition_cardinality
Due: none

[BugFix] tolerate partial failure of full statistics (#50475)
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/statistic/FullStatisticsCollectJob.java
Due: fe-total

[BugFix] add return type check in Java UDTF (#50615)
  be/src/exprs/table_function/java_udtf_function.cpp
  be/src/udf/java/java_data_converter.cpp
  be/src/udf/java/java_data_converter.h
  be/src/udf/java/java_udf.cpp
  be/src/udf/java/java_udf.h
  test/sql/test_udf/R/test_jvm_udf
  test/sql/test_udf/T/test_jvm_udf
Due: be-total

update
  fe/fe-core/src/test/java/com/starrocks/load/routineload/RoutineLoadManagerTest.java
Due: fe-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
