Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

support IF NOT EXISTS for CREATE GLOBAL FUNC
  fe/fe-core/src/main/java/com/starrocks/catalog/GlobalFunctionMgr.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/test/java/com/starrocks/catalog/GlobalFunctionMgrTest.java
Due: fe-total

support IF NOT EXISTS for CREATE FUNC
  fe/fe-core/src/main/java/com/starrocks/catalog/Database.java
  fe/fe-core/src/main/java/com/starrocks/qe/DDLStmtExecutor.java
  fe/fe-core/src/main/java/com/starrocks/sql/ast/CreateFunctionStmt.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/StarRocks.g4
  fe/fe-core/src/test/java/com/starrocks/catalog/DatabaseTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/ast/CreateFunctionStmtTest.java
Due: fe-total

[BugFix] Fix the disk size stats of rowset (#50669)
  be/src/storage/rowset/rowset_writer.cpp
  be/src/storage/tablet_updates.cpp
Due: be-total

fix
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
Due: fe-total

update ut
  be/src/storage/tablet_updates.h
Due: be-total

remove unused log
  be/src/storage/rowset/rowset_writer.cpp
Due: be-total

use table-lock instead of db-lock
  fe/fe-core/src/main/java/com/starrocks/catalog/TabletStatMgr.java
Due: fe-total

[Doc] 3.1.15 release notes (#50679)
  docs/en/release_notes/release-3.1.md
  docs/zh/release_notes/release-3.1.md
Due: none

[Enhancement] remove partition predicate from cardinality estimation (#50631)
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rule/transformation/ListPartitionPruner.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/statistics/StatisticsCalculator.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/PartitionPruneTest.java
  test/sql/test_list_partition/R/test_list_partition_cardinality
  test/sql/test_list_partition/T/test_list_partition_cardinality
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/IcebergConnector.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/connector/CatalogConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/LazyConnector.java
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
Due: fe-total

fix
  fe/fe-core/src/main/java/com/starrocks/connector/iceberg/CachingIcebergCatalog.java
Due: fe-total

[BugFix] Clear probe RF whose probe expr contains dict mapping expr
  be/src/exprs/runtime_filter_bank.cpp
  fe/fe-core/src/main/java/com/starrocks/analysis/Expr.java
  fe/fe-core/src/main/java/com/starrocks/planner/PlanFragment.java
  fe/fe-core/src/main/java/com/starrocks/planner/ProjectNode.java
  fe/fe-core/src/main/java/com/starrocks/sql/plan/PlanFragmentBuilder.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Due: fe-total, be-total

fix: check style
  fe/fe-core/src/test/java/com/starrocks/sql/plan/LowCardinalityTest.java
Due: fe-total

test poller
  be/src/exec/pipeline/exchange/exchange_sink_operator.cpp
  be/src/exec/pipeline/exchange/exchange_sink_operator.h
  be/src/exec/pipeline/exchange/local_exchange_source_operator.cpp
  be/src/exec/pipeline/exchange/local_exchange_source_operator.h
  be/src/exec/pipeline/pipeline_driver.cpp
  be/src/exec/pipeline/pipeline_driver_executor.cpp
  be/src/exec/pipeline/pipeline_driver_poller.cpp
  be/src/exec/pipeline/pipeline_driver_poller.h
  be/src/exec/pipeline/pipeline_observer.h
  be/src/exec/pipeline/scan/olap_scan_context.cpp
  be/src/exec/pipeline/scan/olap_scan_context.h
  be/src/exec/pipeline/scan/olap_scan_operator.cpp
  be/src/exec/pipeline/scan/scan_operator.cpp
  be/src/exec/pipeline/source_operator.h
  be/src/types/logical_type.h
Due: be-total

[Enhancement] Support to pushdown compound predicates in orc
  be/src/exec/hdfs_scanner_orc.cpp
  be/test/exec/hdfs_scanner_test.cpp
Due: be-total

[BugFix] Fix non isomorphic profile during data load
  fe/fe-core/src/main/java/com/starrocks/common/util/RuntimeProfile.java
Due: fe-total

verify right constant is date
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedDateColumnPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedDateColumnPredicateRuleTest.java
Due: fe-total

[Enhancement] Simplify date/datetime column predicate in certain cases
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/ScalarOperatorRewriter.java
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedDateColumnPredicateRule.java
  fe/fe-core/src/test/java/com/starrocks/planner/MaterializedViewWithPartitionTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedDateColumnPredicateRuleTest.java
Due: fe-total

fix days_add fn
  fe/fe-core/src/main/java/com/starrocks/sql/optimizer/rewrite/scalar/SimplifiedDateColumnPredicateRule.java
Due: fe-total

broken links
  docs/en/release_notes/release-2.5.md
  docs/en/release_notes/release-3.0.md
  docs/zh/integrations/IDE_integrations/Dataphin.md
  docs/zh/release_notes/release-2.5.md
Due: none

[BugFix] add null value count to iceberg value count
  be/src/formats/parquet/parquet_file_writer.cpp
  test/sql/test_iceberg/R/test_write_null
  test/sql/test_iceberg/T/test_write_null
Due: be-total

[Doc] broken links (#50697)
  docs/en/release_notes/release-2.5.md
  docs/en/release_notes/release-3.0.md
  docs/zh/integrations/IDE_integrations/Dataphin.md
  docs/zh/release_notes/release-2.5.md
Due: none

[Enhancement] Improve return filename from delta column group by index (#50596)
  be/src/storage/delta_column_group.h
  be/src/storage/rowset/segment.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/tablet_updates.cpp
  be/test/storage/delta_column_group_test.cpp
  be/test/storage/lake/meta_file_test.cpp
  be/test/storage/tablet_meta_manager_test.cpp
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
