Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

codecov.yml:

comment: false
codecov:
  allow_coverage_offsets: true
  max_report_age: off
github_checks:
  annotations: false
coverage:
  status:
    project:
      default: off
      fe-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - fe-total
      be-total:
        target: 60%
        threshold: 5%
        only_pulls: true
        flags:
          - be-total
    patch: false
flags:
  fe-total:
    paths:
      - fe/
  be-total:
    paths:
      - be/

Chinese only
  docs/en/quick_start/Create_table.md
  docs/en/quick_start/Import_and_query.md
  docs/en/quick_start/deploy_with_docker.md
Due: none

[Doc] Quickstarts (#50514)
  docs/en/quick_start/Create_table.md
  docs/en/quick_start/Import_and_query.md
  docs/en/quick_start/deploy_with_docker.md
Due: none

[Doc] unlisted English (#50494)
  docs/docusaurus/sidebars.json
Due: none

[Enhancement] Rewrite `&>>` in a portable way
  bin/start_backend.sh
  bin/start_fe.sh
Due: none

[BugFix] Fix segment flush exector submit crash (#50444)
  be/src/storage/segment_flush_executor.cpp
Due: be-total

[Enhancement] Rewrite `&>>` in a portable way (#50516)
  bin/start_backend.sh
  bin/start_fe.sh
Due: none

[Enhancement] add DiskRootPath as part of show tablet statement
  fe/fe-core/src/main/java/com/starrocks/common/proc/LocalTabletsProcDir.java
  fe/fe-core/src/main/java/com/starrocks/system/Backend.java
Due: fe-total

[Enhancement] add DiskRootPath as part of show tablet statement
  docs/en/sql-reference/sql-statements/table_bucket_part_index/SHOW_TABLET.md
  docs/zh/sql-reference/sql-statements/table_bucket_part_index/SHOW_TABLET.md
  fe/fe-core/src/test/java/com/starrocks/common/proc/LocalTabletsProcDirTest.java
Due: fe-total

[Enhancement] add DiskRootPath as part of show tablet statement
  docs/en/sql-reference/sql-statements/table_bucket_part_index/SHOW_TABLET.md
  docs/zh/sql-reference/sql-statements/table_bucket_part_index/SHOW_TABLET.md
Due: none

[BugFix] Rewrite repair (#50330)
  be/src/storage/rowset/column_iterator.h
  be/src/storage/rowset/scalar_column_iterator.cpp
  be/src/storage/rowset/segment_iterator.cpp
  be/src/storage/rowset/segment_options.cpp
  be/src/storage/rowset/segment_options.h
  be/src/storage/rowset/segment_rewriter.cpp
Due: be-total

[BugFix] Fix statistic collect get physical partition concurrency issue (#50399)
  fe/fe-core/src/main/java/com/starrocks/listener/LoadJobStatsListener.java
  fe/fe-core/src/main/java/com/starrocks/statistic/StatisticUtils.java
Due: fe-total

[Enhancement] support adaptive partition hash join (#50314)
  be/src/common/config.h
  be/src/exec/hash_join_components.cpp
  be/src/exec/hash_join_components.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/hash_joiner.cpp
  be/src/exec/hash_joiner.h
  be/src/exec/join_hash_map.cpp
  be/src/exec/join_hash_map.h
  be/src/exec/mor_processor.cpp
  be/src/exec/pipeline/hashjoin/hash_join_probe_operator.cpp
  be/src/util/cpu_info.h
  fe/fe-core/src/main/java/com/starrocks/common/Config.java
  fe/fe-core/src/main/java/com/starrocks/planner/HashJoinNode.java
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  gensrc/thrift/PlanNodes.thrift
Due: fe-total, be-total

[BugFix] Fix complex type timestamp timezone in parquet scanner (#50448)
  be/src/exec/parquet_scanner.cpp
Due: be-total

[Enhancement] Make DiskRange more robust
  be/src/formats/disk_range.hpp
  be/test/formats/disk_range_test.cpp
Due: be-total

[BugFix] fix replaceNullType2Boolean when handle struct type
  fe/fe-core/src/main/java/com/starrocks/catalog/StructField.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
  test/common/data/stream_load/sr_struct_schema_change_data1.json
  test/common/data/stream_load/sr_struct_schema_change_data2.json
  test/sql/test_schema_change/R/test_struct_schema_change
  test/sql/test_schema_change/T/test_struct_schema_change
Due: fe-total

fix _try_consume_mem_size in MemCacheManager
  be/src/runtime/current_thread.h
Due: be-total

[BugFix] Fix fe ut (#27160)
  fe/fe-core/src/test/java/com/starrocks/epack/failover/job/CreateReplicatedDatabaseJobTest.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/AnalyzerUtils.java
Due: fe-total

[BugFix] Add table level lock for createPartitionProcess RPC (#50367)
  fe/fe-core/src/main/java/com/starrocks/service/FrontendServiceImpl.java
Due: fe-total

Refactor the interface Column::capacity_limit_reached
  be/src/column/adaptive_nullable_column.h
  be/src/column/array_column.h
  be/src/column/binary_column.cpp
  be/src/column/binary_column.h
  be/src/column/chunk.h
  be/src/column/column.h
  be/src/column/const_column.h
  be/src/column/fixed_length_column_base.cpp
  be/src/column/fixed_length_column_base.h
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/column/map_column.h
  be/src/column/nullable_column.cpp
  be/src/column/nullable_column.h
  be/src/column/object_column.cpp
  be/src/column/object_column.h
  be/src/column/struct_column.cpp
  be/src/column/struct_column.h
  be/src/exec/analytor.cpp
  be/src/exprs/agg/array_agg.h
  be/src/exprs/bitmap_functions.cpp
  be/src/exprs/debug_expr.cpp
  be/src/exprs/function_call_expr.cpp
  be/src/exprs/string_functions.cpp
  be/src/exprs/table_function/subdivide_bitmap.h
  be/src/storage/memtable.cpp
  be/src/storage/schema_change.cpp
Due: be-total

[UT] Fix Replace Lake Partition TEST ut (#27162)
  fe/fe-core/src/test/java/com/starrocks/catalog/ReplaceLakePartitionTest.java
Due: fe-total

[Enhancement] improve partial update by column mode overflow estimate strategy (#50300)
  be/src/storage/rowset_column_update_state.cpp
  be/src/storage/rowset_column_update_state.h
  be/test/storage/rowset_column_partial_update_test.cpp
Due: be-total

[Build] Static link libbfd library
  be/CMakeLists.txt
Due: be-total

[BugFix] Make DiskRange more robust (#50536)
  be/src/formats/disk_range.hpp
  be/test/formats/disk_range_test.cpp
Due: be-total

[BugFix] fix _total_consumed_bytes in MemCacheManager (#50346)
  be/src/runtime/current_thread.h
Due: be-total
