Repository StarRocks/starrocks: changes, and which Codecov flags are due for each by the changed paths.
All: fe-total, be-total

[Feature] Support column mapping for delta lake
  be/src/connector/hive_connector.cpp
  be/src/exec/hdfs_scanner.cpp
  be/src/exec/hdfs_scanner.h
  be/src/formats/parquet/column_reader.cpp
  be/src/formats/parquet/column_reader.h
  be/src/formats/parquet/file_reader.cpp
  be/src/formats/parquet/group_reader.cpp
  be/src/formats/parquet/group_reader.h
  be/src/formats/parquet/meta_helper.cpp
  be/src/formats/parquet/meta_helper.h
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  fe/fe-core/src/main/java/com/starrocks/catalog/DeltaLakeTable.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetadata.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaUtils.java
  fe/fe-core/src/main/java/com/starrocks/planner/DeltaLakeScanNode.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/CachingDeltaLakeMetastoreTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeCacheUpdateProcessorTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeMetadataTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
  gensrc/thrift/Descriptors.thrift
  test/sql/test_deltalake/R/test_deltalake_catalog
  test/sql/test_deltalake/R/test_deltalake_column_mapping
  test/sql/test_deltalake/R/test_deltalake_schema_change
  test/sql/test_deltalake/T/test_deltalake_catalog
  test/sql/test_deltalake/T/test_deltalake_column_mapping
  test/sql/test_deltalake/T/test_deltalake_schema_change
Due: fe-total, be-total

fix ut
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaUtilsTest.java
  fe/fe-core/src/test/java/com/starrocks/sql/plan/ConnectorPlanTestBase.java
Due: fe-total

fix be ut
  be/test/formats/parquet/group_reader_test.cpp
Due: be-total

add fragmentation tracker
  be/src/common/config.h
  be/src/runtime/exec_env.cpp
  be/src/runtime/exec_env.h
  be/src/util/system_metrics.cpp
Due: be-total

use before class in RangerInterfaceTest to avoid timeout
  fe/fe-core/src/test/java/com/starrocks/privilege/InvalidateObjectTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerInterfaceTest.java
Due: fe-total

fix
  be/src/exec/workgroup/pipeline_executor_set_manager.cpp
  be/src/exec/workgroup/pipeline_executor_set_manager.h
  be/src/exec/workgroup/work_group.cpp
  be/src/exec/workgroup/work_group.h
  be/test/exec/pipeline/mem_limited_chunk_queue_test.cpp
  test/sql/test_resource_group/R/test_resource_group_metrics_dead_lock
  test/sql/test_resource_group/T/test_resource_group_metrics_dead_lock
Due: be-total

[UT]Use beforeClass in RangerInterfaceTest to avoid timeout (#51384)
  fe/fe-core/src/test/java/com/starrocks/privilege/InvalidateObjectTest.java
  fe/fe-core/src/test/java/com/starrocks/privilege/ranger/RangerInterfaceTest.java
Due: fe-total

update
  be/src/exec/workgroup/pipeline_executor_set_manager.cpp
  be/src/exec/workgroup/pipeline_executor_set_manager.h
  be/src/exec/workgroup/work_group.cpp
Due: be-total

handle the case that reserve a lot of memory
  be/src/util/system_metrics.cpp
Due: be-total

[Enhancement][FlatJson] Improve flat json performace and extract strategy (#50696)
  be/src/column/column_access_path.cpp
  be/src/column/json_column.cpp
  be/src/column/json_column.h
  be/src/common/config.h
  be/src/connector/lake_connector.cpp
  be/src/exec/olap_scan_prepare.cpp
  be/src/exprs/json_functions.cpp
  be/src/storage/chunk_helper.cpp
  be/src/storage/chunk_helper.h
  be/src/storage/meta_reader.cpp
  be/src/storage/olap_meta_reader.cpp
  be/src/storage/rowset/array_column_writer.cpp
  be/src/storage/rowset/bloom_filter.h
  be/src/storage/rowset/column_reader.cpp
  be/src/storage/rowset/column_reader.h
  be/src/storage/rowset/json_column_compactor.cpp
  be/src/storage/rowset/json_column_iterator.cpp
  be/src/storage/rowset/json_column_writer.cpp
  be/src/storage/rowset/json_column_writer.h
  be/src/storage/rowset/map_column_writer.cpp
  be/src/storage/rowset/struct_column_writer.cpp
  be/src/types/logical_type.h
  be/src/util/json_flattener.cpp
  be/src/util/json_flattener.h
  be/test/exprs/flat_json_functions_test.cpp
  be/test/storage/rowset/flat_json_column_compact_test.cpp
  be/test/storage/rowset/flat_json_column_rw_test.cpp
  be/test/util/json_flattener_test.cpp
  fe/fe-core/src/main/java/com/starrocks/catalog/FunctionSet.java
  gensrc/proto/segment.proto
Due: fe-total, be-total

Add session variable enable_compare_for_null to support compare null when use =
  fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java
  fe/fe-core/src/main/java/com/starrocks/sql/parser/AstBuilder.java
Due: fe-total

[BugFix] Fix query error when drop table and recreate with same table name for delta lake
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeEngine.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeFileStatus.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeJsonHandler.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeMetastore.java
  fe/fe-core/src/main/java/com/starrocks/connector/delta/DeltaLakeParquetHandler.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeJsonHandlerTest.java
  fe/fe-core/src/test/java/com/starrocks/connector/delta/DeltaLakeParquetHandlerTest.java
Due: fe-total

update
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroup.java
  fe/fe-core/src/main/java/com/starrocks/sql/analyzer/ResourceGroupAnalyzer.java
  fe/fe-core/src/test/java/com/starrocks/analysis/ResourceGroupStmtTest.java
Due: fe-total

[BugFix] Make sure default warehouse is initialized before replaying journal
  fe/fe-core/src/main/java/com/starrocks/leader/Checkpoint.java
Due: fe-total

[Enhancement] Temporarily ingore protobuf-java cve CVE-2024-7254 (#51380)
  .trivyignore
  fe/pom.xml
Due: fe-total

[BugFix] Fix compaction flat json crash (#51307)
  be/src/column/json_column.cpp
  be/src/storage/meta_reader.cpp
  be/src/util/json_flattener.cpp
  be/test/storage/rowset/flat_json_column_compact_test.cpp
Due: be-total

create default_wg only when cpu_cores > 0
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
  fe/fe-core/src/main/java/com/starrocks/system/ComputeNode.java
Due: fe-total

fix test
  test/sql/test_resource_group/R/test_resource_group_metrics_dead_lock
  test/sql/test_resource_group/T/test_resource_group_metrics_dead_lock
Due: none

move it to separated daemon thread
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/util/system_metrics.cpp
Due: be-total

[Enhancement] add metrics for user connections (backport #51226) (#51372)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/qe/ConnectScheduler.java
Due: fe-total

[Enhancement] add metric for running txn number of per db (#51378)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
Due: fe-total

Revert "[Enhancement] add metric for running txn number of per db (#51378)"
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
Due: fe-total

Revert "[Enhancement] add metric for running txn number of per db" (#51394)
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
  fe/fe-core/src/main/java/com/starrocks/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/com/starrocks/transaction/GlobalTransactionMgr.java
Due: fe-total

add test
  test/sql/test_resource_group/R/test_default_resource_group
  test/sql/test_resource_group/T/test_default_resource_group
Due: none

update comment
  fe/fe-core/src/main/java/com/starrocks/catalog/ResourceGroupMgr.java
Due: fe-total

[Enhancement] add backend address when hdfs open failed (#51383)
  be/src/fs/hdfs/fs_hdfs.cpp
Due: be-total

[BugFix] Fix warehouse property might not take effect when executing load stmts
  fe/fe-core/src/main/java/com/starrocks/http/rest/transaction/TransactionWithChannelHandler.java
  fe/fe-core/src/main/java/com/starrocks/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/com/starrocks/load/streamload/StreamLoadMgr.java
  fe/fe-core/src/test/java/com/starrocks/http/StarRocksHttpTestCase.java
  fe/fe-core/src/test/java/com/starrocks/http/TransactionLoadActionTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/BrokerLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/LoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/loadv2/SparkLoadJobTest.java
  fe/fe-core/src/test/java/com/starrocks/load/streamload/StreamLoadManagerTest.java
Due: fe-total

update collectDbRunningTxnMetrics
  fe/fe-core/src/main/java/com/starrocks/metric/MetricRepo.java
Due: fe-total

[Enhancement] Add replication_num in log when chosen backend failed in creating tablet
  fe/fe-core/src/main/java/com/starrocks/server/LocalMetastore.java
Due: fe-total

[BugFix] Fix wrong result in left anti null aware join having other conjuncts
  be/src/exec/join_hash_map.tpp
  test/sql/test_join/R/test_interleaving_join
  test/sql/test_join/T/test_interleaving_join
Due: be-total

Path conditions:
  fe-total: any of: fe/
  be-total: any of: be/
